<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>And/or design – Standard web pages – CRA instructional guidance product – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
	  <link rel="stylesheet" href="../../../css/and-or.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>


   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA instructional guidance product",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
                   <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">And/or design – Standard web pages – CRA instructional guidance product</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA instructional guidance product</p>
<h1 class="gc-thickline mrgn-tp-0">And/or design – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use the and/or design to clearly demonstrate that there are options or that there are content blocks that are complimentary/associated.</p>
   <h2 class="h3">On this page</h2>
    <ul>
      <li><a href="#h-1">When to use the and/or design</a></li>
	  <li><a href="#h-3">Design options</a></li>
	  <li><a href="#h-4">Complementary components and functions</a></li>

    </ul>
<h2 id="h-1">When to use the and/or design</h2>
<div class="row">
<div class=" col-sm-6">
<h3 id="h-1-1" class="mrgn-tp-md">"Or" design</h3>
<ul class="fa-ul">
<li><span class="fa-li fas fa-check text-success"></span>Use to clearly demonstrate there are options</li>
<li><span class="fa-li fas fa-check text-success"></span>Use to make the options, and number of options, easily scannable</li>
<li><span class="fa-li fas fa-check text-success"></span>Use to ensure a user can easily identify which block of content applies to them so they don't spend time reading unneccessary content, before they see the next option (which is the default experience when content is stacked vertically)</li></ul>
</div>
<div class=" col-sm-6">
<h3 id="h-1-2" class="mrgn-tp-md">"And" design</h3>
<p>This design has limited use as headings don't typically bridge and connect to each other.</p>  
<p>When necessary:</p>
<ul class="fa-ul">
<li><span class="fa-li fas fa-check text-success"></span>Use it to clearly demonstrate there are content blocks that are complimentary/associated</li>
</ul>
</div>
</div>
<h2 id="h-3">Design options</h2>
 <div class="frmvld">
    <form>
      <div class="row">
        <div class="col-sm-4 radioselected">
          <div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": { "action": "addClass", "source": "#conj-child-3, #conj-child-4, #cd-25, #cd-26, #width-child-3, #width-child-4", "class": "hidden"}}'>
            <p><span class="h4 mrgn-tp-0"> Amount of columns</span></p>
            <ul>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3, #conj-child-4, #cd-27, #cd-28", "class": "hidden", "live": true}]'>2 columns</li>
              <li data-wb-fieldflow='[{"action": "removeClass", "source": "#conj-child-3, #cd-27, #width-child-3", "class": "hidden", "live": true}]'>3 columns</li>
              <li data-wb-fieldflow='[{"action": "removeClass", "source": "#conj-child-3, #conj-child-4, #cd-27, #cd-28, #width-child-3, #width-child-4", "class": "hidden", "live": true}]'>4 columns</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 radioselected">
          <div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true}'>
            <p><span class="h4 mrgn-tp-0">Type of conjunction</span></p>
            <ul>
              <li data-wb-fieldflow='[{"action": "removeClass", "source": "#conjunction-parent", "class": "cnjnctn-type-and", "live": true}, {"action": "addClass", "source": "#conjunction-parent", "class": "cnjnctn-type-or", "live": true}, {"action": "removeClass", "source": "#cd-1, #inv-a-or, #inv-b-or, #inv-c-or, #inv-d-or", "class": "hidden", "live": true}, {"action": "addClass", "source": "#cd-2", "class": "hidden", "live": true}]'>or</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conjunction-parent", "class": "cnjnctn-type-and", "live": true}, {"action": "removeClass", "source": "#conjunction-parent", "class": "cnjnctn-type-or", "live": true}, {"action": "removeClass", "source": "#cd-2", "class": "hidden", "live": true}, {"action": "addClass", "source": "#cd-1, #inv-a-or, #inv-b-or, #inv-c-or, #inv-d-or", "class": "hidden", "live": true}]'>and</li>
            </ul>
          </div>
        </div>
				  <div class="col-sm-4">
			  <div class="wb-fieldflow" data-wb-fieldflow='{"renderas": "checkbox", "noForm": true, "isoptional": true}'>
				  <p>Add to text length in column</p>
				  <ul>
					  <li data-wb-fieldflow='{"action": "toggle", "toggle": "#add-text-1", "live": true}'>Column A</li>
					  <li data-wb-fieldflow='{"action": "toggle", "toggle": "#add-text-2", "live": true}'>Column B</li>
					  <li data-wb-fieldflow='{"action": "toggle", "toggle": "#add-text-3", "live": true}'>Column C</li>
					  <li data-wb-fieldflow='{"action": "toggle", "toggle": "#add-text-4", "live": true}'>Column D</li>
					  </ul>
			  </div>
      </div>
        
        <div class="col-sm-6">
			<fieldflow>
				<legend class="mrgn-bttm-0">Visible in side-by-side</legend>
          <div class="wb-fieldflow" data-wb-fieldflow='{"defaultselectedlabel":"Default size","isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source": "#conj-child-1", "class": "cnjnctn-col-20 cnjnctn-col-25 cnjnctn-col-30 cnjnctn-col-40 cnjnctn-col-50 cnjnctn-col-60 cnjnctn-col-70 cnjnctn-col-75 cnjnctn-col-80 cnjnctn-col-90"}, { "action": "addClass", "source": "#cd-7, #cd-8, #cd-9, #cd-10, #cd-11, #cd-12, #cd-13, #cd-14, #cd-15, #cd-16", "class": "hidden"}]}'>
            <p><span class="h4 mrgn-tp-0">Width of column A</span></p>
            <ul>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-20", "live": true}, {"action": "removeClass", "source": "#cd-7", "class": "hidden", "live": true}]'>20% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-25", "live": true}, {"action": "removeClass", "source": "#cd-8", "class": "hidden", "live": true}]'>25% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-30", "live": true}, {"action": "removeClass", "source": "#cd-9", "class": "hidden", "live": true}]'>30% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-40", "live": true}, {"action": "removeClass", "source": "#cd-10", "class": "hidden", "live": true}]'>40% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-50", "live": true}, {"action": "removeClass", "source": "#cd-11", "class": "hidden", "live": true}]'>50% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-60", "live": true}, {"action": "removeClass", "source": "#cd-12", "class": "hidden", "live": true}]'>60% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-70", "live": true}, {"action": "removeClass", "source": "#cd-13", "class": "hidden", "live": true}]'>70% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-75", "live": true}, {"action": "removeClass", "source": "#cd-14", "class": "hidden", "live": true}]'>75% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-80", "live": true}, {"action": "removeClass", "source": "#cd-15", "class": "hidden", "live": true}]'>80% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-1", "class": "cnjnctn-col-90", "live": true}, {"action": "removeClass", "source": "#cd-16", "class": "hidden", "live": true}]'>90% of default</li>
            </ul>
          </div>
          <div class="wb-fieldflow" data-wb-fieldflow='{"defaultselectedlabel":"Default size", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source": "#conj-child-2", "class": "cnjnctn-col-20 cnjnctn-col-25 cnjnctn-col-30 cnjnctn-col-40 cnjnctn-col-50 cnjnctn-col-60 cnjnctn-col-70 cnjnctn-col-75 cnjnctn-col-80 cnjnctn-col-90"}, { "action": "addClass", "source": "#cd-17, #cd-18, #cd-19, #cd-20, #cd-21, #cd-22, #cd-23, #cd-24, #cd-25, #cd-26", "class": "hidden"}]}'>
            <p><span class="h4 mrgn-tp-0">Width of column B</span></p>
            <ul>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-20", "live": true}, {"action": "removeClass", "source": "#cd-17", "class": "hidden", "live": true}]'>20% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-25", "live": true}, {"action": "removeClass", "source": "#cd-18", "class": "hidden", "live": true}]'>25% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-30", "live": true}, {"action": "removeClass", "source": "#cd-19", "class": "hidden", "live": true}]'>30% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-40", "live": true}, {"action": "removeClass", "source": "#cd-20", "class": "hidden", "live": true}]'>40% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-50", "live": true}, {"action": "removeClass", "source": "#cd-21", "class": "hidden", "live": true}]'>50% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-60", "live": true}, {"action": "removeClass", "source": "#cd-22", "class": "hidden", "live": true}]'>60% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-70", "live": true}, {"action": "removeClass", "source": "#cd-23", "class": "hidden", "live": true}]'>70% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-75", "live": true}, {"action": "removeClass", "source": "#cd-24", "class": "hidden", "live": true}]'>75% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-80", "live": true}, {"action": "removeClass", "source": "#cd-25", "class": "hidden", "live": true}]'>80% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-2", "class": "cnjnctn-col-90", "live": true}, {"action": "removeClass", "source": "#cd-26", "class": "hidden", "live": true}]'>90% of default</li>
            </ul>
          </div>
				<div class="hidden"  id="width-child-3">
			 <div class="wb-fieldflow" data-wb-fieldflow='{"defaultselectedlabel":"Default size", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source": "#conj-child-3", "class": "cnjnctn-col-20 cnjnctn-col-25 cnjnctn-col-30 cnjnctn-col-40 cnjnctn-col-50 cnjnctn-col-60 cnjnctn-col-70 cnjnctn-col-75 cnjnctn-col-80 cnjnctn-col-90"}, { "action": "addClass", "source": "#cd-29, #cd-30, #cd-31, #cd-32, #cd-33, #cd-34, #cd-35, #cd-36, #cd-37, #cd-38", "class": "hidden"}]}'>
            <p><span class="h4 mrgn-tp-0">Width of column C</span></p>
            <ul>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-20", "live": true}, {"action": "removeClass", "source": "#cd-29", "class": "hidden", "live": true}]'>20% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-25", "live": true}, {"action": "removeClass", "source": "#cd-30", "class": "hidden", "live": true}]'>25% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-30", "live": true}, {"action": "removeClass", "source": "#cd-31", "class": "hidden", "live": true}]'>30% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-40", "live": true}, {"action": "removeClass", "source": "#cd-32", "class": "hidden", "live": true}]'>40% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-50", "live": true}, {"action": "removeClass", "source": "#cd-33", "class": "hidden", "live": true}]'>50% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-60", "live": true}, {"action": "removeClass", "source": "#cd-34", "class": "hidden", "live": true}]'>60% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-70", "live": true}, {"action": "removeClass", "source": "#cd-35", "class": "hidden", "live": true}]'>70% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-75", "live": true}, {"action": "removeClass", "source": "#cd-36", "class": "hidden", "live": true}]'>75% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-80", "live": true}, {"action": "removeClass", "source": "#cd-37", "class": "hidden", "live": true}]'>80% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-3", "class": "cnjnctn-col-90", "live": true}, {"action": "removeClass", "source": "#cd-38", "class": "hidden", "live": true}]'>90% of default</li>
            </ul>
          </div></div>
				<div class="hidden"  id="width-child-4">
				 <div class="wb-fieldflow" data-wb-fieldflow='{"defaultselectedlabel":"Default size", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source": "#conj-child-4", "class": "cnjnctn-col-20 cnjnctn-col-25 cnjnctn-col-30 cnjnctn-col-40 cnjnctn-col-50 cnjnctn-col-60 cnjnctn-col-70 cnjnctn-col-75 cnjnctn-col-80 cnjnctn-col-90"}, { "action": "addClass", "source": "#cd-39, #cd-40, #cd-41, #cd-42, #cd-43, #cd-44, #cd-45, #cd-46, #cd-47, #cd-48", "class": "hidden"}]}'>
            <p><span class="h4 mrgn-tp-0">Width of column D</span></p>
            <ul>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-20", "live": true}, {"action": "removeClass", "source": "#cd-39", "class": "hidden", "live": true}]'>20% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-25", "live": true}, {"action": "removeClass", "source": "#cd-40", "class": "hidden", "live": true}]'>25% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-30", "live": true}, {"action": "removeClass", "source": "#cd-41", "class": "hidden", "live": true}]'>30% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-40", "live": true}, {"action": "removeClass", "source": "#cd-42", "class": "hidden", "live": true}]'>40% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-50", "live": true}, {"action": "removeClass", "source": "#cd-43", "class": "hidden", "live": true}]'>50% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-60", "live": true}, {"action": "removeClass", "source": "#cd-44", "class": "hidden", "live": true}]'>60% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-70", "live": true}, {"action": "removeClass", "source": "#cd-45", "class": "hidden", "live": true}]'>70% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-75", "live": true}, {"action": "removeClass", "source": "#cd-46", "class": "hidden", "live": true}]'>75% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-80", "live": true}, {"action": "removeClass", "source": "#cd-47", "class": "hidden", "live": true}]'>80% of default</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conj-child-4", "class": "cnjnctn-col-90", "live": true}, {"action": "removeClass", "source": "#cd-48", "class": "hidden", "live": true}]'>90% of default</li>
            </ul>
          </div></div>
		  </fieldflow>
        </div>
		<div class="col-sm-6 radioselected">
          <div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{"action": "removeClass", "source": "#conjunction-parent", "class": "cnjnctn-xs cnjnctn-sm cnjnctn-md cnjnctn-lg", "live": true}, { "action": "addClass", "source": "#cd-3, #cd-4, #cd-5, #cd-6", "class": "hidden"}]}'>
            <p><span class="h4 mrgn-tp-0">Break point</span> (responsive stacking, resize browser to view)</p>
            <ul>
				 <li data-wb-fieldflow='[{"action": "addClass", "source": "#conjunction-parent", "class": "cnjnctn-xs", "live": true}, {"action": "removeClass", "source": "#cd-3, #alert-1", "class": "hidden", "live": true}, {"action": "addClass", "source": "#alert-2", "class": "hidden", "live": true}]'>Never breaks (always side-by-side)</li>
			  <li data-wb-fieldflow='[{"action": "addClass", "source": "#conjunction-parent", "class": "cnjnctn-sm", "live": true}, {"action": "removeClass", "source": "#cd-4", "class": "hidden", "live": true},  {"action": "addClass", "source": "#alert-1, #alert-2", "class": "hidden", "live": true}]'>Side-by-side after -xs</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conjunction-parent", "class": "cnjnctn-md", "live": true}, {"action": "removeClass", "source": "#cd-5", "class": "hidden", "live": true},  {"action": "addClass", "source": "#alert-1, #alert-2", "class": "hidden", "live": true}]'>Side-by-side after -sm</li>
              <li data-wb-fieldflow='[{"action": "addClass", "source": "#conjunction-parent", "class": "cnjnctn-lg", "live": true}, {"action": "removeClass", "source": "#cd-6", "class": "hidden", "live": true},  {"action": "addClass", "source": "#alert-1, #alert-2", "class": "hidden", "live": true}]'>Side-by-side after -md</li>	
              <li data-wb-fieldflow='[{"action": "removeClass", "source": "#conjunction-parent", "class": "cnjnctn-xs cnjnctn-sm cnjnctn-md, cnjnctn-lg", "live": true}, {"action": "addClass", "source": "#alert-1", "class": "hidden", "live": true},  {"action": "removeClass", "source": "#alert-2", "class": "hidden", "live": true}]'>Always stacked (no side-by-side)</li>
             
            
            </ul>
          </div>
        </div>

    </form>
  </div>
  <div class="ds-example">
    <div class="wb-tabs">
      <div class="tabpanels">
        <details id="app1">
          <summary>Appearance</summary>
			<div class="panel panel-body brdr-0 brdr-rds-0 hidden" id="alert-2">
				 <div class="alert alert-info">
					<p>Use for components like checklists or steps</p>
				 </div>
				 </div>
          <div class="panel panel-body brdr-0 brdr-rds-0">
		<!--DO NOT COPY THE CODE BELOW, IS FOR DEMONSTRATION PURPOSES.  PLEASE USE THE CODE EXAMPLE IN THE CODE TAB -->
            <div class="cnjnctn-type-or cnjnctn-xs" id="conjunction-parent">
              <div class="cnjnctn-col" id="conj-child-1">
                <h4 class="mrgn-tp-sm text-muted">Header A</h4>
                <p>This is content for header A </p>
				  <p id="add-text-1" class="hidden">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at lacus non tellus efficitur suscipit non eget quam. Ut faucibus metus eu enim efficitur, nec ullamcorper justo sollicitudin. Vestibulum venenatis justo sed felis dapibus, a euismod nulla congue. </p>
              </div>
              <div class="cnjnctn-col" id="conj-child-2">
                <h4 class="mrgn-tp-sm text-muted">Header B</h4>
                <p>This is content for header B</p>
				  <p id="add-text-2" class="hidden">Nam fermentum cursus sodales. Mauris leo leo, congue et fringilla in, egestas eu sapien. Pellentesque rutrum ex id orci interdum, sed congue metus porttitor. Proin ornare ante sed lacinia mattis. Maecenas imperdiet mollis augue ut consequat. Phasellus sit amet varius ipsum.</p> 
              </div>
              <div class="cnjnctn-col hidden" id="conj-child-3">
                <h4 class="mrgn-tp-sm text-muted">Header C</h4>
                <p>This is content for header C</p>
				  <p id="add-text-3" class="hidden">Mauris lacinia ullamcorper ultricies. Pellentesque quam elit, commodo eu commodo at, molestie id turpis. Curabitur at arcu euismod, egestas tortor in, semper lectus. Suspendisse condimentum congue elit at laoreet. Quisque eget turpis ut leo lacinia cursus eget sed velit. </p>
              </div>
              <div class="cnjnctn-col hidden" id="conj-child-4">
                <h4 class="mrgn-tp-sm text-muted">Header D</h4>
                <p>This is content for header D</p>
				  <p id="add-text-4" class="hidden">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum volutpat imperdiet mi, vitae condimentum tellus sollicitudin nec. </p>
              </div>
            </div>
          </div>
        </details>
        <details id="code1">
          <summary>HTML code</summary>
          <pre><code>&lt;div class=&quot;<span id="cd-1">cnjnctn-type-or</span><span id="cd-2" class="hidden">cnjnctn-type-and</span><span id="cd-3"> cnjnctn-xs</span><span id="cd-4" class="hidden"> cnjnctn-sm</span><span id="cd-5" class="hidden"> cnjnctn-md</span><span id="cd-6" class="hidden"> cnjnctn-lg</span>&quot;&gt;
&lt;div class=&quot;cnjnctn-col<span id="cd-7" class="hidden">-20</span><span id="cd-8" class="hidden">-25</span><span id="cd-9" class="hidden">-30</span><span id="cd-10" class="hidden">-40</span><span id="cd-11" class="hidden">-50</span><span id="cd-12" class="hidden">-60</span><span id="cd-13" class="hidden">-70</span><span id="cd-14" class="hidden">-75</span><span id="cd-15" class="hidden">-80</span><span id="cd-16" class="hidden">-90</span>&quot;&gt;
&lt;h4 class=&quot;mrgn-tp-sm text-muted&quot;&gt;Header A<span id="inv-a-or">&lt;span class="wb-inv"&gt;: Option 1 of X&lt;/span&gt;</span>&lt;/h4&gt;
&lt;p&gt;This is content for header A &lt;/p&gt;
&lt;/div&gt;
&lt;div class=&quot;cnjnctn-col<span id="cd-17" class="hidden">-20</span><span id="cd-18" class="hidden">-25</span><span id="cd-19" class="hidden">-30</span><span id="cd-20" class="hidden">-40</span><span id="cd-21" class="hidden">-50</span><span id="cd-22" class="hidden">-60</span><span id="cd-23" class="hidden">-70</span><span id="cd-24" class="hidden">-75</span><span id="cd-25" class="hidden">-80</span><span id="cd-26" class="hidden">-90</span>&quot;&gt;
&lt;h4 class=&quot;mrgn-tp-sm text-muted&quot;&gt;Header B<span id="inv-b-or">&lt;span class="wb-inv"&gt;: Option 2 of X&lt;/span&gt;</span>&lt;/h4&gt;
&lt;p&gt;This is content for header B&lt;/p&gt;
&lt;/div&gt;<div id="cd-27" class="hidden">&lt;div class=&quot;cnjnctn-col<span id="cd-29" class="hidden">-20</span><span id="cd-30" class="hidden">-25</span><span id="cd-31" class="hidden">-30</span><span id="cd-32" class="hidden">-40</span><span id="cd-33" class="hidden">-50</span><span id="cd-34" class="hidden">-60</span><span id="cd-35" class="hidden">-70</span><span id="cd-36" class="hidden">-75</span><span id="cd-37" class="hidden">-80</span><span id="cd-38" class="hidden">-90</span>&quot;&gt;
&lt;h4 class=&quot;mrgn-tp-sm text-muted&quot;&gt;Header C<span id="inv-c-or">&lt;span class="wb-inv"&gt;: Option 3 of X&lt;/span&gt;</span>&lt;/h4&gt;
&lt;p&gt;This is content for header C&lt;/p&gt;
&lt;/div&gt;</div><div id="cd-28" class="hidden">&lt;div class=&quot;cnjnctn-col<span id="cd-39" class="hidden">-20</span><span id="cd-40" class="hidden">-25</span><span id="cd-41" class="hidden">-30</span><span id="cd-42" class="hidden">-40</span><span id="cd-43" class="hidden">-50</span><span id="cd-44" class="hidden">-60</span><span id="cd-45" class="hidden">-70</span><span id="cd-46" class="hidden">-75</span><span id="cd-47" class="hidden">-80</span><span id="cd-48" class="hidden">-90</span>&quot;&gt;
&lt;h4 class=&quot;mrgn-tp-sm text-muted&quot;&gt;Header D<span id="inv-d-or">&lt;span class="wb-inv"&gt;: Option 4 of X&lt;/span&gt;</span>&lt;/h4&gt;
&lt;p&gt;This is content for header D&lt;/p&gt;
&lt;/div&gt;</div>&lt;/div&gt;</code></pre>
        </details>
		<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA instructional guidance product is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

      </div>
    </div>
  </div>
	<div class="hidden">
		<div class="cnjnctn-col hidden" id="conj-child-3">
                <h4 class="mrgn-tp-sm text-muted">Header C</h4>
                <p>This is content for header C</p>
				  <p id="add-text-3" class="hidden">Mauris lacinia ullamcorper ultricies. Pellentesque quam elit, commodo eu commodo at, molestie id turpis. Curabitur at arcu euismod, egestas tortor in, semper lectus. Suspendisse condimentum congue elit at laoreet. Quisque eget turpis ut leo lacinia cursus eget sed velit. </p>
              </div>
              <div class="cnjnctn-col hidden" id="conj-child-4">
                <h4 class="mrgn-tp-sm text-muted">Header D</h4>
                <p>This is content for header D</p>
				  <p id="add-text-4" class="hidden">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum volutpat imperdiet mi, vitae condimentum tellus sollicitudin nec. </p>
              </div>
		</div>
</div>
<h2 id="h-4">Complementary components and functions</h2>

<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- fieldflow -->
	  <li class="col-md-4" id="fieldflow">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/fieldflow.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="fieldflow.html">Field flow</a></h3> 	 
	   </div></div></div></li>
	<!-- lists -->
	  <li class="col-md-4" id="lists">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/lists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="lists.html">Lists</a></h3> 	 
	   </div></div></div></li>	 
	<!-- toggle -->
	  <li class="col-md-4" id="toggle">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/toggle.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="toggle.html">Toggle</a></h3> 	 
	   </div></div></div></li>
  

</ul>
 </div> 
  <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	   <script src="../../../js/components.js"></script>
   </body>
</html>