<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Contact us – Standard web pages – CRA instructional guidance product – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA instructional guidance product",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
                   <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Contact us – Standard web pages – CRA instructional guidance product</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA instructional guidance product</p>
<h1 class="gc-thickline mrgn-tp-0">Contact us – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to provide access to multiple contact options and present them consistently in a variety of contexts.</p>
   <h2 class="h3">On this page</h2>
    <ul>
	  <li><a href="#h-2">Basic contact us</a>
	  <ul>
		<li><a href="#h-2-1">Working example</a></li>
		<li><a href="#h-2-2">Supporting blog post</a></li>
	</ul>
	<li><a href="#h-3">Contact us using interactive questions</a>
	  <ul>
		<li><a href="#h-3-1">Working example</a></li>
		<li><a href="#h-3-2">Supporting blog post</a></li>
	</ul>
	  </li>
	  <li><a href="#h-5">Complementary components and functions</a></li>

    </ul>
<h2 id="h-2">Basic contact us</h2>
<h3 id="h-2-1">Working example</h3>
<p>Below, real life example from: <a href="https://test.canada.ca/covid-19-guidance/proto/hiring-program/crhp-contact.html">Contact us about CRHP</a>.</p>
<div class="row">
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<dl class="dl-horizontal brdr-0">
  <dt>Online:</dt>
  <dd>
    <ul>
      <li>Apply for the Canada Recovery Hiring Program (CRHP)</li>
      <li>Update your business information, including your address and banking information</li>
      <!--<li>Change a CRHP claim you submitted</li>-->
    </ul>
    <div class="mrgn-tp-md"> <a class="btn btn-call-to-action" href="https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account.html">Sign in to My Business Account</a> </div>
  </dd>
  <dt>By phone:</dt>
  <dd>
    <p id="business">Call the CRA's business enquiries line for CRHP and account-specific information such as:</p>
    <ul>
      <li>CRHP eligibility and calculation</li>
      <li>how to apply</li>
      <li>My Business Account access</li>
      <li>payment requirements</li>
      <li>GST and corporate income tax filing information</li>
    </ul>
    <p><strong>Before you call:</strong></p>
    <p>To verify your identity, you'll need your:</p>
    <ul>
      <li>business number (BN)</li>
      <li>business name</li>
      <li>personal and business account open or an assessed return, reassessment, or other tax document</li>
      <li>business mailing address</li>
    </ul>
    <dl class="dl-horizontal brdr-0">
      <dt><strong>Telephone number:</strong></dt>
      <dd><a href="tel:18009595525" class="hidden-md hidden-lg nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-800-959-5525<span class="wb-inv"> (opens up phone application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-800-959-5525</strong></dd>
      <dt class="small">Teletypewriter (TTY):</dt>
      <dd><a href="tel:18006650354" class="hidden-md hidden-lg nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354<span class="wb-inv"> (opens up phone application)</span></a><span class="hidden-xs hidden-sm nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354</span></dd>
      <dt>Hours:</dt>
      <dd>
        <table class="table">
          <caption class="wb-inv">
            CRA’s Business Enquiries line hours
          </caption>
          <thead>
            <tr>
              <th class="wb-inv" scope="col">Day</th>
              <th class="wb-inv" scope="col">Hours</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Monday to Friday</td>
              <td><strong>8&nbsp;am to 8&nbsp;pm</strong> (local time)</td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td><strong>9&nbsp;am to 5&nbsp;pm</strong> (local time)</td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td>Closed</td>
            </tr>
            <tr>
              <td colspan="2">Closed on <a href="https://www.canada.ca/en/revenue-agency/services/tax/public-holidays.html">public holidays</a></td>
            </tr>
          </tbody>
        </table>
      </dd>
    </dl>
  </dd>
</dl>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>
&lt;dl class="dl-horizontal brdr-0"&gt;
  &lt;dt&gt;Online:&lt;/dt&gt;
  &lt;dd&gt;
    &lt;ul&gt;
      &lt;li&gt;Apply for the Canada Recovery Hiring Program (CRHP)&lt;/li&gt;
      &lt;li&gt;Update your business information, including your address and banking information&lt;/li&gt;
      &lt;!--&lt;li&gt;Change a CRHP claim you submitted&lt;/li&gt;--&gt;
    &lt;/ul&gt;
    &lt;div class="mrgn-tp-md"&gt; &lt;a class="btn btn-call-to-action" href="https://www.canada.ca/en/revenue-agency/services/e-services/e-services-businesses/business-account.html"&gt;Sign in to My Business Account&lt;/a&gt; &lt;/div&gt;
  &lt;/dd&gt;
  &lt;dt&gt;By phone:&lt;/dt&gt;
  &lt;dd&gt;
    &lt;p id="business"&gt;Call the CRA's business enquiries line for CRHP and account-specific information such as:&lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;CRHP eligibility and calculation&lt;/li&gt;
      &lt;li&gt;how to apply&lt;/li&gt;
      &lt;li&gt;My Business Account access&lt;/li&gt;
      &lt;li&gt;payment requirements&lt;/li&gt;
      &lt;li&gt;GST and corporate income tax filing information&lt;/li&gt;
    &lt;/ul&gt;
    &lt;p&gt;&lt;strong&gt;Before you call:&lt;/strong&gt;&lt;/p&gt;
    &lt;p&gt;To verify your identity, you'll need your:&lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;business number (BN)&lt;/li&gt;
      &lt;li&gt;business name&lt;/li&gt;
      &lt;li&gt;personal and business account open or an assessed return, reassessment, or other tax document&lt;/li&gt;
      &lt;li&gt;business mailing address&lt;/li&gt;
    &lt;/ul&gt;
    &lt;dl class="dl-horizontal brdr-0"&gt;
      &lt;dt&gt;&lt;strong&gt;Telephone number:&lt;/strong&gt;&lt;/dt&gt;
      &lt;dd&gt;&lt;a href="tel:18009595525" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-800-959-5525&lt;span class="wb-inv"&gt; (opens up phone application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-800-959-5525&lt;/strong&gt;&lt;/dd&gt;
      &lt;dt class="small"&gt;Teletypewriter (TTY):&lt;/dt&gt;
      &lt;dd&gt;&lt;a href="tel:18006650354" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;span class="wb-inv"&gt; (opens up phone application)&lt;/span&gt;&lt;/a&gt;&lt;span class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;/span&gt;&lt;/dd&gt;
      &lt;dt&gt;Hours:&lt;/dt&gt;
      &lt;dd&gt;
        &lt;table class="table"&gt;
          &lt;caption class="wb-inv"&gt;
            CRA’s Business Enquiries line hours
          &lt;/caption&gt;
          &lt;thead&gt;
            &lt;tr&gt;
              &lt;th class="wb-inv" scope="col"&gt;Day&lt;/th&gt;
              &lt;th class="wb-inv" scope="col"&gt;Hours&lt;/th&gt;
            &lt;/tr&gt;
          &lt;/thead&gt;
          &lt;tbody&gt;
            &lt;tr&gt;
              &lt;td&gt;Monday to Friday&lt;/td&gt;
              &lt;td&gt;&lt;strong&gt;8&nbsp;am to 8&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Saturday&lt;/td&gt;
              &lt;td&gt;&lt;strong&gt;9&nbsp;am to 5&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td&gt;Sunday&lt;/td&gt;
              &lt;td&gt;Closed&lt;/td&gt;
            &lt;/tr&gt;
            &lt;tr&gt;
              &lt;td colspan="2"&gt;Closed on &lt;a href="https://www.canada.ca/en/revenue-agency/services/tax/public-holidays.html"&gt;public holidays&lt;/a&gt;&lt;/td&gt;
            &lt;/tr&gt;
          &lt;/tbody&gt;
        &lt;/table&gt;
      &lt;/dd&gt;
    &lt;/dl&gt;
  &lt;/dd&gt;
&lt;/dl&gt;
</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA instructional guidance product is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
</div>
</div>
			<h3 id="h-2-2">Supporting blog post</h3>
<div class="panel panel-default brdr-rds-0 outset">
    <div class="panel-body"><div class="row">
    <div class="col-sm-3"><p class="h3 mrgn-tp-0"><a class="stretched-link" href="https://blog.canada.ca/2020/05/25/avoiding-faqs.html">Avoiding FAQs, with one exception</a></p></div>
<div class="col-sm-6">
<p>Why FAQs are an ineffective content design choice most of the time, when they can actually work, and how we could redesign Contact us pages to encourage more self-serve behaviour and reduce call volumes.</p>
<p><small>[25 May 2020]</small> </p>
</div>
<div class="col-sm-3">
<a href="https://blog.canada.ca/2020/05/25/avoiding-faqs.html"><img class="img-responsive hidden-xs thumbnail" src="images/blog/faq.jpg"></a>
</div>
</div></div>
</div>

<div class="panel panel-default brdr-rds-0 outset">
    <div class="panel-body"><div class="row">
    <div class="col-sm-3"><p class="h3 mrgn-tp-0"><a class="stretched-link" href="https://blog.canada.ca/2021/03/01/work-with-call-centres">The importance of working with call centres</a></p></div>
<div class="col-sm-6">
<p>Whether you run an in-house call centre or outsource your call centre to a trusted partner, agents are the key to harnessing customer feedback. Using this data can help you improve your web content and services with real people in mind.</p>
<p><small>[1 March 2021]</small> </p>
</div>
<div class="col-sm-3">
<a href="https://blog.canada.ca/2021/03/01/work-with-call-centres"><img class="img-responsive hidden-xs thumbnail" src="images/blog/call_centre.jpg"></a>
</div>
</div></div>
</div>


<h2 id="h-3">Contact us using interactive questions</h2>
<h3 id="h-3-1">Working example</h3>
<p>Below, real life example from: <a href="https://www.canada.ca/en/revenue-agency/services/benefits/recovery-benefit/crb-contact.html">Contact us about CRB</a>.</p>
<div class="row">
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<dl class="dl-horizontal brdr-0">
  <dt>Online:</dt>
  <dd>
    <p>Use your CRA My Account to:</p>
    <ul>
      <li>apply for the Canada Recovery Benefit (CRB)</li>
      <li>update your address and direct deposit information</li>
    </ul>
    <div class="mrgn-tp-md"> <a class="btn btn-call-to-action" href="/en/revenue-agency/services/e-services/e-services-individuals/account-individuals.html">Sign in to CRA My Account</a>   <a href="/en/revenue-agency/services/e-services/e-services-individuals/account-individuals.html" class="mrgn-lft-md">Register</a> </div>
  </dd>
  <dt>By phone:</dt>
  <!-- open By phone conatiner -->
  <dd>
    <p id="byphone">Contact the CRA by phone or TTY.</p>
    <div class="wb-frmvld fieldflow-lg">
      <form>
        <div class="wb-fieldflow mrgn-tp-0" data-wb-fieldflow='{"renderas":"radio", "reset": { "action": "addClass", "source":".results", "class": "mfp-hide"}, "noForm": true, "noreqlabel": true}'>
          <p>What do you want to call about?</p>
          <ul>
            <li data-wb-fieldflow='{"action": "removeClass", "source": "#by-phone-1", "class": "mfp-hide", "live":true}'>You want general information about the benefit</li>
            <li data-wb-fieldflow='{"action": "removeClass", "source": "#by-phone-2", "class": "mfp-hide", "live":true}'>You have questions about your CRA account information</li>
            <li data-wb-fieldflow='{"action": "removeClass", "source": "#by-phone-3", "class": "mfp-hide", "live":true}'>You want to report a security incident</li>
          </ul>
        </div>
      </form>
    </div>
    <section id="by-phone-1" class="results mfp-hide">
      <hr>
      <p>Call the recovery benefit line for general information about:</p>
      <ul>
        <li>CRB eligibility requirements</li>
        <li>payments amount for each period</li>
        <li>how and when to apply</li>
      </ul>
      <p>This phone line is for general benefit information only. For specifics about your account, select a different option above.</p>
      <dl class="dl-horizontal brdr-0">
        <dt><strong>Telephone number:</strong></dt>
        <dd>
          <a href="tel:18339662099" class="hidden-md hidden-lg nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-833-966-2099<span class="wb-inv"> (opens up phone application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-833-966-2099</strong>
        </dd>
        <dt>Hours:</dt>
        <dd>
          <table class="table brdr-bttm">
            <caption class="wb-inv">
              Dedicated CRB number hours (phone-1)
            </caption>
            <thead>
              <tr>
                <th class="wb-inv" scope="col">Date</th>
                <th class="wb-inv" scope="col">Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday to Friday</td>
                <td><strong>8&nbsp;am to 8&nbsp;pm</strong> (<abbr title="Eastern time">ET</abbr>)</td>
              </tr>
              <tr>
                <td>Saturday and Sunday</td>
                <td>Closed</td>
              </tr>
            </tbody>
          </table>
          <p>Closed on <a href="/en/revenue-agency/services/tax/public-holidays.html">public holidays</a></p>
        </dd>
        <dt><strong>TTY number:</strong></dt>
        <dd>
          <p>If you use a teletypewriter:<br>
            <a href="tel:18006650354" class="hidden-md hidden-lg nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354<span class="wb-inv"> (opens up tty application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354</strong>
          </p>
          <p>If you use an operator-assisted relay service, call our regular telephone numbers on this page instead of the TTY number.</p>
        </dd>
        <dt>Hours:</dt>
        <dd>
          <table class="table brdr-bttm">
            <caption class="wb-inv">
              Dedicated CRB TTY number hours (phone-1)
            </caption>
            <thead>
              <tr>
                <th class="wb-inv" scope="col">Date</th>
                <th class="wb-inv" scope="col">Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday to Friday</td>
                <td><strong>8&nbsp;am to 8&nbsp;pm</strong> (local time)</td>
              </tr>
              <tr>
                <td>Saturday</td>
                <td><strong>9&nbsp;am to 5&nbsp;pm</strong> (local time)</td>
              </tr>
              <tr>
                <td>Sunday</td>
                <td>Closed</td>
              </tr>
            </tbody>
          </table>
          <p>Closed on <a href="/en/revenue-agency/services/tax/public-holidays.html">public holidays</a></p>
        </dd>
      </dl>
    </section>
    <section id="by-phone-2" class="results mfp-hide">
      <hr>
      <p>Call the CRA for questions about your account information, including if you:</p>
      <ul>
        <li>have trouble applying for the CRB because you haven’t filed a 2019 tax return</li>
        <li>want to make changes to your account (updates to address or direct deposit)</li>
        <li>have trouble accessing CRA My Account </li>
      </ul>
      <dl class="dl-horizontal brdr-0">
        <dt>Before you call:</dt>
        <dd>
          <p>To verify your identity, you'll need your:</p>
          <ul>
            <li>Social Insurance Number (SIN)</li>
            <li>full name and date of birth</li>
            <li>complete address</li>
            <li>assessed tax return, notice of assessment or reassessment, other tax document, or be signed in to CRA My Account</li>
          </ul>
        </dd>
        <dt><strong>Telephone number:</strong></dt>
        <dd><a href="tel:18009598281" class="hidden-md hidden-lg nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-800-959-8281<span class="wb-inv"> (opens up phone application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-800-959-8281</strong><br>
        </dd>
        <dt>Hours:</dt>
        <dd>
          <table class="table brdr-bttm">
            <caption class="wb-inv">
              CRA’s General enquiries line hours (phone-2)
            </caption>
            <thead>
              <tr>
                <th class="wb-inv" scope="col">Date</th>
                <th class="wb-inv" scope="col">Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday to Friday</td>
                <td><strong>8&nbsp;am to 8&nbsp;pm</strong> (local time)</td>
              </tr>
              <tr>
                <td>Saturday</td>
                <td><strong>9&nbsp;am to 5&nbsp;pm</strong> (local time)</td>
              </tr>
              <tr>
                <td>Sunday</td>
                <td>Closed</td>
              </tr>
            </tbody>
          </table>
          <p>Closed on <a href="/en/revenue-agency/services/tax/public-holidays.html">public holidays</a></p>
        </dd>
        <dt><strong>TTY number:</strong></dt>
        <dd>
          <p>If you use a teletypewriter:<br>
            <a href="tel:18006650354" class="hidden-md hidden-lg nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354<span class="wb-inv"> (opens up tty application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354</strong>
          </p>
          <p>If you use an operator-assisted relay service, call our regular telephone numbers on this page instead of the TTY number.</p>
        </dd>
        <dt>Hours:</dt>
        <dd>
          <table class="table brdr-bttm">
            <caption class="wb-inv">
              Dedicated CRB TTY number hours (phone-2)
            </caption>
            <thead>
              <tr>
                <th class="wb-inv" scope="col">Date</th>
                <th class="wb-inv" scope="col">Hours</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Monday to Friday</td>
                <td><strong>8&nbsp;am to 8&nbsp;pm</strong> (local time)</td>
              </tr>
              <tr>
                <td>Saturday</td>
                <td><strong>9&nbsp;am to 5&nbsp;pm</strong> (local time)</td>
              </tr>
              <tr>
                <td>Sunday</td>
                <td>Closed</td>
              </tr>
            </tbody>
          </table>
          <p>Closed on <a href="/en/revenue-agency/services/tax/public-holidays.html">public holidays</a></p>
        </dd>
      </dl>
    </section>
    <section id="by-phone-3" class="results mfp-hide">
      <hr>
      <details>
        <summary>If you suspect you’re a victim of fraud, identity theft, or a cyber incident</summary>
        <p>Call the CRA if you notice changes or suspicious activity in your account.</p>
        <p>Select the option “report suspected fraud or identity theft” to prioritize your call.</p>
        <dl class="dl-horizontal brdr-0">
          <dt><strong>Telephone number:</strong></dt>
          <dd><a href="tel:18009598281" class="hidden-md hidden-lg nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-800-959-8281<span class="wb-inv"> (opens up phone application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-800-959-8281</strong><br>
          </dd>
          <dt>Hours:</dt>
          <dd>
            <table class="table brdr-bttm">
              <caption class="wb-inv">
                CRA’s General enquiries line hours (phone-3)
              </caption>
              <thead>
                <tr>
                  <th class="wb-inv" scope="col">Date</th>
                  <th class="wb-inv" scope="col">Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monday to Friday</td>
                  <td><strong>8&nbsp;am to 8&nbsp;pm</strong> (local time)</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td><strong>9&nbsp;am to 5&nbsp;pm</strong> (local time)</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>Closed</td>
                </tr>
              </tbody>
            </table>
            <p>Closed on <a href="/en/revenue-agency/services/tax/public-holidays.html">public holidays</a></p>
          </dd>
          <dt><strong>TTY number:</strong></dt>
          <dd>
            <p>If you use a teletypewriter:<br>
              <a href="tel:18006650354" class="hidden-md hidden-lg nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354<span class="wb-inv"> (opens up tty application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-tty fa-flip-horizontal"></span>1-800-665-0354</strong>
            </p>
            <p>If you use an operator-assisted relay service, call our regular telephone numbers on this page instead of the TTY number.</p>
          </dd>
          <dt>Hours:</dt>
          <dd>
            <table class="table brdr-bttm">
              <caption class="wb-inv">
                Dedicated CRB TTY number hours (phone-3)
              </caption>
              <thead>
                <tr>
                  <th class="wb-inv" scope="col">Date</th>
                  <th class="wb-inv" scope="col">Hours</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Monday to Friday</td>
                  <td><strong>8&nbsp;am to 8&nbsp;pm</strong> (local time)</td>
                </tr>
                <tr>
                  <td>Saturday</td>
                  <td><strong>9&nbsp;am to 5&nbsp;pm</strong> (local time)</td>
                </tr>
                <tr>
                  <td>Sunday</td>
                  <td>Closed</td>
                </tr>
              </tbody>
            </table>
            <p>Closed on <a href="/en/revenue-agency/services/tax/public-holidays.html">public holidays</a></p>
          </dd>
        </dl>
      </details>
      <details>
        <summary>If your Social Insurance Number (SIN) has been stolen</summary>
        <p>Call <a href="/en/employment-social-development/corporate/contact/sin.html">Service Canada</a>: <a href="tel:18662746627" class="hidden-md hidden-lg nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-866-274-6627<span class="wb-inv"> (opens up phone application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-866-274-6627</strong></p>
      </details>
      <details>
        <summary>If you have concerns about a call or email you received about your CRB payment</summary>
        <p>Call the <a href="https://antifraudcentre-centreantifraude.ca/report-signalez-eng.htm">Canadian Anti-fraud Centre</a>: <a href="tel:18884958501" class="hidden-md hidden-lg nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-888-495-8501<span class="wb-inv"> (opens up phone application)</span></a><strong class="hidden-xs hidden-sm nowrap"><span class="fas fa-phone fa-flip-horizontal"></span>1-888-495-8501</strong></p>
      </details>
    </section>
  </dd>
  <!-- close By phone container -->  
</dl>

</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;dl class="dl-horizontal brdr-0"&gt;
  &lt;dt&gt;Online:&lt;/dt&gt;
  &lt;dd&gt;
    &lt;p&gt;Use your CRA My Account to:&lt;/p&gt;
    &lt;ul&gt;
      &lt;li&gt;apply for the Canada Recovery Benefit (CRB)&lt;/li&gt;
      &lt;li&gt;update your address and direct deposit information&lt;/li&gt;
    &lt;/ul&gt;
    &lt;div class="mrgn-tp-md"&gt; &lt;a class="btn btn-call-to-action" href="/en/revenue-agency/services/e-services/e-services-individuals/account-individuals.html"&gt;Sign in to CRA My Account&lt;/a&gt;   &lt;a href="/en/revenue-agency/services/e-services/e-services-individuals/account-individuals.html" class="mrgn-lft-md"&gt;Register&lt;/a&gt; &lt;/div&gt;
  &lt;/dd&gt;
  &lt;dt&gt;By phone:&lt;/dt&gt;
  &lt;!-- open By phone conatiner --&gt;
  &lt;dd&gt;
    &lt;p id="byphone"&gt;Contact the CRA by phone or TTY.&lt;/p&gt;
    &lt;div class="wb-frmvld fieldflow-lg"&gt;
      &lt;form&gt;
        &lt;div class="wb-fieldflow mrgn-tp-0" data-wb-fieldflow='{"renderas":"radio", "reset": { "action": "addClass", "source":".results", "class": "mfp-hide"}, "noForm": true, "noreqlabel": true}'&gt;
          &lt;p&gt;What do you want to call about?&lt;/p&gt;
          &lt;ul&gt;
            &lt;li data-wb-fieldflow='{"action": "removeClass", "source": "#by-phone-1", "class": "mfp-hide", "live":true}'&gt;You want general information about the benefit&lt;/li&gt;
            &lt;li data-wb-fieldflow='{"action": "removeClass", "source": "#by-phone-2", "class": "mfp-hide", "live":true}'&gt;You have questions about your CRA account information&lt;/li&gt;
            &lt;li data-wb-fieldflow='{"action": "removeClass", "source": "#by-phone-3", "class": "mfp-hide", "live":true}'&gt;You want to report a security incident&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/form&gt;
    &lt;/div&gt;
    &lt;section id="by-phone-1" class="results mfp-hide"&gt;
      &lt;hr&gt;
      &lt;p&gt;Call the recovery benefit line for general information about:&lt;/p&gt;
      &lt;ul&gt;
        &lt;li&gt;CRB eligibility requirements&lt;/li&gt;
        &lt;li&gt;payments amount for each period&lt;/li&gt;
        &lt;li&gt;how and when to apply&lt;/li&gt;
      &lt;/ul&gt;
      &lt;p&gt;This phone line is for general benefit information only. For specifics about your account, select a different option above.&lt;/p&gt;
      &lt;dl class="dl-horizontal brdr-0"&gt;
        &lt;dt&gt;&lt;strong&gt;Telephone number:&lt;/strong&gt;&lt;/dt&gt;
        &lt;dd&gt;
          &lt;a href="tel:18339662099" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-833-966-2099&lt;span class="wb-inv"&gt; (opens up phone application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-833-966-2099&lt;/strong&gt;
        &lt;/dd&gt;
        &lt;dt&gt;Hours:&lt;/dt&gt;
        &lt;dd&gt;
          &lt;table class="table brdr-bttm"&gt;
            &lt;caption class="wb-inv"&gt;
              Dedicated CRB number hours (phone-1)
            &lt;/caption&gt;
            &lt;thead&gt;
              &lt;tr&gt;
                &lt;th class="wb-inv" scope="col"&gt;Date&lt;/th&gt;
                &lt;th class="wb-inv" scope="col"&gt;Hours&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr&gt;
                &lt;td&gt;Monday to Friday&lt;/td&gt;
                &lt;td&gt;&lt;strong&gt;8&nbsp;am to 8&nbsp;pm&lt;/strong&gt; (&lt;abbr title="Eastern time"&gt;ET&lt;/abbr&gt;)&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Saturday and Sunday&lt;/td&gt;
                &lt;td&gt;Closed&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
          &lt;p&gt;Closed on &lt;a href="/en/revenue-agency/services/tax/public-holidays.html"&gt;public holidays&lt;/a&gt;&lt;/p&gt;
        &lt;/dd&gt;
        &lt;dt&gt;&lt;strong&gt;TTY number:&lt;/strong&gt;&lt;/dt&gt;
        &lt;dd&gt;
          &lt;p&gt;If you use a teletypewriter:&lt;br&gt;
            &lt;a href="tel:18006650354" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;span class="wb-inv"&gt; (opens up tty application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;/strong&gt;
          &lt;/p&gt;
          &lt;p&gt;If you use an operator-assisted relay service, call our regular telephone numbers on this page instead of the TTY number.&lt;/p&gt;
        &lt;/dd&gt;
        &lt;dt&gt;Hours:&lt;/dt&gt;
        &lt;dd&gt;
          &lt;table class="table brdr-bttm"&gt;
            &lt;caption class="wb-inv"&gt;
              Dedicated CRB TTY number hours (phone-1)
            &lt;/caption&gt;
            &lt;thead&gt;
              &lt;tr&gt;
                &lt;th class="wb-inv" scope="col"&gt;Date&lt;/th&gt;
                &lt;th class="wb-inv" scope="col"&gt;Hours&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr&gt;
                &lt;td&gt;Monday to Friday&lt;/td&gt;
                &lt;td&gt;&lt;strong&gt;8&nbsp;am to 8&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Saturday&lt;/td&gt;
                &lt;td&gt;&lt;strong&gt;9&nbsp;am to 5&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Sunday&lt;/td&gt;
                &lt;td&gt;Closed&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
          &lt;p&gt;Closed on &lt;a href="/en/revenue-agency/services/tax/public-holidays.html"&gt;public holidays&lt;/a&gt;&lt;/p&gt;
        &lt;/dd&gt;
      &lt;/dl&gt;
    &lt;/section&gt;
    &lt;section id="by-phone-2" class="results mfp-hide"&gt;
      &lt;hr&gt;
      &lt;p&gt;Call the CRA for questions about your account information, including if you:&lt;/p&gt;
      &lt;ul&gt;
        &lt;li&gt;have trouble applying for the CRB because you haven’t filed a 2019 tax return&lt;/li&gt;
        &lt;li&gt;want to make changes to your account (updates to address or direct deposit)&lt;/li&gt;
        &lt;li&gt;have trouble accessing CRA My Account &lt;/li&gt;
      &lt;/ul&gt;
      &lt;dl class="dl-horizontal brdr-0"&gt;
        &lt;dt&gt;Before you call:&lt;/dt&gt;
        &lt;dd&gt;
          &lt;p&gt;To verify your identity, you'll need your:&lt;/p&gt;
          &lt;ul&gt;
            &lt;li&gt;Social Insurance Number (SIN)&lt;/li&gt;
            &lt;li&gt;full name and date of birth&lt;/li&gt;
            &lt;li&gt;complete address&lt;/li&gt;
            &lt;li&gt;assessed tax return, notice of assessment or reassessment, other tax document, or be signed in to CRA My Account&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/dd&gt;
        &lt;dt&gt;&lt;strong&gt;Telephone number:&lt;/strong&gt;&lt;/dt&gt;
        &lt;dd&gt;&lt;a href="tel:18009598281" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-800-959-8281&lt;span class="wb-inv"&gt; (opens up phone application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-800-959-8281&lt;/strong&gt;&lt;br&gt;
        &lt;/dd&gt;
        &lt;dt&gt;Hours:&lt;/dt&gt;
        &lt;dd&gt;
          &lt;table class="table brdr-bttm"&gt;
            &lt;caption class="wb-inv"&gt;
              CRA’s General enquiries line hours (phone-2)
            &lt;/caption&gt;
            &lt;thead&gt;
              &lt;tr&gt;
                &lt;th class="wb-inv" scope="col"&gt;Date&lt;/th&gt;
                &lt;th class="wb-inv" scope="col"&gt;Hours&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr&gt;
                &lt;td&gt;Monday to Friday&lt;/td&gt;
                &lt;td&gt;&lt;strong&gt;8&nbsp;am to 8&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Saturday&lt;/td&gt;
                &lt;td&gt;&lt;strong&gt;9&nbsp;am to 5&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Sunday&lt;/td&gt;
                &lt;td&gt;Closed&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
          &lt;p&gt;Closed on &lt;a href="/en/revenue-agency/services/tax/public-holidays.html"&gt;public holidays&lt;/a&gt;&lt;/p&gt;
        &lt;/dd&gt;
        &lt;dt&gt;&lt;strong&gt;TTY number:&lt;/strong&gt;&lt;/dt&gt;
        &lt;dd&gt;
          &lt;p&gt;If you use a teletypewriter:&lt;br&gt;
            &lt;a href="tel:18006650354" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;span class="wb-inv"&gt; (opens up tty application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;/strong&gt;
          &lt;/p&gt;
          &lt;p&gt;If you use an operator-assisted relay service, call our regular telephone numbers on this page instead of the TTY number.&lt;/p&gt;
        &lt;/dd&gt;
        &lt;dt&gt;Hours:&lt;/dt&gt;
        &lt;dd&gt;
          &lt;table class="table brdr-bttm"&gt;
            &lt;caption class="wb-inv"&gt;
              Dedicated CRB TTY number hours (phone-2)
            &lt;/caption&gt;
            &lt;thead&gt;
              &lt;tr&gt;
                &lt;th class="wb-inv" scope="col"&gt;Date&lt;/th&gt;
                &lt;th class="wb-inv" scope="col"&gt;Hours&lt;/th&gt;
              &lt;/tr&gt;
            &lt;/thead&gt;
            &lt;tbody&gt;
              &lt;tr&gt;
                &lt;td&gt;Monday to Friday&lt;/td&gt;
                &lt;td&gt;&lt;strong&gt;8&nbsp;am to 8&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Saturday&lt;/td&gt;
                &lt;td&gt;&lt;strong&gt;9&nbsp;am to 5&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
              &lt;/tr&gt;
              &lt;tr&gt;
                &lt;td&gt;Sunday&lt;/td&gt;
                &lt;td&gt;Closed&lt;/td&gt;
              &lt;/tr&gt;
            &lt;/tbody&gt;
          &lt;/table&gt;
          &lt;p&gt;Closed on &lt;a href="/en/revenue-agency/services/tax/public-holidays.html"&gt;public holidays&lt;/a&gt;&lt;/p&gt;
        &lt;/dd&gt;
      &lt;/dl&gt;
    &lt;/section&gt;
    &lt;section id="by-phone-3" class="results mfp-hide"&gt;
      &lt;hr&gt;
      &lt;details&gt;
        &lt;summary&gt;If you suspect you’re a victim of fraud, identity theft, or a cyber incident&lt;/summary&gt;
        &lt;p&gt;Call the CRA if you notice changes or suspicious activity in your account.&lt;/p&gt;
        &lt;p&gt;Select the option “report suspected fraud or identity theft” to prioritize your call.&lt;/p&gt;
        &lt;dl class="dl-horizontal brdr-0"&gt;
          &lt;dt&gt;&lt;strong&gt;Telephone number:&lt;/strong&gt;&lt;/dt&gt;
          &lt;dd&gt;&lt;a href="tel:18009598281" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-800-959-8281&lt;span class="wb-inv"&gt; (opens up phone application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-800-959-8281&lt;/strong&gt;&lt;br&gt;
          &lt;/dd&gt;
          &lt;dt&gt;Hours:&lt;/dt&gt;
          &lt;dd&gt;
            &lt;table class="table brdr-bttm"&gt;
              &lt;caption class="wb-inv"&gt;
                CRA’s General enquiries line hours (phone-3)
              &lt;/caption&gt;
              &lt;thead&gt;
                &lt;tr&gt;
                  &lt;th class="wb-inv" scope="col"&gt;Date&lt;/th&gt;
                  &lt;th class="wb-inv" scope="col"&gt;Hours&lt;/th&gt;
                &lt;/tr&gt;
              &lt;/thead&gt;
              &lt;tbody&gt;
                &lt;tr&gt;
                  &lt;td&gt;Monday to Friday&lt;/td&gt;
                  &lt;td&gt;&lt;strong&gt;8&nbsp;am to 8&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Saturday&lt;/td&gt;
                  &lt;td&gt;&lt;strong&gt;9&nbsp;am to 5&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Sunday&lt;/td&gt;
                  &lt;td&gt;Closed&lt;/td&gt;
                &lt;/tr&gt;
              &lt;/tbody&gt;
            &lt;/table&gt;
            &lt;p&gt;Closed on &lt;a href="/en/revenue-agency/services/tax/public-holidays.html"&gt;public holidays&lt;/a&gt;&lt;/p&gt;
          &lt;/dd&gt;
          &lt;dt&gt;&lt;strong&gt;TTY number:&lt;/strong&gt;&lt;/dt&gt;
          &lt;dd&gt;
            &lt;p&gt;If you use a teletypewriter:&lt;br&gt;
              &lt;a href="tel:18006650354" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;span class="wb-inv"&gt; (opens up tty application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-tty fa-flip-horizontal"&gt;&lt;/span&gt;1-800-665-0354&lt;/strong&gt;
            &lt;/p&gt;
            &lt;p&gt;If you use an operator-assisted relay service, call our regular telephone numbers on this page instead of the TTY number.&lt;/p&gt;
          &lt;/dd&gt;
          &lt;dt&gt;Hours:&lt;/dt&gt;
          &lt;dd&gt;
            &lt;table class="table brdr-bttm"&gt;
              &lt;caption class="wb-inv"&gt;
                Dedicated CRB TTY number hours (phone-3)
              &lt;/caption&gt;
              &lt;thead&gt;
                &lt;tr&gt;
                  &lt;th class="wb-inv" scope="col"&gt;Date&lt;/th&gt;
                  &lt;th class="wb-inv" scope="col"&gt;Hours&lt;/th&gt;
                &lt;/tr&gt;
              &lt;/thead&gt;
              &lt;tbody&gt;
                &lt;tr&gt;
                  &lt;td&gt;Monday to Friday&lt;/td&gt;
                  &lt;td&gt;&lt;strong&gt;8&nbsp;am to 8&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Saturday&lt;/td&gt;
                  &lt;td&gt;&lt;strong&gt;9&nbsp;am to 5&nbsp;pm&lt;/strong&gt; (local time)&lt;/td&gt;
                &lt;/tr&gt;
                &lt;tr&gt;
                  &lt;td&gt;Sunday&lt;/td&gt;
                  &lt;td&gt;Closed&lt;/td&gt;
                &lt;/tr&gt;
              &lt;/tbody&gt;
            &lt;/table&gt;
            &lt;p&gt;Closed on &lt;a href="/en/revenue-agency/services/tax/public-holidays.html"&gt;public holidays&lt;/a&gt;&lt;/p&gt;
          &lt;/dd&gt;
        &lt;/dl&gt;
      &lt;/details&gt;
      &lt;details&gt;
        &lt;summary&gt;If your Social Insurance Number (SIN) has been stolen&lt;/summary&gt;
        &lt;p&gt;Call &lt;a href="/en/employment-social-development/corporate/contact/sin.html"&gt;Service Canada&lt;/a&gt;: &lt;a href="tel:18662746627" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-866-274-6627&lt;span class="wb-inv"&gt; (opens up phone application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-866-274-6627&lt;/strong&gt;&lt;/p&gt;
      &lt;/details&gt;
      &lt;details&gt;
        &lt;summary&gt;If you have concerns about a call or email you received about your CRB payment&lt;/summary&gt;
        &lt;p&gt;Call the &lt;a href="https://antifraudcentre-centreantifraude.ca/report-signalez-eng.htm"&gt;Canadian Anti-fraud Centre&lt;/a&gt;: &lt;a href="tel:18884958501" class="hidden-md hidden-lg nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-888-495-8501&lt;span class="wb-inv"&gt; (opens up phone application)&lt;/span&gt;&lt;/a&gt;&lt;strong class="hidden-xs hidden-sm nowrap"&gt;&lt;span class="fas fa-phone fa-flip-horizontal"&gt;&lt;/span&gt;1-888-495-8501&lt;/strong&gt;&lt;/p&gt;
      &lt;/details&gt;
    &lt;/section&gt;
  &lt;/dd&gt;
  &lt;!-- close By phone container --&gt;  
&lt;/dl&gt;</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA instructional guidance product is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
</div>
</div>
			<h3 id="h-3-2">Supporting blog post</h3>
<div class="panel panel-default brdr-rds-0 outset">
    <div class="panel-body"><div class="row">
    <div class="col-sm-3"><p class="h3 mrgn-tp-0"><a class="stretched-link" href="https://blog.canada.ca/2020/05/25/avoiding-faqs.html">Avoiding FAQs, with one exception</a></p></div>
<div class="col-sm-6">
<p>Why FAQs are an ineffective content design choice most of the time, when they can actually work, and how we could redesign Contact us pages to encourage more self-serve behaviour and reduce call volumes.</p>
<p><small>[25 May 2020]</small> </p>
</div>
<div class="col-sm-3">
<a href="https://blog.canada.ca/2020/05/25/avoiding-faqs.html"><img class="img-responsive hidden-xs thumbnail" src="images/blog/faq.jpg"></a>
</div>
</div></div>
</div>

<div class="panel panel-default brdr-rds-0 outset">
    <div class="panel-body"><div class="row">
    <div class="col-sm-3"><p class="h3 mrgn-tp-0"><a class="stretched-link" href="https://blog.canada.ca/2021/03/01/work-with-call-centres">The importance of working with call centres</a></p></div>
<div class="col-sm-6">
<p>Whether you run an in-house call centre or outsource your call centre to a trusted partner, agents are the key to harnessing customer feedback. Using this data can help you improve your web content and services with real people in mind.</p>
<p><small>[1 March 2021]</small> </p>
</div>
<div class="col-sm-3">
<a href="https://blog.canada.ca/2021/03/01/work-with-call-centres"><img class="img-responsive hidden-xs thumbnail" src="images/blog/call_centre.jpg"></a>
</div>
</div></div>
</div>


<h2 id="h-5">Complementary components and functions</h2>

<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- fieldflow -->
	  <li class="col-md-4" id="fieldflow">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/fieldflow.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="fieldflow.html">Interactive questions (field flow)</a></h3> 	 
	   </div></div></div></li>	
	<!-- feedback -->
	  <li class="col-md-4" id="feedback">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/feedback.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="feedback.html">Provide feedback</a></h3> 	 
	   </div></div></div></li>
 


</ul>
 </div> 
  <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	   <script src="../../../js/components.js"></script>
   </body>
</html>