<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
 <head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Country identifier – Standard web pages – CRA instructional guidance product – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA instructional guidance product",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Country identifier – Standard web pages – CRA instructional guidance product</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA instructional guidance product</p>
<h1 class="gc-thickline mrgn-tp-0">Country identifier – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use country identifier to load or replace an element's content based upon the user's country.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
<ul>
<li><a href="#h-1">How to implement</a></li>
	<li><a href="#h-3">Configuration options and events</a></li>
	<li><a href="#h-5">Complementary components and functions</a></li>	
</ul>

<h2 id="h-1">How to implement</h2>
<ol>
<li>Create a file with country-specific content for each supported country (e.g., Canada and the United States) in each supported language (e.g., English and French). The file name must include the two letter code for the supported country (e.g., "ca" for Canada and "us" for the United States). The file names for each supported language must be identical except for the country code (e.g., <code>country-content-us-en.html</code> and <code>country-content-ca-en.html</code>).
<details>
<summary>US file (<code>*-us-en.html</code>)</summary>
<pre><code>&lt;section class="ajaxed-in"<span>&gt;
	<span>&lt;h4&gt;Hello United States<span>&lt;/h4&gt;
	<span>&lt;p&gt;I'm the content that is shown when the user visits from the United States.<span>&lt;/p&gt;
<span>&lt;/section&gt;</code></pre>
</details>
<details>
<summary>Canada file (<code>*-ca-fr.html</code>)</summary>
<pre><code><span>&lt;section class="ajaxed-in"<span>&gt;
	<span>&lt;h4&gt;<span lang="fr">Bonjour Canada<span>&lt;/h4&gt;
	<span>&lt;p&gt;<span lang="fr">Je suis le contenu qui est affiché lorsque l'utilisateur visite du Canada.<span>&lt;/p&gt;
<span>&lt;/section&gt;</code></pre>
</details>
</li>
<li>Add an element to the page that will be the container for the country-specific content.</li>
<li>Add the <code>data-ctrycnt</code> attribute to the element in the previous step where the value is the URL of the country-specific files for the page with the country code replaced by <code>{country}</code>.
</li>
<li>Add fallback content to the element to cover the case where country-specific content for the user's country could not be found.
<details>
<summary>Fallback content</summary>
<pre><code><span>&lt;div data-ctrycnt="ajax/country-content-{country}-en.html"<span>&gt;
	<span>&lt;h4&gt;Hello World<span>&lt;/h4&gt;
	<span>&lt;p&gt;I'm the content that is shown when the country can't be resolved or the country that is returned does not have additional content.<span>&lt;/p&gt;
<span>&lt;/div&gt;</code></pre>
</details>
</li>
</ol>

<h3>Example</h3>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#ca1, #us1, #mx1", "class": "hidden                  "} ]}'>
<p><span class="h4">Country</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#ca1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-ca1", "live": true}]'>Canada</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#us1", "class": "hidden", "live": true}, {"action": "addClass", "source": "#hidden1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-us1", "live": true}]'>US</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#mx1", "class": "hidden", "live": true}, {"action": "addClass", "source": "#hidden1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-mx1", "live": true}]'>Mexico</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div id="ca1">
<section class="ajaxed-in">
	<h4 class="mrgn-tp-0">Bonjour Canada</h4>
	<p>Je suis le contenu qui est affiché lorsque l'utilisateur visite du Canada.</p>
</section>
</div>
<div id="us1" class="hidden">
<section class="ajaxed-in">
	<h4 class="mrgn-tp-0">Hello United States</h4>
	<p>I'm the content that is shown when the user visits from the United States.</p>
</section>
</div>
<div id="mx1" class="hidden">
<section class="ajaxed-in">
	<h4 class="mrgn-tp-0">Hola México</h4>
	<p>Soy el contenido que se muestra cuando el usuario visita desde México.</p>
</section>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span class="cl-ca1" id="hidden1">&lt;!-- Country identifier - Canada --&gt;
&lt;div data-ctrycnt="ajax/country-content-ca-fr.html"&gt;
&lt;h4&gt;Hello World&lt;/h4&gt;
&lt;p&gt;I'm the content that is shown when the country can't be resolved or the country that is returned does not have additional content.&lt;/p&gt;

&lt;!-- File with Canada-specific content --&gt;
&lt;section class="ajaxed-in"&gt;
	&lt;h4&gt;Bonjour Canada&lt;/h4&gt;
	&lt;p&gt;Je suis le contenu qui est affiché lorsque l'utilisateur visite du Canada.&lt;/p&gt;
&lt;/section&gt;
&lt;/div&gt;</span><span class="hidden cl-us1">&lt;!-- Country identifier - US  --&gt;
&lt;div data-ctrycnt="ajax/country-content-us-en.html"&gt;
&lt;h4&gt;Hello World&lt;/h4&gt;
&lt;p&gt;I'm the content that is shown when the country can't be resolved or the country that is returned does not have additional content.&lt;/p&gt;

&lt;!-- File with US-specific content --&gt;
&lt;section class="ajaxed-in"&gt;
	&lt;h4&gt;Hello United States&lt;/h4&gt;
	&lt;p&gt;I'm the content that is shown when the user visits from the United States.&lt;/p&gt;
&lt;/section&gt;
&lt;/div&gt;</span><span class="hidden cl-mx1">&lt;!-- Country identifier - Mexico --&gt;
&lt;div data-ctrycnt="ajax/country-content-mx-es.html"&gt;
&lt;h4&gt;Hello World&lt;/h4&gt;
&lt;p&gt;I'm the content that is shown when the country can't be resolved or the country that is returned does not have additional content.&lt;/p&gt;

&lt;!-- File with Mexico-specific content --&gt;
&lt;section class="ajaxed-in"&gt;
	&lt;h4&gt;Hola México&lt;/h4&gt;
	&lt;p&gt;Soy el contenido que se muestra cuando el usuario visita desde México.&lt;/p&gt;
&lt;/section&gt;
&lt;/div&gt;</span></code></pre>

</details>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA instructional guidance product is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>
</div>

<h2 id="h-3">Configuration options and events</h2>
<p>For configuration options and events, refer to: <a href="https://wet-boew.github.io/v4.0-ci/docs/ref/country-content/country-content-en.html" rel="external">Country content on GitHub</a>.</p>

<h2 id="h-5">Complementary components and functions</h3>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Ajax -->
	  <li class="col-md-4" id="Ajax">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/ajax.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="ajax.html">Data Ajax</a></h3> 	 
	   </div></div></div></li>	 


</ul>
 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
 <!-- Write closure template -->
 <script type="text/javascript">
var defPreFooter = document.getElementById("def-preFooter");
defPreFooter.outerHTML = wet.builder.preFooter({
dateModified: "2020-05-05",
showPostContent: true,
showFeedback: false,
showShare: false
});
 </script>
</main>
<div id="def-footer">
</div>
<!-- Write closure template -->
<script type="text/javascript">
 var defFooter = document.getElementById("def-footer");
 defFooter.outerHTML = wet.builder.footer({
 showFooter: true,
 showFeatures: false
 });
</script>
<!-- Write closure template -->
<script type="text/javascript">
 document.write(wet.builder.refFooter({
 }));
</script>
<script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
 <script src="../../../js/components.js"></script>
 </body>
</html>