<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Text editing effects – Standard web pages – CRA instructional guidance product – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA instructional guidance product",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Text editing effects – Standard web pages – CRA instructional guidance product</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA instructional guidance product</p>
<h1 class="gc-thickline mrgn-tp-0">Text editing effects – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to indicate text edits on a page.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-2">Design options</a></li>
	   <li><a href="#h-3">Complementary components and functions</a></li>
    </ul>

<h2 id="h-2">Design options</h2>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#def, #text0, #text6, #text7, #text1, #text2, #text3, #text4, #text5", "class": "hidden"} ]}'>
<!--<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>-->
<p><span class="mrgn-tp-0 hidden">Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#text0", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-text0", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#text1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-text1", "live": true}]'>Marked</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#text2", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-text2", "live": true}]'>Deleted</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#text3", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-text3", "live": true}]'>Strikethrough</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#text4", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-text4, #hidden-ins", "live": true}]'>Inserted</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<span class="" id="text0"><p>Regular text</p></span>
<span class="hidden" id="text1"><p>Regular text plus <mark>marked text</mark></p></span>
<span class="hidden" id="text2"><p>Regular text plus <del>deleted text</del></p></span>
<span class="hidden" id="text3"><p>Regular text plus <s>strikethrough text</s></p></span>
<span class="hidden" id="text4"><p>Regular text plus <ins>inserted text</ins></p></span>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span class="cl-text0" id="def">&lt;p&gt;Regular text&lt;/p&gt;</span><span class="hidden cl-text1">&lt;p&gt;Regular text plus <strong>&lt;mark&gt;</strong>marked text<strong>&lt;/mark&gt;</strong>&lt;/p&gt;</span><span class="hidden cl-text2">&lt;p&gt;Regular text plus <strong>&lt;del&gt;</strong>deleted text<strong>&lt;/del&gt;</strong>&lt;/p&gt;</span><span class="hidden cl-text3">&lt;p&gt;Regular text plus <strong>&lt;s&gt;</strong>strikethrough text<strong>&lt;/s&gt;</strong>&lt;/p&gt;</span><span class="hidden cl-text4">&lt;p&gt;Regular text plus <strong>&lt;ins&gt;</strong>inserted text<strong>&lt;/ins&gt;</strong>&lt;/p&gt;</span>
</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA instructional guidance product is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>
</div>
<!-- Correct use -->
<div class="row">
<div class="col-md-7">
<h3 class="h4 text-muted">Correct use</h3>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use <strong>marked text</strong> to highlight a section of text for reference purposes, due to its relevance in another context
<ul>
<li>Highlight text to show matching search terms or to show text in relation to something else</li>
</ul>
</li>
<li><span class="fas fa-check fa-li text-success"></span>Use <strong>deleted text</strong> to show recently deleted text, but use it sparingly, as it makes a page difficult to read 
<ul>
<li>Use to show record changes to an official document, such as meeting minutes or a law</li>
<li>Use as a temporary effect on a page</li>
</ul>
</li>
<li><span class="fas fa-check fa-li text-success"></span>Use <strong>strikethrough text</strong> to indicate text that is no longer accurate or no longer relevant, but use it sparingly, as it makes a page difficult to read
<ul>
<li>Use to show record changes to an official document, such as meeting minutes or a law</li>
<li>Use as a temporary effect on a page</li>
</ul>
</li>

</ul>
</div>
<div class="col-md-5">
<h3 class="h4 text-muted">Incorrect use</h3>
<ul class="fa-ul">
<li><span class="fas fa-times fa-li text-danger"></span>Do not use <strong>marked text</strong> in place of bold text
          <ul>
            <li>This tag is <strong>not meant </strong>to simply highlight  key words, phrases, numbers or amount totals</li>
          </ul>
        </li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not use <strong>inserted text</strong>
<ul>
            <li>It  mimics the visual appearance of a link, which  causes usability problems</li>
            <li>Non-links <strong>should not </strong>look like links </li>
          </ul>
</li>
</ul>
</div>
</div>

<h2 id="h-3">Complementary components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- alerts -->
	  <li class="col-md-4" id="alerts">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/alerts.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="alerts.html">Alerts</a></h3> 	 
	   </div></div></div></li>
	   	<!-- invisible_visible -->
	  <li class="col-md-4" id="invisible_visible">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/invisible_visible.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="invisible_visible.html">Invisible and visible content</a></h3> 	 
	   </div></div></div></li>
	   	<!-- Quotations -->
	  <li class="col-md-4" id="blockquote">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/blockquote.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="blockquote.html">Quotations</a></h3> 	 
	   </div></div></div></li>
	<!-- text -->
	  <li class="col-md-4" id="text">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/text.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="text.html">Text formatting</a></h3> 	 
	   </div></div></div></li>	 
   
</ul>

 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>