<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Wells – Standard web pages – CRA instructional guidance product – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA instructional guidance product",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Wells – Standard web pages – CRA instructional guidance product</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA instructional guidance product</p>
<h1 class="gc-thickline mrgn-tp-0">Wells – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to call attention to a specific segment of noteworthy content, by placing it in a light grey box.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-2">Design options</a></li>
	   <li><a href="#h-3">Complementary components and functions</a></li>
    </ul>

<h2 id="h-2">Design options</h2>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<!--<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>-->
<div class="row">
<div class="col-xs-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#well1", "class": " well-sm well-lg                 "} ]}'>
<p><span class="h4">Size</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#well1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#well1", "class": "well-sm", "live": true}, {"action": "toggle", "toggle": ".cl-well-sm", "live": true}]'>Small</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#well1", "class": "well-lg", "live": true}, {"action": "toggle", "toggle": ".cl-well-lg", "live": true}]'>Large</li>
</ul>
</div>
</div>
</div>
<div class="col-xs-6">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#well1", "class": " brdr-rds-0                 "} ]}'>
<p><span class="h4">Border radius</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#well1", "class": "brdr-rds-0", "live": true}, {"action": "toggle", "toggle": ".cl-brdr", "live": true}]'>Remove border radius</li>
</ul>
</div>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="well" id="well1">This is a well</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="well<strong><span class="hidden cl-well-sm"> well-sm</span><span class="hidden cl-well-lg"> well-lg</span><span class="hidden cl-brdr"> brdr-rds-0</span></strong>"&gt;This is a well&lt;/div&gt;
</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA instructional guidance product is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<!-- Correct use -->
<h3 class="h4 text-muted">Correct use</h3>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use the <strong>small well</strong> when space is at a premium, and reducing the inner padding allows for more content to appear in a single row</li>
<li><span class="fas fa-check fa-li text-success"></span>Use the <strong>large well</strong> when there is a need for additional prominence on the page. Since the default well already creates prominence, there is limited value to using the larger well</li>
</ul>

<h2 id="h-3">Complementary components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
 
	<!-- Equalize -->
	  <li class="col-md-4" id="Equalize">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/equalize.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="equalize.html">Equal height (equalize)</a></h3> 	 
	   </div></div></div></li>
	   	<!-- Grids -->
	  <li class="col-md-4" id="Grids">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/grids.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="grids.html">Grids</a></h3> 	 
	   </div></div></div></li>
	   	<!-- Margin proximity -->
	  <li class="col-md-4" id="margin">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/margin.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="margin.html">Margin proximity</a></h3> 	 
	   </div></div></div></li>
	<!-- Panels -->
	  <li class="col-md-4" id="Panels">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/panels.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="panels.html">Panels</a></h3> 	 
	   </div></div></div></li>	   
</ul>

 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>