@charset "utf-8";
/*V2 */
.wb-eqht-css {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	height: 100%;
}
.wb-eqht-css .wb-eqht-grd {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.wb-eqht-css .hght-inhrt-css {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.wb-eqht-css .hght-inhrt-css .eqht-trgt-css {
	flex: 1 1 auto;
}	
