
.provisional.profile {
	position: relative;
	overflow-x: hidden;
}
.provisional.profile .pagetag {
	max-width: 65ch;
}
.provisional.single-feature figcaption {
	margin-top: 5px;
	text-decoration: underline;
}
.provisional .thumbnail {
	border-color: #335075;
	border-width: 1px;
	padding: 0px;
}
.provisional.contributors {
	font-size: 16px;
	font-weight: 600;
}
.provisional.from {
	font-size: 17px;
	margin-top: 7px;
}
.provisional.contributors ul {
	margin-block-start: 0em;
	margin-block-end: 0em;
	margin-inline-start: -50px;
	margin-inline-end: 0px;
	padding-inline-start: 0px;
}
.provisional.most-requested-bullets li {
	font-family: 'Lato', sans-serif;
	font-size: 17px;
	font-weight: 600;
	line-height: 26px;
	margin-top: 0
}
.provisional.most-requested-bullets .pddng-r-0 {
	padding-right: 0px;
}
.provisional.most-requested-bullets h2 {
	font-size: 1.2em;
}
.provisional.list-bld {
	font-weight: 600;
}
.provisional.followus h2 {
	font-size: 1.1em;
	margin-top: 10px;
}
.provisional.followus {
	padding: 0;
}
.provisional.followus h2 {
	display: block;
}
.provisional.followus h2, .provisional.followus ul {
	margin-left: 0;
}
.provisional.followus-vertical {
	line-height: 0em;
}
.provisional.followus-vertical, .provisional.followus {
	background-color: transparent;
}
.provisional.followus-vertical a {
	text-decoration: none;
}
.provisional.followus-vertical ul {
	display: block;
	list-style-type: none;
	margin-block-start: 1em;
	padding-inline-start: 1em;
	font-size: 16px;
	margin-block-end: 0em;
}
.provisional.followus-vertical ul li {
	margin-bottom: 15px;
}
.provisional.followus-vertical ul li:last-child {
	margin-bottom: 0px;
}
.provisional.followus-vertical ul li a {
	border: none;
	padding: 0px 5px;
}
.provisional.followus ul li a {
	border: none;
}
.provisional .social-lnk {
	position: relative;
	bottom: -18px;
	left: 45px;
}
.provisional.followus-vertical li {
	display: block;
	background-position: left;
}
.provisional.followus .facebook, .provisional.followus .twitter, .provisional.followus .youtube, .provisional.followus .instagram {
	display: block;
	height: 38px;
	width: 38px;
}
/* remove this section if you do not want the new icons */

.provisional.followus .facebook {
	background: url("https://design.canada.ca/images/social-media/facebook.png") 0 0 / cover no-repeat;
}
.provisional.followus .twitter {
	background: url("https://design.canada.ca/images/social-media/twitter.png") 0 0 / cover no-repeat;
}
.provisional.followus .youtube {
	background: url("https://design.canada.ca/images/social-media/youtube.png") 0 0 / cover no-repeat;
}
.provisional.followus .instagram {
	background: url("https://design.canada.ca/images/social-media/instagram.png") 0 0 / cover no-repeat;
}
.provisional.followus .linkedin {
	background: url("https://design.canada.ca/images/social-media/linkedin.png") 0 0 / cover no-repeat;
}

/* end of new social media icons */

@media screen and (min-width: 991px) {
.provisional.contributors li {
	display: inline-block;
	margin-right: .7em;
}
.provisional.contributors li:first-child:before {
	content: none;
}
.provisional.contributors li:before {
	content: "\2022";
	margin-right: .7em;
}
}

@media screen and (max-width: 1200px) {
.provisional.contributors ul {
	margin-inline-start: -30px;
}
}

@media screen and (max-width: 991px) {
.provisional.most-requested-bullets li {
	font-size: 19px;
}
.provisional.contributors ul {
	margin-inline-start: 1.5em;
}
}
