<!DOCTYPE html><!--[if lt IE 9]>
  <html class="no-js lt-ie9" lang="en" dir="ltr">
     <![endif]--><!--[if gt IE 8]><!-->
  <html class="no-js" lang="en" dir="ltr">
  <!--<![endif]-->
  <head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NEXGY36077"></script>
  <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
             gtag('js', new Date());
             gtag('config', 'G-NEXGY36077');
  </script>
  <meta charset="utf-8">
  <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
              wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
  <title>Layout – GCWeb design system</title>
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="dcterms.language" title="ISO639-2/T" content="eng">
  <meta name="dcterms.title" content="Layout">
  <meta name="dcterms.description" content="Layout for canada.ca web pages, including banner, footer, widths and breakpoints">
  <meta name="robots" content="noindex, nofollow">
  <!--[if gte IE 9 | !IE ]><!-->
  <link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css">
  <!--Custom UCDG styles //-->
  <link rel="stylesheet" href="../../../../assets/css/ucdg-theme.css">
  <noscript>
  <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css">
  </noscript>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!--Custom UCDG script //-->
  <script src="../../../../assets/js/ucdg.js"></script>
  </head>
  <body  vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
  <ul id="wb-tphp">
    <li class="wb-slc"> <a class="wb-sl" href="#wb-cont">Skip to main content</a> </li>
    <li class="wb-slc"> <a class="wb-sl" href="#wb-info">Skip to "About government"</a> </li>
  </ul>
  <header class="menu-inverse">
    <div id="wb-bnr" class="container">
      <section id="wb-lng" class="text-right">
        <h2 class="wb-inv">Language selection</h2>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline margin-bottom-none">
              <li><a lang="fr" href="../../../../fr/systemes-conception/gcweb/mise-en-page/index.html">Français</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div id="menu-include"></div>
    </div>
    <div class="container">
      <nav id="wb-bc" property="breadcrumb">
        <h2>You are here:</h2>
        <ol class="breadcrumb">
          <li><a href="../../../index.html">User-Centred Design Guide</a></li>
          <li><a href="../../index.html">Design systems</a></li>
          <li><a href="../index.html">GCWeb design system</a></li>
        </ol>
      </nav>
    </div>
  </header>
  <main property="mainContentOfPage" class="container">
  <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Layout – GCWeb design system</h1>
  <div aria-hidden="true">
  <p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">GCWeb design system</p>
  <h1 class="gc-thickline mrgn-tp-0">Layout</h1>
  </div>
  <h2 class="h3">On this page</h2>
      <ul>
        <li><a href="#h-1">Banner</a></li>
        <li><a href="#h-2">Footer</a></li>
      <li><a href="#h-3">Width and breakpoints</a></li>
      
      </ul>
    <h2 id="h-1">Banner</h2>
    <p>For details on the:</p>
    <ul>
    <li>Government of Canada signature</li>
    <li>Language toggle</li>
    <li>Site search box</li>
    <li>Theme and topic menu</li>
    <li>Breadcrumb trail</li>
    <li>Background colour</li>
    </ul>
    <p>Refer to: <a href="https://design.canada.ca/common-design-patterns/global-header.html">Global header - Canada.ca design pattern</a></p>
       
        <h2 id="h-2">Footer</h2>
      <p>For details on the:</p>
    <ul>
    <li>Report a problem</li>
    <li>Share this page</li>
  <li>Date modified</li>
  <li>Footer links</li>
  <li>Sub-footer links</li>
  
  <li>Canada wordmark</li>
  </ul>
  <p>Refer to: <a href="https://design.canada.ca/common-design-patterns/site-footer.html">Site footer - Canada.ca design pattern</a></p>
    <h2 id="h-3">Width and breakpoints</h2>
       <p>The layout uses Bootstrap 3.  For full details, refer to: <a href="https://wet-boew.github.io/wet-boew-styleguide/design/grids-en.html">Grids</a></p>
       <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th><span class="fas fa-mobile-alt text-center"></span><br>
              Extra small devices
              <small class="text-nowrap"> Phones (&lt;768px)</small>
            </th>
            <th><span class="fas fa-tablet-alt text-center"></span><br>
              Small devices
              <small class="text-nowrap"> Tablets (≥768px)</small>
            </th>
            <th><span class="fas fa-laptop text-center"></span><br>
              Medium devices
              <small class="text-nowrap"> Desktops (≥992px)</small>
            </th>
            <th><span class="fas fa-desktop text-center"></span><br> 
              Large devices
              <small class="text-nowrap">Desktops (≥1200px)</small>
            </th>
          </tr>
        </thead>
        <tbody>
         
          <tr>
            <th scope="row">Container width</th>
            <td>None (auto)</td>
            <td>750px</td>
            <td>970px</td>
            <td>1170px</td>
          </tr>
          
          <tr>
            <th scope="row">Maximum number of columns</th>
            <td>12</td>
        <td>12</td>
        <td>12</td>
        <td>12</td>
          </tr>
          <tr>
            <th scope="row">Individual column width</th>
            <td>Auto</td>
            <td>~62px</td>
            <td>~81px</td>
            <td>~97px</td>
          </tr>
          <tr>
            <th scope="row">Gutter width</th>
        <td>15px left and 15px right of each grid cell</td>
            <td>15px left and 15px right of each grid cell</td>
        <td>15px left and 15px right of each grid cell</td>
        <td>15px left and 15px right of each grid cell</td>
          </tr>
          
          
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="pagedetails">
        <dl id="wb-dtmd">
          <dt>Date modified:&#32;</dt>
          <dd>
            <time property="dateModified">2023-01-23</time>
          </dd>
        </dl>
      </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script> 
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script> 
  <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>
  <div id="footer-include"></div>
  </body>
  </html>
  
