<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Badges – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Badges – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Badges – Standard web pages</h1>
</div>
		 <div class="all-pre wb-prettify">
<p>Badges are numerical indicators used to highlight the number of updates, new or unread items associated with a link.</p>
		 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Design options</a>
	  <ul>
		 <li><a href="#h-1-1">Basic badges</a></li>
      <li><a href="#h-1-2">Self collapsing badges</a></li>
	  </ul></li>
	  <li><a href="#h-2">Related components and functions</a></li>

		

    </ul>

<h2 id="h-1" >Design options</h2>

<h3 id="h-1-1">Basic badges</h3>
<p>Use to highlight new or updated items with a simple grey numeric, or blue button-like badge.</p>

<div class="row">
            <div class="col-md-7">
               <div class="ds-example">
                  <div class="wb-tabs ignore-session">
                     <div class="tabpanels">
                        <details id="tab1a">
                           <summary>Appearance</summary>
						   <div class="row">
						   <div class="col-md-8 col-lg-9">
							<p><a href="#">Inbox <span class="badge">42<span class="wb-inv"> unread emails</span></span></a></p>
							<p><a class="btn btn-primary" href="#">Inbox <span class="badge">42<span class="wb-inv"> unread emails</span></span></a></p>
						   </div>
						   </div>
                        </details>
                        <details id="tab1b">
                           <summary>Code</summary>
                           <details id="tab1b-html">
                              <summary>HTML</summary>
                              <div class="mrgn-tp-md"></div>
<pre><code>&lt;!-- Grey badge --&gt;
&lt;p&gt;&lt;a href="#"&gt;Inbox &lt;span class="badge"&gt;42&lt;span class="wb-inv"&gt; unread emails&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;

&lt;!-- Blue button-like badge --&gt;
&lt;p&gt;&lt;a class="btn btn-primary" href="#"&gt;Inbox &lt;span class="badge"&gt;42&lt;span class="wb-inv"&gt; unread emails&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
</code>
</pre>
                           </details>
                           <details id="tab1b-struts">
                              <summary>Struts</summary>
                              <div class="mrgn-tp-md"></div>
                              <p>
                                 ...
                              </p>
                           </details>
                        </details>
						<details id="app3">
<summary>Prototyping libraries</summary>
<p>Download the components library:</p>
<ul class="fa-ul">
	<li><a href="axure_library_link"><span class="fa fa-li fa-download"></span> Axure library</a></li>
	<li><a href="figma_ui_kit_link"><span class="fa fa-li fa-download"></span> Figma UI kit</a></li>
</ul>
</details>
                     </div>
                  </div>
               </div>
            </div>
			</div>
			
<div class="row mrgn-tp-lg">
<div class="col-md-6">
			<h4 class="mrgn-tp-0 text-muted">Correct use</h4>
<ul class="fa-ul">     
        <li><span class="fas fa-check fa-li text-success"></span>Place badges on the right side of the link</li>
        <li><span class="fas fa-check fa-li text-success"></span>Ensure the badge is dynamic, in that once items are actioned, the numeric value goes down</li>
        <li><span class="fas fa-check fa-li text-success"></span>Ensure it contains only numerical information</li>
        <li><span class="fas fa-check fa-li text-success"></span>Ensure the badge includes invisible text to make it descriptive</li>
		 </ul>
 </div>
<div class="col-md-6">
<h4 class="mrgn-tp-0 text-muted">Incorrect use</h4> 
<ul class="fa-ul">  
		<li><span class="fas fa-times fa-li text-danger"></span>Do not show there are zero "0" items; if there are no items, the badge should disappear</li>
        </ul>

</div>
</div>

<h3 id="h-1-2">Self collapsing badges</h3>
<p>Use when there are no new or unread items. </p>
 
 <div class="row">
            <div class="col-md-7">
               <div class="ds-example">
                  <div class="wb-tabs ignore-session">
                     <div class="tabpanels">
                        <details id="tab1a">
                           <summary>Appearance</summary>
						   <div class="row">
						   <div class="col-md-8 col-lg-9">
							<p><a href="#">Inbox <span class="badge"></span></a></p>
						   </div>
						   </div>
                        </details>
                        <details id="tab1b">
                           <summary>Code</summary>
                           <details id="tab1b-html">
                              <summary>HTML</summary>
                              <div class="mrgn-tp-md"></div>
<pre><code>&lt;p&gt;&lt;a href="#"&gt;Inbox&lt;span class="badge"&gt;&lt;/span&gt;&lt;/a&gt;&lt;/p&gt;
</code>
</pre>
                           </details>
                           <details id="tab1b-struts">
                              <summary>Struts</summary>
                              <div class="mrgn-tp-md"></div>
                              <p>
                                 ...
                              </p>
                           </details>
                        </details>
                     </div>
                  </div>
               </div>
            </div>
			</div>
			<div class="row mrgn-tp-lg">
			<div class="col-md-6">
			<h4 class="mrgn-tp-0 text-muted">Correct use</h4>
<ul class="fa-ul">     
        <li><span class="fas fa-check fa-li text-success"></span>Remove the content within the badge and it will self-collapse, rather than removing the badge</li>
        </ul>

</div>
</div>
<h2 id="h-2">Related components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Buttons -->
	  <li class="col-md-4" id="Buttons">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/buttons.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="buttons.html">Buttons</a></h3> 	 
	   </div></div></div></li>	 	   
	<!-- Labels -->
	  <li class="col-md-4" id="Labels">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/labels.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="labels.html">Labels</a></h3> 	 
	   </div></div></div></li>	
	<!-- Lists -->
	  <li class="col-md-4" id="Lists">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/lists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="lists.html">Lists</a></h3> 	 
	   </div></div></div></li>	
</ul>

  
 </div> 
  


         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>