<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
 <head>
<meta charset="utf-8">
<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
<title>Calendar – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Calendar – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Calendar – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Calendars can be used on any page where displaying a list of events in a calendar format is needed.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
<ul>

	<li><a href="#h-1">How to implement</a></li>
	<li><a href="#h-2">Display options</a></li>
	<li><a href="#h-3">Linking options</a>	 
	<li><a href="#h-4">Filtering events</a></li>
	<li><a href="#h-6">Pull events from a remote source</a></li>	
	<li><a href="#h-7">Configuration options and events</a></li>
	<li><a href="#h-8">Complementary components and functions</a></li>

</ul>


<h2 id="h-1">How to implement</h2>
<ol>
<li>Add a div element to the Web page with a <code>class</code> attribute containing "wb-calevt" and a unique name in a <code>data-calevt-src</code> attribute (e.g.: <code>&lt;div class="wb-calevt" data-calevt-src="unique-name"&gt;&lt;/div&gt;</code>).</li>
<li>Include in the div element a ordered list of events (ol element) with the following structure for each event:
<ol>
<li>The list element must start with a heading element (<code>h2</code> to <code>h5</code>, depending on the context of the page).</li>
<li>The heading element must include a link to the event description with the event title for the link text.</li>
<li>The event date must be provided in an HTML5 <code>time</code> element contained within a paragraph element (following the heading element). The date to be displayed is contained in the <code>time</code> element and an ISO-8601 date (e.g., 2010-03-11) is provided in the <code>datetime</code> attribute.</li>
</ol>
</li>
<li>Add a second <code>div</code> element to the Web page with an <code>id</code> attribute containing your <code>data-calevt-src</code> attribute's unique name from above (e.g., <code>&lt;div id="unique-name"&gt;&lt;/div&gt;</code>). This will hold the calendar interface.</li>
</ol>
<h2 id="h-2">Display options</h2>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#calendar8", "class": " cal-cnt-fluid                  "} ]}'>
<!--<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>-->
<p><span class="mrgn-tp-0 hidden">Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#calendar8", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#calendar8", "class": "cal-cnt-fluid", "live": true}, {"action": "toggle", "toggle": ".cl-cal-cnt-fluid", "live": true}]'>Fluid width</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div id="calendar8"></div>
<div class="wb-calevt" data-calevt-src="calendar8">
	<ol>
		<li id="disp5" class="cal-disp-onshow">
			<section>
				<h4><a href="https://www.canada.ca/en/revenue-agency.html">Multi-Day Event</a></h4>
				<p><time datetime="2021-04-12">April 12th, 2021</time> to <time datetime="2021-04-23">April 23th, 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>
		<li id="disp6" class="cal-disp-onshow">
			<section>
				<h4><a href="https://www.canada.gc.ca">Single-Day Event</a></h4>
				<p><time datetime="2021-05-05">May 5th 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>
		<li id="disp6" class="cal-disp-onshow">
			<section>
				<h4><a href="https://www.canada.gc.ca">Multi-Day Event</a></h4>
				<p><time datetime="2021-05-24">May 24th, 2021</time> to <time datetime="2021-06-04">June 4th, 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>
		
	</ol>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div id="calendar8"<span class="hidden cl-cal-cnt-fluid"> class="<strong>cal-cnt-fluid</strong>"</span>&gt;&lt;/div&gt;
&lt;div class="wb-calevt" data-calevt-src="calendar8"&gt;
	&lt;ol&gt;
		&lt;li id="disp5" class="cal-disp-onshow"&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.ca/en/revenue-agency.html"&gt;Multi-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-04-12"&gt;April 12th, 2021&lt;/time&gt; to &lt;time datetime="2021-04-23"&gt;April 23th, 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
		&lt;li id="disp6" class="cal-disp-onshow"&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.gc.ca"&gt;Single-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-05-05"&gt;May 5th 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
		&lt;li id="disp6" class="cal-disp-onshow"&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.gc.ca"&gt;Multi-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-05-24"&gt;May 24th, 2021&lt;/time&gt; to &lt;time datetime="2021-06-04"&gt;June 4th, 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;	
	&lt;/ol&gt;
&lt;/div&gt;
<span class="hidden cl-"> </span>
</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>
<h2 id="h-3" class="mrgn-bttm-0">Linking options</h2>
<div class="row">
<div class="col-md-6">
<h3 id="h-3-1">Link to event page</h3>
<p>In this method, the calendar links directly to the first link in each event (usually in the event heading).</p>
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div id="calendar1"></div>
<div class="wb-calevt" data-calevt-src="calendar1">
	<ol>
		<li>
			<section>
				<h4><a href="https://www.canada.gc.ca">Single-Day Event</a></h4>
				<p><time datetime="2021-03-09">March 9th 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>
		<li>
			<section>
				<h4><a href="https://www.canada.ca/en/revenue-agency.html">Multi-Day Event</a></h4>
				<p><time datetime="2021-03-22">March 22nd, 2021</time> to <time datetime="2021-03-26">March 26th, 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>		
	</ol>
</div>

</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div id="calendar1"&gt;&lt;/div&gt;
&lt;div class="wb-calevt" data-calevt-src="calendar1"&gt;
	&lt;ol&gt;
		&lt;li&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.gc.ca"&gt;Single-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-03-09"&gt;March 9th 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.ca/en/revenue-agency.html"&gt;Multi-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-03-22"&gt;March 22nd, 2021&lt;/time&gt; to &lt;time datetime="2021-03-26"&gt;March 26th, 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;		
	&lt;/ol&gt;
&lt;/div&gt;
</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>

<div class="col-md-6">
<h3 id="h-3-2">Link to details of the event</h3>
<p>In this method, the calendar links to the details of the event. This is used when an event has multiple links.</p>
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div id="calendar2"></div>
<div class="wb-calevt evt-anchor" data-calevt-src="calendar2">
	<ol>
		<li id="disp3">
			<section>
				<h4>Multi-Day Event</h4>
				<p><time datetime="2021-04-12">April 12th, 2021</time> to <time datetime="2021-04-23">April 23th, 2021</time></p>
				<p>Event Description</p>
				<p>Links:</p>
				<ul>
					<li><a href="https://www.canada.gc.ca">Multi-Day Event Link 1</a></li>
					<li><a href="https://www.canada.ca/en/revenue-agency.html">Multi-Day Event Link 2</a></li>
				</ul>
			</section>
		</li>
	</ol>
</div>

</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div id="calendar2"&gt;&lt;/div&gt;
&lt;div class="wb-calevt <strong>evt-anchor</strong>" data-calevt-src="calendar2"&gt;
	&lt;ol&gt;
		&lt;li id="disp3"&gt;
			&lt;section&gt;
				&lt;h4&gt;Multi-Day Event&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-04-12"&gt;April 12th, 2021&lt;/time&gt; to &lt;time datetime="2021-04-23"&gt;April 23th, 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
				&lt;p&gt;Links:&lt;/p&gt;
				&lt;ul&gt;
					&lt;li&gt;&lt;a href="https://www.canada.gc.ca"&gt;Multi-Day Event Link 1&lt;/a&gt;&lt;/li&gt;
					&lt;li&gt;&lt;a href="https://www.canada.ca/en/revenue-agency.html"&gt;Multi-Day Event Link 2&lt;/a&gt;&lt;/li&gt;
				&lt;/ul&gt;
			&lt;/section&gt;
		&lt;/li&gt;
	&lt;/ol&gt;
&lt;/div&gt;
</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>
</div>


<h2 id="h-4">Filtering events</h2>
<h3 id="h-4-1">Filter events by current month</h3>
<p>This option filters out events from the list that are not for the current month. Enable this option by adding the <code>cal-disp-onshow</code> class to each event that should be filtered by month.</p>
<p>Events that do not have the <code>cal-disp-onshow</code> class will always be visible.</p>
<div class="row">
<div class="col-md-7">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div id="calendar3"></div>
<div class="wb-calevt evt-anchor" data-calevt-src="calendar3">
	<ol>
		<li id="disp5" class="cal-disp-onshow">
			<section>
				<h4><a href="https://www.canada.ca/en/revenue-agency.html">Multi-Day Event</a></h4>
				<p><time datetime="2021-04-12">April 12th, 2021</time> to <time datetime="2021-04-23">April 23th, 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>
		<li id="disp6" class="cal-disp-onshow">
			<section>
				<h4><a href="https://www.canada.gc.ca">Single-Day Event</a></h4>
				<p><time datetime="2021-05-05">May 5th 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>
		<li id="disp6" class="cal-disp-onshow">
			<section>
				<h4><a href="https://www.canada.gc.ca">Multi-Day Event</a></h4>
				<p><time datetime="2021-05-24">May 24th, 2021</time> to <time datetime="2021-06-04">June 4th, 2021</time></p>
				<p>Event Description</p>
			</section>
		</li>
	</ol>
</div>

</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div id="calendar3"&gt;&lt;/div&gt;
&lt;div class="wb-calevt evt-anchor" data-calevt-src="calendar3"&gt;
	&lt;ol&gt;
		&lt;li id="disp5" class="<strong>cal-disp-onshow</strong>"&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.ca/en/revenue-agency.html"&gt;Multi-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-04-12"&gt;April 12th, 2021&lt;/time&gt; to &lt;time datetime="2021-04-23"&gt;April 23th, 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
		&lt;li id="disp6" class="<strong>cal-disp-onshow</strong>"&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.gc.ca"&gt;Single-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-05-05"&gt;May 5th 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
		&lt;li id="disp6" class="<strong>cal-disp-onshow</strong>"&gt;
			&lt;section&gt;
				&lt;h4&gt;&lt;a href="https://www.canada.gc.ca"&gt;Multi-Day Event&lt;/a&gt;&lt;/h4&gt;
				&lt;p&gt;&lt;time datetime="2021-05-24"&gt;May 24th, 2021&lt;/time&gt; to &lt;time datetime="2021-06-04"&gt;June 4th, 2021&lt;/time&gt;&lt;/p&gt;
				&lt;p&gt;Event Description&lt;/p&gt;
			&lt;/section&gt;
		&lt;/li&gt;
	&lt;/ol&gt;
&lt;/div&gt;
</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>
</div>

<h3 id="h-4-2">Out of range from today</h3>
<p>The calendar is initiated depending of today date and the date range of events. The starting date can be forced by configuring the plugin like: <code>data-wb-calevt='{"year": 2003, "month": 4}'</code>, or by adding the following id:</p>
<ul>
<li><code>id="calevt-out-1"</code> to start at the oldest date (first event on the calendar)</li>
<li><code>id="calevt-out-2"</code> to start at the last date (last event on the calendar)</li>
<li><code>id="calevt-out-3"</code> to start at today's date</li>
</ul>
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - out of range from today</summary>
<pre><code>&lt;!-- Exemple calevt-out-1 --&gt;
&lt;div id="calevt-out-1"&gt;&lt;/div&gt;
&lt;div class="wb-calevt" data-calevt-src="calevt-out-1"&gt;
	...
&lt;/div&gt;

&lt;!-- Example forced date --&gt;
&lt;div id="calendar1"&gt;&lt;/div&gt;
&lt;div class="wb-calevt" data-wb-calevt='{"year": 2021, "month": 5}' data-calevt-src="calendar1"&gt;
	...
&lt;/div&gt;
</code></pre>
		</details>
	</li>
</ul>


<h2 id="h-6">Pull events from a remote source</h2>
<h3 id="h-6-1">Ajax events</h3>
<p>In this method, events are pulled from a remote source.</p>
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - pull from a remote source</summary>
<pre><code>&lt;!-- In-page HTML --&gt;
&lt;div id="cal-ajax"&gt;&lt;/div&gt;
&lt;div class="wb-calevt evt-anchor" data-calevt-src="cal-ajax"&gt;
	&lt;ol data-calevt="ajax/cal-include1-en.html ajax/cal-include2-en.html ajax/cal-include3-en.html"&gt;&lt;/ol&gt;
&lt;/div&gt;

&lt;!-- Exemple cal-includex-en.html --&gt;
&lt;li&gt;
	&lt;section&gt;
		&lt;h4&gt;&lt;a href="https://www.canada.ca" rel="external"&gt;Ajax 1 - Single-Day Event&lt;/a&gt;&lt;/h4&gt;
		&lt;p&gt;&lt;time datetime="2013-03-11"&gt;Ajax 1 - March 11th, 2013&lt;/time&gt;&lt;/p&gt;
		&lt;p&gt;Event Description&lt;/p&gt;
	&lt;/section&gt;
&lt;/li&gt;
&lt;li&gt;
	...
&lt;/li&gt;
...
</code></pre>
		</details>
	</li>
</ul>

<h2 id="h-7">Configuration options and events</h2>
<p>For configuration options and events, refer to: <a href="https://wet-boew.github.io/v4.0-ci/docs/ref/cal-events/cal-events-en.html" rel="external">Calendar of events on GitHub</a>.</p>




<h2 id="h-8">Complementary components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Ajax -->
	  <li class="col-md-4" id="Ajax">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/ajax.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="ajax.html">Data Ajax</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Forms -->
	  <li class="col-md-4" id="Forms">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/forms.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="forms.html">Forms</a></h3> 	 
	   </div></div></div></li>
</ul>
 </div> 
 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
 <!-- Write closure template -->
 <script type="text/javascript">
var defPreFooter = document.getElementById("def-preFooter");
defPreFooter.outerHTML = wet.builder.preFooter({
dateModified: "2020-05-05",
showPostContent: true,
showFeedback: false,
showShare: false
});
 </script>
</main>
<div id="def-footer">
</div>
<!-- Write closure template -->
<script type="text/javascript">
 var defFooter = document.getElementById("def-footer");
 defFooter.outerHTML = wet.builder.footer({
 showFooter: true,
 showFeatures: false
 });
</script>
<!-- Write closure template -->
<script type="text/javascript">
 document.write(wet.builder.refFooter({
 }));
</script>
<script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
 </body>
</html>