<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Code – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Code – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Code – Standard web pages</h1>
</div>
<p>Use to emulate source code and display it in monospace font.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Design options</a>
	  <ul>
		 <li><a href="#h-1-1">Inline code</a></li>
		 		 <li><a href="#h-1-2">Code block (prettify)</a></li>
				 </ul></li>
		 <li><a href="#h-2">Complementary components and functions</a></li>	 
    </ul>

<h2 id="h-1" >Design options</h2>
<h3 id="h-1-1">Inline code</h3>
<p>Use to emulate snippets of code (such as HTML) within a regular sentence.</p>
<div class="row">
<div class="col-md-7">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<p>Your text <code>&lt;a href=&quot;#&quot;&gt;link&lt;/a&gt;</code> more text.</p>
</div>
</details>
<!-- Code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;p&gt;Your text &lt;code&gt;&lt;a href=&quot;#&quot;&gt;link&lt;/a&gt;&lt;/code&gt; more text.&lt;/p&gt;
</code></pre>
<p><strong>Coding considerations:</strong></p>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Wrap snippets (one line or less) of code within a <code>&lt;code&gt;</code> tag</li>
<li><span class="fas fa-check fa-li text-success"></span>Ensure to use <abbr title="American Standard Code for Information Interchange">ASCII</abbr> code so the code example renders properly:
          <ul>
            <li>Opening brackets (<code>&lt;</code>) = <code>&amp;lt;</code></li>
            <li>Closing brackets(<code>&gt;</code>) = <code>&amp;gt;</code></li>
            <li>Opening quote (<code>"</code>) = <code>&amp;quot;</code></li>
          </ul>
        </li>
</ul>

</details>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>
</div>

<h3 id="h-1-2">Code block (prettify)</h3>
<p>Use to emulate multiple lines (blocks) of code (such as HTML).</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<!--<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>-->
<form>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#numbers1, #numbers2", "class": "hidden                   "} ]}'>
<p><span class="h4 mrgn-tp-0">Line numbers</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#numbers1, #numbers2", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-linenums", "live": true}]'>Show line numbers</li>
</ul>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<!-- Field flow warnings -->
<div class="panel panel-body brdr-0 brdr-rds-0">
<span id="numbers1">
<div class="wb-prettify all-pre">
<pre><code>&lt;div class="row"&gt;
  &lt;div class="col-md-12"&gt;
    &lt;p&gt;Your content...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>
</span>
<span class="hidden cl-linenums">
<div class="wb-prettify">
<pre class="linenums"><code>&lt;div class="row"&gt;
  &lt;div class="col-md-12"&gt;
    &lt;p&gt;Your content...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</div>
</span>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span id="numbers2">&lt;div class="<strong>wb-prettify</strong>"&gt;
&lt;pre&gt;&lt;code&gt;
  &lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
      &lt;p&gt;Your content...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</span><span class="hidden cl-linenums">&lt;div class="<strong>wb-prettify</strong>"&gt;
&lt;pre class="<strong>linenums</strong>"&gt;&lt;code&gt;
  &lt;div class="row"&gt;
    &lt;div class="col-md-12"&gt;
      &lt;p&gt;Your content...&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/code&gt;&lt;/pre&gt;
&lt;/div&gt;</span>
</code></pre>
<p><strong>Coding considerations:</strong></p>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Apply <code>class="wb-prettify"</code> on a <code>&lt;div&gt;</code> around the code block.</li>
		<li><span class="fas fa-check fa-li text-success"></span>Apply <code>class="all-pre wb-prettify"</code> on a <code>&lt;div&gt;</code> around all the code of your page, to prettify all <code>&lt;pre&gt;</code>.</li>
		<li><span class="fas fa-check fa-li text-success"></span><span class="fas fa-check fa-li text-success"></span>Apply <code>class="linenums"</code> to a <code>&lt;pre&gt;</code> or <code>&lt;code&gt;</code> element to add line numbers. Alternatively use <code>class="wb-prettify linenums"</code> to apply line numbers to all applicable <code>pre</code> elements on the page. Specify the starting number by adding <code>linenums:#</code> before <code>linenums</code>.</li>
<li><span class="fas fa-check fa-li text-success"></span>Ensure to use <abbr title="American Standard Code for Information Interchange">ASCII</abbr> code so the code example renders properly:
          <ul>
            <li>Opening brackets (<code>&lt;</code>) = <code>&amp;lt;</code></li>
            <li>Closing brackets(<code>&gt;</code>) = <code>&amp;gt;</code></li>
            <li>Opening quote (<code>"</code>) = <code>&amp;quot;</code></li>
          </ul>
        </li>
</ul>
</details>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
</div>
</div>




<h2 id="h-2">Complementary components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Keyboard -->
	  <li class="col-md-4" id="Keyboard">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/keyboard.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="keyboard.html">Keyboard keys</a></h3> 	 
	   </div></div></div></li>	 
   

</ul>

 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>