<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Expand/hide – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Expand/hide – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Expand/hide – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>The expand/hide component (also known as accordion or expand/collapse) allows content to be hidden until requested. The pattern consists of a trigger link that shows or hides the content.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">When to use</a>
	  	  <ul>
		 <li><a href="#h-1-1">Presenting a choice between mutually exclusive answers</a></li>
		<li><a href="#h-1-2">Presenting secondary information</a></li>
		</ul>
		</li>
      <li><a href="#h-2">How to implement</a></li>
		<li><a href="#h-3">Related components and functions</a></li>
    </ul>
<h2 id="h-1">When to use</h2>
<p>The expand/hide component can be used in 2 situations, when presenting a choice between mutually exclusive answers or when presenting secondary information.</p>
<h3>Presenting a choice between mutually exclusive answers</h3>
<p>Use this pattern when people need to get different answers depending on their situation and when these answers are mutually exclusive.<p>
<p>This reduces the risk of having people wrongly think they got the answer that applies to their situation.</p>
<h4>Example</h4>
<p>Below, real life example from: <a href="https://www.canada.ca/en/revenue-agency/services/child-family-benefits/canada-child-benefit-overview/canada-child-benefit-before-you-apply.html">Canada child benefit - Who can apply</a></p>
<div class="panel panel-default outset">
 <div class="panel-body">
 <p><span class="h4">Determine if you are in a shared custody situation</span></p>
  <p>Does the child spend their time:</p>
  <ul class="list-unstyled">
    <li>
      <details>
        <summary>about equally between both parents</summary>
        <p>If the child shares their time about equally between the parents, then both parents are considered to have <strong>shared custody</strong> of that child...</p>
      </details>
    </li>
    <li>
      <details>
        <summary>mostly with you</summary>
        <p>If the child lives with you most of the time, you are considered to have <strong>primary custody</strong> for the purposes of the Canada child benefit...</p>
      </details>
    </li>
    <li>
      <details>
        <summary>mostly with the other parent</summary>
        <p>If the child lives with the other parent most of the time, the other parent is considered to have <strong>primary custody</strong> for the purposes of the Canada child benefit...</p>
      </details>
    </li>
  </ul>
</div>
</div>
<h4>Supporting blog post</h4>
<div class="panel panel-default brdr-rds-0 outset">
    <div class="panel-body"><div class="row">
    <div class="col-sm-3"><p class="h3 mrgn-tp-0"><a class="stretched-link" href="https://blog.canada.ca/2020/09/18/expand-collapse">Using expand/collapse for making choices</a></p></div>
<div class="col-sm-6">
<p>In November 2019, the DTO modified Canada.ca guidance to allow the use of the expand/collapse design pattern to present a choice between mutually exclusive answers.</p>
<p><small>[18 September 2020]</small> </p>
</div>
<!--
<div class="col-sm-3">
<a href="#"><img class="img-responsive hidden-xs thumbnail" src="images/components/lists.jpg"></a>
</div>
-->
</div></div>
</div>


<h3>Presenting secondary information</h3>
<p>Use this pattern to prevent secondary content from interfering with the main task.</p>
<p>This can be content that applies to most people, but that only a few people may need to use (for example, a privacy statement or additional details not needed to accomplish the main task).</p>
<p>It can also be content that applies only to a minority of people (such as when there is specific information for a specific audience).</p>
<h4>Example</h4>
<p>Below, real life example from: <a href="https://www.canada.ca/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-how-apply.html">CEWS - How to apply</a></p>
<div class="panel panel-default outset">
 <div class="panel-body">
 <p><span class="h4">Apply for CEWS</span></p>
  <p>You must submit a separate application for each claim period you are eligible for, and for each payroll (RP) account you have.</p>
  <details>
    <summary>Read the Privacy Statement</summary>
    <p>When you apply for the Canada Emergency Wage Subsidy (CEWS), your information is collected under the authority of the Income Tax Act as part of the Government of Canada’s response to the COVID-19 pandemic. At this time the relevant personal information bank, CRA PPU 231, may not have been registered...</p>
  </details>
 <p>For an in-depth understanding of the online application requirements and input fields, refer to the <a href="/en/revenue-agency/services/subsidy/emergency-wage-subsidy/cews-apply-guide.html">application guide</a>.</p> 
</div>
</div>
		

<h2 id="h-2">How to implement</h2>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#choice, #secondary", "class": "hidden"} ]}'>
<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "toggle", "toggle": ".cl-choice", "live": true}]'>Presenting a choice</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#choice, #secondary", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-secondary", "live": true}]'>Presenting secondary information</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<!-- Field flow warnings -->
<div class="panel panel-body brdr-0 brdr-rds-0">
<p>Your primary text...</p>
<ul class="list-unstyled cl-choice" id="secondary">
 <li>
  <details>
   <summary>First option</summary>
   <p>Your text for the first option...</p>
  </details>
 </li>
 <li>
  <details>
   <summary>Second option</summary>
   <p>Your text for the second option...</p>
  </details>
 </li>
 <li>
  <details>
   <summary>Third option</summary>
   <p>Your text for the third option...</p>
  </details>
 </li>
</ul>
<span class="cl-secondary hidden">
  <details>
   <summary>Secondary information</summary>
   <p>Your text for the secondary information...</p>
  </details>
 </span>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;p&gt;Your primary text...&lt;/p&gt;
<span id="secondary" class="cl-choice">&lt;ul class="<strong>list-unstyled</strong>"&gt;
 &lt;li&gt;
  &lt;details&gt;
   &lt;summary&gt;First option&lt;/summary&gt;
   &lt;p&gt;Your text for the first option...&lt;/p&gt;
  &lt;/details&gt;
 &lt;/li&gt;
 &lt;li&gt;
  &lt;details&gt;
   &lt;summary&gt;Second option&lt;/summary&gt;
   &lt;p&gt;Your text for the second option...&lt;/p&gt;
  &lt;/details&gt;
 &lt;/li&gt;
 &lt;li&gt;
  &lt;details&gt;
   &lt;summary&gt;Third option&lt;/summary&gt;
   &lt;p&gt;Your text for the third option...&lt;/p&gt;
  &lt;/details&gt;
 &lt;/li&gt;
&lt;/ul&gt;</span><span class="cl-secondary hidden">&lt;details&gt;
  &lt;summary&gt;Secondary information&lt;/summary&gt;
  &lt;h3&gt;Section title&lt;/h3&gt;
  &lt;p&gt;Your text for the secondary information...&lt;/p&gt;
&lt;/details&gt;</span>
</code></pre>
<p><strong>Coding considerations:</strong></p>
<ul class="fa-ul">
			<li><span class="fas fa-times fa-li text-danger"></span>Do not add any styling decoration aside from the default
			<ul>
				<li>This includes <code>wells</code>, <code>panels</code> or <code>thumbnails</code>, as this adds unnecessary borders</li>
			</ul>
			</li>
</ul>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<p>Download the components library:</p>
<ul class="fa-ul">
<li><a href="axure_library_link"><span class="fa fa-li fa-download"></span> Axure library</a></li>
<li><a href="figma_ui_kit_link"><span class="fa fa-li fa-download"></span> Figma UI kit</a></li>
</ul>
</details>
</div>
</div>
</div>
</div>
</div>
<div class="row">		  			  
		<div class="col-md-5">
		<h3 class="h4 text-muted">Use expand/hide</h3>
		<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span>to hide secondary or tertiary content, as it is likely users rarely need to expand this information</li>
			<li><span class="fas fa-check fa-li text-success"></span>when presenting a choice between mutually exclusive answers</li>
			<li><span class="fas fa-check fa-li text-success"></span>to hide content that users only need to read once</li>  
			<li><span class="fas fa-check fa-li text-success"></span>for content such as:
			<ul>
				<li>Examples of concepts, rules, etc.</li>
				<li>Niche or rarely-used reference content that is not relevant to the vast majority of users</li>	
			</ul>
			</li>
		</ul>
		</div>

		<div class="col-md-7">
		<h3 class="h4 text-muted"><strong>Don't use expand/hide</strong> </h3>
		<ul class="fa-ul">	
			<li><span class="fas fa-times fa-li text-danger"></span>to hide primary or essential content unless they are part of a choice between mutually exclusive answers</li>
			<li><span class="fas fa-times fa-li text-danger"></span>to tidy up the look of a page
			<ul>
				<li>Separate the content over several pages, or place the information in blocks to make it look better</li>
			</ul>
			</li>
			  <li><span class="fas fa-times fa-li text-danger"></span>if the majority of people need the content to accomplish the main task (unless the answers are mutually exclusive)</li>
			  <li><span class="fas fa-times fa-li text-danger"></span>if people need to answer several questions to get the answer that applies to them (use <a href="fieldflow.html">field flow</a> instead)</li>
			  <li><span class="fas fa-times fa-li text-danger"></span>if one of the mutually exclusive answers has multiple sub-tasks or more than one page of supporting content (use <a href="fieldflow.html">field flow</a> instead)</li>
		</ul>
		</div>
		</div>
	
<h2 id="h-3">Related components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- and/or -->
	  <li class="col-md-4" id="and_or">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/and_or.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="and_or.html">And/or design</a></h3> 	 
	   </div></div></div></li>	 
	<!-- dismissable -->
	  <li class="col-md-4" id="dismissable">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/dismissable.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="dismissable.html">Dismissable content</a></h3> 	 
	   </div></div></div></li>
	<!-- invisible and visible -->
	  <li class="col-md-4" id="invisible_visible">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/invisible_visible.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="invisible_visible.html">Invisible and visible content</a></h3> 	 
	   </div></div></div></li>	   
	<!-- toggle -->
	  <li class="col-md-4" id="toggle">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/toggle.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="toggle.html">Toggle</a></h3> 	 
	   </div></div></div></li>	
</ul>
 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>