<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Feedback – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
                   <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Feedback – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Feedback – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to allow users to provide feedback or report any problems they experience with a specific Web page or the Web site in general.</p>
   <h2 class="h3">On this page</h2>
    <ul>
		<li><a href="#h-1">Report a problem</a>
	  <ul>
	  <li><a href="#h-1-1">When to use </a></li>
	  <li><a href="#h-1-3">Working example</a></li>
	  </ul>	  
	  </li>
	  <li><a href="#h-2">Feedback widget</a>
	  <ul>
      <li><a href="#h-2-1">Working example</a></li>
	  
	  <li><a href="#h-2-2">Supporting blog post</a></li>
	  </ul>
	  </li><li><a href="#h-4">Complementary components and functions</a></li>

    </ul>
<h2 id="h-1">Report a problem</h2>
<p>Use to allow people to provide feedback via a form for any problems they experience with the web page they are on.</p>
<h3 id="h-1-1">When to use</h3>
<section class="alert alert-warning">
<p>This component is <strong>mandatory</strong> on all Webpages.</p>
</section>
<p>Use this component to enable page-level feedback. When people click on the Report a problem button on this page, they are presented with common issues to select using checkboxes. If none of these issues are applicable, they may select "Other" to provide more details.</p>
<h4 class="text-muted">Correct use</h4>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>The button, label, placement and privacy statement are mandatory</li>
<li><span class="fas fa-check fa-li text-success"></span>The component is presented as a button using a button styled for secondary actions, which triggers a feedback form to expand when clicked</li>
<li><span class="fas fa-check fa-li text-success"></span>The label should read: "Report a problem or mistake on this page"</li>
<li><span class="fas fa-check fa-li text-success"></span>The button is positioned directly below the main content area, left-aligned</li>
<li><span class="fas fa-check fa-li text-success"></span>Privacy statement: positioned within a dismissible overlay</li>
			<li><span class="fas fa-check fa-li text-success"></span>The pattern for the contents of the feedback form is recommended. If meaningful data is not being received, a mailto link can be used as an alternative</li>
			<li><span class="fas fa-check fa-li text-success"></span>Make sure to replace the "#" placeholder in the form action line with whatever your institution uses to collect the data from the form. Consider sending the form to a generic email inbox if you don't have a server set up to handle this type of form</li>            
		</ul>
<h3 id="h-1-3">Working example</h3>
<p>Below, real life example from: <a href="https://www.canada.ca/en/services/taxes/income-tax.html">Income tax</a>.</p>			
<div class="row">
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
<div class="col-sm-9">
<!--<div class="col-sm-6 col-md-5 col-lg-4">-->
    <details class="brdr-0">        
<summary class="btn btn-default text-center">Report a problem or mistake on this page</summary>
<div class="clearfix"></div>
<div class="well row">
    <div><div class="gc-rprt-prblm">
    <div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl">			
			<form id="gc-rprt-prblm-form" action="#" method="post">			
			<input name="emailTemplateservcanE" type="hidden" value="ZmVlZGJhY2stcmV0cm9hY3Rpb25AY2FuYWRh">
			<input name="emailTemplate" type="hidden" value="90663d71-5f83-4e26-8817-f46db3e05513">
			<input name="successUrl" type="hidden" value="/content/canadasite/en/contact/questionsthanks.html"> 
			<input name="failureUrl" type="hidden" value="/content/canadasite/en/contact/questionsfailure.html"> 			
			<input type="hidden" name="externalReferer" value="">				
            <input type="hidden" name="pageTitle" value="Income tax">
            <input type="hidden" name="submissionPage" value="/content/canadasite/en/services/taxes/income-tax.html">
            <input type="hidden" name="lang" value="en">
            <input type="hidden" name="pageOwner" value="gc:institutions/service-canada">
            <input name="subject" type="hidden" value="Report a problem or mistake on this page">
            <fieldset>
                <legend><span class="field-name">Please select all that apply:</span></legend>
                 <div class="checkbox">
                    <label for="problem1"><input name="problem1" id="problem1" type="checkbox" value="Yes" data-reveal="#broken" data-gc-analytics-rap="A link, button or video is not working-Un lien, un bouton ou une vidéo ne fonctionne pas">A link, button or video is not working</label>
                    <input name="problem1" type="hidden" value="">
                </div>
                <div class="checkbox">
                    <label for="problem2"><input name="problem2" id="problem2" type="checkbox" value="Yes" data-reveal="#spelling" data-gc-analytics-rap="It has a spelling mistake-Il y a une erreur d'orthographe ou de grammaire">It has a spelling mistake</label>
                    <input name="problem2" type="hidden" value="">
                </div>
                <div class="checkbox">
                    <label for="problem3"><input name="problem3" id="problem3" type="checkbox" value="Yes" data-reveal="#wrong" data-gc-analytics-rap="Information is missing-Les renseignements sont incomplets">Information is missing</label>
                    <input name="problem3" type="hidden" value="">
               </div>
                <div class="checkbox">
                    <label for="problem4"><input name="problem4" id="problem4" type="checkbox" value="Yes" data-reveal="#outdated" data-gc-analytics-rap=" Information is outdated or wrong-L'information n'est plus à jour ou est erronée">Information is outdated or wrong</label>
                    <input name="problem4" type="hidden" value="">
                </div>
                <div class="checkbox">
                    <label for="problem5"><input name="problem5" id="problem5" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap=" Login error when trying to access an account (e.g. My Service Canada Account)-Message d'erreur à l'ouverture de la session lorsque je tente d'accéder à un compte (ex. Mon dossier Service Canada)">Login error when trying to access an account (e.g. My Service Canada Account)</label>
                    <input name="problem5" type="hidden" value="">
                </div>
   					<ul>
					<li class="checkbox">
                        <label for="problem6a"><input name="problem6" id="problem6a" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="GC Key access-Accès CléGC">GC Key access</label>
                        <input name="problem6" type="hidden" value="">
                     </li>
					<li class="checkbox">
                        <label for="problem7"><input name="problem7" id="problem7" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="SecureKey Concierge (Banking Credential) access-Accès SecureKey Service de Concierge (justificatifs d'identité bancaires)">SecureKey Concierge (Banking Credential) access </label>
                        <input name="problem7" type="hidden" value="">
                     </li>
					<li class="checkbox">
                        <label for="problem8"><input name="problem8" id="problem8" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Personal Access Code (PAC) problems or EI Access Code (AC) problems-Problème avec le Code d'accès personnel (CAP) ou avec le Code d'accès (CA) de l'assurance emploi">Personal Access Code (PAC) problems or EI Access Code (AC) problems</label>
                        <input name="problem8" type="hidden" value="">
                     </li>	
					<li class="checkbox">
                        <label for="problem9"><input name="problem9" id="problem9" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Social Insurance Number (SIN) validation problems-Problème lié à la validation du numéro d'assurance sociale (NAS)">Social Insurance Number (SIN) validation problems</label>
                        <input name="problem9" type="hidden" value="">
                     </li>								
					<li class="checkbox">
                        <label for="problem10"><input name="problem10" id="problem10" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Other login error not in this list-Autre erreur lors de l'ouverture de session qui ne figure pas sur cette liste">Other login error not in this list</label>
                        <input name="problem10" type="hidden" value="">
                     </li>		 
                     </ul>
				    <div class="checkbox">
                    <label for="problem11"><input name="problem11" id="problem11" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="I can't find what I'm looking for-Je n'arrive pas à trouver ce que je cherche">I can't find what I'm looking for</label>
                    <input name="problem11" type="hidden" value="">
                </div>
             		<div class="checkbox">
                    <label for="problem12"><input name="problem12" id="problem12" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Other issue not in this list-Autre problème qui ne figure pas sur cette liste">Other issue not in this list</label>
                    <input name="problem12" type="hidden" value="">
                </div>                 
                   </fieldset>
            <button data-wb5-click="postback@#gc-rprt-prblm-form@" type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'>Submit</button>

        </form>
    </div>
    <div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide">
        <h3>Thank you for your help!</h3>
<p>You will not receive a reply. For enquiries,&nbsp;<a href="https://www.canada.ca/en/contact/index.html">contact us</a>.</p>

    </div>
</div></div>
</div>

    </details>
</div>
</div>

</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="row"&gt;
  &lt;div class="col-sm-6 col-md-5 col-lg-4"&gt;
    &lt;details class="brdr-0"&gt;
      &lt;summary class="btn btn-default text-center"&gt;Report a problem or mistake on this page&lt;/summary&gt;
      &lt;div class="clearfix"&gt;&lt;/div&gt;
      &lt;div class="well row"&gt;
        &lt;div&gt;
          &lt;div class="gc-rprt-prblm"&gt;
            &lt;div class="gc-rprt-prblm-frm gc-rprt-prblm-tggl"&gt;
              &lt;form id="gc-rprt-prblm-form" action="#" method="post"&gt;
                &lt;input name="emailTemplateservcanE" type="hidden" value="ZmVlZGJhY2stcmV0cm9hY3Rpb25AY2FuYWRh"&gt;
                &lt;input name="emailTemplate" type="hidden" value="90663d71-5f83-4e26-8817-f46db3e05513"&gt;
                &lt;input name="successUrl" type="hidden" value="/content/canadasite/en/contact/questionsthanks.html"&gt; 
                &lt;input name="failureUrl" type="hidden" value="/content/canadasite/en/contact/questionsfailure.html"&gt; 			
                &lt;input type="hidden" name="externalReferer" value=""&gt;				
                &lt;input type="hidden" name="pageTitle" value="Income tax"&gt;
                &lt;input type="hidden" name="submissionPage" value="/content/canadasite/en/services/taxes/income-tax.html"&gt;
                &lt;input type="hidden" name="lang" value="en"&gt;
                &lt;input type="hidden" name="pageOwner" value="gc:institutions/service-canada"&gt;
                &lt;input name="subject" type="hidden" value="Report a problem or mistake on this page"&gt;
                &lt;fieldset&gt;
                  &lt;legend&gt;&lt;span class="field-name"&gt;Please select all that apply:&lt;/span&gt;&lt;/legend&gt;
                  &lt;div class="checkbox"&gt;
                    &lt;label for="problem1"&gt;&lt;input name="problem1" id="problem1" type="checkbox" value="Yes" data-reveal="#broken" data-gc-analytics-rap="A link, button or video is not working-Un lien, un bouton ou une vidéo ne fonctionne pas"&gt;A link, button or video is not working&lt;/label&gt;
                    &lt;input name="problem1" type="hidden" value=""&gt;
                  &lt;/div&gt;
                  &lt;div class="checkbox"&gt;
                    &lt;label for="problem2"&gt;&lt;input name="problem2" id="problem2" type="checkbox" value="Yes" data-reveal="#spelling" data-gc-analytics-rap="It has a spelling mistake-Il y a une erreur d'orthographe ou de grammaire"&gt;It has a spelling mistake&lt;/label&gt;
                    &lt;input name="problem2" type="hidden" value=""&gt;
                  &lt;/div&gt;
                  &lt;div class="checkbox"&gt;
                    &lt;label for="problem3"&gt;&lt;input name="problem3" id="problem3" type="checkbox" value="Yes" data-reveal="#wrong" data-gc-analytics-rap="Information is missing-Les renseignements sont incomplets"&gt;Information is missing&lt;/label&gt;
                    &lt;input name="problem3" type="hidden" value=""&gt;
                  &lt;/div&gt;
                  &lt;div class="checkbox"&gt;
                    &lt;label for="problem4"&gt;&lt;input name="problem4" id="problem4" type="checkbox" value="Yes" data-reveal="#outdated" data-gc-analytics-rap=" Information is outdated or wrong-L'information n'est plus à jour ou est erronée"&gt;Information is outdated or wrong&lt;/label&gt;
                    &lt;input name="problem4" type="hidden" value=""&gt;
                  &lt;/div&gt;
                  &lt;div class="checkbox"&gt;
                    &lt;label for="problem5"&gt;&lt;input name="problem5" id="problem5" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap=" Login error when trying to access an account (e.g. My Service Canada Account)-Message d'erreur à l'ouverture de la session lorsque je tente d'accéder à un compte (ex. Mon dossier Service Canada)"&gt;Login error when trying to access an account (e.g. My Service Canada Account)&lt;/label&gt;
                    &lt;input name="problem5" type="hidden" value=""&gt;
                  &lt;/div&gt;
                  &lt;ul&gt;
                    &lt;li class="checkbox"&gt;
                      &lt;label for="problem6a"&gt;&lt;input name="problem6" id="problem6a" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="GC Key access-Accès CléGC"&gt;GC Key access&lt;/label&gt;
                      &lt;input name="problem6" type="hidden" value=""&gt;
                    &lt;/li&gt;
                    &lt;li class="checkbox"&gt;
                      &lt;label for="problem7"&gt;&lt;input name="problem7" id="problem7" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="SecureKey Concierge (Banking Credential) access-Accès SecureKey Service de Concierge (justificatifs d'identité bancaires)"&gt;SecureKey Concierge (Banking Credential) access &lt;/label&gt;
                      &lt;input name="problem7" type="hidden" value=""&gt;
                    &lt;/li&gt;
                    &lt;li class="checkbox"&gt;
                      &lt;label for="problem8"&gt;&lt;input name="problem8" id="problem8" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Personal Access Code (PAC) problems or EI Access Code (AC) problems-Problème avec le Code d'accès personnel (CAP) ou avec le Code d'accès (CA) de l'assurance emploi"&gt;Personal Access Code (PAC) problems or EI Access Code (AC) problems&lt;/label&gt;
                      &lt;input name="problem8" type="hidden" value=""&gt;
                    &lt;/li&gt;
                    &lt;li class="checkbox"&gt;
                      &lt;label for="problem9"&gt;&lt;input name="problem9" id="problem9" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Social Insurance Number (SIN) validation problems-Problème lié à la validation du numéro d'assurance sociale (NAS)"&gt;Social Insurance Number (SIN) validation problems&lt;/label&gt;
                      &lt;input name="problem9" type="hidden" value=""&gt;
                    &lt;/li&gt;
                    &lt;li class="checkbox"&gt;
                      &lt;label for="problem10"&gt;&lt;input name="problem10" id="problem10" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Other login error not in this list-Autre erreur lors de l'ouverture de session qui ne figure pas sur cette liste"&gt;Other login error not in this list&lt;/label&gt;
                      &lt;input name="problem10" type="hidden" value=""&gt;
                    &lt;/li&gt;
                  &lt;/ul&gt;
                  &lt;div class="checkbox"&gt;
                    &lt;label for="problem11"&gt;&lt;input name="problem11" id="problem11" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="I can't find what I'm looking for-Je n'arrive pas à trouver ce que je cherche"&gt;I can't find what I'm looking for&lt;/label&gt;
                    &lt;input name="problem11" type="hidden" value=""&gt;
                  &lt;/div&gt;
                  &lt;div class="checkbox"&gt;
                    &lt;label for="problem12"&gt;&lt;input name="problem12" id="problem12" type="checkbox" value="Yes" data-reveal="#find" data-gc-analytics-rap="Other issue not in this list-Autre problème qui ne figure pas sur cette liste"&gt;Other issue not in this list&lt;/label&gt;
                    &lt;input name="problem12" type="hidden" value=""&gt;
                  &lt;/div&gt;
                &lt;/fieldset&gt;
                &lt;button data-wb5-click="postback@#gc-rprt-prblm-form@" type="submit" class="btn btn-primary wb-toggle" data-toggle='{"stateOff": "hide", "stateOn": "show", "selector": ".gc-rprt-prblm-tggl"}'&gt;Submit&lt;/button&gt;
              &lt;/form&gt;
            &lt;/div&gt;
            &lt;div class="gc-rprt-prblm-thnk gc-rprt-prblm-tggl hide"&gt;
              &lt;h3&gt;Thank you for your help!&lt;/h3&gt;
              &lt;p&gt;You will not receive a reply. For enquiries,&nbsp;&lt;a href="https://www.canada.ca/en/contact/index.html"&gt;contact us&lt;/a&gt;.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/details&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
</div>
</div>

<h2 id="h-2">Feedback widget</h2>
<h3 id="h-2-1">Working example</h3>
<p>Below, real life example from: <a href="https://www.canada.ca/en/revenue-agency/services/subsidy/emergency-wage-subsidy.html">Canada Emergency Wage Subsidy (CEWS)</a>
<div class="row">
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
  <div class="row row-no-gutters">
    <div class="col-sm-10 col-lg-10">
      <section class="gc-pg-hlpfl provisional">
        <div class="well mrgn-bttm-0">
          <form id="gc-pg-hlpfl-frm" action="#" method="post" autocomplete="off" class="provisional wb-postback" data-wb-postback='{"success":".gc-pg-hlpfl-thnk","content":"#gc-pg-hlpfl-frm"}'>
            <input type="hidden" name="institutionopt" value="CRA">
            <input type="hidden" name="themeopt" value="">
            <input type="hidden" name="sectionopt" value="">
            <input type="hidden" name="pageTitle" value="">
            <input type="hidden" name="emailTemplate" value="">
            <div class="gc-pg-hlpfl-btn">
              <div class="row row-no-gutters">
                <div class="col-xs-12 col-sm-7 mrgn-tp-sm">
                  <h2 class="mrgn-tp-sm h5">Did you find what you were looking for?</h2>
                </div>
                <div class="col-xs-8 col-sm-5 text-right">
                  <button type="submit" name="helpful" value="Yes" class="btn btn-primary" data-gc-analytics-wtph>Yes</button>
                  <button type="button" class="btn btn-primary mrgn-lft-sm nojs-hide" data-wb-doaction='[									{"action":"removeClass","source":".gc-pg-hlpfl-no","class":"nojs-show"},
                    {"action":"addClass","source":".gc-pg-hlpfl-btn","class":"hide"}
                    ]' data-gc-analytics-wtph-no>No</button>
                </div>
              </div>
            </div>
            <p class="h3 hidden nojs-show">If not, tell us why:</p>
            <div class="gc-pg-hlpfl-no nojs-show">
              <fieldset>
                <legend class="h4 mrgn-tp-0 mrgn-bttm-md">What was wrong?</legend>
                <div class="radio">
                  <label for="problem1">
                  <input name="problem" id="problem1" type="radio" value="I can't find the information" data-gc-analytics-wtph-value="I can't find the information-Je ne peux pas trouver l'information" data-gc-analytics-collect="notPrivate">I can't <strong>find</strong> the information
                  </label>
                </div>
                <div class="radio">
                  <label for="problem2">
                  <input name="problem" id="problem2" type="radio" value="The information is hard to understand" data-gc-analytics-wtph-value="The information is hard to understand-L'information est difficile à comprendre" data-gc-analytics-collect="notPrivate"> The information is hard to <strong>understand</strong>
                  </label>
                </div>
                <div class="radio">
                  <label for="problem3">
                  <input name="problem" id="problem3" type="radio" value="There was an error / something didn't work" data-gc-analytics-wtph-value="There was an error or something didn't work-Il y avait une erreur ou quelque chose ne fonctionnait pas" data-gc-analytics-collect="notPrivate"> There was an error or something <strong>didn't work</strong>
                  </label>
                </div>
                <div class="radio">
                  <label for="problem4">
                  <input name="problem" id="problem4" type="radio" value="Other reason" data-gc-analytics-wtph-value="Other reason-Autre raison" data-gc-analytics-collect="notPrivate">
                  Other reason
                  </label>
                </div>
              </fieldset>
              <label for="problem6" class="mrgn-bttm-0">Please provide more details</label>
              <p class="small">
                <strong>You will not receive a reply. Telephone numbers and email addresses will be removed.</strong>
                <br>
                <span class="small">Maximum 300 characters</span>
              </p>
              <textarea id="problem6" name="details" class="full-width" maxlength="300"></textarea>
              <button type="submit" name="helpful" value="No" class="btn btn-primary mrgn-tp-md mrgn-bttm-sm" data-gc-analytics-wtph-submit>Submit</button>
            </div>
            <input type="hidden" name="problem" value="">
          </form>
          <div class="gc-pg-hlpfl-thnk hide">
            <p class="h6 mrgn-tp-sm mrgn-bttm-sm"><span class="far fa-check-circle text-success mrgn-rght-sm" aria-hidden="true"></span> Thank you for your feedback</p>
          </div>
        </div>
      </section>
    </div>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="row row-no-gutters"&gt;
    &lt;div class="col-sm-7 col-lg-6"&gt;
      &lt;section class="gc-pg-hlpfl provisional"&gt;
        &lt;div class="well mrgn-bttm-0"&gt;
          &lt;form id="gc-pg-hlpfl-frm" action="#" method="post" autocomplete="off" class="provisional wb-postback" data-wb-postback='{"success":".gc-pg-hlpfl-thnk","content":"#gc-pg-hlpfl-frm"}'&gt;
            &lt;input type="hidden" name="institutionopt" value="CRA"&gt;
            &lt;input type="hidden" name="themeopt" value=""&gt;
            &lt;input type="hidden" name="sectionopt" value=""&gt;
            &lt;input type="hidden" name="pageTitle" value=""&gt;
            &lt;input type="hidden" name="emailTemplate" value=""&gt;
            &lt;div class="gc-pg-hlpfl-btn"&gt;
              &lt;div class="row row-no-gutters"&gt;
                &lt;div class="col-xs-12 col-sm-7 mrgn-tp-sm"&gt;
                  &lt;h2 class="mrgn-tp-sm h5"&gt;Did you find what you were looking for?&lt;/h2&gt;
                &lt;/div&gt;
                &lt;div class="col-xs-8 col-sm-5 text-right"&gt;
                  &lt;button type="submit" name="helpful" value="Yes" class="btn btn-primary" data-gc-analytics-wtph&gt;Yes&lt;/button&gt;
                  &lt;button type="button" class="btn btn-primary mrgn-lft-sm nojs-hide" data-wb-doaction='[									{"action":"removeClass","source":".gc-pg-hlpfl-no","class":"nojs-show"},
                    {"action":"addClass","source":".gc-pg-hlpfl-btn","class":"hide"}
                    ]' data-gc-analytics-wtph-no&gt;No&lt;/button&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;p class="h3 hidden nojs-show"&gt;If not, tell us why:&lt;/p&gt;
            &lt;div class="gc-pg-hlpfl-no nojs-show"&gt;
              &lt;fieldset&gt;
                &lt;legend class="h4 mrgn-tp-0 mrgn-bttm-md"&gt;What was wrong?&lt;/legend&gt;
                &lt;div class="radio"&gt;
                  &lt;label for="problem1"&gt;
                  &lt;input name="problem" id="problem1" type="radio" value="I can't find the information" data-gc-analytics-wtph-value="I can't find the information-Je ne peux pas trouver l'information" data-gc-analytics-collect="notPrivate"&gt;I can't &lt;strong&gt;find&lt;/strong&gt; the information
                  &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="radio"&gt;
                  &lt;label for="problem2"&gt;
                  &lt;input name="problem" id="problem2" type="radio" value="The information is hard to understand" data-gc-analytics-wtph-value="The information is hard to understand-L'information est difficile à comprendre" data-gc-analytics-collect="notPrivate"&gt; The information is hard to &lt;strong&gt;understand&lt;/strong&gt;
                  &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="radio"&gt;
                  &lt;label for="problem3"&gt;
                  &lt;input name="problem" id="problem3" type="radio" value="There was an error / something didn't work" data-gc-analytics-wtph-value="There was an error or something didn't work-Il y avait une erreur ou quelque chose ne fonctionnait pas" data-gc-analytics-collect="notPrivate"&gt; There was an error or something &lt;strong&gt;didn't work&lt;/strong&gt;
                  &lt;/label&gt;
                &lt;/div&gt;
                &lt;div class="radio"&gt;
                  &lt;label for="problem4"&gt;
                  &lt;input name="problem" id="problem4" type="radio" value="Other reason" data-gc-analytics-wtph-value="Other reason-Autre raison" data-gc-analytics-collect="notPrivate"&gt;
                  Other reason
                  &lt;/label&gt;
                &lt;/div&gt;
              &lt;/fieldset&gt;
              &lt;label for="problem6" class="mrgn-bttm-0"&gt;Please provide more details&lt;/label&gt;
              &lt;p class="small"&gt;
                &lt;strong&gt;You will not receive a reply. Telephone numbers and email addresses will be removed.&lt;/strong&gt;
                &lt;br&gt;
                &lt;span class="small"&gt;Maximum 300 characters&lt;/span&gt;
              &lt;/p&gt;
              &lt;textarea id="problem6" name="details" class="full-width" maxlength="300"&gt;&lt;/textarea&gt;
              &lt;button type="submit" name="helpful" value="No" class="btn btn-primary mrgn-tp-md mrgn-bttm-sm" data-gc-analytics-wtph-submit&gt;Submit&lt;/button&gt;
            &lt;/div&gt;
            &lt;input type="hidden" name="problem" value=""&gt;
          &lt;/form&gt;
          &lt;div class="gc-pg-hlpfl-thnk hide"&gt;
            &lt;p class="h6 mrgn-tp-sm mrgn-bttm-sm"&gt;&lt;span class="far fa-check-circle text-success mrgn-rght-sm" aria-hidden="true"&gt;&lt;/span&gt; Thank you for your feedback&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/section&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
</div>
</div>
</div>




<h3 id="h-2-2">Supporting blog post</h3>
<div class="panel panel-default brdr-rds-0 outset">
    <div class="panel-body"><div class="row">
    <div class="col-sm-3"><p class="h3 mrgn-tp-0"><a class="stretched-link" href="https://blog.canada.ca/2020/10/09/collect-feedback">Collect feedback, find issues</a></p></div>
<div class="col-sm-6">
<p>Getting feedback from Canadians on a regular basis helps teams across government continuously improve the service delivery on Canada.ca. In May 2020, a few teams collaborated to launch a pilot study of a widget for getting people’s feedback on Canada.ca pages.</p>
<p><small>[9 October 2020]</small> </p>
</div>
<div class="col-sm-3">
<a href="https://blog.canada.ca/2020/10/09/collect-feedback"><img class="img-responsive hidden-xs thumbnail" src="images/blog/feedback.jpg"></a>
</div>
</div>
</div>
</div>

<h2 id="h-4">Complementary components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">			
	<!-- contact_us -->
	  <li class="col-md-4" id="contact_us">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/contact_us.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="contact_us.html">Contact us</a></h3> 	 
	   </div></div></div></li>   
   <!-- forms -->
	  <li class="col-md-4" id="forms">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/forms.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="forms.html">Forms and form elements</a></h3> 	 
	   </div></div></div></li>


</ul>
 </div> 
  <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	   <script src="../../../js/components.js"></script>
   </body>
</html>