<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Grids – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../../index.html"},{title: "Design and coding",href: "../../../index.html"},{title: "Standard web page design and coding",href: "../../index.html"},{title: "Components and functions",href: "../index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Grids – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Grids – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">

<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		 <li><a href="#h-1-1">Purpose of grids</a></li>
		</ul></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">Basic grids</a></li>
      <li><a href="#h-2-2">Responsive grid options</a></li>
	   <li><a href="#h-2-3">Enhanced use</a></li>
	   <li><a href="#h-2-4">Reflowing content around grids</a></li>
	   <li><a href="#h-2-5">Related components and functions</a></li>
		</ul></li>
    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>
<h3 id="h-1-1">Purpose of grids</h3>
<p>Use a grid system (a series of rows and columns that house content) to create page layouts. </p>

<h2 id="h-2" >Design options</h2>

<h3 id="h-2-1">Basic grids</h3>
<p>Use a single set of <code>.col-md-*</code> grid classes to create a basic grid system that starts out stacked on mobile and tablet devices (the extra small to small range). It then becomes horizontal on desktop (medium) devices. Place grid columns in any <code>.row</code>.</p>
<p>Use a <strong>fluid container</strong> to turn any fixed width grid layout into a full width layout. Change the outermost <code>.container</code> to <code>.container-fluid</code>.

<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#grid1, #grid2, #grid3, #grid4, #grid5, #grid_def", "class": "hidden"} ]}'>
<p><span class="h4">Number of columns</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#grid1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-grid1", "live": true}]'>6 columns</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#grid2", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-grid2", "live": true}]'>4 columns</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#grid3", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-grid3", "live": true}]'>3 columns</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#grid4", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-grid4", "live": true}]'>2 columns</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#grid5", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-grid5", "live": true}]'>2 columns (8 and 4)</li>
</ul>
</div>
</div>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#fluid1", "class": "container-fluid                   "} ]}'>
<p><span class="h4">Container</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#fluid1", "class": "container-fluid", "live": true}, {"action": "toggle", "toggle": ".cl-container-fluid", "live": true}]'>Fluid container</li>
</ul>
</div>

</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div id="fluid1">
<span id="grid1" class="">
<div class="row">
	<div class="col-md-2">
	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-2</code>
  </div>
  </div>
	<div class="col-md-2">
	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-2</code>
  </div>
  </div>
	<div class="col-md-2">
	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-2</code>
  </div>
  </div>
	<div class="col-md-2">
	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-2</code>
  </div>
  </div>
	<div class="col-md-2">
	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-2</code>
  </div>
  </div>
	<div class="col-md-2">
	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-2</code>
  </div>
  </div>
</div>
</span>
<span id="grid2" class="hidden">
<div class="row">
  <div class="col-md-3">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-3</code>
  </div>
  </div>
  <div class="col-md-3">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-3</code>
  </div>
  </div>
    <div class="col-md-3">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-3</code>
  </div>
  </div>
    <div class="col-md-3">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-3</code>
  </div>
  </div>
</div>
</span>
<span id="grid3" class="hidden">
<div class="row">
  <div class="col-md-4">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-4</code>
  </div>
  </div>
  <div class="col-md-4">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-4</code>
  </div>
  </div>
    <div class="col-md-4">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-4</code>
  </div>
  </div>
</div>
</span>
<span id="grid4" class="hidden">
<div class="row">
  <div class="col-md-6">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-6</code>
  </div>
  </div>
    <div class="col-md-6">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-6</code>
  </div>
  </div>
  
</div>
</span>
<span id="grid5" class="hidden">
<div class="row">
  <div class="col-md-8">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-8</code>
  </div>
  </div>
  <div class="col-md-4">
  	<div class="well well-sm brdr-rds-0 text-center">
   <code>.col-md-4</code>
  </div>
  </div>
</div>
</span>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span class="hidden cl-container-fluid">&lt;div class="<strong>container-fluid</strong>"&gt;<br></span><span class="cl-grid1" id="grid_def">&lt;!-- Grid with 6 columns  --&gt;
&lt;div class="row"&gt;
  &lt;div class="<strong>col-md-2</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-2</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-2</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-2</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-2</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-2</strong>"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;</span><span class="hidden cl-grid2">&lt;!-- Grid with 4 columns  --&gt;
&lt;div class="row"&gt;
  &lt;div class="<strong>col-md-3</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-3</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-3</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-3</strong>"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;</span><span class="hidden cl-grid3">&lt;!-- Grid with 3 columns  --&gt;
&lt;div class="row"&gt;
  &lt;div class="<strong>col-md-4</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-4</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-4</strong>"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;</span><span class="hidden cl-grid4">&lt;!-- Grid with 2 columns  --&gt;
&lt;div class="row"&gt;
  &lt;div class="<strong>col-md-6</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-6</strong>"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;</span><span class="hidden cl-grid5">&lt;!-- Grid with 2 columns (8 and 4) --&gt;
&lt;div class="row"&gt;
  &lt;div class="<strong>col-md-8</strong>"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="<strong>col-md-4</strong>"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;</span><span class="hidden cl-container-fluid"><br>&lt;/div&gt;</span>
</code></pre>
</details>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<h3 id="h-2-2">Responsive grid options</h3>
<p>Use a grid system to create a responsive, mobile first, fluid grid system. It scales appropriately up to 12 columns, as the device or viewport size increases.</p>
<ul>
    <li>Place rows within a <code>.container</code> (fixed-width) or <code>.container-fluid</code> (full-width) for proper alignment and padding</li>
    <li>Use rows to create horizontal groups of columns</li>
    <li>Place content within columns
      <ul>
        <li>Only columns can be immediate children of rows</li>
        <li>Columns create gutters (gaps between column content) via <abbr title="cascading style sheet">CSS</abbr> <code>padding:</code>. That padding is offset in rows for the first and last column via a negative margin on a <code>.row</code></li>
      </ul>
    </li>
    <li>Specify the number to span (of twelve available columns)  in order to create grid columns. For example, for three equal columns,  use three <code>.col-xs-4</code>
      <ul>
        <li>Grid classes apply to devices with screen widths greater than or equal to the breakpoint sizes, and override grid classes targeted at smaller devices</li>
        <li>So applying any <code>.col-md-</code> class to an element affects the styling on medium devices, as well as on large devices if a <code>.col-lg-</code> class is not present</li>
      </ul>
    </li>
    <li>Create  fully fluid layouts (meaning the website stretches the entire width of the viewport)
    </li>
  </ul>
  
 <table class="table table-bordered table-striped">
      <caption>
      Responsive options
      </caption>
      <thead>
        <tr>
          <td></td>
          <th class="text-center">Extra small devices <br><small>Phones (&lt;768px)</small></th>
          <th class="text-center">Small devices <br><small>Tablets (=768px)</small></th>
          <th class="text-center">Medium devices <br><small>Desktops (=992px)</small></th>
          <th class="text-center">Large devices <br><small>Desktops (=1200px)</small></th>
        </tr>
      </thead>
      <tbody class="text-center">
        <tr>
          <th>Grid behavior</th>
          <td>Horizontal at all times</td>
          <td colspan="3">Collapsed to start, horizontal above breakpoints</td>
        </tr>
        <tr>
          <th>Container width</th>
          <td>None (auto)</td>
          <td>750px</td>
          <td>970px</td>
          <td>1170px</td>
        </tr>
        <tr>
          <th>Class prefix</th>
          <td><code>.col-xs-</code></td>
          <td><code>.col-sm-</code></td>
          <td><code>.col-md-</code></td>
          <td><code>.col-lg-</code></td>
        </tr>
        <tr>
          <th>Number of columns</th>
          <td colspan="4">12</td>
        </tr>
        <tr>
          <th>Column width</th>
          <td class="text-muted">Auto</td>
          <td>60px</td>
          <td>78px</td>
          <td>95px</td>
        </tr>
        <tr>
          <th>Gutter width</th>
          <td colspan="4">30px (15px on each side of a column)</td>
        </tr>
        <tr>
          <th>Nestable</th>
          <td colspan="4">Yes</td>
        </tr>
        <tr>
          <th>Offsets</th>
          <td colspan="4">Yes</td>
        </tr>
        <tr>
          <th>Column ordering</th>
          <td colspan="4">Yes</td>
        </tr>
      </tbody>
    </table>
  

<h4>Responsive column resets</h4>
<p>Use to force breakpoints in content. With the four tiers of grids available, issues can arise. At certain breakpoints, columns don't always clear properly for example, if one column is taller than the other. To fix that, use a combination of a <code>.clearfix</code> and the <a href="visible-en.html">invisible and visible classes</a>.</p>

<div class="row">
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
              <div class="col-xs-6 col-sm-3">
                <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-sm-3</code>
               </div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-sm-3</code></div>
              </div>
              <!-- Add the extra clearfix for only the required viewport -->
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-3">
                <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-sm-3</code></div>
              </div>
              <div class="col-xs-6 col-sm-3">
                <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-sm-3</code></div>
              </div>
            </div>
	<div class="alert alert-info">
	<p>Resize the viewport or check it out on your mobile device.</p> 
	</div>
</div>
</details>
<!-- Code -->
<details id="app2">
<summary>HTML code</summary>
<pre></code>
&lt;div class="row"&gt;
  &lt;div class="col-xs-6 col-sm-3"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="col-xs-6 col-sm-3"&gt;
   ...
  &lt;/div&gt;

  &lt;!-- Add the extra clearfix for only the required viewport --&gt;
  &lt;div class="clearfix visible-xs"&gt;&lt;/div&gt;
  &lt;div class="col-xs-6 col-sm-3"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="col-xs-6 col-sm-3"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</details>
</details>
</div>
</div>
</div>
</div>

</div>

<h4>Mobile and desktop</h4>
<p>Use to prevent columns from simply stacking in smaller devices. Use the extra small and medium device grid classes. Add <code>.col-xs-*</code> <code>.col-md-*</code> to the columns.</p>
<div class="row">
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">

          <div class="row">
            <div class="col-xs-12 col-md-8">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-12 .col-md-8</code></div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-md-4</code></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-md-4">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-md-4</code></div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-md-4</code></div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-md-4</code></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6</code></div>
            </div>
            <div class="col-xs-6">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6</code></div>
            </div>
          </div>
		  	<div class="alert alert-info">
	<p>Resize the viewport or check it out on your mobile device.</p> 
	</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="row"&gt;
  &lt;div class="col-xs-12 col-md-8"&gt;...&lt;/div&gt;
  &lt;div class="col-xs-6 col-md-4"&gt;...&lt;/div&gt;
&lt;/div&gt;

&lt;!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop --&gt;
&lt;div class="row"&gt;
  &lt;div class="col-xs-6 col-md-4"&gt;...&lt;/div&gt;
  &lt;div class="col-xs-6 col-md-4"&gt;...&lt;/div&gt;
  &lt;div class="col-xs-6 col-md-4"&gt;...&lt;/div&gt;
&lt;/div&gt;

&lt;!-- Columns are always 50% wide, on mobile and desktop --&gt;
&lt;div class="row"&gt;
  &lt;div class="col-xs-6"&gt;...&lt;/div&gt;
  &lt;div class="col-xs-6"&gt;...&lt;/div&gt;
&lt;/div&gt;
</code></pre>
</details>
</details>
</div>
</div>
</div>
</div>
</div>

<h4>Mobile, tablet and desktops</h4>
<p>Use to create even more dynamic and powerful layouts with tablet <code>.col-sm-*</code> classes.</p>
<div class="row">
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-12 .col-sm-6 .col-md-8</code></div>
            </div>
            <div class="col-xs-6 col-md-4">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-md-4</code></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-4">
              <div class="well well-sm brdr-rds-0"><code>col-xs-6 .col-sm-4</code></div>
            </div>
            <div class="col-xs-6 col-sm-4">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-sm-4</code></div>
            </div>
            <!-- Optional: clear the XS cols if their content doesn't match in height -->
            <div class="clearfix visible-xs"></div>
            <div class="col-xs-6 col-sm-4">
              <div class="well well-sm brdr-rds-0"><code>.col-xs-6 .col-sm-4</code></div>
            </div>
          </div>
		  		  	<div class="alert alert-info">
	<p>Resize the viewport or check it out on your mobile device.</p> 
	</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="row"&gt;
  &lt;div class="col-xs-12 col-sm-6 col-md-8"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="col-xs-6 col-md-4"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="col-xs-6 col-sm-4"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="col-xs-6 col-sm-4"&gt;
   ...
  &lt;/div&gt;

  &lt;!-- Optional: clear the XS cols if their content doesn't match in height --&gt;
  &lt;div class="clearfix visible-xs"&gt;&lt;/div&gt;

  &lt;div class="col-xs-6 col-sm-4"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</details>
</details>
</div>
</div>
</div>
</div>
</div>

<h3 id="h-2-3">Enhanced use</h3>
<h4>Offsetting columns</h4>
<p>Use to move columns to the right with the <code>.col-md-offset-*</code> class. These classes increase the left margin of a column by <code>*</code> columns. For example, <code>.col-md-offset-4</code> moves <code>.col-md-4</code> over four columns.</p>
<p>Resets are available for <strong>only medium and large grid tiers</strong> since they start at the (second) small grid tier. Refer to this in action in the grid example.</p>

<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#offset1", "class": " col-md-offset-1 col-md-offset-2 col-md-offset-3 col-md-offset-4               "} ]}'>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#offset1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#offset1", "class": "col-md-offset-1", "live": true}, {"action": "toggle", "toggle": ".cl-col-md-offset-1", "live": true}]'>Offset 1</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#offset1", "class": "col-md-offset-2", "live": true}, {"action": "toggle", "toggle": ".cl-col-md-offset-2", "live": true}]'>Offset 2</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#offset1", "class": "col-md-offset-3", "live": true}, {"action": "toggle", "toggle": ".cl-col-md-offset-3", "live": true}]'>Offset 3</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#offset1", "class": "col-md-offset-4", "live": true}, {"action": "toggle", "toggle": ".cl-col-md-offset-4", "live": true}]'>Offset 4</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
<div class="col-md-4">
<div class="well well-sm brdr-rds-0">
<code>col-md-4</code>
</div>
</div>
<div class="col-md-4" id="offset1">
<div class="well well-sm brdr-rds-0">
<code>col-md-4</code>
</div>
</div>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="row"&gt;
  &lt;div class="col-md-4"&gt;
   ...
  &lt;/div&gt;
  &lt;div class="col-md-4<strong><span class="hidden cl-col-md-offset-1"> col-md-offset-1</span><span class="hidden cl-col-md-offset-2"> col-md-offset-2</span><span class="hidden cl-col-md-offset-3"> col-md-offset-3</span><span class="hidden cl-col-md-offset-4"> col-md-offset-4</span></strong>"&gt;
   ...
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</details>
</details>
</div>
</div>
</div>
</div>
</div>

<h4>Nesting columns</h4>
<p>Use to nest content with the default grid. Add a new <code>.row</code> and set of <code>.col-md-*</code> columns within an existing <code>.col-md-*</code> column. Nested rows should include a set of columns that add up to 12.</p>
<div class="row">
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
<div class="col-md-9">
<div class="panel brdr-tp brdr-lft brdr-bttm brdr-rght brdr-rds-0">
                <p class="mrgn-tp-md mrgn-lft-md mrgn-bttm-md">Level 1: <code>.col-md-9</code></p>
                <div class="row">
                  <div class="col-md-6">
                    <div class="well well-sm brdr-rds-0">Level 2: <code>.col-md-6</code></div>
                  </div>
                  <div class="col-md-6">
                    <div class="well well-sm brdr-rds-0">Level 2: <code>.col-md-6</code></div>
                  </div>
                </div>
              </div>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>Code</summary>
<details>
<summary>HTML</summary>Nested columns 
&lt;div class="row"&gt;
  &lt;div class="<strong>col-md-9</strong>"&gt;
   &lt;div class="row"&gt;
    &lt;div class="<strong>col-md-6</strong>"&gt;
     ...
    &lt;/div&gt;
    &lt;div class="<strong>col-md-6</strong>"&gt;
     ...
    &lt;/div&gt;
   &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code></pre>
</details>
</details>
</div>
</div>
</div>
</div>
</div>
</div>
<h4>Column ordering</h4>
<p>Use to easily change the order of built-in grid columns with <code>.col-md-push-*</code> and <code>.col-md-pull-*</code> modifier classes.</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="row">
<div class="col-md-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#push1", "class": " col-md-push-3"} ]}'>
<p><span class="h4">Column 1</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#push1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#push1", "class": "col-md-push-3", "live": true}, {"action": "toggle", "toggle": ".cl-col-md-push-3", "live": true}]'>Push 3</li>
</ul>
</div>
</div>
</div>
<div class="col-md-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#pull1", "class": "col-md-pull-9"} ]}'>
<p><span class="h4">Column 2</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#pull1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#pull1", "class": "col-md-pull-9", "live": true}, {"action": "toggle", "toggle": ".cl-col-md-pull-9", "live": true}]'>Pull 9</li>
</ul>
</div>
</div>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
	<div class="col-md-9" id="push1">
	<div class="well">Column 1 <br><code>.col-md-9</code></div>
	</div>
	<div class="col-md-3"  id="pull1">
	<div class="well">Column 2 <br><code>.col-md-3</code></div>
	</div>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="row"&gt;
	&lt;div class="col-md-9<strong><span class="hidden cl-col-md-push-3"> col-md-push-3</span></strong>"&gt;
	...
	&lt;/div&gt;
	&lt;div class="col-md-3<strong><span class="hidden cl-col-md-pull-9"> col-md-pull-9</span></strong>"&gt;
	...
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
</details>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<h3 id="h-2-4">Reflowing content around grids</h3>
<p>Use to reflow and wrap non-grid content around and below a grid cell.</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#reflow1", "class": " pull-right pull-left                 "} ]}'>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#reflow1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#reflow1", "class": "pull-right", "live": true}, {"action": "toggle", "toggle": ".cl-pull-right", "live": true}]'>Pull right</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#reflow1", "class": "pull-left", "live": true}, {"action": "toggle", "toggle": ".cl-pull-left", "live": true}]'>Pull left</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
            <div class="col-md-4" id="reflow1">
              <div class="well mrgn-bttm-0">
                <p class="text-center">Grid cell</p>
              </div>
            </div>
            <div class="mrgn-lft-md mrgn-rght-md">
              <p>Reflowing content around grids. Reflowing content around grids. Reflowing content around grids. Reflowing content around grids. Reflowing content around grids. Reflowing content around grids. Reflowing content around grids. </p>
            </div>
          </div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;div class="row"&gt;
  &lt;div class="col-md-4<strong><span class="hidden cl-pull-right"> pull-right</span><span class="hidden cl-pull-left"> pull-left</span></strong>"&gt;
     &lt;div class="well"&gt;
      &lt;p&gt;Grid cell&lt;/p&gt;
     &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class="<strong>mrgn-lft-md mrgn-rght-md</strong>"&gt;
   &lt;p&gt;Reflowing content...&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;

</code></pre>
</details>
</details>
</div>
</div>
</div>

</div>
</div>

<!-- Correct use -->
<h4 class="mrgn-tp-0 text-muted">Correct use</h4>

<ul class="fa-ul">

        <li><span class="fas fa-check fa-li text-success"></span>Use <code>.mrgn-*-md</code> to create a margin of 15px , and to mimic the same gutter on a grid</li>
        <li><span class="fas fa-check fa-li text-success"></span>Ensure you <strong>always apply</strong> both <code>.mrgn-lft-md</code> and <code>.mrgn-rght-md</code> to  non-grid content when grids <strong>and</strong> non-grids are in the same row
          <ul>
            <li>This ensures content reflows around the grid cell</li>
          </ul>
        </li>
      </ul>

<h3 id="h-2-5">Related components and functions</h3>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Borders -->
	  <li class="col-md-4" id="Borders">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Borders.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Borders.html">Borders</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Equalize -->
	  <li class="col-md-4" id="Equalize">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Equalize.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Equalize.html">Equal height (equalize)</a></h3> 	 
	   </div></div></div></li>
	<!-- Panels -->
	  <li class="col-md-4" id="Panels">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Panels.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Panels.html">Panels</a></h3> 	 
	   </div></div></div></li>	   
	<!-- Positioning -->
	  <li class="col-md-4" id="Position">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Position.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Position.html">Positioning</a></h3> 	 
	   </div></div></div></li>	
	<!-- Wells -->
	  <li class="col-md-4" id="Wells">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Wells.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Wells.html">Wells</a></h3> 	 
	   </div></div></div></li>		   
</ul>
 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script>
$( ".wb-fieldflow" ).on( "wb-ready.wb-fieldflow", function( event ) {
$(".radioselected .radio:first-of-type label input").prop("checked", true);
});
</script>
   </body>
</html>