<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Links – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../../index.html"},{title: "Design and coding",href: "../../../index.html"},{title: "Standard web page design and coding",href: "../../index.html"},{title: "Components and functions",href: "../index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Links – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Links – Standard web pages</h1>
</div>
		 <div class="all-pre wb-prettify">
         <p>A link (or hyperlink) is a word, phrase or image on a web page that people click on to move to another part of the same content or to access an entirely different web resource (such as a web page, video or downloadable file).</p>
         <h2 class="h3 mrgn-tp-md">On this page</h2>
         <ul>
            <li>
               <a href="#h-1">How to use links</a>
               <ul>
                  <li><a href="#h-1-1">Use links strategically</a></li>
                  <li><a href="#h-1-2">Carefully select related content</a></li>
                  <li><a href="#h-1-3">Write descriptive links</a></li>
                  <li><a href="#h-1-4">Focus on the task</a></li>
                  <li><a href="#h-1-5">Make sure that links work</a></li>
                  <li><a href="#h-1-9">Capitalization of links</a></li>
				  <li><a href="#h-1-6">Linking to non-government content</a></li>
                  <li><a href="#h-1-7">Linking to internal-to-government content</a></li>
				  <li><a href="#h-1-8">Adding rescue links</a></li>		  
               </ul>
            </li>
            <li><a href="#h-2">Design options</a></li>
 <li><a href="#h-3">Related components and functions</a></li>
         </ul>
         <h2 id="h-1" class="mrgn-bttm-0">How to use links</h2>
         <h3 id="h-1-1">Use links strategically</h3>
         <p>Be strategic about how you place and create links on a web page and about how many links you provide:</p>
         <ul>
            <li>include links that directly support the topic or task on the current page</li>
            <li>link to the original information posted by the authoritative source </li>
            <li>don't include links to intranet sites unless the content targets government employees, in which case you should add "(accessible only on the Government of Canada network)"</li>
            <li>don't bury links that are crucial to completing a task in the middle of a paragraph or at the bottom of the page</li>
         </ul>
         <section>
            <details>
               <summary>Example<span class="wb-inv"> of appropriate use of links</span></summary>
               <div class="row">
                  <div class="col-md-6">
                     <h4 class="text-muted"> Write</h4>
                     <p>A Food Guide serving is&nbsp;how much&nbsp;food you should eat from each of the 4 food groups every day. In some cases, a serving is the amount of a given food group that you normally eat in one sitting, like an apple. In other cases, the daily amount is more than one serving, such as for rice or pasta.</p>
                     <p><a href="http://www.hc-sc.gc.ca/fn-an/food-guide-aliment/basics-base/quantit-eng.php">Number of daily food servings for children, teens and adults</a></p>
                  </div>
                  <div class="col-md-6">
                     <h4 class="text-muted">Do not write</h4>
                     <p>A Food Guide Serving is simply a reference amount. It helps you understand&nbsp;<a href="http://www.hc-sc.gc.ca/fn-an/food-guide-aliment/basics-base/quantit-eng.php">how much</a> food is recommended every day from each of the four food groups. In some cases, a Food Guide Serving may be close to what you eat, such as an apple. In other cases, such as rice or pasta, you may serve yourself more than one Food Guide Serving.</p>
                  </div>
               </div>
            </details>
         </section>
		 <!-- Correct use -->
<h4 class="text-muted">Correct use</h4>
               <ul class="fa-ul">
                  <li><span class="fas fa-check fa-li text-success"></span>Use to link from one page to another</li>
                  <li><span class="fas fa-check fa-li text-success"></span>Use to link to a section on a page</li>
                  <li><span class="fas fa-check fa-li text-success"></span>Use to open an <a href="overlay.html">overlay</a> or a <a href="popup.html">popup</a> window</li>
                  <li><span class="fas fa-check fa-li text-success"></span>Use to initiate an event/query </li>
                  <li><span class="fas fa-check fa-li text-success"></span>Use to <span data-hveid="70">open a new outgoing email message</span></li>
               </ul>
         <section>
            <h3 id="h-1-2">Carefully select related content</h3>
            <p>Providing links to other relevant web pages can help people find related information quickly. Links to your pages from other pages may also help improve where your page ranks in search results. </p>
            <p>Be sure to select related links carefully. Too many links on a page can cause people to leave the page without reading important information or can discourage them from completing a task. </p>
         </section>

         <section>
            <h3 id="h-1-3">Write descriptive links</h3>
            <p>A link must describe the content a person will find once they click on it. It's easier to complete a task when a link's destination matches a person's expectations. Make sure links are descriptive so that person will understand what they'll get when they click on them.</p>
            <p>The text you hyperlink doesn't have to match the title of the destination page to be compliant with <cite>Web Content Accessibility Guidelines</cite>. Text in a link gets some context from the web page's content. Make sure the main keywords of the link text correspond to the page title so that people know they're in the right place. </p>
            <div class="row">
               <div class="col-md-6">
                  <h4 class="text-muted">Correct use</h4>
                  <ul class="fa-ul">
                     <li><span class="fas fa-check fa-li text-success"></span>use the first words of the target page or its entire title if it's descriptive enough</li>
                     <li><span class="fas fa-check fa-li text-success"></span>start with keywords that accurately describe the target page if the page title isn't enough</li>
                     <li><span class="fas fa-check fa-li text-success"></span>make sure that all links on the same page use unique descriptive text if they link to different target pages</li>
                     <li><span class="fas fa-check fa-li text-success"></span>when more than one link on a web page links to the same destination page, use the same words for the hyperlink</li>
                     <li><span class="fas fa-check fa-li text-success"></span>describe any content that must be downloaded</li>
                     <li><span class="fas fa-check fa-li text-success"></span>write email addresses in full, in lower case and as active links (contact <a href="#wp7-2" aria-label="Example of an appropriate email address">helpdesk@canada.ca</a>)</li>
                  </ul>
               </div>
               <div class="col-md-6">
                  <h4 class="text-muted">Incorrect use</h4>
                  <ul class="fa-ul">
                     <li><span class="fas fa-times fa-li text-danger"></span>don't use the same link text to point to 2 different pages </li>
                     <li><span class="fas fa-times fa-li text-danger"></span>don't use vague statements such as "click here" or "read more" </li>
                     <li><span class="fas fa-times fa-li text-danger"></span>promotional messaging that might confuse someone who is deciding whether to go to the page that is being linked&nbsp;to</li>
                  </ul>
               </div>
            </div>
            <section>
               <h3 id="h-1-4">Focus on the task</h3>
               <p>When writing instructions for completing a task, sometimes you need to insert a link to guide the person to forms or other documents.</p>
               <div class="row mrgn-bttm-md">
                  <div class="col-md-6">
                     <h4 class="text-muted">Correct use</h4>
                  <ul class="fa-ul">
                     <li><span class="fas fa-check fa-li text-success"></span>focus on the action they must perform when you create the link. </li>
					 </ul>
                  </div>
                  <div class="col-md-6 brdr-lft">
                     <h4 class="text-muted">Incorrect use</h4>
                  <ul class="fa-ul">
                     <li><span class="fas fa-times fa-li text-danger"></span>don't repeat the name of a form or document in the steps to accomplish a task if the name isn't descriptive. </li>
					 </ul>
                  </div>
               </div>
               <section>
                  <details>
                     <summary>Example<span class="wb-inv"> of the use of links that focus on the task</span></summary>
                     <div class="row">
                        <div class="col-md-6">
                           <h4 class="text-muted">Write</h4>
                           <p>To get the highest Employment Insurance amount available to you:</p>
                           <ol>
                              <li>open the <a href="http://www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=prfl&amp;frm=ins5241&amp;ln=eng">form you need to declare your income</a></li>
                              <li>
                                 identify your highest weeks of insurable income in the shortest period below: 
                                 <ul>
                                    <li>the last 52 weeks of employment </li>
                                    <li>since the start of your last claim </li>
                                 </ul>
                              </li>
                              <li>return the completed form in person to the <a href="http://www.servicecanada.gc.ca/cgi-bin/sc-srch.cgi?app=hme&amp;ln=eng">Service Canada office closest to you</a></li>
                           </ol>
                        </div>
                        <div class="col-md-6">
                           <h4 class="text-muted">Do not write</h5>
                           <p>To ensure that you are paid the maximum Employment Insurance (EI) benefit rate that you are entitled to, complete the <a href="http://www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=prfl&amp;frm=ins5241&amp;ln=eng">Claimant Attestation - Highest Weeks of Insurable Earnings (Variable Best Weeks) form</a> with the required information about your highest weeks of insurable earnings in the last 52 weeks of employment or since the start of your last claim, whichever is the shorter period of the two.</p>
                        </div>
                     </div>
                  </details>
               </section>
            </section>
         </section>
         <section>
            <h3 id="h-1-5">Make sure that links work</h3>
            <p>Make sure that your links work. Check that they take people to the correct page, which contains up-to-date information, in the appropriate official language. Links that don't work frustrate people and hurt the credibility of your content.</p>
         </section>
         <section>
		 <h3 id="h-1-9">Capitalization of links</h3>
<p>Use lower case for a link in a sentence, unless the link contains a proper name.</p>
            <h3 id="h-1-6">Linking to non-government content</h3>
            <p>Some non-government web content isn't available in both official languages. If you're linking to external web content that isn't available in the language of the current page, say in which language(s) it is available after the link. </p>
            <p>On English pages, write the following after a link that leads to content that isn't available in English: "(What to do if you were scammedX only)".</p>
            <p>If the link leads to content only available in: </p>
            <ul>
               <li>French, write "(French only)"</li>
               <li>Inuktitut, write "(Inuktitut only)"</li>
               <li>Spanish and Portuguese, write "(Spanish and Portuguese only)"</li>
            </ul>
            <section>
               <details>
               <summary>Example<span class="wb-inv"> of a link that leads to content only available in French</span></summary>
               <h4 class="text-muted">Write</h4>
                           <p>Find out how to <a href="https://passeport.ants.gouv.fr/Vos-demarches/Renouvellement-perte-ou-vol">renew your French passport while abroad in Canada</a> (French only).</p>
            </section>
         </section>

         <section>
            <h3 id="h-1-7">Linking to internal-to-government content</h3>
            <p>In most cases, public-facing content should not link to content that is accessible only through internal government networks. Occasionally, the audience for content that is accessible to the public may be primarily internal. </p>
            <p>When a link leads to content available only on internal government networks, write "(accessible only on the Government of Canada network)."</p>
         </section>
		 
		 <section>
            <h3 id="h-1-8">Adding rescue links</h3>
            <p>In some cases, users end up on a page that risks being the wrong one (for example, users may confuse "pay arrangements" and "instalments"). If such an issue is identified, a rescue link can be added at the top of the page, below the <code>H1</code>.</p>
			<section>
               <details>
               <summary>Example<span class="wb-inv"> of a rescue link</span> with one link</summary>
                <div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">Payments to the CRA</p>
<p class="h1 mrgn-tp-0">Unable to pay for individuals</p>
</div>

				<p class="pull-left small"> <strong>You may be looking for:</strong></p>
				<ul class="pull-left mrgn-lft-md list-unstyled small mrgn-bttm-lg">
    <li> <a href="paying-time-e.html">Arrange to pay your personal debt over time</a></li>
  </ul>
    <p>Text of the page continues...</p>

               	</details> 
            </section> 
			
						<section>
               <details>
               <summary>Example<span class="wb-inv"> of a rescue link</span> with two links</summary>
			   <div>
                <div aria-hidden="true">

<p class="h1 mrgn-tp-md">Required tax instalments for individuals</p>
</div>
				<p class="pull-left small"> <strong>You may be looking for:</strong></p>
<ul class="pull-left mrgn-lft-md list-unstyled small mrgn-bttm-lg">
    <li> <a href="paying-time-e.html">Arrange to pay your personal debt over time</a></li>
	  <li> <a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/corporations/corporation-payments/paying-instalments.html">Paying instalments for corporations</a></li>
  </ul>
  <p>Text of the page continues...</p>
  </div>
               	</details> 
            </section> 
		
         </section>
		 

         <h2 id="h-2" >Design options</h2>
		 <div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#link1, #link", "class": "btn btn-default hidden"}, { "action": "addClass", "source":"#image1, #rescue", "class": "hidden"} ]}'>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "toggle", "toggle": ".cl-default", "live": true}, {"action": "addClass", "source": "#link1", "class": "", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#link1", "class": "btn btn-default", "live": true}, {"action": "toggle", "toggle": ".cl-btn-default, .cl-default, .cl-link", "live": true}]'>As a button</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#image1", "class": "hidden", "live": true}, {"action": "addClass", "source": "#link1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-image, .cl-link", "live": true}]'>On an image</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#rescue", "class": "hidden", "live": true}, {"action": "addClass", "source": "#link1, #link", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-rescue", "live": true}]'>Rescue links</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<a href="#" id="link1">Your link</a>
<span id="image1" class="hidden"><a href="#"><img src="images/components/images_300x100_link.jpg" /></a></span>
<span id="rescue" class="hidden">
<p class="pull-left small"> <strong>You may be looking for:</strong></p>
<ul class="pull-left mrgn-lft-md list-unstyled small mrgn-bttm-lg">
<li><a href="paying-time-e.html">Arrange to pay your personal debt over time</a></li>
<li><a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/corporations/corporation-payments/paying-instalments.html">Paying instalments for corporations</a></li>
</ul>
  </span>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span id="link">&lt;a href="#"<span class="hidden cl-btn-default"> class="<strong>btn btn-default</strong>"</span>&gt;<span class="cl-default">Your link</span><span class="hidden cl-image">&lt;<strong>img src="your_image_source"</strong> /&gt;</span>&lt;/a&gt;</span><span id="rescue" class="hidden cl-rescue">&lt;p class="<strong>pull-left small</strong>"&gt;&lt;strong&gt;You may be looking for:&lt;/strong&gt;&lt;/p&gt;
&lt;ul class="<strong>pull-left small list-unstyled mrgn-lft-md mrgn-bttm-lg</strong>"&gt;
  &lt;li&gt;&lt;a href="#"&gt;Title of reference page&lt;/a&gt;&lt;/li&gt;
  &lt;li&gt;&lt;a href="#"&gt;Title of second reference page (if necessary)&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</span></code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<p>Download the components library:</p>
<ul class="fa-ul">
<li><a href="axure_library_link"><span class="fa fa-li fa-download"></span> Axure library</a></li>
<li><a href="figma_ui_kit_link"><span class="fa fa-li fa-download"></span> Figma UI kit</a></li>
</ul>
</details>

</details>
</div>
</div>
</div>
<!-- Field flow warnings -->

</div>
</div>


		 <h2 id="h-3">Related components and functions</h2>
		<p>Additional add-on features and behaviours are available.</p>
		<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Badges -->
	  <li class="col-md-4" id="Badges">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Badges.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Badges.html">Badges</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Buttons -->
	  <li class="col-md-4" id="Buttons">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Buttons.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Buttons.html">Buttons</a></h3> 	 
	   </div></div></div></li>
	<!-- Footnotes -->
	  <li class="col-md-4" id="Footnotes">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Footnotes.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Footnotes.html">Footnotes</a></h3> 	 
	   </div></div></div></li>	   
	<!-- Pagination -->
	  <li class="col-md-4" id="Pagination">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Pagination.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Pagination.html">Pagination</a></h3> 	 
	   </div></div></div></li>
	<!-- Position -->
	  <li class="col-md-4" id="Position">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Position.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="Position.html">Positioning</a></h3> 	 
	   </div></div></div></li>	
</ul>

		 </div>
		 
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>	  <script src="../../../js/components.js"></script>
   </body>
</html>