<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Lists – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Lists – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Lists – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to display a number of connected items in a consecutive manner. Typically list items appear one below the other.</p>
		 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
          <li><a href="#h-1">How to use</a> 
		  <ul>
          <li><a href="#h-1-2">Capitalization</a></li>
          <li><a href="#h-1-3">Punctuation</a></li>   
          <li><a href="#h-1-4">Lead-in to a list</a></li>   
        </ul>
		</li>
      <li><a href="#h-2">Design options</a>
	  <ul class="colcount-md-2">
		 <li><a href="#h-2-1">Unordered lists</a></li>
      <li><a href="#h-2-2">Ordered lists</a></li>
	   <li><a href="#h-2-3">Definition lists</a></li>
	   <li><a href="#h-2-4">List columns</a></li>
	   <li><a href="#h-2-6">List group</a></li>
	   <li><a href="#h-2-7">List steps</a></li>
	   <li><a href="#h-2-8">Add icons for checkmarks and X marks</a></li>
		</ul>
		</li>	   
		<li><a href="#h-3">Complementary components and functions</a></li>
    </ul>

	
<h2 id="h-1">How to use</h2>
      <p>A short vertical list is easier for people to scan and remember than a long paragraph. If possible, aim for maximum of 7 items in your list.</p>
      <h3 class="h4 text-muted">When writing lists</h3>
      <ul class="fa-ul">
        <li><span class="fas fa-check fa-li text-success"></span>arrange  list items in:
          <ul>
            <li>logical or sequential order, or by</li>
            <li>priority, importance, or popularity, or by</li>
            <li><a href="findability.html#h_14">alphabetical, on rare occasions</a></li>
          </ul>
        </li>
        <li><span class="fas fa-check fa-li text-success"></span>use positive statements as much as possible</li>
        <li><span class="fas fa-check fa-li text-success"></span>use one sentence per single list item</li>
        <li><span class="fas fa-check fa-li text-success"></span>place negatively phrased items together, if you must use them</li>
		<li><span class="fas fa-check fa-li text-success"></span>use similar text and list types consistently within the same document</li>
        <li><span class="fas fa-check fa-li text-success"></span>use consistent <a href="findability.html#h_3">grammatical structure</a>. For example, if you:
          <ul>
            <li>use the imperative mood (or command) for the first item of your list, use the same mood for each subsequent list item</li>
            <li>start your first item with a noun, start the other list items with nouns</li>
          </ul>
        </li>
        <li><span class="fas fa-check fa-li text-success"></span>if a list contains more than 7 items, consider breaking it up into categories </li>
      </ul>
      <h3 id="h-1-2">Capitalization</h3>
      <p>When list items are grammatically independent of each other or follow a heading, capitalize the first letter of each list&nbsp;item.</p>
	  <details>
      <summary>Example <span class="wb-inv">of punctuation in independent list items</span></summary>
      <p><strong>Most requested</strong></p>
      <ul>
        <li><a href="http://canadabusiness.ca/eng/page/2852/pof-191/">Financing your new business</a></li>
        <li><a href="http://www.canadabusiness.ca/eng/page/2772/">Financing for innovation</a></li>
        <li><a href="http://www.ic.gc.ca/eic/site/csbfp-pfpec.nsf/eng/h_la00007.html">Find a loan for your small business</a></li>
        <li><a href="https://www.canada.ca/en/employment-social-development/programs/job-grant/employers.html">Canada job grants for employers</a></li>
      </ul>
	  </details>
      <p class="mrgn-tp-lg">When the meaning of list items depends on a lead-in phrase, don't capitalize the first letter of each unless it's a proper name.</p>
      <details>
      <summary>Example <span class="wb-inv">of punctuation in interdependent list items preceded by a colon</span></summary>
      <p>Representatives can be:</p>
      <ul>
        <li>citizenship or immigration consultants</li>
        <li>lawyers</li>
        <li>other representatives</li>
      </ul>
	  </details>
      <h3 id="h-1-3">Punctuation</h3>
      <p>Don't end the list items with any punctuation.</p>
    
      <h3 id="h-1-4">Lead-in to a list</h3>
      <p>Each list requires one of the following:
      <p>
      <ul>
        <li>a descriptive and unique heading</li>
        <li>a lead-in sentence</li>
        <li>an introductory paragraph to provide some context</li>
      </ul>
      <p>If you need to clarify the relationship between each element, start the list with a lead-in paragraph that:</p>
      <ul>
        <li>introduces or applies to all the list items </li>
        <li>emphasizes the common element between all the items</li>
      </ul>
      <p>If necessary, specify "all" or "or" in the introductory paragraph to clarify whether the list is comprehensive or conditional.</p>
      <details>
      <summary>Example <span class="wb-inv">of lead-in sentence to a list</span></summary>
	  <p>You can write:</p>
	  <ul>
        <li>"You must meet all of the following requirements:"</li>
        <li>"To be eligible, you must meet 1 or more of the following requirements:"</li>
      </ul>
		</details>
<h2 id="h-2" >Design options</h2>

<h3 id="h-2-1">Unordered lists</h3>
<p>Use an unordered list when the list item order  <strong>does not</strong> explicitly matter.</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="radioselected">
<div class="row">
<div class="col-xs-6">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#ul1", "class": " list-unstyled lst-none list-inline               "} ]}'>
<p><span class="h4">Style</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ul1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ul1", "class": "lst-none", "live": true}, {"action": "toggle", "toggle": ".cl-lst-none", "live": true}]'>Remove bullets</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ul1", "class": "list-unstyled", "live": true}, {"action": "toggle", "toggle": ".cl-list-unstyled", "live": true}]'>Unstyled</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ul1", "class": "list-inline", "live": true}, {"action": "toggle", "toggle": ".cl-list-inline", "live": true}]'>Inline</li>
</ul>
</div>
</div>
<div class="col-xs-6">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#ul1", "class": " lst-spcd                "} ]}'>
<p><span class="h4">Spacing</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ul1", "class": "lst-spcd", "live": true}, {"action": "toggle", "toggle": ".cl-lst-spcd", "live": true}]'>Added spacing</li>
</ul>
</div>
</div>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<ul id="ul1">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ul>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;ul class="<strong><span class="hidden cl-list-unstyled">list-unstyled</span><span class="hidden cl-lst-none">lst-none</span><span class="hidden cl-list-inline">list-inline</span><span class="hidden cl-lst-spcd"> lst-spcd</span></strong>"&gt;
  &lt;li&gt;List item 1&lt;/li&gt;
  &lt;li&gt;List item 2&lt;/li&gt;
  &lt;li&gt;List item 3&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
</details>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>
<!-- Correct use -->
<h4 class="mrgn-tp-0 text-muted">Correct use</h4>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Place only one idea in each bulleted item. If you need to include more information to explain an idea, use sub-bullets, but use them sparingly</li>
</ul>
<details>
<summary>Example <span class="wb-inv">of bulleted list items</span></summary>
	  <div class="row">
	  <div class="col-sm-6">
      <p><span class="text-muted"><strong>Write</strong></span><br>
        To draft a high-quality source document:</p>
      <ul>
        <li>organize your ideas
          <ul>
            <li>arrange your ideas from most to least important to the task</li>
            <li>test your order with a representative audience</li>
          </ul>
        </li>
        <li>use the active voice</li>
        <li>use the right words</li>
        <li>write short sentences and paragraphs</li>
        <li>follow the guidelines in the <cite>Canada.ca Content Style Guide</cite></li>
      </ul>
	  </ul>
	  </div>
	   <div class="col-sm-6">
      <p><span class="text-muted"><strong>Instead of</strong></span><br>
        To draft a high-quality source document:</p>
      <ul>
        <li>organize your ideas</li>
        <li>arrange your ideas from most to least important to the task</li>
        <li>test your order with a representative audience</li>
        <li>do not use the passive voice</li>
        <li>it is important to use the right words</li>
        <li>use only short sentences and paragraphs</li>
        <li>use the Canada.ca Content Style Guide to ensure you have followed the guidelines</li>
      </ul>
	  </div>
	  </div>
</details>

<h3 id="h-2-2">Ordered lists</h3>
<p>Use an ordered list to list of items when the order <strong>does</strong> explicitly matter.</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="radioselected">
<div class="row">
<div class="col-xs-6">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#ol1", "class": " lst-lwr-alph lst-upr-alph lst-lwr-rmn lst-upr-rmn               "} ]}'>
<p><span class="h4">Style</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-lwr-alph", "live": true}, {"action": "toggle", "toggle": ".cl-lst-lwr-alph", "live": true}]'>Lower alpha</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-upr-alph", "live": true}, {"action": "toggle", "toggle": ".cl-lst-upr-alph", "live": true}]'>Upper alpha</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-lwr-rmn", "live": true}, {"action": "toggle", "toggle": ".cl-lst-lwr-rmn", "live": true}]'>Lower roman</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-upr-rmn", "live": true}, {"action": "toggle", "toggle": ".cl-lst-upr-rmn", "live": true}]'>Upper roman</li>
</ul>
</div>
</div>
<div class="col-xs-6">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#ol1", "class": " lst-spcd                "} ]}'>
<p><span class="h4">Spacing</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-spcd", "live": true}, {"action": "toggle", "toggle": ".cl-ol-spcd", "live": true}]'>Added spacing</li>
</ul>
</div>
</div>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app4">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<ol id="ol1">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
</ol>
</div>
</details>
<!-- Field flow code -->
<details id="app5">
<summary>HTML code</summary>
<pre><code>&lt;ol class="<strong><span class="hidden cl-lst-lwr-alph">lst-lwr-alph</span><span class="hidden cl-lst-upr-alph">lst-upr-alph</span><span class="hidden cl-lst-lwr-rmn">lst-lwr-rmn</span><span class="hidden cl-lst-upr-rmn">lst-upr-rmn</span><span class="hidden cl-ol-spcd"> lst-spcd</span></strong>"&gt;
  &lt;li&gt;List item 1&lt;/li&gt;
  &lt;li&gt;List item 2&lt;/li&gt;
  &lt;li&gt;List item 3&lt;/li&gt;
&lt;/ol&gt;
</code></pre>
</details>
</details>
<details id="app6">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<!-- Correct use -->
<h4 class="mrgn-tp-0 text-muted">Correct use</h4>
<dl class="dl-horizontal">
<dt>Numbered lists</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use ordered lists to show:
      <ul>
        <li>ranking </li>
        <li>order</li>
        <li>priority </li>
        <li>step-by-step instructions </li>
      </ul>
	  </li>
</dd>
<dt>Alpha lists</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to display letters instead of numbers
<ul>
<li>This applies only to immediate children list items</li>
<li>This means you also need to<strong> add the <abbr title="cascading style sheet">CSS</abbr> class for any nested lists</strong></li>
</ul>
</li>
<li><span class="fas fa-check fa-li text-success"></span>Use lower alpha mainly as a nested <strong>second</strong> level list</li>
<li><span class="fas fa-check fa-li text-success"></span>Use upper alpha mainly in legal documents</li>
</ul>
</dd>
<dt>Roman numeral</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to display Roman (<abbr title="Roman numeral one two three four">I, II, III, IV</abbr> or <abbr title="Lower case Roman numeral one two three four">i, ii, iii, iv</abbr>…) instead of Arabic (1, 2, 3, 4…) numerals
<ul>
<li>This applies only to immediate children list items</li>
<li>This means you <strong>also need to add the <abbr title="cascading style sheet">CSS</abbr> class for any nested lists</strong></li>
</ul>
</li>
<li><span class="fas fa-check fa-li text-success"></span>Use lower roman mainly as a nested <strong>second</strong> level list</li>
<li><span class="fas fa-check fa-li text-success"></span>Use upper roman mainly in legal documents</li>
</ul>
</dd>
</dl>

<h3 id="h-2-3">Definition lists</h3>
<p>Use to list data terms with their associated definitions.</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#dl1", "class": " dl-horizontal brdr-0                 "} ]}'>
<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#dl1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#dl1", "class": "dl-horizontal", "live": true}, {"action": "toggle", "toggle": ".cl-dl-horizontal", "live": true}]'>Horizontal</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#dl1", "class": "dl-horizontal brdr-0", "live": true}, {"action": "toggle", "toggle": ".cl-dl-brdr", "live": true}]'>Horizontal without borders</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app7">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<dl id="dl1">
  <dt>Term 1</dt>
  <dd>Definition of term 1</dd>
  <dt>Term 2</dt>
  <dd>Definition of term 2</dd>
  <dt>Term 3</dt>
  <dd>Definition of term 3</dd>
</dl>
</div>
</details>
<!-- Field flow code -->
<details id="app8">
<summary>HTML code</summary>
<pre><code>&lt;dl class="<strong><span class="hidden cl-dl-horizontal">dl-horizontal</span><span class="hidden cl-dl-brdr">dl-horizontal brdr-0</span></strong>"&gt;
  &lt;dt&gt;Term 1&lt;/dt&gt;
  &lt;dd&gt;Definition of term 1&lt;/dd&gt;
  &lt;dt&gt;Term 2&lt;/dt&gt;
  &lt;dd&gt;Definition of term 2&lt;/dd&gt;
  &lt;dt&gt;Term 3&lt;/dt&gt;
  &lt;dd&gt;Definition of term 3&lt;/dd&gt;
&lt;/dl&gt;
</code></pre>
<p><strong>Coding considerations:</strong></p>
 <ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use datalists (<code>&lt;dl&gt;</code>) for terms (<code>&lt;dt&gt;</code>) and the associated definitions (<code>&lt;dd&gt;</code>) that follow them</li>
<li><span class="fas fa-check fa-li text-success"></span>Horizontal definition lists will stack like the default <code>&lt;dl&gt;</code> on smaller screen resolutions</li>
</ul>

</details>
</details>
<details id="app9">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>


<h3 id="h-2-4">List columns</h3>
<p>Use to make a list spread over 2, 3 or 4 columns. Since columns are similar to grids, they adhere to the same breakpoints as <a href="grids.html">grids</a>.</p> 


<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#colcount1", "class": "colcount-sm-2 colcount-sm-3 colcount-sm-4 colcount-md-3 colcount-lg-4               "} ]}'>
<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#colcount1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#colcount1", "class": "colcount-sm-2", "live": true}, {"action": "toggle", "toggle": ".cl-colcount-sm-2", "live": true}]'>2 columns</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#colcount1", "class": "colcount-sm-3", "live": true}, {"action": "toggle", "toggle": ".cl-colcount-sm-3", "live": true}]'>3 columns</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#colcount1", "class": "colcount-sm-4", "live": true}, {"action": "toggle", "toggle": ".cl-colcount-sm-4", "live": true}]'>4 columns</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#colcount1", "class": "colcount-sm-2 colcount-md-3 colcount-lg-4", "live": true}, {"action": "toggle", "toggle": ".cl-multi", "live": true}]'>Multi-class (sm-2 md-3 lg-4)</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app10">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<ul id="colcount1">
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
  <li>List item 4</li>
  <li>List item 5</li>
  <li>List item 6</li>
  <li>List item 7</li>
  <li>List item 8</li>
</ul>
</div>
</details>
<!-- Field flow code -->
<details id="app11">
<summary>HTML code</summary>
<pre><code>&lt;ul class="<strong><span class="hidden cl-colcount-sm-2">colcount-sm-2</span><span class="hidden cl-colcount-sm-3">colcount-sm-3</span><span class="hidden cl-colcount-sm-4">colcount-sm-4</span><span class="hidden cl-multi">colcount-sm-2 colcount-md-3 colcount-lg-4</span></strong>"&gt;
  &lt;li&gt;List item 1&lt;/li&gt;
  &lt;li&gt;List item 2&lt;/li&gt;
  &lt;li&gt;List item 3&lt;/li&gt;
  &lt;li&gt;...&lt;/li&gt;
&lt;/ul&gt;
</code></pre>
<p><strong>Coding considerations:</strong></p>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use any of the following <abbr title="cascading style sheet">CSS</abbr> classes:
<table class="table table-bordered">
<caption><span class="wb-inv">List colums CSS classes</span></caption>
<thead>
<tr>
	<th scope="col">
<strong>2 columns</strong> </th>
	<th scope="col">
<strong>3 columns</strong> </th>
	<th scope="col">
<strong>4 columns</strong> </th> </tr> </thead>
<tbody>

<tr>
	<td><code>colcount-xs-2</code> </td>
	<td><code>colcount-xs-3</code> </td>
	<td><code>colcount-xs-4</code> </td>
</tr>
<tr>
	<td><code>colcount-sm-2</code> </td>
	<td><code>colcount-sm-3</code> </td>
	<td><code>colcount-sm-4</code> </td>
</tr>
<tr>
	<td><code>colcount-md-2</code> </td>
	<td><code>colcount-md-3</code> </td>
	<td><code>colcount-md-4</code> </td>
</tr>
<tr>
	<td><code>colcount-lg-2</code> </td>
	<td><code>colcount-lg-3</code> </td>
	<td><code>colcount-lg-4</code> </td>
</tr>
<tr>
	<td><code>colcount-xl-2</code> </td>
	<td><code>colcount-xl-3</code> </td>
	<td><code>colcount-xl-4</code> </td>
</tr> </tbody> </table>
</li>
</ul>
</details>
</details>
<details id="app12">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>
</div>

<!-- Correct use -->
<h4 class="text-muted">Correct use</h4>
<ul class="fa-ul">
    <li><span class="fas fa-check fa-li text-success"></span>Apply to  ordered or unordered list elements</li>
    <li><span class="fas fa-check fa-li text-success"></span>Check the viewport, and multi-class the list to optimize the number of columns for each resolution</li>
  </ul>


<h3 id="h-2-6">List group</h3>
<p>Use to group related content as an unordered list. </p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="row">
<div class="col-xs-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#group1, #group2", "class": " hidden                  "} ]}'>
<p><span class="h4">Style</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#group1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-group1", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#group2", "class": "hidden", "live": true}, {"action": "addClass", "source": "#group1hidden", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-group2", "live": true}]'>With links</li>
</ul>
</div>
</div>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#info1, #active1, #warning1, #danger1, #info2, #active2, #warning2, #danger2", "class": "list-group-item-info list-group-item-success list-group-item-warning list-group-item-danger"} ]}'>
<p><span class="h4">Colour</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#info1, #info2", "class": "list-group-item-info", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-info", "live": true}]'>Info</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#active1, #active2", "class": "list-group-item-success", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-success", "live": true}]'>Success</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#warning1, #warning2", "class": "list-group-item-warning", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-warning", "live": true}]'>Warning</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#danger1, #danger2", "class": "list-group-item-danger", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-danger", "live": true}]'>Danger</li>
</ul>
</div>
</div>
<div class="col-xs-6">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#active1, #active2", "class": "active                   "} ]}'>
<p><span class="h4">Active</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#active1, #active2", "class": "active", "live": true}, {"action": "toggle", "toggle": ".cl-active", "live": true}]'>Active item</li>
</ul>
</div>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true }'>
<p><span class="h4">Badges</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "toggle", "toggle": ".cl-badge, .cl-badgehtml", "live": true}]'>Add badges</li>
</ul>
</div>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12, #text13, #text14, #text15, #text16", "class": "hidden"} ]}'>
<p><span class="h4">Headings</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #text2, #text3, #text4, #text5, #text6, #text7, #text8, #text9, #text10, #text11, #text12, #text13, #text14, #text15, #text16", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-head, .cl-textc", "live": true}]'>Add headings</li>
</ul>
</div>
</div>
</div>
</div>
</form>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app16">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<span id="group1">
<ul class="list-group">
  <li class="list-group-item" id="info1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="hidden badge cl-badge">14</span>
  <span class="cl-text" id="text1">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></li>
  <li class="list-group-item" id="active1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="hidden badge cl-badge">9</span>
  <span class="cl-text" id="text2">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></li>
  <li class="list-group-item" id="warning1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="cl-text" id="text3">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></li>
  <li class="list-group-item" id="danger1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="cl-text" id="text4">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></li>
</ul>
</span>
<span id="group2" class="hidden">
<div class="list-group" role="list">
  <a href="#" class="list-group-item" role="list-item" id="info1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="hidden badge cl-badge">14</span>
  <span class="cl-text" id="text5">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></a>
  <a href="#" class="list-group-item" role="list-item" id="active1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="hidden badge cl-badge">9</span>
  <span class="cl-text" id="text6">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></a>
  <a href="#" class="list-group-item" role="list-item" id="warning1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="cl-text" id="text7">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></a>
  <a href="#" class="list-group-item" role="list-item" id="danger1">
  <span class="hidden cl-head"><h4 class="list-group-item-heading">Heading</h4></span>
  <span class="cl-text" id="text8">List item</span>
  <span class="hidden cl-textc"><p class="list-group-item-text">List item</p></span></a>
</div>
</span>
</div>
</details>
<!-- Field flow code -->
<details id="app17">
<summary>HTML code</summary>
<pre><code><span class="cl-group1" id="group1hidden">&lt;ul class="list-group"&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-info"> list-group-item-info</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;14&lt;/span&gt;</span><span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text9">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/li&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-success"> list-group-item-success</span><span class="hidden cl-active"> active</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;9&lt;/span&gt;</span><span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text10">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/li&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-warning"> list-group-item-warning</span></strong>"&gt;<span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text11">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/li&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-danger"> list-group-item-danger</span></strong>"&gt;<span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text12">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/li&gt;
&lt;/ul&gt;</span><span class="hidden cl-group2">&lt;div class="list-group" role="list"&gt;
  &lt;a role="list-item" class="list-group-item<strong><span class="hidden cl-list-group-item-info"> list-group-item-info</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;14&lt;/span&gt;</span><span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text9">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/a&gt;
  &lt;a role="list-item" class="list-group-item<strong><span class="hidden cl-list-group-item-success"> list-group-item-success</span><span class="hidden cl-active"> active</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;9&lt;/span&gt;</span><span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text10">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/a&gt;  
  &lt;a role="list-item" class="list-group-item<strong><span class="hidden cl-list-group-item-warning"> list-group-item-warning</span></strong>"&gt;<span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text11">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/a&gt;
  &lt;a role="list-item" class="list-group-item<strong><span class="hidden cl-list-group-item-danger"> list-group-item-danger</span></strong>"&gt;<span class="hidden cl-head">&lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;</span><span class="cl-text" id="text12">List item</span><span class="hidden cl-textc">&lt;p class="<strong>list-group-item-text</strong>"&gt;List item&lt;/p&gt;</span>&lt;/a&gt;
&lt;/div&gt;</span></code></pre>
<p><strong>Coding considerations:</strong></p>
 <ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use an unordered list element  (<code>&lt;div&gt;</code>) only when there are <strong>no links</strong></li>
<li><span class="fas fa-check fa-li text-success"></span>Use the <code>&lt;div&gt;</code> element when there <strong>are links</strong></li>
</ul>
</details>
</details>
<details id="app18">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<!-- Correct use -->
<h4 class="mrgn-tp-0 text-muted">Correct use</h4>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Mark the link as <strong>active</strong> when the link target matches the current page address</li>
<li><span class="fas fa-check fa-li text-success"></span>Use the <a href="badges.html">badges</a> component to any list group item. Badges are automatically positioned on the right</li>
<li><span class="fas fa-check fa-li text-success"></span>Use the following colours to style list items, default or linked:
<ul>
<li><strong>success</strong>: when the item is correct</li>
<li><strong>info</strong>: when the item is informational</li>
<li><strong>warning</strong>: when the item warns to the user</li>
<li><strong>danger</strong>: when the item or action is dangerous</li>
</ul>
</li>
</ul>
<h3 id="h-2-7">List steps</h3>
<p>Use to outline the process to complete a task that can be divided into steps and sub-steps.</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#stepsol, #stepsdiv", "class": "hidden"} ]}'>
<p><span class="h4">Headings</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#stepsol", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-steps1", "live": true}]'>No headings (using ordered list)</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#stepsdiv", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-div", "live": true}]'>With headings (using section/div)</li>
</ul>
</div>
</div>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#subol, #subdiv", "class": "hidden stps-strpd"}]}'>
<p><span class="h4">Nested list</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#subol, #subdiv", "class": "stps-strpd", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#subol, #subdiv", "class": "hidden stps-strpd", "live": true}, {"action": "toggle", "toggle": ".cl-subol, .cl-subdiv", "live": true}]'>Add sub-steps</li>
<!--<li data-wb-fieldflow='[{"action": "removeClass", "source": "#subol, #subdiv", "class": "hidden", "live": true}, {"action": "addClass", "source": "#subol, #subdiv", "class": "stps-strpd", "live": true}, {"action": "toggle", "toggle": ".cl-subol, .cl-subdiv, .cl-subzebra", "live": true}]'>Add sub-steps with zebra striping</li>-->
</ul>
</div>
</div>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#stepsol, #stepsdiv, #subol, #subdiv", "class": "stps-strpd"} ]}'>
<p><span class="h4">Zebra striping</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#stepsol, #stepsdiv, #subol, #subdiv", "class": "stps-strpd", "live": true}, {"action": "toggle", "toggle": ".cl-zebra, .cl-subzebra", "live": true}]'>Add zebra striping</li>

</ul>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<!-- Field flow warnings -->
<div class="panel panel-body brdr-0 brdr-rds-0">
<ol class="lst-stps" id="stepsol">
        <li>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</li>
        <li>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.
		<ol id="subol" class="hidden lst-stps-sub">
	 <li>List item 2 sub item 1</li>
	 <li>List item 2 sub item 2</li>
	 <li>List item 2 sub item 3</li>
    </ol>	</li>
        <li>
          <p>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. </p>
          <p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>
        </li>
      </ol>
<section class="hidden lst-stps" id="stepsdiv">
  <div class="lst-stps-itm">
   <h2><span class="wb-inv">Step 1</span> Heading goes here</h2>
    <p>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>
  </div>
  <div class="lst-stps-itm">
   <h2><span class="wb-inv">Step 2</span> Heading goes here</h2>
    <p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>
	<section id="subdiv" class="lst-stps-sub hidden">
	 <div class="lst-stps-itm">
	  <h3><span class="wb-inv">Step 2a</span> Sub-heading goes here</h3>
	 <p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei.</p>
	 </div>
	 <div class="lst-stps-itm">
	  <h3><span class="wb-inv">Step 2b</span> Sub-heading goes here</h3>
	 <p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei.</p>
	 </div>
	 <div class="lst-stps-itm">
	  <h3><span class="wb-inv">Step 2c</span> Sub-heading goes here</h3>
	 <p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei.</p>
	 </div>
	</section>
  </div>
  <div class="lst-stps-itm">
   <h2><span class="wb-inv">Step 3</span> Heading goes here</h2>
    <p>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in.</p>
	<p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>
  </div>
</section>	  
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span id="stepsol" class="cl-steps1">&lt;ol class="<strong>lst-stps<span class="hidden cl-zebra"> stps-strpd</span></strong>"&gt;
  &lt;li&gt;...&lt;/li&gt;
  &lt;li&gt;...<span class="hidden cl-subol"><br>    &lt;ol class="<strong>lst-stps-sub<span class="hidden cl-subzebra"> stps-strpd</span></strong>"&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
      &lt;li&gt;...&lt;/li&gt;
    &lt;/ol&gt;<br></span>&lt;/li&gt;
	&lt;li&gt;...&lt;/li&gt;
&lt;/ol&gt;</span><span class="hidden cl-div">&lt;section class="<strong>lst-stps<span class="hidden cl-zebra"> stps-strpd</span></strong>"&gt;
  &lt;div class="<strong>lst-stps-itm</strong>"&gt;
    &lt;h2&gt;&lt;span class="wb-inv"&gt;Step 1&lt;/span&gt; Heading&lt;/h2&gt;
    &lt;p&gt;...&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="<strong>lst-stps-itm</strong>"&gt;
    &lt;h2&gt;&lt;span class="wb-inv"&gt;Step 2&lt;/span&gt; Heading&lt;/h2&gt;
    &lt;p&gt;...&lt;/p&gt;<span class="hidden cl-subdiv"><br>    &lt;section class="<strong>lst-stps-sub<span class="hidden cl-subzebra"> stps-strpd</span></strong>"&gt;
      &lt;div class="<strong>lst-stps-itm</strong>"&gt;
        &lt;h3&gt;&lt;span class="wb-inv"&gt;Step 2a&lt;/span&gt; Sub-heading&lt;/h3&gt;
        &lt;p&gt;...&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="<strong>lst-stps-itm</strong>"&gt;
        &lt;h3&gt;&lt;span class="wb-inv"&gt;Step 2b&lt;/span&gt; Sub-heading&lt;/h3&gt;
        &lt;p&gt;...&lt;/p&gt;
      &lt;/div&gt;
      &lt;div class="<strong>lst-stps-itm</strong>"&gt;
        &lt;h3&gt;&lt;span class="wb-inv"&gt;Step 2c&lt;/span&gt; Sub-heading&lt;/h3&gt;
        &lt;p&gt;...&lt;/p&gt;
      &lt;/div&gt;
    &lt;/section&gt;</span>
  &lt;/div&gt;
  &lt;div class="<strong>lst-stps-itm</strong>"&gt;
    &lt;h2&gt;&lt;span class="wb-inv"&gt;Step 3&lt;/span&gt; Heading&lt;/h2&gt;
    &lt;p&gt;...&lt;/p&gt;
    &lt;p&gt;...&lt;/p&gt;
  &lt;/div&gt;
&lt;/section&gt;</span></code></pre>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-6">
<h4 class="text-muted">Correct use</h4>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>List items in the correct order for task completion</li>
<li><span class="fas fa-check fa-li text-success"></span>Start with an active verb (for example, open, complete, manage, know, close, send, keep, find, etc.)</li>
<li><span class="fas fa-check fa-li text-success"></span>If sub steps do not have to be in a specific order, bullet points are acceptable</li>
</ul>
</div>
<div class="col-sm-6">
<h4 class="text-muted">Incorrect use</h4>
<ul class="fa-ul">
<li><span class="fas fa-times fa-li text-danger"></span>Do not use if the order of the list items does not explicitly matter</li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not exceed 4 levels of sub steps</li>
</ul>
</div>
</div>
<h3 id="h-2-8">Add icons for checkmarks and X marks</h3>
<p>Use <a href="icons.html">icons</a> to replace the default bullets of a list with a checkmark or an X mark.</p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#lista, #iconsa, #listhtml", "class": " hidden                  "} ]}'>
<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#iconsa", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-iconsa", "live": true}, { "action": "addClass", "source":"#lista, #listhtml", "class": " hidden"}]'>Checkmarks and X marks</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#lista", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-lista", "live": true}]'>Default</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app13">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<span class="hidden cl-lista" id="lista">
<ul>
  <li>List item 1</li>
  <li>List item 2</li>
  <li>List item 3</li>
    <li>List item 4</li>
</ul>
</span>
<span class="" id="iconsa">
<ul class="fa-ul">
   <li><span class="fas fa-check text-success fa-li"></span>List item 1</li>
   <li><span class="fas fa-check text-success fa-li"></span>List item 2</li>
   <li><span class="fas fa-times text-danger fa-li"></span>List item 3</li>
   <li><span class="fas fa-times text-danger fa-li"></span>List item 4</li>
</ul>
</span>
</div>
</details>
<!-- Field flow code -->
<details id="app14">
<summary>HTML code</summary>
<div class="mrgnlft-md mrgn-rght-md">
<pre><code><span class="hidden cl-lista">&lt;ul&gt;
  &lt;li&gt;List item 1&lt;/li&gt;
  &lt;li&gt;List item 2&lt;/li&gt;
  &lt;li&gt;List item 3&lt;/li&gt;
&lt;/ul&gt;</span><span id="listhtml" class="cl-iconsa">&lt;ul class="<strong>fa-ul</strong>"&gt;
   &lt;li&gt;&lt;span class="fas fa-check text-success <strong>fa-li</strong>"&gt;&lt;/span&gt;List item 1&lt;/li&gt;
   &lt;li&gt;&lt;span class="fas fa-check text-success <strong>fa-li</strong>"&gt;&lt;/span&gt;List item 2&lt;/li&gt;
   &lt;li&gt;&lt;span class="fas fa-times text-danger <strong>fa-li</strong>"&gt;&lt;/span&gt;List item 3&lt;/li&gt;
   &lt;li&gt;&lt;span class="fas fa-times text-danger <strong>fa-li</strong>"&gt;&lt;/span&gt;List item 4&lt;/li&gt;
&lt;/ul&gt;</span>
</div>
</code></pre>
</details>
</details>
<details id="app15">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>

</div>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-sm-6">
<h4 class="text-muted">Correct use</h4>
<ul class="fa-ul">
    <li><span class="fas fa-check fa-li text-success"></span>Use to make a comparison between yes/no, can/cannot</li>
    <li><span class="fas fa-check fa-li text-success"></span>Use as an explicit statement of when you can/must do something</li>
	<li><span class="fas fa-check fa-li text-success"></span>Use as a list of specific things something (a rule) applies to</li>
  </ul>
</div>
<div class="col-sm-6">
<h4 class="text-muted">Incorrect use</h4>
<ul class="fa-ul">
    <li><span class="fas fa-times fa-li text-danger"></span>Do not use outside of a list (paragraph)</li>
    <li><span class="fas fa-times fa-li text-danger"></span>Do not use in conjunction with another graphic or image</li>
	<li><span class="fas fa-times fa-li text-danger"></span>Do not use as a header, with bullets included beneath</li>
  </ul>
</div>
</div>
<h4>Supporting research</h4>
<details>
<summary>Home office expenses - User testing</summary>
<p>The checkmarks and X's were initially tested as part of the new Home Office Expenses web pages. Due to COVID-19, CRA knew that hundreds of thousands of Canadians would suddenly become eligible to claim their work space in the home expenses when previously they would not have had this experience. </p>
<p>The web pages were entirely re-done in order to make it as easy as possible to understand what taxpayers could claim for their home office, without calling the call centre. </p>
<p>Here, the checkmarks and X's treatment was used to show the expenses which could and could not be claimed depending on the type of employee the taxpayer is. </p>
<p>Rather than sorting through content and reading paragraphs of text (as they had done previously), people could easily read a clear, bulleted list of common expense claims. Users immediately understood that if there was a checkmark next to the expense, it meant they could claim it, and if there was an X, it meant they could not. </p>
<p>This formatting made the content more scannable and easier to understand. </p>
<p>The first user test we conducted with the checkmarks and X's resulted in 7/8 participants getting the correct answer. User 3 said "I like the face that they are all displayed in this manner. [It] makes browsing simple". </p>
<p>Visit <a href="https://www.canada.ca/en/services/taxes/income-tax.html">Home office expenses for employees - What the changes are</a> to see a real life example of checkmarks and X's.</p>		
</details>
<h2 id="h-3">Complementary components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
		<!-- Checklists -->
	  <li class="col-md-4" id="checklists">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/checklists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="checklists.html">Checklists</a></h3> 	 
	   </div></div></div></li>
	<!-- Icons -->
	  <li class="col-md-4" id="Icons">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/icons.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="icons.html">Icons</a></h3> 	 
	   </div></div></div></li>	 

</ul>

</div>
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  	  <script src="../../../js/components.js"></script>
   </body>
</html>