<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>List group – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"},{title: "Design and coding",href: "../../index.html"},{title: "Standard web page design and coding",href: "../index.html"},{title: "Components and functions",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">List group – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">List group – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		 <li><a href="#h-1-1">Purpose of list groups</a></li>
		</ul></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">Basic list group</a></li>
      <li><a href="#h-2-2">Complex content</a></li>
	   <li><a href="#h-2-3">Related components and functions</a></li>
		</ul></li>

    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>

<h3 id="h-1-1">Purpose of List group</h3>
<p>Use list group components to contain related content.</p>

<h2 id="h-2" >Design options</h2>

<h3 id="h-2-1">Basic list group</h3>
<p>Use to group related content as an unordered list. </p>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="row">
<div class="col-md-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#group1, #group2", "class": " hidden                  "} ]}'>
<p><span class="h4">Style</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#group1", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-group1", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "removeClass", "source": "#group2", "class": "hidden", "live": true}, {"action": "addClass", "source": "#group1hidden", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-group2", "live": true}]'>With links</li>
</ul>
</div>
</div>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#info1, #active1, #warning1, #danger1, #info2, #active2, #warning2, #danger2", "class": "list-group-item-info list-group-item-success list-group-item-warning list-group-item-danger"} ]}'>
<p><span class="h4">Colour</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#info1, #info2", "class": "list-group-item-info", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-info", "live": true}]'>Info</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#active1, #active2", "class": "list-group-item-success", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-success", "live": true}]'>Success</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#warning1, #warning2", "class": "list-group-item-warning", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-warning", "live": true}]'>Warning</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#danger1, #danger2", "class": "list-group-item-danger", "live": true}, {"action": "toggle", "toggle": ".cl-list-group-item-danger", "live": true}]'>Danger</li>
</ul>
</div>
</div>
<div class="col-md-6">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#active1, #active2", "class": "active                   "} ]}'>
<p><span class="h4">Active</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#active1, #active2", "class": "active", "live": true}, {"action": "toggle", "toggle": ".cl-active", "live": true}]'>Active item</li>
</ul>
</div>
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true }'>
<p><span class="h4">Badge</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "toggle", "toggle": ".cl-badge, .cl-badgehtml", "live": true}]'>Badges</li>
</ul>
</div>
</div>
</div>
</div>
</form>

<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<span id="group1">
<ul class="list-group">
  <li class="list-group-item" id="info1"><span class="hidden badge cl-badge">14</span>List item</li>
  <li class="list-group-item" id="active1"><span class="hidden badge cl-badge">9</span>List item</li>
  <li class="list-group-item" id="warning1">List item</li>
  <li class="list-group-item" id="danger1">List item</li>
</ul>
</span>
<span class="hidden" id="group2">
<div class="list-group">
  <a href="#" class="list-group-item" id="info2"><span class="hidden badge cl-badge">14</span>List item</a>
  <a href="#" class="list-group-item" id="active2"><span class="hidden badge cl-badge">9</span>List item</a>
  <a href="#" class="list-group-item" id="warning2">List item</a>
  <a href="#" class="list-group-item" id="danger2">List item</a>
</div>
</span>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span class="cl-group1" id="group1hidden">&lt;<strong>ul</strong> class="list-group"&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-info"> list-group-item-info</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;14&lt;/span&gt;</span>List item&lt;/li&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-success"> list-group-item-success</span><span class="hidden cl-active"> active</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;9&lt;/span&gt;</span>List item&lt;/li&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-warning"> list-group-item-warning</span></strong>"&gt;List item&lt;/li&gt;
  &lt;li class="list-group-item<strong><span class="hidden cl-list-group-item-danger"> list-group-item-danger</span></strong>"&gt;List item&lt;/li&gt;
&lt;<strong>/ul</strong>&gt;</span><span class="hidden cl-group2">&lt;<strong>div</strong> class="list-group"&gt;
  &lt;a href="#" class="list-group-item<strong><span class="hidden cl-list-group-item-info"> list-group-item-info</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;14&lt;/span&gt;</span>List item&lt;/a&gt;
  &lt;a href="#" class="list-group-item<strong><span class="hidden cl-list-group-item-success"> list-group-item-success</span><span class="hidden cl-active"> active</span></strong>"&gt;<span class="hidden cl-badgehtml">&lt;span class="<strong>badge</strong>"&gt;9&lt;/span&gt;</span>List item&lt;/a&gt;
  &lt;a href="#" class="list-group-item<strong><span class="hidden cl-list-group-item-warning"> list-group-item-warning</span></strong>"&gt;List item&lt;/a&gt;
  &lt;a href="#" class="list-group-item<strong><span class="hidden cl-list-group-item-danger"> list-group-item-danger</span></strong>"&gt;List item&lt;/a&gt;
&lt;<strong>/div</strong>&gt;</span>
</code></pre>
</details>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<!-- Correct use -->
<h4 class="mrgn-tp-0 text-muted">Correct use</h4>
<dl class="dl-horizontal">
<dt>General</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use an unordered list element  (<code>&lt;ul&gt;</code>) only when there are <strong>no links</strong></li>
<li><span class="fas fa-check fa-li text-success"></span>Use the <code>&lt;div&gt;</code> element when there <strong>are links</strong></li>
<li><span class="fas fa-check fa-li text-success"></span>Apply the <code>.active</code> class when the link target matches the current page address</li>
<li><span class="fas fa-check fa-li text-success"></span>Use the <a href="badges.html">badges</a> component to any list group item. Badges are automatically positioned on the right</li>
</ul>
</dd>
<dt>Colours</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use colour classes to style list items, default or linked.</li>
<li><span class="fas fa-check fa-li text-success"></span><code>.list-group-item-success</code> for when the item is correct</li>
<li><span class="fas fa-check fa-li text-success"></span><code>.list-group-item-info</code> for when the item is informational</li>
<li><span class="fas fa-check fa-li text-success"></span><code>.list-group-item-warning</code> for when the item warns to the user</li>
<li><span class="fas fa-check fa-li text-success"></span><code>.list-group-item-danger</code> for when the item or action is dangerous</li>
</ul>
</dd>
</dl>

<h3 id="h-2-2">Complex content</h3>
<p>Use when there is a need to add additional structure within each menu item. Add nearly any HTML within this list group, even for linked list groups like the one below.</p>
<div class="row">
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
<div class="col-md-6">
<p>No links</p>
<ul class="list-group">
            <li class="list-group-item">
              <h4 class="list-group-item-heading">Heading</h4>
              <p class="list-group-item-text">Content</p>
            </li>
            <li class="list-group-item">
              <h4 class="list-group-item-heading">Heading</h4>
              <p class="list-group-item-text">Content</p>
            </li>
			<li class="list-group-item">
              <h4 class="list-group-item-heading">Heading</h4>
              <p class="list-group-item-text">Content</p>
            </li>
          </ul>
</div>
<div class="col-md-6">
<p>With links</p>
<div class="list-group"> <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Heading</h4>
            <p class="list-group-item-text">Content</p>
            </a> <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Heading</h4>
            <p class="list-group-item-text">Content</p>
            </a> <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Heading</h4>
            <p class="list-group-item-text">Content</p>
            </a> </div>
</div>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;ul class="list-group"&gt;
	&lt;li class="list-group-item"&gt;
	  &lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;
	  &lt;p class="<strong>list-group-item-text</strong>"&gt;Content&lt;/p&gt;
	&lt;/li&gt;
	&lt;li class="list-group-item"&gt;
	  &lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;
	  &lt;p class="<strong>list-group-item-text</strong>"&gt;Content&lt;/p&gt;
	&lt;/li&gt;
	...
  &lt;/ul&gt;
		  
&lt;!-- With links --&gt;
&lt;div class="list-group"&gt; 
	&lt;a href="#" class="list-group-item"&gt;
	  &lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;
	  &lt;p class="<strong>list-group-item-text</strong>"&gt;Content&lt;/p&gt;
	&lt;/a&gt; 
	&lt;a href="#" class="list-group-item"&gt;
	  &lt;h4 class="<strong>list-group-item-heading</strong>"&gt;Heading&lt;/h4&gt;
	  &lt;p class="<strong>list-group-item-text</strong>"&gt;Content&lt;/p&gt;
	&lt;/a&gt; 
	...
</code></pre>
</details>
</details>
</div>
</div>
</div>
</div>
</div>


<h3 id="h-2-3">Related components and functions</h3>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Badges -->
	  <li class="col-md-4" id="Badges">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/badges.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="badges.html">Badges</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Lists -->
	  <li class="col-md-4" id="Lists">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/lists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="lists.html">Lists</a></h3> 	 
	   </div></div></div></li>
	<!-- Text_colour -->
	  <li class="col-md-4" id="Text_colour">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/text_colour.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="text_colour.html">Text_colour</a></h3> 	 
	   </div></div></div></li>	   
</ul>
 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>