<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Toggle – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../../index.html"},{title: "Design and coding",href: "../../../index.html"},{title: "Standard web page design and coding",href: "../../index.html"},{title: "Components and functions",href: "../index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Toggle – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Toggle – Standard web pages</h1>
</div>
<div class="all-pre wb-prettify">
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		 <li><a href="#h-1-1">Purpose of toggle</a></li>
		</ul></li>
      <li><a href="#h-2">How to implement</a>
	  <ul>
		 <li><a href="#h-2-1">Basic toggle</a></li>
      <li><a href="#h-2-2">toc2b</a></li>
	   <li><a href="#h-2-3">Related components and functions</a></li>
		</ul></li>

    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>
<h3 id="h-1-1">Purpose of toggle</h3>
<p>Allows an element to toggle elements between on and off states. The element that is toggled records its current state using a ".on" or ".off" CSS class.</p>
<p>Use when</p>
<ul>
<li>Clicking an element should control the state of itself or other elements on the page (e.g. a button to open/close all <code>&lt;details&gt;</code> elements).</li>
<li>Elements should change state when the page is printed (<code>&lt;details&gt;</code> elements should be automatically opened for print).</li>
<li>Accordion widget behaviour is needed.</li>
</ul>
<p>Do not use when</p>
<ul>
<li>The element being toggled already supports the behaviour natively (e.g. <code>&lt;details&gt;</code> elements).</li>
</ul>

<h2 id="h-2" class="mrgn-bttm-0">How to implement</h2>
<h3 id="h-2-1">Toggle self</h3>
<p>This is the most basic use of the plugin. It allows an element to toggle itself on and off when clicked.</p>
<ol>
<li>Add the <code>wb-toggle</code> CSS class to an element.</li>
</ol>
<pre><code>&lt;button type="button" class="wb-toggle"&gt;Toggle&lt;/button&gt;
</code></pre>
<h3 id="h-2-2">Toggle other elements</h3>
<p>A toggle element can be setup to control the on/off toggle state of other elements. Any elements that match the CSS selector specified by the data-toggle attribute will have their on/off state changed when the toggle element is clicked.</p>
<ol>
<li>Add the <code>wb-toggle</code> CSS class to the toggle element.</li>
<li>Using the <code>data-toggle</code> attribute, specify the CSS selector of the elements that will have their states toggled.</li>
</ol>
<pre><code>&lt;button type="button" class="wb-toggle" data-toggle="{'selector': '.otherElements'}"&gt;Toggle&lt;/button&gt;
</code></pre>



<h3 id="h-2-3">Related components and functions</h3>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- AAA -->
	  <li class="col-md-4" id="AAA">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/AAA.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="AAA.html">AAA</a></h3> 	 
	   </div></div></div></li>	 
	<!-- AAA -->
	  <li class="col-md-4" id="AAA">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/AAA.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="AAA.html">AAA</a></h3> 	 
	   </div></div></div></li>
	<!-- AAA -->
	  <li class="col-md-4" id="AAA">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/AAA.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="AAA.html">AAA</a></h3> 	 
	   </div></div></div></li>	   

</ul>
 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>