<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Typography – Standard web pages – CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../../index.html"},{title: "Design and coding",href: "../../../index.html"},{title: "Standard web page design and coding",href: "../../index.html"},{title: "Components and functions",href: "../index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Typography – Standard web pages – CRA web service manual</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA web service manual</p>
<h1 class="gc-thickline mrgn-tp-0">Typography – Standard web pages</h1>
</div>
		 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Fonts</a></li>
      <li><a href="#h-2">Line length</a></li>
      <li><a href="#h-3">Links</a></li>
    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Fonts</h2>

<div class="row">
<div class="col-md-6"><h3 class="mrgn-tp-sm">Heading font</h3>
<dl class="dl-horizontal">
<dt>Type</dt>
<dd>Lato</dd>
<dt>Size</dt>
<dd>
<p>Desktop and tablet:</p>
<ul>
  <li>H1: 38px, bold, with a red bottom border</li>
  <li>H2: 36px, bold</li>
  <li>H3: 24px, bold</li>
  <li>H4: 22px, bold</li>
  <li>H5: 20px, bold</li>
  <li>H6: 19px, plain text</li>
</ul>
<p>Small device:</p>
<ul>
  <li>H1: 34px, bold, with a red bottom border</li>
  <li>H2: 32px, bold</li>
  <li>H3: 24px, bold</li>
  <li>H4: 22px, bold</li>
  <li>H5: 20px, bold</li>
  <li>H6: 19px, plain text</li>
</ul>
</dd>
<dt>Glyphs</dt>
<dd>
<img src="https://imgs1.fontbrain.com/imgs/3b/9b/99039cc0a98dd50c3cbfac57ccb2/gm-720-18-333333-10-1-1.png" class="img-responsive">
</dd>
</dl>
</div>
<div class="row">
<div class="col-md-6">
<h3 class="mrgn-tp-sm">Body font</h3>
<dl class="dl-horizontal">
<dt>Type</dt>
<dd>Noto sans</dd>
<dt>Size</dt>
<dd>
<p>Desktop and tablet:</p>
<ul>

  <li>Body: 20px, plain text</li>
</ul>
<p>Small device:</p>
<ul>

  <li>Body: 20px, plain text</li>
</ul></dd>
<dt>Glyphs</dt>
<dd>
<img src="https://imgs2.fontbrain.com/imgs/21/f6/235482ecdf67217dfa18483f7716/gm-720-18-333333-10-1-1.png" class="img-responsive">
</dd>
</dl>
</div>
</div>

<h2 id="h-2">Line length</h2>
<p>The line length is contrained to a maximum 65 characters. This ensures that no lines extend beyond a comfortable reading length.  This improves the readablity of the content, which improves comprehension.</p>
<p>Page layouts may be wider than 65 characters.  The line length restriction applies only to characters in a line of text. </p>

<h2 id="h-3">Link appearance</h2>
<p>Links in the content area are underlined. The exceptions are:</p>
<ul>
<li>links that look like buttons</li>
<li>links in the banner and footer</li>
</ul>
<p>For full details, refer to: <a href="links.html">Links</a></p>
<h2 id="h-4">Supporting research</h2>
         <p>Check out the research findings:</p>
         <ul class="lst-spcd">
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
         </ul>
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>