.cnjnctn, [class^='cnjnctn-'] {
	display: flex;
	margin-top: 19px;
	margin-bottom: 19px;
	flex-wrap: wrap;
	border-left: 2px solid #6f6f6f;
	padding-left: 15px;
}
.cnjnctn>[class^='col'], [class^='cnjnctn-']>[class^='col'], .cnjnctn>.and:before, [class^='cnjnctn-']>.and:before, .cnjnctn>.or:before, [class^='cnjnctn-']>.or:before {
	float: left;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;
	padding-top: 9px;
}
.cnjnctn>.and:before, [class^='cnjnctn-']>.and:before, .cnjnctn>.or:before, [class^='cnjnctn-']>.or:before {
	box-sizing: content-box;
	line-height: 1.9em;
	text-align: center;
	padding: 4px;
	height: 2em;
	width: 2em;
	font-weight: 600;
	font-size: 16px;
}
.cnjnctn>.and:before, [class^='cnjnctn-']>.and:before {
	border-width: 2px 0px 2px 0px;
	border-color: #6f6f6f;
	border-style: solid;
}
html:lang(en) .cnjnctn>.and:before, html:lang(en) [class^='cnjnctn-']>.and:before {
	content: "and";
}
html:lang(fr) .cnjnctn>.and:before, html:lang(fr) [class^='cnjnctn-']>.and:before {
	content: "et";
}
.cnjnctn>.or:before, [class^='cnjnctn-']>.or:before {
	border-radius: 50%;
	border: 2px solid #6f6f6f;
}
html:lang(en) .cnjnctn>.or:before, html:lang(en) [class^='cnjnctn-']>.or:before {
	content: "or";
}
html:lang(fr) .cnjnctn>.or:before, html:lang(fr) [class^='cnjnctn-']>.or:before {
	content: "ou";
}
.cnjnctn-xs {
	border-left: 0px;
	padding-left: 0px;
	margin-left: -15px;
	margin-right: -15px;
}
.cnjnctn-xs>[class^='col'] {
	flex: 1 0 0%;
	padding-left: 15px;
	padding-right: 15px;
}
.cnjnctn-xs>.and, .cnjnctn-xs>.or {
	padding-top: 0.3em;
	background-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, rgba(0,0,0,0) 0.3em, rgba(0,0,0,0) 2.4em, #6f6f6f 2.4em, #6f6f6f 2.4em);
}
[class^='cnjnctn-']>.and, [class^='cnjnctn-']>.or {
	background-repeat: no-repeat;
	background-size: 2px 100%;
	background-position: center;
}

@media all and (min-width: 768px) {
.cnjnctn-sm {
	border-left: 0px;
	padding-left: 0px;
	margin-left: -15px;
	margin-right: -15px;
}
.cnjnctn-sm>[class^='col'] {
	padding-left: 15px;
	padding-right: 15px;
	flex: 1 0 0%;
}
.cnjnctn-sm>.and, .cnjnctn-sm>.or {
	padding-top: 0.3em;
	background-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, rgba(0,0,0,0) 0.3em, rgba(0,0,0,0) 2.4em, #6f6f6f 2.4em, #6f6f6f 2.4em);
}
.cnjnctn-sm>.col-2 {
	width: 16.6%;
	max-width: 16.6%;
}
.cnjnctn-sm>.col-3 {
	width: 25%;
	max-width: 25%;
}
.cnjnctn-sm>.col-4 {
	width: 33.3%;
	max-width: 33.3%;
}
.cnjnctn-sm>.col-5 {
	width: 41.66%;
	max-width: 41.66%;
}
}

@media all and (min-width: 992px) {
.cnjnctn-md {
	border-left: 0px;
	padding-left: 0px;
	margin-left: -15px;
	margin-right: -15px;
}
.cnjnctn-md>[class^='col'] {
	padding-left: 15px;
	padding-right: 15px;
	flex: 1 0 0%;
}
.cnjnctn-md>.and, .cnjnctn-md>.or {
	padding-top: 0.3em;
	background-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, rgba(0,0,0,0) 0.3em, rgba(0,0,0,0) 2.4em, #6f6f6f 2.4em, #6f6f6f 2.4em);
}
.cnjnctn-md>.col-2 {
	width: 16.6%;
	max-width: 16.6%;
}
.cnjnctn-md>.col-3 {
	width: 25%;
	max-width: 25%;
}
.cnjnctn-md>.col-4 {
	width: 33.3%;
	max-width: 33.3%;
}
.cnjnctn-md>.col-5 {
	width: 41.66%;
	max-width: 41.66%;
}
}

@media all and (min-width: 1200px) {
.cnjnctn-lg {
	border-left: 0px;
	padding-left: 0px;
	margin-left: -15px;
	margin-right: -15px;
}
.cnjnctn-lg>[class^='col'] {
	padding-left: 15px;
	padding-right: 15px;
	flex: 1 0 0%;
}
.cnjnctn-lg>.and, .cnjnctn-lg>.or {
	padding-top: 0.3em;
	background-image: linear-gradient(to bottom, #6f6f6f 0.3em, #6f6f6f 0.3em, rgba(0,0,0,0) 0.3em, rgba(0,0,0,0) 2.4em, #6f6f6f 2.4em, #6f6f6f 2.4em);
}
.cnjnctn-lg>col-2 {
	width: 16.6%;
	max-width: 16.6%;
}
.cnjnctn-lg>.col-3 {
	width: 25%;
	max-width: 25%;
}
.cnjnctn-lg>.col-4 {
	width: 33.3%;
	max-width: 33.3%;
}
.cnjnctn-lg>.col-5 {
	width: 41.66%;
	max-width: 41.66%;
}
}
[tabindex] .modal-content .cnjnctn .cnjnctn-and:after, [tabindex] .modal-content .cnjnctn .cnjnctn-or:after {
	top: 1px;
	bottom: -1px;
}
[tabindex] .modal-content .cnjnctn .cnjnctn-and:before, [tabindex] .modal-content .cnjnctn .cnjnctn-or:before {
	line-height: 1.4em;
	height: 1.4em;
	width: 1.4em;
}
.dcsn-details details + .cnjnctn-or:before {
	float: left;
	box-sizing: content-box;
	line-height: 1.9em;
	text-align: center;
	padding: 4px;
	height: 2em;
	width: 2em;
	font-weight: 500;
	font-size: 16px;
	border: 1px solid #6f6f6f;
}
.dcsn-details details:not(:last-child) {
	margin-bottom: 30px;
}
.dcsn-details details + .cnjnctn-or {
	position: absolute;
	margin-top: -36px;
	background-color: #fff;
	margin-left: 38px;
}
}
/*Temporary solution for decision points inside wells or backgrounds */
.well .dcsn-details, .well .dcsn-details details + .cnjnctn-or, [class*='bg-'] .dcsn-details, [class*='bg-'] .dcsn-details details + .cnjnctn-or {
	background-color: inherit;
}
