
@charset "utf-8";




.provisional.gc-subway{

    border-radius:0 6px 6px 0;

    border-right:4px solid #26374a;

    border-top:4px solid #26374a;

    margin-top:38px

}

.provisional.gc-subway dl,.provisional.gc-subway ul{

    clear:both;

    list-style:none;

    padding-left:.57em;

    padding-top:10px;

    position:relative

}

.provisional.gc-subway dl dt,.provisional.gc-subway ul dt{

    border-left:4px solid #26374a;

    padding:0 20px 3px 1em;

    font-weight:400

}

.provisional.gc-subway dl dt a::before,.provisional.gc-subway ul dt a::before{

    background-color:#fff;

    border:3px solid #26374a;

    border-radius:50%;

    content:"";

    height:1.2em;

    left:0;

    position:absolute;

    -webkit-transition:width .2s,height .2s,left .2s,margin-top .2s;

    transition:width .2s,height .2s,left .2s,margin-top .2s;

    width:1.3em

}

.provisional.gc-subway dl dt a.active,.provisional.gc-subway ul dt a.active{

    color:#333;

    text-decoration:none

}

.provisional.gc-subway dl dt a.active::before,.provisional.gc-subway ul dt a.active::before{

    background-color:#26374a

}

.provisional.gc-subway dl dt a.active:focus,.provisional.gc-subway dl dt a.active:hover,.provisional.gc-subway ul dt a.active:focus,.provisional.gc-subway ul dt a.active:hover{

    color:#0535d2;

    text-decoration:underline

}

.provisional.gc-subway dl dt a:not(.active):focus::before,.provisional.gc-subway dl dt a:not(.active):hover::before,.provisional.gc-subway ul dt a:not(.active):focus::before,.provisional.gc-subway ul dt a:not(.active):hover::before{

    height:1.5em;

    left:-.1em;

    margin-top:-.1em;

    width:1.5em

}

.provisional.gc-subway dl dt:last-of-type,.provisional.gc-subway ul dt:last-of-type{

    border-left:5px solid transparent;

    padding-bottom:0

}

.provisional.gc-subway dl dd,.provisional.gc-subway ul dd{

    border-left:4px solid #26374a;

    line-height:inherit!important;

    margin-bottom:0;

    margin-top:-3px;

    padding:0 20px 20px 1em

}

.provisional.gc-subway dl dd:last-child,.provisional.gc-subway ul dd:last-child{

    border-left:5px solid transparent;

    padding-bottom:0

}

.provisional.gc-subway dl li,.provisional.gc-subway ul li{

    border-left:4px solid #26374a;

    padding:0 20px 30px 1em

}

.provisional.gc-subway dl li a::before,.provisional.gc-subway ul li a::before{

    background-color:#fff;

    border:3px solid #26374a;

    border-radius:50%;

    content:"";

    height:1.2em;

    left:.05em;

    position:absolute;

    -webkit-transition:width .2s,height .2s,left .2s,margin-top .2s;

    transition:width .2s,height .2s,left .2s,margin-top .2s;

    width:1.2em

}

.provisional.gc-subway dl li a.active,.provisional.gc-subway ul li a.active{

    color:#333;

    text-decoration:none

}

.provisional.gc-subway dl li a.active::before,.provisional.gc-subway ul li a.active::before{

    background-color:#26374a

}

.provisional.gc-subway dl li a.active:focus,.provisional.gc-subway dl li a.active:hover,.provisional.gc-subway ul li a.active:focus,.provisional.gc-subway ul li a.active:hover{

    color:#0535d2;

    text-decoration:underline

}

.provisional.gc-subway dl li a:not(.active):focus::before,.provisional.gc-subway dl li a:not(.active):hover::before,.provisional.gc-subway ul li a:not(.active):focus::before,.provisional.gc-subway ul li a:not(.active):hover::before{

    height:1.5em;

    left:-.1em;

    margin-top:-.1em;

    width:1.5em

}

.provisional.gc-subway dl li::first-line,.provisional.gc-subway ul li::first-line{

    line-height:1!important

}

.provisional.gc-subway dl li:last-child,.provisional.gc-subway ul li:last-child{

    border-bottom:4px solid #26374a;

    border-bottom-left-radius:6px;

    border-left:4px solid #26374a

}

.provisional.gc-subway dl li ul,.provisional.gc-subway ul li ul{

    margin-top:20px;

    padding-left:.55em

}

.provisional.gc-subway dl li ul li:last-child,.provisional.gc-subway ul li ul li:last-child{

    border-bottom-width:0;

    padding-bottom:0

}

.provisional.gc-subway h1{

    float:left

}

.provisional.gc-subway h1,.provisional.gc-subway-section .gc-subway-h1{

    background-color:#fff;

    border-bottom-width:0;

    color:#555;

    font-size:1.3em;

    margin-right:20px;

    margin-top:-19px;

    padding:0 20px 10px 0

}

h1~.provisional.gc-subway{

    border-right:none;

    border-top:none

}



@media screen and (max-width:991px){



    .provisional.gc-subway dt,.provisional.gc-subway li{

        max-width:initial

    }

}



@media screen and (min-width:992px){

   

    .provisional.gc-subway{

        border-right:0;

        border-top:0;

        display:none;

        margin-top:25px;

        padding-left:15px

    }

    .provisional.gc-subway.no-blink{

        display:block

    }

    .provisional.gc-subway .gc-subway-menu-nav{

        float:right;

        width:33.33%

    }

    .provisional.gc-subway ul li:last-child{

        border-bottom:0;

        border-left:4px solid transparent

    }

    .provisional.gc-subway-section{

        padding-right:15px;

        width:66.66%

    }

    .provisional.gc-subway-section .gc-subway-h1,.provisional.gc-subway-section h1{

        margin-top:0

    }

    .provisional.gc-subway-section .gc-subway-h1{

        font-family:Lato,sans-serif;

        font-weight:inherit;

        margin-bottom:0;

        margin-right:0;

        padding-bottom:0!important;

        padding-left:0

    }

    .wb-disable .provisional.gc-subway{

        display:block

    }

}










 

