 #wb-bc:first-of-type, .ftr-urlt-lnk * {
    display:none;
}
#wb-bc li:first-child  {display:none;}
#wb-bc li:nth-child(2):before {display:none;}
#wb-bc li:nth-child(2) a {padding-left:0;}
#wb-bc ol {padding-left:0;}
h1 {margin-top:0.25em;}
.transactBar {display:none;}
#wb-info nav h2, #wb-info nav ul {display:none;}

.ds-example {margin-top:15px;border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 8px #e3e3e3;}

.ds-example>.wb-tabs>.tabpanels {background:#f9f9f9;}
.ds-example>.wb-tabs>.tabpanels legend {font-size:80%; font-weight:700; margin: 0 0 5px;}
.ds-example>.wb-tabs>.tabpanels fieldset {padding-top:0;}
.ds-example>.wb-tabs>.tabpanels>details>summary {background:#fff; border-radius: 0;}
.ds-example>.wb-tabs [role=tablist]>li:focus,.ds-example>.wb-tabs [role=tablist]>li:hover{background:#ddd;}
.ds-example>.wb-tabs {margin-bottom:0;}
.ds-example>.wb-tabs>.tabpanels>details {margin-bottom:0;}
.ds-example .panel-body {box-shadow: none;}
@media screen and (max-width: 991px){
	.ds-example>.wb-tabs .tgl-panel {
		margin-top:15px;
	}
}

@media screen and (min-width: 992px) {
	.ds-configuration {background:#fff; padding: 0 10px; margin:-30px -30px -30px 0}
.ds-example>.wb-tabs>.tabpanels>details {
	border:none; padding:15px;}
.ds-example>.wb-tabs [role=tablist]>li {border:none;background:none;}
.ds-example>.wb-tabs [role=tablist]>li.active a {border-width:0 0 4px;}
.ds-example>.wb-tabs>.tabpanels>details {padding: 30px;}
.ds-example>.wb-tabs>.tabpanels>details {background:#f9f9f9;padding: 30px; margin-bottom:0;}
}
 
 #wb-info nav {
    padding:0;
}
 .navbar-brand {
    text-decoration:none;
     border-right: 3px solid #fff;
     font-weight:900;
     color:#666;
}
 .navbar-brand.actives {
     background-color:#ddd;
}
 .navbar {
    border:0;
     margin-bottom:10px;
}

 .gcweb-menu {
    border:0;
}
 .navbar-right {
    margin-right:-30px;
}
 

 .navbar-toggle {
    margin:3px 15px 0 0;
}
@media all and (min-width: 767px) and (max-width: 992px) {
.nav>li>a {
	padding-left:10px;
	padding-right:10px;
}
}
.inset {
	border: 1px solid #e3e3e3;
	box-shadow: inset 0px 0px 8px #e3e3e3;
}
.outset {
	border: 1px solid #e3e3e3;
	box-shadow: 0px 0px 8px #e3e3e3;
}



.template-example-title {
	padding: 4px;
    font-size: 20px;
    background: #f5f5f5;
    color: #636363;
    font-weight: normal;
    border: 2px solid #cfcfcf;
    border-bottom: 0;
    display: inline-block;
    z-index: 10;
	margin:0;
}
.template-example-title + .pull-right {
	margin-bottom:0;
}


legend.h5 {margin-top:0;}

.ds-modifier form .mrgn-tp-md {margin-top:0;}
.ds-modifier form .mrgn-bttm-md {margin-bottom:0;}

#archived-bnr {
	background-color: #fd0;
}

#archived-bnr p {
	margin: 0;
	text-align: center;
}

#archived-bnr a {
	color: #000;
	display: block;
	font-weight: 700;
	padding: 0.75em 44px;
	text-decoration: underline;
}

#archived-bnr .overlay-close {
	color: #000;
}

/*Data inview*/
.wb-bar-b header,
.wb-bar-b ul,
.wb-bar-t header,
.wb-bar-t 
	ul{display:inline-block}
.bar-demo h3,
.bar-demo 
	p{margin:0;padding:15px}
.bar-demo{border:1px solid #ddd;border-radius:4px;box-shadow:0 1px 1px rgba(0,0,0,.05);margin:0 0 20px}
.bar-demo h3{background-color:#f5f5f5;border-bottom:1px solid #ddd}
.wb-bar-b ul,
.wb-bar-t ul{margin-bottom:0}
.wb-bar-b ul li,
.wb-bar-t ul li{margin-bottom:5px}
.wb-bar-b ul>li:first-child,
.wb-bar-t ul>li:first-child{padding-left:5px}

.list-grid-hover .panel:hover {
	background-color:#f5f5f5;
	border: 1px solid #959595;
	box-shadow: 0px 0px 8px #e3e3e3;
} 



