<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Components: CRA design system – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link href="../../../css/pn.css" rel="stylesheet">
	  <link href="../../../css/h1-underline.css" rel="stylesheet">  
	  <link href="../../../css/h1-stacked.css" rel="stylesheet">   	  
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link href="../../css/design-system.css" rel="stylesheet">
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "Canada.ca",
             href: "https://www.canada.ca/en.html"
           }, {
             title: "[Theme]",
             href: "#"
           }],
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <nav class="navbar navbar-default">
         <div class="container">
            <div class="navbar-header">
               <a class="overlay-lnk navbar-toggle" role="button" aria-controls="sitenav" href="#sitenav"><span class="fas fa-bars"></span> Menu</a>
               <a class="navbar-brand active" href="../../index-e.html">CRA design system</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
			 <li><a href="../../principles/index-e.html">Principles</a></li>
                <li><a href="../../components/index-e.html"> Components</a></li>
                  <li class="active"><a href="../index-e.html">Templates</a></li>
				  </ul>
               <ul class="nav navbar-nav navbar-right">
               <li><a href="../../whats-new/index-e.html">What's new</a></li>
			   <li><a href="../../research/index-e.html">Research</a></li>
			   <li><a href="../../about/index-e.html">About</a></li>
            </ul>
            </div>
         </div>
      </nav>
      <section id="sitenav" class="wb-overlay modal-content overlay-def wb-panel-l">
         <header class="modal-header">
            <h2 class="modal-title">Menu</h2>
         </header>
         <div class="modal-body">
             <ul class="list-unstyled lst-spcd">
              <li><a href="../../principles/index-e.html">Principles</a></li>
                <li><a href="../../components/index-e.html"> Components</a></li>
                  <li class="active"><a href="../index-e.html">Templates</a></li>
				  <li><a href="../../whats-new/index-e.html">What's new</a></li>
			   <li><a href="../../research/index-e.html">Research</a></li>
			   <li><a href="../../about/index-e.html">About</a></li>
            </ul>
         </div>
      </section>
      <nav id="wb-bc" property="breadcrumb">
         <h2>You are here:</h2>
         <div class="container">
            <ol class="breadcrumb">
               <li><a href="../../index-e.html">CRA design system</a></li>
			     <li><a href="../index-e.html">Templates</a></li>
            </ol>
         </div>
      </nav>
<main role="main" property="mainContentOfPage" class="container">
<h1 property="name" id="wb-cont"><span class="stacked" role="text"><span>Components</span>: <span>CRA design system</span></span></h1>
<div class="all-pre wb-prettify">
<div class="row mrgn-tp-lg">
<!-- Filter starts -->
	<div class="col-md-12">
      <form class="wb-tables-filter" data-bind-to="dataset-filter">
        <div class="panel panel-default outset brdr-rds-0">
		<div class="panel-heading"><h2 class="panel-title">Filter</h2></div>
            <div class="panel-body">
			<div class="row">
			<div class="col-md-2 brdr-rght">
             <fieldset class="brdr-0">
                <legend class="h3 mrgn-tp-0">Platform: </legend>
                <div class="form-group">
                  <ul class="colcount-md-1 list-unstyled">        
					<li class="checkbox">
                      <label for="authors">
                        <input type="checkbox" id="WET4" name="WET4" data-column="3" value="WET4">
                        WET4</label>
                    </li>
                      <li class="checkbox">
                      <label for="Angular">
                        <input type="checkbox" id="Angular" name="Angular" data-column="3" value="Angular">
                        Angular</label>
                    </li>       
                  </ul>
                </div>
              </fieldset>    
            </div>			
			<div class="col-md-2">
             <fieldset class="brdr-0">
                <legend class="h3 mrgn-tp-0 ">Used by: </legend>
                <div class="form-group">
                  <ul class="colcount-md-1 list-unstyled">        
					<li class="checkbox">
                      <label for="authors">
                        <input type="checkbox" id="authors" name="authors" data-column="1" value="Authors">
                        Authors</label>
                    </li>
                      <li class="checkbox">
                      <label for="developers">
                        <input type="checkbox" id="developers" name="developers" data-column="1" value="Developers">
                        Developers</label>
                    </li>       
                  </ul>
                </div>
              </fieldset>    
            </div>
			<div class="col-md-5 brdr-lft brdr-rght">
              <fieldset class="brdr-0">
                <legend class="h3 mrgn-tp-0 mrgn-bttm-0">Purpose:</legend>
                <div class="form-group">
				
                  <ul class="list-unstyled">
                   <div class="col-md-6">
				   <li class="checkbox">
                      <label for="core-design">
                        <input type="checkbox" id="core-design" name="core-design" data-column="2" value="core">
                        Core design</label>
                    </li>
					<li class="checkbox">
                      <label for="layout">
                        <input type="checkbox" id="layout" name="layout" data-column="2" value="Layout">
                        Layout</label>
                    </li>
                      <li class="checkbox">
                      <label for="navigation">
                        <input type="checkbox" id="navigation" name="navigation" data-column="2" value="Navigation">
                        Navigation</label>
                    </li>
					<li class="checkbox">
                      <label for="presenting-choices">
                        <input type="checkbox" id="presenting-choices" name="presenting-choices" data-column="2" value="Presenting choices">
                        Presenting choices</label>
                    </li>
					</div>
					<div class="col-md-6">
                    <li class="checkbox">
                      <label for="entering-data">
                        <input type="checkbox" id="entering-data" name="entering-data" data-column="2" value="Entering data">
                        Entering data</label>
                    </li>
                   <li class="checkbox">
                      <label for="data-display">
                        <input type="checkbox" id="data-display" name="data-display" data-column="2" value="Displaying content">
                        Displaying content</label>
                    </li>
					 <li class="checkbox">
                      <label for="visual-enhancements">
                        <input type="checkbox" id="visual-enhancements" name="visual-enhancements" data-column="2" value="Visual enhancements">
                        Visual enhancements</label>
                    </li>
					<li class="checkbox">
                      <label for="feedback">
                        <input type="checkbox" id="feedback" name="feedback" data-column="2" value="Feedback">
                        Feedback</label>
                    </li>
					</div>
                  </ul>
                </div>
              </fieldset>
			  </div>

			<div class="col-md-2">
              <button type="submit" class="btn btn-primary mrgn-rght-md mrgn-tp-sm" aria-controls="dataset-filter_info">Apply filter</button>
              <button type="reset" class="btn btn-link mrgn-tp-sm mrgn-bttm-sm">Clear</button>
            </div>
          </div>      
		  </div> 
		  </div> 
      </form>
    </div>
<!-- Filter ends --> 
		 
	<div class="col-md-12"> 
		<table class="table wb-tables tbl-gridify table-striped" id="dataset-filter" data-wb-tables='{"paging":false, "ordering":true, "columnDefs": [{ "className": "hidden", "targets": [ 1, 2, 3 ] } ]}'>
			<thead>
			   <tr>
				  <th scope="col">Component</th>
				  <th scope="col">Used by</th>
				  <th scope="col">Purpose</th>
				  <th scope="col">Platform</th>
				  <th scope="col">Date</th>
			   </tr>
			</thead>
            <tbody class="wb-eqht mrgn-tp-md">
			<!-- Alerts -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="alerts-e.html">
				  <img class="img-responsive outset full-width mrgn-tp-md mrgn-bttm-md" src="images/components/alerts.jpg"><h3 class="mrgn-tp-md">Alerts</h3></a> 
                    <p>Use to provide contextual feedback messages for typical user actions. Choose from a handful of available and flexible alert messages.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Displaying content, Visual enhancements, Feedback</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>			   
			<!-- Alignment -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="alignment-e.html">
				  <img class="img-responsive full-width outset mrgn-tp-md mrgn-bttm-md" src="images/components/alignment.jpg">
				  <h3 class="mrgn-tp-md">Alignment</h3></a>   
                    <p>Use to align text to the left, centre or right. Or, use to align a block of content or an image to the centre.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Layout, Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Archived content -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Archived-e.html">
				 
				  <img class="img-responsive full-width mrgn-tp-md mrgn-bttm-md outset" src="images/components/Archived.jpg">
				  <h3 class="mrgn-tp-md">Archived content</h3></a>   
                    <p>Use to helps users identify Web pages that have been archived online.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			   <!-- Badges -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Badges-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/badges.jpg"><h3 class="mrgn-tp-md">Badges</h3></a>
                    
                    <p>Use badges (numerical indicators) to highlight the number of updates, new or unread items associated with a link.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Blockquote -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Blockquote-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/blockquote.jpg"><h3 class="mrgn-tp-md">Blockquote</h3></a>
                    
                    <p>Use quotations to cite a group of words by someone other than the original author or speaker.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Layout, Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>   
			<!-- Borders -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Borders-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/borders.jpg"><h3 class="mrgn-tp-md">Borders</h3></a>
                    
                    <p>Use to add single or multiple borders to design elements in order to separate or call attention to content. Additionally, remove default borders or sharpen corners that appear in design components such as a "well".</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Buttons -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Buttons-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/buttons.jpg"><h3 class="mrgn-tp-md">Buttons</h3></a>
                    
                    <p>Use buttons to create a call to action that entices the user to submit content from a form, or to take users to a webpage that provides additional information.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Visual enhancements, Navigation, Feedback</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Calendar -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Calendar-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/calendar.jpg"><h3 class="mrgn-tp-md">Calendar</h3></a>
                    
                    <p>Use the calendar of events interface to navigate a chronological list of events.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Layout, Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>  
			<!-- Carousel -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Carousel-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/carousel.jpg"><h3 class="mrgn-tp-md">Carousel</h3></a>
                    
                    <p>Use a carousel to tab or cycle through content in a slide show format.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Layout, Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Code -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Code-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/code.jpg"><h3 class="mrgn-tp-md">Code</h3></a>
                    
                    <p>Use to emulate source code and display it in monospace font.</p>
                  </td>
                  <td>Authors, developers</td>
                  <td>Layout, Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Country identifier -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Country-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/country.jpg"><h3 class="mrgn-tp-md">Country identifier</h3></a>
                    
                    <p>Use a country identifier, a basic AjaxLoader wrapper, to  insert Ajaxed-in content, based on a visitor's country</p>
                  </td>
                  <td>Developers</td>
                  <td>Core design, Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Equal height (Equalize) -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="equalize-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/equalize.jpg"><h3 class="mrgn-tp-md">Equal height (Equalize)</h3></a>
                    
                    <p>Use to make grid cells the same height. Make the inner elements (panels, wells and so forth) inherit the height from the parent grid.</p>
                  </td>
                  <td>Developers</td>
                  <td>Layout, Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Footnotes -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Footnotes-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/footnotes.jpg"><h3 class="mrgn-tp-md">Footnotes</h3></a>
                    
                    <p>Use a footnote to note a reference, citation, or comment that provides details about something on that page. It is non-critical content that relates to the main text, and is always at the bottom of the page.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Layout, Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Grids -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Grids-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Grids.jpg"><h3 class="mrgn-tp-md">Grids</h3></a>
                    
                    <p>Use a grid system (a series of rows and columns that house content) to create page layouts.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Core design, Layout, Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Headings -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Headings-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Headings.jpg"><h3 class="mrgn-tp-md">Headings</h3></a>
                    <p>Use a heading to title a section of content that immediately follows it. Headings are large, bold, concise text that are hierarchical in nature.</p>
                  </td>
                  <td>Developers</td>
                  <td>Layout, Displaying content, Core design</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>	   
			<!-- Icons -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Icons-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Icons.jpg"><h3 class="mrgn-tp-md">Icons</h3></a>
					<p>Use one of the two icon sets, Glyphicons or Font Awesome for decorative purposes.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Invisible and visible content -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Invisible_visible-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Invisible_visible.jpg"><h3 class="mrgn-tp-md">Invisible and visible content</h3></a>
					<p>Use one of the two icon sets, Glyphicons or Font Awesome for decorative purposes.</p>
                  </td>
                  <td>Developers</td>
                  <td>Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			   
			<!-- Keyboard keys -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Keyboard-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Keyboard.jpg"><h3 class="mrgn-tp-md">Keyboard keys</h3></a>
                    <p>Use to mimic the keys of a computer keyboard.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>			   
			<!-- Labels -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Labels-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Labels.jpg"><h3 class="mrgn-tp-md">Labels</h3></a>
                    <p>Use the appropriate label to describe and highlight text-based (non-numerical) information.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>			   
			<!-- Links -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Links-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Links.jpg"><h3 class="mrgn-tp-md">Links</h3></a>
                    <p>Use a link (text and/or image) to take a user to another webpage, jump to another location within the same webpage, or perform a user-control function determined by client-side scripting (JavaScript).</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Core design, Navigation</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Pagination -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Pagination-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Pagination.jpg"><h3 class="mrgn-tp-md">Pagination</h3></a>
                    <p>Use a pagination index for long documents that are best broken up over several pages. </p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Navigation, Presenting choices</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>			   
			<!-- Panels -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Panels-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Panels.jpg"><h3 class="mrgn-tp-md">Panels</h3></a>
                    <p>Use to create a visual grouping of content. Panels have colour themed options, as well as offer a distinct header and footer.</p>
                  </td>
                  <td>Developers</td>
                  <td>Layout, Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>		
			<!-- Positioning -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Position-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Position.jpg"><h3 class="mrgn-tp-md">Positioning</h3></a>
                    <p>Use to position content on top of other content.</p>
                  </td>
                  <td>Developers</td>
                  <td>Layout, Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>		
			<!-- Text sizing -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Sizing-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Sizing.jpg"><h3 class="mrgn-tp-md">Text sizing</h3></a>
                    <p>Use to override the default size of any text (make text large or small).</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>		
			<!-- Tables -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Tables-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Tables.jpg"><h3 class="mrgn-tp-md">Tables</h3></a>
                    <p>Use to organize data into rows and columns in order to create data cells.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Layout, Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>		
			<!-- Wells -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Wells-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Wells.jpg"><h3 class="mrgn-tp-md">Wells</h3></a>
                    <p>Use to spotlight content by placing it in a light grey box.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Layout, Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			<!-- Text editing effects -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Text_editing-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Text_editing.jpg"><h3 class="mrgn-tp-md">Text editing effects</h3></a>
                    <p>Use to indicate text edits on a page.</p>
                  </td>
                  <td>Developers, Authors</td>
                  <td>Displaying content, Visual enhancements</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>
			
			<!-- Wrapping and truncating text -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="Wrapping_truncating-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/Wrapping_truncating.jpg"><h3 class="mrgn-tp-md">Wrapping and truncating text</h3></a>
                    <p>Use to prevent text from wrapping to the next line.</p>
                  </td>
                  <td>Developers</td>
                  <td>Layout, Displaying content</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>	
			<!-- xxx -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="xxx-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/xxx.jpg"><h3 class="mrgn-tp-md">xxx</h3></a>
                    <p>[ DESC ]</p>
                  </td>
                  <td>Developers</td>
                  <td>Layout, Displaying content, Core design</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>	
			<!-- xxx -->
               <tr class="col-sm-6 col-md-4 mrgn-bttm-lg">
                  <td class="eqht-trgt brdr-0">
				  <a href="xxx-e.html">
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md outset" src="images/components/xxx.jpg"><h3 class="mrgn-tp-md">xxx</h3></a>
                    <p>[ DESC ]</p>
                  </td>
                  <td>Developers</td>
                  <td>Layout, Displaying content, Core design</td>
                  <td>WET4</td><td class="text-right">March 11, 2021</td>
               </tr>				   
            </tbody>
         </table>

	
		 </div>
		 </div>
		 </div>
		 </div>
		 
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: false,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>