---
title: &title_ref "page title"
description: ""
subject: ""
altLangPage: "#"
dateModified: YYYY-MM-DD
dateIssued: YYYY-MM-DD
breadcrumbs: # By default the Canada.ca crumbs is already set
  - title: "Taxes"
    link: "https://cra-proto.github.io/gst-hst-business/exit-intent.html?https://www.canada.ca/en/services/taxes.html"
  - title: "Digital services"
    link: "https://cra-proto.github.io/gst-hst-business/exit-intent.html?https://www.canada.ca/en/revenue-agency/services/e-services.html"
  - title: "Digital services for Businesses"
    link: "https://cra-proto.github.io/gst-hst-business/exit-intent.html?https://www.canada.ca/en/revenue-agency/services/e-services/digital-services-businesses.html"
feedbackData:
  section: *title_ref
---

<p>page content</p>
