<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Colour – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../../gcau/index.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"},{title: "Core design",href: "index.html"}],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Colour – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Colour – WET4</h1>
</div>

 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
	<li><a href="#h-1">Use of colour</a></li>
	<li><a href="#h-2">CRA marketing colours</a></li>
	<li><a href="#h-3">Government of Canada web colours</a></li>
	 </ul>

<h2 id="h-1">Use of colour</h2>

    
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Less colour is more</li>
        <li><span class="fa fa-li fa-check text-success"></span> Colour can group similar content or  indicate differences</li>
        <li><span class="fa fa-li fa-check text-success"></span> Colour cannot be the only element  used to convey information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Text and background need to have  high contrast</li>
      </ul>
    
    <p>Colour should enhance usability, not compete  for attention; <strong>less colour is more</strong>. Limited colour palette represents a coordinated and connected approach to content across the entire web presence and enhances users' <strong>trust</strong> in information.</p>
    <p> Colour is effective when:</p>
    <ul>
      <li> Maximum of 3 main colours and 3 accent colours are used across a single  website</li>
      <li> Cultural meaning of colour is considered</li>
    </ul>
    <p>It <strong>groups  similar content or indicates differences</strong>. When using colour, consider how it  affects users with visual limitations:</p>
    <ul>
      <li> <strong>Colour cannot be the only  element used to convey information</strong> – colour blind people can have trouble &nbsp;understanding it (use in combination with  text, texture)</li>
      <li> Certain complementary colour combinations can create <strong>visual vibrations</strong> which make it really  hard to read (for example, red on blue, yellow on blue, white on yellow)&nbsp; </li>
    </ul>
    <p>Text and background  need to have <strong>high contrast</strong> – the  tool <a href="http://juicystudio.com/services/luminositycontrastratio.php" rel="external">Luminosity Colour Contrast Ratio Analyser</a> can analyze the background and foreground  colours to determine if there is sufficient contrast. Users read black text on  white background up to 32% faster than light text on a dark background.</p>
    <blockquote>
      <p>Color coding permits users to rapidly scan and quickly perceive patterns  and relationships among items. Items that share the same color will be  considered as being related to each other, while items with prominent color  differences will seem to be different. </p>
      <footer class="text-right">Health and Human Services Department.gov<br>
        <cite><a href="https://guidelines.usability.gov/guidelines/185" rel="external">Standards and usability  guidelines<span class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
 	<h3>Incorrect use</h3>
			<ul class="fa-ul">
			<li><span class="fas fa-times text-danger fa-li"></span> Colours should never be used exclusively to convey meaning.</li>
			
			</ul>
				<h3>Correct use</h3>
				<ul class="fa-ul">
				<li><span class="fas fa-check text-success fa-li"></span> Match colours with textual cues and/or invisible text for screen readers.</li>
			<li><span class="fas fa-check text-success fa-li"></span> Particularly warning and success colours (reds and greens) should always have visible text distinctions, as these appear the same to those with colour blindness.</li>
			<li><span class="fas fa-check text-success fa-li"></span> Colour contrast for text must be at least 7:1 for normal text or 4.5:1 for large text (AAA).</li>
			<li><span class="fas fa-check text-success fa-li"></span> Use a colour contrast checker, such as <a href=""></a> to test any non-standard colours or colour combinations. Ensure that colours used are WCAG Level AAA.</li>
				</ul>
<h2 id="h-2">CRA marketing colours</h2>
<p>Coming soon</p>



<h2 id="h-3">Government of Canada web colours</h2>
<p>Coming soon</p>
 


		 
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>

   </body>
</html>