<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Alignment: CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"
           },{
             title: "Design and coding",
             href: "../../index.html"
           },{
             title: "Components and functions",
             href: "../index.html"
           },{
             title: "WET4 components and functions",
             href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" id="wb-cont" class="provisional gc-thickline"><span class="stacked"><span>Alignment</span>: <span>CRA web service manual</span></span></h1>
<div class="all-pre wb-prettify">
<p>[short description]</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		 <li><a href="#h-1-1">Purpose of alignment</a></li>
		</ul></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">Basic alignment</a></li>
		 <li><a href="#h-2-2">Center block</a></li>
	   <li><a href="#h-2-3">Related components and functions</a></li>
		</ul></li>
    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>

<h3 id="h-1-1">Purpose of alignment</h3>
<p>Use to align text to the left, centre or right. Or, use to align a block of content or an image to the centre.</p>

<h2 id="h-2" class="mrgn-bttm-0">Design options</h2>
<h3 id="h-2-1">Basic alignment</h3>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#align", "class": "text-left text-center text-right center-block"} ]}'>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#align", "class": "", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#align", "class": "text-left", "live": true}, {"action": "toggle", "toggle": ".cl-text-left", "live": true}]'>Align left</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#align", "class": "text-center", "live": true}, {"action": "toggle", "toggle": ".cl-text-center", "live": true}]'>Align center</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#align", "class": "text-right", "live": true}, {"action": "toggle", "toggle": ".cl-text-right", "live": true}]'>Align right</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<p id="align">Your text...</p>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>Code</summary>
<details>
<summary>HTML</summary>
<pre><code>// Component 
&lt;p class="<strong><span class="hidden cl-text-left">text-left</span><span class="hidden cl-text-center">text-center</span><span class="hidden cl-text-right">text-right</span></strong>"&gt;Your text...&lt;/p&gt;
</code></pre>
</details>
<details>
<summary>Struts</summary>
<pre><code>code here</code></pre>
</details>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->

</div>
</div>

<!-- Correct use -->
<h4>Correct use</h4>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Apply <code>.text-center</code> or <code>.text-right</code>, if required, to table data cells to mimic accounting tables</li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not use to align non-text information</li>
<li><span class="fas fa-times fa-li text-danger"></span>Avoid unless it adds value to the content
<blockquote>
   <p>Centered and right aligned text both have a “ragged” left edged which has been shown to impede reading speed and comprehension. The straight (or “hard”) left edge and ragged right edge combination of standard left aligned text performs best for readers because it helps the eye find the start of the next line when it leaves the end of the last one.</p>
	<footer class="text-right"><a href="https://mrwweb.com/no-justification-dont-use-right-center-and-full-justification-on-the-web/">No Justification: Don’t Use Right, Center, and Full Justification on the Web</a></footer>
</blockquote>
</li>
</ul>
<h3 id="h-2-2">Center block</h3>
<p>Use to centre the block as a whole, including the text. Center block takes a fixed width element, and applies an equal left and right margin, thus centering the content.</p>
<div class="row">
            <div class="col-md-7">
               <div class="ds-example">
                  <div class="wb-tabs ignore-session">
                     <div class="tabpanels">
                        <details id="block1">
                           <summary>Appearance</summary>
							<img class="center-block" alt="..." src="images/components/images_300x100.jpg" />
							<p class="text-center">This image is centered.</p>
							</section>
                        </details>
                        <details id="tab1b">
                           <summary>Code</summary>
                           <details id="tab1b-html">
                              <summary>HTML</summary>
                              <div class="mrgn-tp-md"></div>
<pre><code>// Center block:
&lt;img class="<strong>center-block</strong>" alt="..." src="..." /&gt;
</code></pre>

                           </details>
                           <details id="tab1b-struts">
                              <summary>Struts</summary>
                              <div class="mrgn-tp-md"></div>
                              <p>
                                 ...
                              </p>
                           </details>
                        </details>
                     </div>
                  </div>
               </div>
            </div>

<div class="col-md-5">
			<h4>Correct use</h4>
<ul class="fa-ul">     
        <li><span class="fas fa-check fa-li text-success"></span>Apply <code>.center-block</code> to a fixed width block element to center align it</li>
        <li><span class="fas fa-times fa-li text-danger"></span>Avoid unless it adds value to the content.</li>
		</ul>

</div>
</div>

<h3 id="h-2-3">Related components and functions</h3>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">
<!-- Positioning -->		
   <li class="col-md-4" id="position">		
	  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
	 <div class="panel-body p-0"><img class="img-responsive hidden-xs" src="images/components/Position.jpg">	
	  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Position.html">Positioning</a></h3>	
   </div></div></div></li>		
	
<!-- Wrapping and truncating text -->	
   <li class="col-md-4" id="wrapping_truncating">	
	 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">
	 <div class="panel-body p-0"><img class="img-responsive hidden-xs" src="images/components/Wrapping_truncating.jpg">
	  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Wrapping_truncating.html">Wrapping and truncating text</a></h3>
   </div></div></div></li>	
</ul>

 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>