<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Carousel: CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"
           },{
             title: "Design and coding",
             href: "../../index.html"
           },{
             title: "Components and functions",
             href: "../index.html"
           },{
             title: "WET4 components and functions",
             href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" id="wb-cont" class="provisional gc-thickline"><span class="stacked"><span>Carousel</span>: <span>CRA web service manual</span></span></h1>
<div class="all-pre wb-prettify">
<p>Responsive carousels are in-page components used to display multiple different items within the same content space. Carousels dynamically stacks multiple sections of content, transforming them into a tabbed interface.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
	<li><a href="#h-0">How to use a carousel</a></li>
		<li><a href="#h-1">How to implement (HTML)</a></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">Basic carousel</a></li>
		 <li><a href="#h-2-2">Multimedia player</a></li></ul>
		</li>
      <li><a href="#h-3">Configuration options</a></li>	   
		
		<li><a href="#h-4">Related components and functions</a></li>
    </ul>

<h2 id="h-1">How to use a carousel</h2>
<ul>
	<li>Responsive carousels are a set of 2 to 4 rotating slides that refresh on page load, with user-controls to rotate through the slides and to toggle to auto-rotation</li>
	<li>The default controls for stepping through the slides are thumbnails for large screens and forward/back buttons, including an “Item X of X” message for small screens</li>
	<li>When auto-play is activated, the default slide for the start of auto-rotation is slide one</li>
	<li>The default timing for auto-rotation is 9 seconds per slide</li>
	<li>The default style for transitioning between slides is horizontal sliding transition, starting from the right edge</li>
	<li>Carousels may be implemented at various sizes, ranging from a single column to the full width of the screen</li>
	<li>Each slide is made up of a combination of text and imagery, with the option to add a button link</li>
	<li>Both text and imagery must be linked, but all links in the carousel slide must point to the same destination</li>
	<li>Any call to action must be described in the hyperlink text or button link</li>
	<li>A maximum of 65 characters is allowed for all of the text on a carousel slide (including link label)</li>
	<li>Textual elements must be coded as HTML text—do not embed text into imagery</li>
	<li>Use the defined presentation classes included in the Canada.ca <abbr title="Web Experience Toolkit">WET</abbr> theme</li>
	<li>For image sizing details, consult the <a href="images.html">images</a> component page</li>
</ul>

<div class="row mrgn-tp-lg">
<div class="col-md-6 brdr-rght">
<h3 class="mrgn-tp-0 text-muted">Correct use</h3>
<ul class="fa-ul">  
<li><span class="fas fa-check fa-li text-success"></span>Use only for awareness campaigns or to notify about new information in a topic</li>
<li><span class="fas fa-check fa-li text-success"></span>Ensure the content in each slider all promotes the same type of information from a singular topic</li> 
</ul>
</div>
<div class="col-md-6">
<h3 class="mrgn-tp-0 text-muted">Incorrect use</h3>
<ul class="fa-ul">     
		<li><span class="fas fa-times fa-li text-danger"></span>Do not use if the content can be rephrased into concise, plain language</li>
</ul>
</div>
</div>


<h2 id="h-1">How to implement (HTML)</h2>
<ol>
<li>Add a <code>div</code> element to the page with the class <code>wb-tabs</code> and either the styling class <a href="../../../demos/tabs/tabs-carousel-en.html#carousel-s1"><code>carousel-s1</code></a> or <a href="../../../demos/tabs/tabs-carousel-en.html#carousel-s2"><code>carousel-s2</code></a>.</li>
<li>Add a <code>div</code> element to the previous <code>div</code> element with the class <code>tabpanels</code>.</li>
<li>For each tab panel, add a <code>div</code> element with a unique id, <code>role="tabpanel"</code> and <code>class="out"</code>. For the tab panel that should be opened by default, replace the <code>out</code> class with <code>in</code>.</li>
<li>Specify the tab panel transition type by adding one of the following classes to the <code>div</code> element for each of the tab panels:
<ul>
<li><code>fade</code>: Fading transition</li>
<li><code>slide</code>: Horizontal sliding transition</li>
<li><code>slidevert</code>: Vertical sliding transition</li>
</ul>
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - transitions</summary>
<pre><code>&lt;div class="wb-tabs carousel-s1"&gt;
	&lt;div class="tabpanels"&gt;
		&lt;div role="tabpanel" id="panel1" class="in fade"&gt;
		&lt;/div&gt;
		&lt;div role="tabpanel" id="panel2" class="out fade"&gt;
		&lt;/div&gt;
	&lt;/div&gt;
&lt;/div&gt;
</code></pre>
		</details>
	</li>
</ul>

</li>
<li>Add a <code>figure</code> element to each tab panel.</li>
<li>Add content to each <code>figure</code> element:
<ul>
<li><strong>Image:</strong> Add an image to the <code>figure</code> element followed by a <code>figcaption</code> element with the caption for the tab panel.
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - figure with an image</summary>
<pre><code>&lt;div role="tabpanel" id="panel1" class="in fade"&gt;
	&lt;figure&gt;
		&lt;img src="img/protect-environment.jpg" alt="Panel 1" /&gt;
		&lt;figcaption&gt;
			&lt;p&gt;
				Take Note: &lt;a href="https://www.tc.gc.ca/eng/civilaviation/opssvs/general-personnel-changes-1814.htm"&gt;Renewal of the Aviation Document Booklet&lt;/a&gt;&#160;&lt;br /&gt;
				Learn more about &lt;a href="https://www.tc.gc.ca/eng/air-menu.htm"&gt;air transportation&lt;/a&gt; in Canada.
			&lt;/p&gt;
		&lt;/figcaption&gt;
	&lt;/figure&gt;
&lt;/div&gt;
</code></pre>
		</details>
	</li>
</ul>
</li>
<li><strong>Video:</strong> Add a multimedia player to the <code>figure</code> element according to the <a href="multimedia.html">multimedia player documentation</a>.
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - figure with a video</summary>
<pre><code>&lt;div role="tabpanel" id="panel1" class="in fade"&gt;
	&lt;figure class="wb-mltmd"&gt;
		&lt;video poster="../multimedia/demo/video1-en.jpg" title="Looking for a Job"&gt;
			&lt;source type="video/webm" src="https://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.webm" /&gt;
			&lt;source type="video/mp4" src="https://video2.servicecanada.gc.ca/video/boew-wet/te-lj-eng.mp4" /&gt;
			&lt;track src="../multimedia/cpts-lg-en.html" kind="captions" data-type="text/html" srclang="en" label="English" /&gt;
		&lt;/video&gt;
		&lt;figcaption&gt;
			&lt;p&gt;Looking for a Job (&lt;a href="../multimedia/cpts-lg-en.html"&gt;Transcript&lt;/a&gt;)&lt;/p&gt;
		&lt;/figcaption&gt;
	&lt;/figure&gt;
&lt;/div&gt;
</code></pre>
		</details>
	</li>
</ul>
</li>
<li><strong>Other content:</strong> Add content to the <code>figure</code> element followed by a <code>figcaption</code> element with the caption for the tab panel.
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - figure with other content</summary>
<pre><code>&lt;div role="tabpanel" id="panel1" class="in fade"&gt;
	&lt;figure&gt;
		&lt;table&gt;
			...
		&lt;/table&gt;
		&lt;figcaption&gt;
			&lt;p&gt;Tab panel caption&lt;/p&gt;
		&lt;/figcaption&gt;
	&lt;/figure&gt;
&lt;/div&gt;
</code></pre>
		</details>
	</li>
</ul>
</li>
</ul>
</li>
<li>Add a <code>ul</code> element with <code>role="tablist"</code> at the start of the <code>div</code> element with the <code>wb-tabs</code> class.</li>
<li>For each tab panel, add an <code>li</code> element to the previous <code>ul</code> element. Add <code>class="active"</code> for the tab panel that should be open by default.</li>
<li>Add an <code>a</code> element to each <code>li</code> element
</li><li>Add to each <code>li</code> element an <code>a</code> element with the label of the tab and that links to the associated tab panel.
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - links to each panel</summary>
<pre><code>&lt;ul role="tablist"&gt;
	&lt;li class="active"&gt;&lt;a href="#panel27"&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href="#panel28"&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
		...
&lt;/ul&gt;
</code></pre>
		</details>
	</li>
</ul>
</li>
<li><strong>Optional:</strong> Override the default settings using the <a href="#h-2-3">configuration options</a>.</li>
<li><strong>Optional:</strong> Add an external link that affects which tab is visible. The href attribute includes the id of the panel to make visible. (v4.0.8+)
<ul class="list-unstyled">
	<li>
		<details>
			<summary>Code example - external link</summary>
<pre><code>&lt;p&gt;&lt;a href="#panel3" class="wb-tabs-ext"&gt;Show the third panel&lt;/a&gt;&lt;/p&gt;
</code></pre>
		</details>
	</li>
</ul>
</li>
</ol>

<h2 id="h-2" class="mrgn-bttm-0">Design options</h2>
<h3 id="h-2-1">Basic carousel</h3>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<p class="lead mrgn-tp-md"><span class="fas fa-tools"></span> Modify the design</p>
<form>

<div class="row">

<div class="col-md-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#style1", "class": "carousel-s1 carousel-s2 show-thumbs"} ]}'>
<p><span class="h4 mrgn-tp-0">Style</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#style1", "class": "carousel-s1", "live": true}, {"action": "toggle", "toggle": ".cl-carousel-s1, .cl-no-thumbs", "live": true}]'>Carousel S1</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#style1", "class": "carousel-s2", "live": true}, {"action": "addClass", "source": "#s1hidden", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-carousel-s2, .cl-no-thumbs", "live": true}]'>Carousel S2</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#style1", "class": "carousel-s2 show-thumbs", "live": true}, {"action": "addClass", "source": "#s1hidden", "class": "hidden", "live": true}, {"action": "addClass", "source": "#slide1, #slide2, #no-thumbs", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-carousel-s2-thumb, .cl-thumbs", "live": true}]'>Carousel S2 with thumbnails</li>
</ul>
</div>
</div>
</div>

<div class="col-md-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#panel1, #panel2, #panel3", "class": "fade slide slidevert                 "} ]}'>
<p><span class="h4 mrgn-tp-0">Transition</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#panel1, #panel2", "class": "", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#panel1, #panel2", "class": "fade", "live": true}, {"action": "toggle", "toggle": ".cl-fade", "live": true}]'>Fade</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#panel1, #panel2", "class": "slide", "live": true}, {"action": "toggle", "toggle": ".cl-slide", "live": true}]'>Slide</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#panel1, #panel2", "class": "slidevert", "live": true}, {"action": "toggle", "toggle": ".cl-slidevert", "live": true}]'>Slide vertical</li>
</ul>
</div>

</div>
</div>
</div>


</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="wb-tabs carousel-s1" id="style1">
	<ul role="tablist">
		<li class="active"><a href="#panel1"><span id="slide1">Slide 1: ...</span><span id="img1"><img src="images/canada_red.jpg" alt="Slide 1: ..." /></span></a></li>
		<li><a href="#panel2"><span id="slide2">Slide 2: ...</span><span id="img2"><img src="images/canada_green.jpg" alt="Slide 2: ..." /></span></a></li>
	</ul>	
	<div class="tabpanels">
		<div role="tabpanel" id="panel1" class="in">
			<figure>
				<img src="images/canada_red.jpg" class="img-responsive full-width" alt="" />
				<figcaption>
					<p>
						Slide 1: Your text...
					</p>
				</figcaption>
			</figure>
		</div>
				<div role="tabpanel" id="panel2" class="out">
			<figure>
				<img src="images/canada_green.jpg" alt="" />
				<figcaption>
					<p>
						Slide 2: Your text...
					</p>
				</figcaption>
			</figure>
		</div>

	</div>
</div>

</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>Code</summary>
<details>
<summary>HTML</summary>
<pre><code>// Carousel 
&lt;div class="wb-tabs<strong><span class="cl-carousel-s1" id="s1hidden"> carousel-s1</span><span class="hidden cl-carousel-s2"> carousel-s2</span><span class="hidden cl-carousel-s2-thumb"> carousel-s2 show-thumbs</span>"&gt;
	<span id="no-thumbs" class="cl-no-thumbs"></strong>&lt;ul role="tablist"&gt;
		&lt;li class="active"&gt;&lt;a href="#panel1"&gt;Slide 1: ...&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#panel2"&gt;Slide 2: ...&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;</span><span class="hidden cl-thumbs">&lt;ul role="tablist"&gt;
		&lt;li class="active"&gt;&lt;a href="#panel1"&gt;&lt;img src="url_mage_1" alt="..." /&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;li&gt;&lt;a href="#panel2"&gt;&lt;img src="url_mage_2" alt="..." /&gt;&lt;/a&gt;&lt;/li&gt;
	&lt;/ul&gt;</span>	
	
	&lt;div class="tabpanels"&gt;
		&lt;div role="tabpanel" class="in<strong><span class="hidden cl-fade"> fade</span><span class="hidden cl-slide"> slide</span><span class="hidden cl-slidevert"> slidevert</span></strong>"&gt;
			&lt;figure&gt;
				&lt;img src="url_mage_1" class="img-responsive full-width" alt="" /&gt;
				&lt;figcaption&gt;
					&lt;p&gt;
						Slide 1: Your text...
					&lt;/p&gt;
				&lt;/figcaption&gt;
			&lt;/figure&gt;
		&lt;/div&gt;
				&lt;div role="tabpanel" class="out<strong><span class="hidden cl-fade"> fade</span><span class="hidden cl-slide"> slide</span><span class="hidden cl-slidevert"> slidevert</span></strong>"&gt;
			&lt;figure&gt;
				&lt;img src="url_mage_2" alt="" /&gt;
				&lt;figcaption&gt;
					&lt;p&gt;
						Slide 2: Your text...
					&lt;/p&gt;
				&lt;/figcaption&gt;
			&lt;/figure&gt;
		&lt;/div&gt;

	&lt;/div&gt;
&lt;/div&gt;</code></pre>
</details>
<details>
<summary>Struts</summary>
<pre><code>code here</code></pre>
</details>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<p>Download the components library:</p>
<ul class="fa-ul">
	<li><a href="axure_library_link"><span class="fa fa-li fa-download"></span> Axure library</a></li>
	<li><a href="figma_ui_kit_link"><span class="fa fa-li fa-download"></span> Figma UI kit</a></li>
</ul>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<h3 id="h-2-2">Multimedia player</h3>
<div class="row">
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
		<div class="wb-tabs carousel-s2">
			<ul role="tablist">
				<li class="active"><a href="#panel19">Tab 1</a></li>
				<li><a href="#panel20">Tab 2</a></li>
			</ul>
			<div class="tabpanels">
				<div role="tabpanel" id="panel19" class="in fade">
					<figure class="wb-mltmd">
										<video title="Video: The Canada Revenue Agency – We’re more than just taxes" id="wb-auto-4-md" poster="https://www.canada.ca/content/dam/cra-arc/migration/cra-arc/vdgllry/ndvdls/mrthntxs-eng.jpg"> 
    <source src="https://www.canada.ca/content/dam/cra-arc/migration/cra-arc/vc/ndvdls/mrthntxs-eng.mp4" type="video/mp4"> 
    <track kind="captions" src="https://www.canada.ca/content/dam/cra-arc/migration/cra-arc/vdgllry/ndvdls/mrthntxs-eng.xml" srclang="en" label="English" data-type="application/ttml+xml"> 
   </video>
						<figcaption>
							<p>The Canada Revenue Agency – We’re more than just taxes (<a href="https://www.canada.ca/en/revenue-agency/news/cra-multimedia-library/individuals-video-gallery/transcript-canada-revenue-agency-we-than-just-taxes.html">Transcript</a>)</p>
						</figcaption>
					</figure>
				</div>
			</div>
		</div>
	</div>

</details>
<!-- Field flow code -->
<details id="app2">
<summary>Code</summary>
<details>
<summary>HTML</summary>
<pre></code>&lt;div class="wb-tabs carousel-s2"&gt;
  &lt;ul role="tablist"&gt;
    &lt;li class="active"&gt;&lt;a href="#panel19"&gt;Tab 1&lt;/a&gt;&lt;/li&gt;
    &lt;li&gt;&lt;a href="#panel20"&gt;Tab 2&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;div class="tabpanels"&gt;
  &lt;div role="tabpanel" id="panel19" class="in fade"&gt;
    &lt;figure class="wb-mltmd"&gt;
      &lt;video title="Video: Title ..." id="wb-auto-4-md" poster="image_source"&gt; 
        &lt;source src="video_source" type="video/mp4"&gt; 
        &lt;track kind="captions" src="Captions_source" srclang="en" label="English" data-type="application/ttml+xml"&gt; 
      &lt;/video&gt;
      &lt;figcaption&gt;
        &lt;p&gt;Title ... (&lt;a href="transcript_source"&gt;Transcript&lt;/a&gt;)&lt;/p&gt;
      &lt;/figcaption&gt;
    &lt;/figure&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;</code></pre>
		</details>
		<details>
<summary>Struts</summary>
<pre><code>code here</code></pre>
</details>
		</details>
		<details id="app3">
<summary>Prototyping libraries</summary>
<p>Download the components library:</p>
<ul class="fa-ul">
	<li><a href="axure_library_link"><span class="fa fa-li fa-download"></span> Axure library</a></li>
	<li><a href="figma_ui_kit_link"><span class="fa fa-li fa-download"></span> Figma UI kit</a></li>
</ul>
</details>
		</div>
		</div>
		</div>
		</div>
		</div>
		
<h2 id="h-3">Configuration options</h2>
<table class="table">
<thead>
<tr>
<th>Option</th>
<th>Description</th>
<th>How to configure</th>
<th>Values</th>
</tr>
</thead>
<tbody>
<tr>
<td>Carousel style</td>
<td>Configures the carousel style.</td>
<td>Add the value after the <code>wb-tabs</code> class (e.g., <code>class="wb-tabs carousel-s1"</code>)</td>
<td>
<dl>
<dt><code>carousel-s1</code>:</dt>
<dd>Square grey controls located at the top of the carousel.</dd>
<dt><code>carousel-s2</code>:</dt>
<dd>Rounded white controls located at the bottom of the carousel.</dd>
</dl>
</td>
</tr>
<tr>
<td>Change rotation speed (<code>data-wb-tabs</code>)</td>
<td>Configure the tab rotation speed through the <code>interval</code> property of the <code>data-wb-tabs</code> attribute.</td>
<td>Add the <code>data-wb-tabs</code> attribute to the element with <code>class="wb-tabs"</code> and include the <code>interval</code> property with the number of seconds between tab rotations.
<pre><code>data-wb-tabs='{"interval": 3}'</code></pre>
</td>
<td>
<dl>
<dt><code>6</code> (default):</dt>
<dd>Six seconds between tab rotations</dd>
<dt>Integer</dt>
<dd>Number of seconds between tab rotations</dd>
</dl>
</td>
</tr>
<tr>
<td>Change rotation speed (<code>slow</code>, <code>fast</code>)</td>
<td>Configure the tab rotation speed through either the <code>slow</code> or <code>fast</code> classes.</td>
<td>Add either <code>slow</code> or <code>fast</code> after the <code>wb-tabs</code> class.
<pre><code>class="wb-tabs slow"</code></pre>
</td>
<td>
<dl>
<dt>None (default):</dt>
<dd>Six seconds between tab rotations</dd>
<dt><code>slow</code></dt>
<dd>Nine seconds between tab rotations</dd>
<dt><code>fast</code></dt>
<dd>Three seconds between tab rotations</dd>
</dl>
</td>
</tr>
<tr>
<td>Tab panel transitions</td>
<td>Configure the tab panel transition type through the <code>fade</code>, <code>slide</code> or <code>slidevert</code> classes.</td>
<td>Add <code>fade</code>, <code>slide</code> or <code>slidevert</code> after the <code>in</code> or <code>out</code> class on each tab panel.
<pre><code>&lt;div role="tabpanel" id="panel21" class="in fade"&gt;</code></pre>
</td>
<td>
<dl>
<dt><code>fade</code>:</dt>
<dd>Fading transition</dd>
<dt><code>slide</code></dt>
<dd>Horizontal sliding transition</dd>
<dt><code>slidevert</code></dt>
<dd>Vertical sliding transition</dd>
</dl>
</td>
</tr>
<tr>
<td>Exclude play (<code>data-wb-tabs</code>) (v4.0.5+)</td>
<td>Exclude the play button from the carousel controls through the <code>excludePlay</code> property of the <code>data-wb-tabs</code> attribute.</td>
<td>Add the <code>data-wb-tabs</code> attribute to the element with <code>class="wb-tabs"</code> and include the <code>excludePlay</code> property with <code>true</code> for the value.
<pre><code>data-wb-tabs='{"excludePlay": true}'</code></pre>
</td>
<td>
<dl>
<dt><code>false</code> (default):</dt>
<dd>Play button is <strong>included in</strong> the carousel controls.</dd>
<dt><code>true</code>:</dt>
<dd>Play button is <strong>excluded from</strong> the carousel controls.</dd>
</dl>
</td>
</tr>
<tr>
<td>Exclude play (<code>exclude-play</code>) (v4.0.5+)</td>
<td>Exclude the play button from the carousel controls through the <code>exclude-play</code> class.</td>
<td>Add <code>exclude-play</code> after the <code>wb-tabs</code> class.
<pre><code>class="wb-tabs exclude-play"</code></pre>
</td>
<td>
<dl>
<dt>None (default):</dt>
<dd>Play button is <strong>included in</strong> the carousel controls.</dd>
<dt><code>playing</code></dt>
<dd>Play button is <strong>excluded from</strong> the carousel controls.</dd>
</dl>
</td>
</tr>
<tr>
<td>Play on page load (<code>data-wb-tabs</code>) (v4.0.5+)</td>
<td>Play the carousel on page load through the <code>playing</code> property of the <code>data-wb-tabs</code> attribute.<br><strong>Warning:</strong> Playing on page load can be distracting and cause usability issues for some users.<br><strong>Note:</strong> Playing will be disabled if the play button is excluded from the carousel controls.</td>
<td>Add the <code>data-wb-tabs</code> attribute to the element with <code>class="wb-tabs"</code> and include the <code>playing</code> property with <code>true</code> for the value.
<pre><code>data-wb-tabs='{"playing": true}'</code></pre>
</td>
<td>
<dl>
<dt><code>false</code> (default):</dt>
<dd>Carousel <strong>does not play</strong> on page load.</dd>
<dt><code>true</code>:</dt>
<dd>Carousel <strong>plays</strong> on page load.</dd>
</dl>
</td>
</tr>
<tr>
<td>Play on page load (<code>playing</code>)</td>
<td>Play the carousel on page load through the <code>playing</code> class.<br><strong>Warning:</strong> Playing on page load can be distracting and cause usability issues for some users.<br><strong>Note:</strong> Playing will be disabled if the play button is excluded from the carousel controls.</td>
<td>Add <code>playing</code> after the <code>wb-tabs</code> class.
<pre><code>class="wb-tabs playing"</code></pre>
</td>
<td>
<dl>
<dt>None (default):</dt>
<dd>Carousel <strong>does not play</strong> on page load.</dd>
<dt><code>playing</code></dt>
<dd>Carousel <strong>plays</strong> on page load.</dd>
</dl>
</td>
</tr>
</tbody>
</table>
<h2 id="h-4">Related components and functions</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Images -->
	  <li class="col-md-4" id="Images">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/images.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="images.html">Images</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Multimedia -->
	  <li class="col-md-4" id="Multimedia">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/multimedia.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="multimedia.html">Multimedia player</a></h3> 	 
	   </div></div></div></li>
	<!-- Tabs -->
	  <li class="col-md-4" id="Tabs">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/tabs.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="tabs.html">Tabs</a></h3> 	 
	   </div></div></div></li>	   

</ul>

 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  	  <script src="../../../js/components.js"></script>
   </body>
</html>