<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Text colour: CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"
           },{
             title: "Design and coding",
             href: "../../index.html"
           },{
             title: "Components and functions",
             href: "../index.html"
           },{
             title: "WET4 components and functions",
             href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" id="wb-cont" class="provisional gc-thickline"><span class="stacked"><span>Text colour</span>: <span>CRA web service manual</span></span></h1>
<div class="all-pre wb-prettify">
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		 <li><a href="#h-1-1">Purpose of colouring text</a></li>
		</ul></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">Basic text colouring</a></li>
	   <li><a href="#h-2-3">Related components and functions</a></li>
		</ul></li>

    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>
<h3 id="h-1-1">Purpose of colouring text</h3>
<p>Use colour as a presentation element for either decorative purposes or to convey information. </p>

<h2 id="h-2" class="mrgn-bttm-0">Design options</h2>
<h3 id="h-2-1">Basic text colouring</h3>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<div class="row">
<div class="col-md-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#text1, #icon1", "class": " text-muted text-info text-primary text-success text-warning text-danger             "} ]}'>
<p><span class="h4">Text/icon</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #icon1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #icon1", "class": "text-muted", "live": true}, {"action": "toggle", "toggle": ".cl-text-muted", "live": true}]'>Muted</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #icon1", "class": "text-info", "live": true}, {"action": "toggle", "toggle": ".cl-text-info", "live": true}]'>Info</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #icon1", "class": "text-primary", "live": true}, {"action": "toggle", "toggle": ".cl-text-primary", "live": true}]'>Primary</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #icon1", "class": "text-success", "live": true}, {"action": "toggle", "toggle": ".cl-text-success", "live": true}]'>Success</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #icon1", "class": "text-warning", "live": true}, {"action": "toggle", "toggle": ".cl-text-warning", "live": true}]'>Warning</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1, #icon1", "class": "text-danger", "live": true}, {"action": "toggle", "toggle": ".cl-text-danger", "live": true}]'>Danger</li>
</ul>
</div>
</div>
</div>
<div class="col-md-6">
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#text1", "class": " bg-info bg-primary bg-success bg-warning bg-danger              "} ]}'>
<p><span class="h4">Background</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1", "class": "bg-info", "live": true}, {"action": "toggle", "toggle": ".cl-bg-info", "live": true}]'>Info</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1", "class": "bg-primary", "live": true}, {"action": "toggle", "toggle": ".cl-bg-primary", "live": true}]'>Primary</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1", "class": "bg-success", "live": true}, {"action": "toggle", "toggle": ".cl-bg-success", "live": true}]'>Success</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1", "class": "bg-warning", "live": true}, {"action": "toggle", "toggle": ".cl-bg-warning", "live": true}]'>Warning</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#text1", "class": "bg-danger", "live": true}, {"action": "toggle", "toggle": ".cl-bg-danger", "live": true}]'>Danger</li>
</ul>
</div>
</div>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<p id="text1">This is your coloured text.</p>
<p>This is a coloured icon: <span id="icon1" class="fa fa-adjust"></span></p>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>Code</summary>
<details>
<summary>HTML</summary>
<pre><code>// Text colour 
&lt;p class="<strong><span class="hidden cl-text-muted">text-muted</span><span class="hidden cl-text-info">text-info</span><span class="hidden cl-text-primary">text-primary</span><span class="hidden cl-text-success">text-success</span><span class="hidden cl-text-warning">text-warning</span><span class="hidden cl-text-danger">text-danger</span><span class="hidden cl-bg-info"> bg-info</span><span class="hidden cl-bg-primary"> bg-primary</span><span class="hidden cl-bg-success"> bg-success</span><span class="hidden cl-bg-warning"> bg-warning</span><span class="hidden cl-bg-danger"> bg-danger</span></strong>"&gt;This is your coloured text.&lt;/p&gt;

// Icon colour 
&lt;p&gt;This is a coloured icon: &lt;span class="fa fa-adjust<strong><span class="hidden cl-text-muted"> text-muted</span><span class="hidden cl-text-info"> text-info</span><span class="hidden cl-text-primary"> text-primary</span><span class="hidden cl-text-success"> text-success</span><span class="hidden cl-text-warning"> text-warning</span><span class="hidden cl-text-danger"> text-danger</span></strong>"&gt;&lt;/span&gt;&lt;/p&gt;

</code></pre>
</details>
<details>
<summary>Struts</summary>
<pre><code>code here</code></pre>
</details>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<!-- Correct use -->
<h4 class="mrgn-tp-0 text-muted">Correct use</h4>
<dl class="dl-horizontal">
<dt>General</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Wrap text in a <code>&lt;span&gt;</code> tag if a style does not appear as it is meant to, due to specificity reasons</li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not use colour as the only way to communicate information or intent, as colour alone is not accessible</li>
</ul>
</dd>
<dt>Muted</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to make text appear gray (muted) in colour</li>
<li><span class="fas fa-check fa-li text-success"></span>Use to de-emphasize text (make less obvious)</li>
</ul>
</dd>
<dt>Info</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to style fairly important information</li>
</ul>
</dd>
<dt>Primary</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to match text to the main colour palette of the site</li>
</ul>
</dd>
<dt>Success</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to suggest that the content is correct or the right way of doing something</li>
</ul>
</dd>
<dt>Warning</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to call attention to the content and warn the user of something</li>
</ul>
</dd>
<dt>Danger</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to call attention to very important content, and advise the user that an action is dangerous</li>
</ul>
</dd>
</dl>

<h3 id="h-2-3">Related components and functions</h3>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Alerts -->
	  <li class="col-md-4" id="Alerts">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Alerts.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Alerts.html">Alerts</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Headings -->
	  <li class="col-md-4" id="Headings">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Headings.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Headings.html">Headings</a></h3> 	 
	   </div></div></div></li>
	<!-- Labels -->
	  <li class="col-md-4" id="Labels">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Labels.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Labels.html">Labels</a></h3> 	 
	   </div></div></div></li>	   
	<!-- Text_editing -->
	  <li class="col-md-4" id="Text_editing">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Text_editing.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Text_editing.html">Text editing effects</a></h3> 	 
	   </div></div></div></li>
	<!-- Sizing -->
	  <li class="col-md-4" id="Sizing">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Sizing.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Sizing.html">Sizing</a></h3> 	 
	   </div></div></div></li>	
</ul>

 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>