<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Wrapping and truncating text: CRA web service manual – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "#",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA web service manual",
             href: "../../../index.html"
           },{
             title: "Design and coding",
             href: "../../index.html"
           },{
             title: "Components and functions",
             href: "../index.html"
           },{
             title: "WET4 components and functions",
             href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" id="wb-cont" class="provisional gc-thickline"><span class="stacked"><span>Wrapping and truncating text</span>: <span>CRA web service manual</span></span></h1>
<div class="all-pre wb-prettify">
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-1">Content approach</a>
		<ul>
		 <li><a href="#h-1-1">Purpose of wrapping and truncating text</a></li>
		</ul></li>
      <li><a href="#h-2">Design options</a>
	  <ul>
		 <li><a href="#h-2-1">Basic use</a></li>
	   <li><a href="#h-2-3">Related components and functions</a></li>
		</ul></li>
    </ul>
<h2 id="h-1" class="mrgn-bttm-0">Content approach</h2>
<h3 id="h-1-1">Purpose of wrapping and truncating text</h3>
<p>Use to prevent text from wrapping to the next line.</p>
<h2 id="h-2" class="mrgn-bttm-0">Design options</h2>
<h3 id="h-2-1">Basic use</h3>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>
<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#truncate1, #elps1", "class": " nowrap wb-elps                 "} ]}'>
<p><span class="lead mrgn-tp-0"><span class="fas fa-tools"></span> Modify the design</span></p>
<ul>
<li data-wb-fieldflow='[{"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#truncate1", "class": "nowrap", "live": true}, {"action": "toggle", "toggle": ".cl-nowrap", "live": true}]'>Wrap</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": "#elps1", "class": "wb-elps", "live": true}, {"action": "toggle", "toggle": ".cl-wb-elps", "live": true}]'>Truncate</li>
</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<div class="row">
<div class="col-md-9">
<p id="elps1">This year's deadline to filing your taxes is <strong><span id="truncate1">April 30, 2021.</span></strong></p>
</div>
</div>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>Code</summary>
<details>
<summary>HTML</summary>
<pre><code>// Component 
&lt;p<strong><span class="hidden cl-wb-elps"> class="wb-elps"</span></strong>&gt;This year's deadline to filing your taxes is <span class="hidden cl-nowrap"><strong>&lt;span class="nowrap"&gt;</strong></span>April 30, 2021.<span class="hidden cl-nowrap"><strong>&lt;/span&gt;</strong></span>&lt;/p&gt;
</code></pre>
</details>
<details>
<summary>Struts</summary>
<pre><code>code here</code></pre>
</details>
</details>
</div>
</div>
</div>
<!-- Field flow warnings -->
<div class="mrgn-tp-md ">
</div>
</div>
</div>

<!-- Correct use -->
<h4>Correct use</h4>
<dl class="dl-horizontal">
<dt>Wrap</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to control where and how words wrap within a line of text</li>
<li><span class="fas fa-check fa-li text-success"></span>Use to prevent content such as telephone numbers, postal codes, mathematical equations, dates and French punctuation (colons, brackets and so forth that require spaces) from wrapping over multiple lines</li>
<li><span class="fas fa-check fa-li text-success"></span>Remember that the page is responsive to the width of the browser
<ul>
            <li>Text wraps at different points on different devices and viewports</li>
            <li>Add <code>.nowrap</code> to suit the different resolutions</li>
          </ul>
</li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not use to wrap complete sentences</li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not use for non-text information</li>
</ul>
</dd>
<dt>Truncate</dt>
<dd>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use to truncate text to fit within a grid column on a single line. Any text beyond the grid border will be cropped and replaced with an ellipsis (three dots)</li>
<li><span class="fas fa-check fa-li text-success"></span>The text only disappears visually, and it can still be read by screen readers</li>
<li><span class="fas fa-check fa-li text-success"></span>Use primarily for hyperlinks to prevent word wrap (if height is a concern and <a href="equalize.html">equal height (equalize)</a> cannot be applied) or if it displays outside of a grid columns (when <code>.nowrap</code> is applied)</li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not use this styling for sentences, as it can hide information to a visual user</li>
<li><span class="fas fa-times fa-li text-danger"></span>Do not use in place of <a href="equalize.html">equal height (equalize)</a> when trying to achieve equal height on a grid row</li>
</ul>
</dd>
</dl>

<h3 id="h-2-3">Related components and functions</h3>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Alignment -->
	  <li class="col-md-4" id="Alignment">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Alignment.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Alignment.html">Alignment</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Equalize -->
	  <li class="col-md-4" id="Equalize">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Equalize.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Equalize.html">Equal height (equalize)</a></h3> 	 
	   </div></div></div></li>
	<!-- Text_editing -->
	  <li class="col-md-4" id="Text_editing">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/Text_editing.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-0"><a class="stretched-link" href="Text_editing.html">Text editing effects</a></h3> 	 
	   </div></div></div></li>	   

</ul>


 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>