<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Core design - Angular - CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../../gcau/index.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "Angular components and patterns",href: "../index.html"}],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
	  <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Core design - Angular – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Core design - Angular</h1>
</div>
		 <ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	  <li class="col-md-4 mrgn-tp-md" id="alerts">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img alt="Banner: Colour" class="img-responsive hidden-xs" src="images/colour.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://emb49k.axshare.com/#id=z4xcjg&p=colour_-_angular&c=1">Colour</a></h3> 
			
		 </div> 	 
	   </div></div></li>	 	   
	   <li class="col-md-4 mrgn-tp-md" id="archived">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">			  				 
		  <div class="panel-body p-0"> <img alt="Banner: Typography" class="img-responsive hidden-xs" src="../../wet4/core/images/typography.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://emb49k.axshare.com/#id=4r1if4&p=typography_-_angular&c=1">Typography</a></h3>   
			
		 </div>
	   </div></div></li>
	  	
</ul>
        <div id="def-preFooter"></div>
         <!-- Write closure template --> 
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2021-01-30",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script> 
      </main>
      <div id="def-footer"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script> 
      <!-- Write closure template --> 
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script> 
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>
