<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Intranet templates - CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../../index.html"
           },{
             title: "Components and patterns",
             href: "../../../index.html"
           },{
             title: "WET4 components and patterns",
             href: "../../index.html"
           },{
             title: "Templates",
             href: "../index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Intranet templates – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Intranet templates – WET4</h1>
</div>
<p>Intro statement goes here</p>
<h2 class="mrgn-bttm-0" id="tmplt">Intranet <abbr title="Web Experience Toolkit">WET</abbr> templates </h2><span class=" mrgn-tp-0 label label-info">Limited access: CRA employees only</span>

<div class="row">
<div class="col-sm-6">
<h3 class="mrgn-tp-md"><abbr title="Web Experience Toolkit">WET</abbr> 4</h3>
<p>For information about  <abbr title="Web Experience Toolkit">WET</abbr> 4 page architecture, as well as standard and sub-site templates, refer to: <a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/tmplts-wt4-e.html"><abbr title="Web Experience Toolkit">WET</abbr> 4 templates</a>.</p>
</div>

<div class="col-sm-6">
<h3 class="mrgn-tp-md"><abbr title="Web Experience Toolkit">WET</abbr> 2</h3>
<p>For information about standard <abbr title="Web Experience Toolkit">WET</abbr> 2 page architecture, refer to: <a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/cnt8/rchtctr-e.html">Page architectures – <abbr title="Web Experience Toolkit">WET</abbr> 2</a>.</p>
</div>
</div>

<h2 class="mrgn-bttm-0" id="tps">Intranet page types</h2><span class=" mrgn-tp-0 label label-info">Limited access: CRA employees only</span>


<div class="row">

<div class="col-sm-12 wb-eqht">

<div class="alert alert-warning mrgn-tp-md">

<p>Placement of elements and wording of standard headings in the templates are pre-determined and cannot be changed, unless otherwise specified.</p>

</div>

<p>For <abbr title="Web Experience Toolkit">WET</abbr> 2, refer to: <a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/cnt8/xmpls-e.html">Page examples – <abbr title="Web Experience Toolkit">WET</abbr> 2</a></p>

<p>The following documented and patterned <abbr title="Web Experience Toolkit">WET</abbr> 4 <strong>InfoZone </strong>page types include:</p>

<div class="row">

<div class="col-md-6">

<ul class="list-unstyled">

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-ntrnt-e.html">Intranet homepage</a></li>

<li>Branch specific:

<ul>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-brnch-mnpg-e.html">Branch main page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-brnch-rsrcs-e.html">Branch resources page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-brnch-blltn-e.html">Branch community bulletin board page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-brnch-cp-e.html">Branch <abbr title="corporate policy instrument">CPI</abbr> index page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-brnch-drctrt-sctn-e.html">Branch directorate, division, section, program and unit page</a></li>

</ul>

</li>

<li>Region specific:

<ul>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-rgn-e.html">Regional main page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-tstc-e.html">Tax Services Office/Tax Centre main page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-tstc_prgrms-e.html">Tax Services Office/Tax Centre programs/corporate areas page</a></li>

</ul>

</li>

<li>Application specific:

<ul>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-pplctn-e.html">Application page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-splsh-e.html">Splash page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-srvr-e.html">Server message page</a></li>

</ul>

</li>

</ul>

</div>

<div class="col-md-6">

<ul class="list-unstyled">

<li>General use:

<ul>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-az-e.html">A to Z index page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-bt-e.html">About page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-bgrph-e.html">Biography page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-blg-e.html">Blog page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-clndr-vnts-e.html">Calendar of events page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-cmpgn-mnpg-e.html">Campaign main page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-cmmtts-e.html">Committees page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-cntcts-e.html">Contacts page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-cntnt-e.html">Content page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-drctv-e.html">Directive page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-faq-e.html"><abbr title="Frequently asked questions">FAQ</abbr>s page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-mngrffc-e.html">Manager office page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-mnts-e.html">Minutes page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-nwslttr-e.html">Newsletter page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-phtgllr-e.html">Photo gallery page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-plns-rprts-e.html">Plans and reports page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-str-e.html">Story page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-tpc-e.html">Topic page</a></li>

<li><a href="http://infozone/english/r1713497/org/sa/sa06/sb/sb01/tlr/tlr06/pgtp-vd-e.html">Video page</a></li>

</ul>

</li>

</ul>

</div>

</div>

</div>

</div>


        <div id="def-preFooter"></div>
         <!-- Write closure template --> 
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2021-01-30",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script> 
      </main>
      <div id="def-footer"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script> 
      <!-- Write closure template --> 
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script> 
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>