<!DOCTYPE html><!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en" dir="ltr">
   <![endif]--><!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr">
<!--<![endif]-->
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NEXGY36077"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
           gtag('js', new Date());
           gtag('config', 'G-NEXGY36077');
</script>
         <meta charset="utf-8">
         <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
            wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
         <title>Activity template – User-centered Design Guide</title>
         <meta content="width=device-width,initial-scale=1" name="viewport">
         <meta name="dcterms.language" title="ISO639-2/T" content="eng"/>
         <meta name="robots" content="noindex, nofollow">
         <!--[if gte IE 9 | !IE ]><!-->
         <link href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/assets/favicon.ico" rel="icon" type="image/x-icon">
         <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css">
         <!--Custom UCDG styles //-->
         <link rel="stylesheet" href="../../assets/css/ucdg-theme.css">
         <noscript>
            <link rel="stylesheet" href="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/css/theme.min.css" />
         </noscript>
         <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
         <!--Custom UCDG script //-->
         <script src="../../assets/js/ucdg.js"></script>
      </head>
      <body  vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
         <ul id="wb-tphp">
            <li class="wb-slc"> <a class="wb-sl" href="#wb-cont">Skip to main content</a> </li>
            <li class="wb-slc"> <a class="wb-sl" href="#wb-info">Skip to "About government"</a> </li>
         </ul>
         <header class="menu-inverse">
            <div id="wb-bnr" class="container">
               <section id="wb-lng" class="text-right">
                  <h2 class="wb-inv">Language selection</h2>
                  <div class="row">
                     <div class="col-md-12">
                        <ul class="list-inline margin-bottom-none">
                           <li><a lang="fr" href="../../fr/index.html">Français</a></li>
                        </ul>
                     </div>
                  </div>
               </section>
               <div id="menu-include"></div>
            </div>
            <div class="container">
               <nav id="wb-bc" property="breadcrumb">
                  <h2>You are here:</h2>
                  <ol class="breadcrumb">
                     <li><a href="../index.html">User-centred Design Guide</a></li>
                     <li><a href="index.html">Activities catalogue</a></li>
                  </ol>
               </nav>
            </div>
         </header>
         <main property="mainContentOfPage" class="container">
            <h1 property="name" id="wb-cont" class="gc-thickline">Activities template</h1>
            <div class="row">
               <div class="col-md-8">
                  <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <h2 class="h3">On this page</h2>
                  <ul>
                     <li><a href="#h_1">When to use</a></li>
                     <li><a href="#h_2">Who is involved</a></li>
                     <li><a href="#h_3">How to do it</a></li>
                     <li><a href="#h_4">Deliverables and artifacts</a></li>
                     <li><a href="#h_5">Tools and templates</a></li>
                     <li><a href="#h_6">Reference materials</a></li>
                  </ul>
                  <h2 id="h_1">When to use</h2>
                  <p>Content goes here</p>
                  <h2 id="h_2">Who is involved</h2>
                  <p>Content goes here</p>
                  <h2 id="h_3">How to do it</h2>
                  <p>Content goes here</p>
                  <ol class="lst-stps ld-zr">
                     <li>
                        <h3>Header 1</h3>
                        <p>Content here</p>
                     </li>
                     <li>
                        <h3>Header 2</h3>
                        <p>Content here</p>
                     </li>
                     <li>
                        <h3>Header 3</h3>
                        <p>Content here</p>
                     </li>
                     <li>
                        <h3>Header 4</h3>
                        <p>Content here</p>
                     </li>
                  </ol>
                  <h2 id="h_4">Deliverables and artifacts</h2>
                  <p>Content goes here</p>
                  <h2 id="h_5">Tools and templates</h2>
                  <p>Content goes here</p>
                  <h2 id="h_6">Reference materials</h2>
                  <p>Content goes here</p>
               </div>
               <div class="col-md-4">
                  <div class="well brdr-rds-0 mrgn-tp-xl">
                     <p><span class="fas fa-map-marker-alt fa-lg mrgn-rght-sm"></span>This activity is part of the:</p>
                     <ul class="list-unstyled lst-spcd">
                        <li class="h3 mrgn-tp-md"><a href="../process/discover.html">Discover phase</a></li>
                     </ul>
                     <p>Go to <a href="../process/index.html">all the phases of the user-centered design process</a>.</p>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="pagedetails">
                  <dl id="wb-dtmd">
                     <dt>Date modified:&#32;</dt>
                     <dd>
                        <time property="dateModified">2022-09-30</time>
                     </dd>
                  </dl>
               </div>
            </div>
         </main>
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
         <script src="https://wet-boew.github.io/themes-dist/GCWeb/wet-boew/js/wet-boew.min.js"></script>
         <script src="https://wet-boew.github.io/themes-dist/GCWeb/GCWeb/js/theme.min.js"></script>	
         <div id="footer-include"></div>
      </body>
   </html>