<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Colour – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"},{title: "WET4 components",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Colour – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Colour – WET4</h1>
</div>
		 <h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
	<li><a href="#h-1">Use of colour</a></li>
	<li><a href="#h-2">CRA marketing colours</a></li>
	<li><a href="#h-3">Government of Canada web colours</a></li>
	 <li><a href="#h-4">Supporting research</a></li></ul>

<h2 id="h-1">Use of colour</h2>

    
      <p><strong>Key points:</strong></p>
      <ul class="fa-ul">
        <li><span class="fa fa-li fa-check text-success"></span> Less colour is more</li>
        <li><span class="fa fa-li fa-check text-success"></span> Colour can group similar content or  indicate differences</li>
        <li><span class="fa fa-li fa-check text-success"></span> Colour cannot be the only element  used to convey information</li>
        <li><span class="fa fa-li fa-check text-success"></span> Text and background need to have  high contrast</li>
      </ul>
    
    <p>Colour should enhance usability, not compete  for attention; <strong>less colour is more</strong>. Limited colour palette represents a coordinated and connected approach to content across the entire web presence and enhances users' <strong>trust</strong> in information.</p>
    <p> Colour is effective when:</p>
    <ul>
      <li> Maximum of 3 main colours and 3 accent colours are used across a single  website</li>
      <li> Cultural meaning of colour is considered</li>
    </ul>
    <p>It <strong>groups  similar content or indicates differences</strong>. When using colour, consider how it  affects users with visual limitations:</p>
    <ul>
      <li> <strong>Colour cannot be the only  element used to convey information</strong> – colour blind people can have trouble &nbsp;understanding it (use in combination with  text, texture)</li>
      <li> Certain complementary colour combinations can create <strong>visual vibrations</strong> which make it really  hard to read (for example, red on blue, yellow on blue, white on yellow)&nbsp; </li>
    </ul>
    <p>Text and background  need to have <strong>high contrast</strong> – the  tool <a href="http://juicystudio.com/services/luminositycontrastratio.php" rel="external">Luminosity Colour Contrast Ratio Analyser</a> can analyze the background and foreground  colours to determine if there is sufficient contrast. Users read black text on  white background up to 32% faster than light text on a dark background.</p>
    <blockquote>
      <p>Color coding permits users to rapidly scan and quickly perceive patterns  and relationships among items. Items that share the same color will be  considered as being related to each other, while items with prominent color  differences will seem to be different. </p>
      <footer class="text-right">Health and Human Services Department.gov<br>
        <cite><a href="https://guidelines.usability.gov/guidelines/185" rel="external">Standards and usability  guidelines<span class="wb-inv"> (external link)</span></a></cite></footer>
    </blockquote>
 	<h3>Incorrect use</h3>
			<ul class="fa-ul">
			<li><span class="fas fa-times text-danger fa-li"></span> Colours should never be used exclusively to convey meaning.</li>
			
			</ul>
				<h3>Correct use</h3>
				<ul class="fa-ul">
				<li><span class="fas fa-check text-success fa-li"></span> Match colours with textual cues and/or invisible text for screen readers.</li>
			<li><span class="fas fa-check text-success fa-li"></span> Particularly warning and success colours (reds and greens) should always have visible text distinctions, as these appear the same to those with colour blindness.</li>
			<li><span class="fas fa-check text-success fa-li"></span> Colour contrast for text must be at least 7:1 for normal text or 4.5:1 for large text (AAA).</li>
			<li><span class="fas fa-check text-success fa-li"></span> Use a colour contrast checker, such as <a href=""></a> to test any non-standard colours or colour combinations. Ensure that colours used are WCAG Level AAA.</li>
				</ul>
<h2 id="h-2">CRA marketing colours</h2>
<div class="alert alert-info provisional"><h3>Colour contrast requirements</h3>
<p>Always make sure there is enough colour contrast between any text and the background colour it is on.  This applies to all online products.</p>
<p><a href="../principles/content/contrast.html">Check contrast</a></p>
</div>
 <div class="row mrgn-tp-lg">
    <div class="col-md-3">
      <form class="wb-tables-filter" data-bind-to="dataset-filter-cra">
        <div class="panel panel-default outset brdr-rds-0">
        
		
          
	

		<div class="panel-heading"><h2 class="panel-title">Filter</h2></div>
            <div class="panel-body">
			
              
              <fieldset class="brdr-0 p-0">
                <legend class="h3 mrgn-tp-0 mrgn-bttm-md">Colour</legend>
                <div class="form-group">
                  <ul class="list-unstyled">
                   <li class="checkbox">
                      <label for="black-cra">
                        <input type="checkbox" id="black-cra" name="black-cra" data-column="0" value="black">
                        Black</label>
                    </li>
					 <li class="checkbox">
                      <label for="brown-cra">
                        <input type="checkbox" id="brown-cra" name="brown-cra" data-column="0" value="brown">
                        Brown</label>
                    </li>
					<li class="checkbox">
                      <label for="gray-cra">
                        <input type="checkbox" id="gray-cra" name="gray-cra" data-column="0" value="gray">
                        Gray</label>
                    </li>
					<li class="checkbox">
                      <label for="red-cra">
                        <input type="checkbox" id="red-cra" name="red-cra" data-column="0" value="red">
                        Red</label>
                    </li>
					<li class="checkbox">
                      <label for="orange-cra">
                        <input type="checkbox" id="orange-cra" name="orange-cra" data-column="0" value="orange">
                        Orange</label>
                    </li>
					<li class="checkbox">
                      <label for="yellow-cra">
                        <input type="checkbox" id="yellow-cra" name="yellow-cra" data-column="0" value="yellow">
                        Yellow</label>
                    </li>
					<li class="checkbox">
                      <label for="green-cra">
                        <input type="checkbox" id="green-cra" name="green-cra" data-column="0" value="green">
                        Green</label>
                    </li>
                      <li class="checkbox">
                      <label for="blue-cra">
                        <input type="checkbox" id="blue-cra" name="blue-cra" data-column="0" value="blue">
                        Blue</label>
                    </li>
					<li class="checkbox">
                      <label for="purple-cra">
                        <input type="checkbox" id="purple-cra" name="purple-cra" data-column="0" value="purple">
                        Purple</label>
                    </li>
					<li class="checkbox">
                      <label for="pink-cra">
                        <input type="checkbox" id="pink-cra" name="pink-gc" data-column="0" value="pink">
                        Pink</label>
                    </li>
                  </ul>
                </div>
              </fieldset>
             <fieldset class="brdr-0">
                <legend class="h3 mrgn-tp-0 mrgn-bttm-md">Used by</legend>
                <div class="form-group">
                  <ul class="list-unstyled">
                   
					<li class="checkbox">
                      <label for="cra">
                        <input type="checkbox" id="cra" name="cra" data-column="1" value="CRA">
                        CRA</label> <a href="#cra-def"  title="CRA definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">CRA definition</span></a>
                    </li>
                      <li class="checkbox">
                      <label for="hrb">
                        <input type="checkbox" id="hrb" name="hrb" data-column="1" value="HRB">
                        HRB</label> <a href="#hrb-def"  title="HRB definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">HRB definition</span></a>
                    </li>
                     <li class="checkbox">
                      <label for="sib">
                        <input type="checkbox" id="sib" name="sib" data-column="1" value="SIB">
                        SIB</label> <a href="#sib-def"  title="SIB definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">SIB definition</span></a>
                    </li>
                    <li class="checkbox">
                      <label for="covid">
                        <input type="checkbox" id="covid" name="covid" data-column="1" value="COVID-19">
                        COVID-19</label>  <a href="#covid19-def"  title="Covid-19 definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">COVID-19 definition</span></a>
                    </li>
					<li class="checkbox">
                      <label for="fip-cra">
                        <input type="checkbox" id="fip-cra" name="fip-cra" data-column="1" value="FIP">
                        FIP</label><a href="#fip-def"  title="FIP definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">FIP definition</span></a>
						
		
                    </li>
                  </ul>
                </div>
              </fieldset>
         
            </div>
<div class="panel-footer">
              <button type="submit" class="btn btn-primary mrgn-rght-md mrgn-tp-sm" aria-controls="dataset-filter-cra">Apply filter</button>
              <button type="reset" class="btn btn-link mrgn-tp-sm mrgn-bttm-sm">Clear</button>
            </div>
          </div>
        
      </form>
	
    </div>
    <div class="col-md-9">
	<div class="table-responsive">
	<table class="table wb-tables  table-striped " id="dataset-filter-cra"  data-wb-tables='{"paging":false, "ordering":true }'>
	    <caption class="wb-inv">Templates</caption>
	<thead>
	<tr>
		<th scope="col">Colour</th>
		<th scope="col">Used by</th>
		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/000/000/" class="img-circle">  Black </li>
		<li>HEX: #000</li>
		<li>RGB: </li>
		<li>CMYK: </li>
		<li>Process Black</li>
		<li>Vinyl: 3M 7725-12</li>
		</ul></td>
		
		<td><ul class="list-unstyled">
		<li>CRA</li>
		<li>FIP</li>
		</ul></td>
	</tr>
	<tr>
		<td><ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/333/333/" class="img-circle">  Gray </li>
		<li>HEX: #333</li>
		<li>RGB: </li>
		<li>CMYK: </li>
		</ul></td>
		
		<td><ul class="list-unstyled">
		<li>CRA</li>	<li>HRB</li>
		</ul></td>
	</tr>
	<tr>
		<td><ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/ccc/ccc/" class="img-circle">  Gray </li>
		<li>HEX: #ccc</li>
		<li>RGB: </li>
		<li>CMYK: </li>
		</ul></td>
		
		<td><ul class="list-unstyled">
		<li>CRA</li>
		<li>HRB</li>
		</ul></td>
	</tr>
	<tr>
		<td><ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/335075/335075/" class="img-circle">  Blue </li>
		<li>HEX: #335075</li>
		<li>RGB: </li>
		<li>CMYK: </li>
		</ul></td>
		
		<td><ul class="list-unstyled">
		<li>CRA</li>
		
		</ul></td>
	</tr>
	<tr>
		<td>
		<ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/005b7f/005b7f/" class="img-circle">  Blue</li>
		<li>HEX: #005b7f</li>
		<li>RGB: 0,91,127</li>
		<li>CMYK: 95,61,31,12</li>
		</ul></td>
		
		<td><ul class="list-unstyled">
		<li>Covid-19</li>
	
		</ul></td>
	</tr>
	<tr>
		<td>
		<ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/4c5516/4c5516/" class="img-circle">  Green</li>
		<li>HEX: #4c5516</li>
		<li>RGB: 77,86,37</li>
		<li>CMYK: 64,46,10,39</li>
		</ul>
		<p class="text-muted small mrgn-lft-xl">Used for titles and sub-titles</p></td>
		
		<td><ul class="list-unstyled">
		<li>Covid-19</li>
	
		</ul></td>
	</tr>
	<tr>
		<td>
		<ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/809b28/809b28/" class="img-circle">  Green</li>
		<li>HEX: #809b28</li>
		<li>RGB: 128,155,40</li>
		<li>CMYK: 38,3,100,28</li>
		</ul>
		<p class="text-muted small mrgn-lft-xl">Used to add visual interest to non-essential and non-textual graphical elements</p></td>
		
		<td><ul class="list-unstyled">
		<li>Covid-19</li>
	
		</ul></td>
	</tr>
	<tr>
		<td>
		<ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/c1272d/c1272d/" class="img-circle">  Red</li>
		<li>HEX: #c1272d</li>
		<li>RGB: 193,39,45</li>
		<li>CMYK: 17,98,93,7</li>
		</ul></td>
		
		<td><ul class="list-unstyled">
		<li>Covid-19</li>
	
		</ul></td>
	</tr>
	<tr>
		<td>
		<ul class="list-inline">
		<li><img src="https://via.placeholder.com/42x42/f00/f00/" class="img-circle">  Red</li>
		<li>HEX: #f00</li>
		<li>RGB: 235,45,55</li>
		<li>CMYK: 0,100,100,0</li>
		<li>Vinyl: 3M 7725-13</li>
		<li>Pantone 032</li>
		</ul></td>
		
		<td><ul class="list-unstyled">
		<li>FIP</li>
	
		</ul></td>
	</tr>
	
	</tbody>
	</table>

</div>
</div></div>





<h2 id="h-3">Government of Canada web colours</h2>

 <div class="row mrgn-tp-lg">
    <div class="col-md-3">
      <form class="wb-tables-filter" data-bind-to="dataset-filter-gc">
        <div class="panel panel-default outset brdr-rds-0">
        
		
          
	

		<div class="panel-heading"><h2 class="panel-title">Filter</h2></div>
            <div class="panel-body">
			
              
              <fieldset class="brdr-0 p-0">
                <legend class="h3 mrgn-tp-0 mrgn-bttm-md">Colour</legend>
                <div class="form-group">
                  <ul class="list-unstyled">
                   <li class="checkbox">
                      <label for="black-gc">
                        <input type="checkbox" id="black-gc" name="black-gc" data-column="0" value="black">
                        Black</label>
                    </li>
					 <li class="checkbox">
                      <label for="brown-gc">
                        <input type="checkbox" id="brown-gc" name="brown-gc" data-column="0" value="brown">
                        Brown</label>
                    </li>
					<li class="checkbox">
                      <label for="gray-gc">
                        <input type="checkbox" id="gray-gc" name="gray-gc" data-column="0" value="gray">
                        Gray</label>
                    </li>
					<li class="checkbox">
                      <label for="red-gc">
                        <input type="checkbox" id="red-gc" name="red-gc" data-column="0" value="red">
                        Red</label>
                    </li>
					<li class="checkbox">
                      <label for="orange-gc">
                        <input type="checkbox" id="orange-gc" name="orange-gc" data-column="0" value="orange">
                        Orange</label>
                    </li>
					<li class="checkbox">
                      <label for="yellow-gc">
                        <input type="checkbox" id="yellow-gc" name="yellow-gc" data-column="0" value="yellow">
                        Yellow</label>
                    </li>
					<li class="checkbox">
                      <label for="green-gc">
                        <input type="checkbox" id="green-gc" name="green-gc" data-column="0" value="green">
                        Green</label>
                    </li>
                      <li class="checkbox">
                      <label for="blue-gc">
                        <input type="checkbox" id="blue-gc" name="blue-gc" data-column="0" value="blue">
                        Blue</label>
                    </li>
					<li class="checkbox">
                      <label for="purple-gc">
                        <input type="checkbox" id="purple-gc" name="purple-gc" data-column="0" value="purple">
                        Purple</label>
                    </li>
					<li class="checkbox">
                      <label for="pink-gc">
                        <input type="checkbox" id="pink-gc" name="pink-gc" data-column="0" value="pink">
                        Pink</label>
                    </li>
                  </ul>
                </div>
              </fieldset>
             <fieldset class="brdr-0">
                <legend class="h3 mrgn-tp-0 mrgn-bttm-md">Applied to</legend>
                <div class="form-group">
                  <ul class="list-unstyled">
                   
					<li class="checkbox">
                      <label for="text">
                        <input type="checkbox" id="text" name="text" data-column="1" value="Text">
                        Text</label>
                    </li>
                      <li class="checkbox">
                      <label for="background">
                        <input type="checkbox" id="background" name="background" data-column="1" value="Background">
                        Background</label>
                    </li>
                     <li class="checkbox">
                      <label for="border">
                        <input type="checkbox" id="border" name="border" data-column="1" value="Border">
                        Border</label>
                    </li>
                    <li class="checkbox">
                      <label for="shadow">
                        <input type="checkbox" id="shadow" name="shadow" data-column="1" value="Shadow">
                        Shadow</label>
                    </li>
                  </ul>
                </div>
              </fieldset>
         <fieldset class="brdr-0">
                <legend class="h3 mrgn-tp-0 mrgn-bttm-md">Source</legend>
                <div class="form-group">
                  <ul class="list-unstyled">
                   
					<li class="checkbox">
                      <label for="bootstrap">
                        <input type="checkbox" id="bootstrap" name="bootstrap" data-column="2" value="Bootstrap">
                        Bootstrap</label> <a href="#bootstrap-def"  title="Bootstrap definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">Bootstrap definition</span></a>
                    </li>
                      <li class="checkbox">
                      <label for="wet4">
                        <input type="checkbox" id="wet4" name="wet4" data-column="2" value="WET4">
                        WET4</label>  <a href="#wet4-def"  title="WET4 definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">WET4 definition</span></a>
                    </li>
                     <li class="checkbox">
                      <label for="canada">
                        <input type="checkbox" id="canada" name="canada" data-column="2" value="Canada.ca">
                        Canada.ca</label> <a href="#canada-ca-def"  title="Canada.ca definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">Canada.ca definition</span></a>
                    </li>
                    <li class="checkbox">
                      <label for="fip">
                        <input type="checkbox" id="fip" name="fip" data-column="2" value="FIP">
                        FIP</label> <a href="#fip-def"  title="FIP definition" class="wb-lbx pull-right mrgn-bttm-sm opct-90"><span class="far fa-question-circle"></span><span class="wb-inv">FIP definition</span></a>
                    </li>
                  </ul>
                </div>
              </fieldset>
            </div>
<div class="panel-footer">
              <button type="submit" class="btn btn-primary mrgn-rght-md mrgn-tp-sm" aria-controls="dataset-filter-gc">Apply filter</button>
              <button type="reset" class="btn btn-link mrgn-tp-sm mrgn-bttm-sm">Clear</button>
            </div>
          </div>
        
      </form>
	
    </div>
    <div class="col-md-9">
	<div class="table-responsive">
	<table class="table wb-tables  table-striped " id="dataset-filter-gc"  data-wb-tables='{"paging":false, "ordering":true}'>
	    <caption class="wb-inv">Templates</caption>
	<thead>
	<tr>
		<th scope="col">Colour</th>
		<th scope="col">Applied to</th>
		<th scope="col">Source</th>
		
	</tr>
	</thead>
	<tbody>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/000/000/" class="img-circle"> Black #000</td>
		
		<td><ul class="list-unstyled"><li>Text: Warning button</li>
		<li>Text: ABC</li>
		<li>Background: ABC</li>
		</ul></td>
		<td><ul class="list-unstyled">
		<li>Canada.ca</li>
		<li>FIP</li>
		</ul></td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/f00/f00/" class="img-circle"> Red #f00</td>
		
		<td><ul class="list-unstyled"><li>Canadian flag</li>
		<li><div class="row"><div class="col-sm-3"><img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/wmms-blk.svg"></div>
		<div class="col-sm-6"><img src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_30/assets/sig-blk-en.svg"></div></div></li>
		</ul></td>
		<td><ul class="list-unstyled">
	
		<li>FIP</li>
		</ul></td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/333/333/" class="img-circle"> Gray #333</td>
		
		<td>Text</td>
		<td>Canada.ca</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/ccc/ccc/" class="img-circle"> Gray #ccc</td>
		
		<td>Background</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/335075/335075/" class="img-circle">  Blue #335075</td>
		
		<td>Text</td>
		<td>Bootstrap</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/6f6f6f/6f6f6f/" class="img-circle"> Gray #6f6f6f</td>
		
		<td>Text: Muted</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/fff/fff/" class="img-circle brdr-tp brdr-lft brdr-rght brdr-bttm"> White #fff</td>
		
		<td>Text: On dark backgrounds</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/d3080c/d3080c/" class="img-circle"> Red #d3080c</td>
		
		<td>Text: Feedback on input errors</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/335075/335075/" class="img-circle"> Blue #335075</td>
		
		<td>Background: Primary button</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/2b4380/2b4380/" class="img-circle"> Blue #2b4380</td>
		
		<td>Text: Link (default state)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/0535d2/0535d2/" class="img-circle"> Blue #0535d2</td>
		
		<td>Text: Link (active/hover state) </td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/7834bc/7834bc/" class="img-circle"> Purple #7834bc</td>
		
		<td>Text: Link (visited state)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/3c763d/3c763d/" class="img-circle"> Green #3c763d</td>
		
		<td>Text: Success</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/2b542c/2b542c/" class="img-circle"> Green #2b542c</td>
		
		<td>Text: Link (Success focus/hover)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/2572b4/2572b4/" class="img-circle"> Blue #2572b4</td>
		
		<td>Text: Primary</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/1c578a/1c578a/" class="img-circle"> Blue #1c578a</td>
		
		<td>Text: Link (Primary focus/hover)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/8a6d3b/8a6d3b/" class="img-circle"> Brown #8a6d3b</td>
		
		<td>Text: Warning</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/66512c/66512c/" class="img-circle"> Brown #66512c</td>
		
		<td>Text:  Link (Warning focus/hover)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/a94442/a94442/" class="img-circle"> Red #a94442</td>
		
		<td>Text: Danger</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/843534/843534/" class="img-circle"> Red #843534</td>
		
		<td>Text:  Link (Danger focus/hover)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/f8f8f8/f8f8f8/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #f8f8f8</td>
		
		<td><ul class="list-unstyled lst-spcd"><li>Background: Footer</li>
<li>Background: Splash page language box</li>
</ul></td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/f5f5f5/f5f5f5/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #f5f5f5 </td>
		
		<td>?</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/eee/eee/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #eee</td>
		
		<td>Border: Horizontal ruler <code>hr</code></td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/eaebed/eaebed/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #eaebed</td>
		
		<td>Background: Button (default)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/cfd1d5/cfd1d5/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #cfd1d5</td>
		
		<td>Background: Button (active/hover state)</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/e1e4e7/e1e4e7/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #e1e4e7</td>
		
		<td>Text: Splash page language box</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/555/555/" class="img-circle"> Gray #555</td>
		
		<td>Text: ?</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/444/444/" class="img-circle"> Gray #444</td>
		
		<td>Text: Mega-menu fly-out</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/26374a/26374a/" class="img-circle"> Blue #26374a</td>
		
		<td>Text: Header navigation and footer</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/0535d2/0535d2/" class="img-circle"> Blue #0535d2</td>
		
		<td>Text: Selected link</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/af3c43/af3c43/" class="img-circle"> Red #af3c43</td>
		
		<td>Border: H1</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/e0e0e0/e0e0e0/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #e0e0e0</td>
		
		<td>Border: Site search</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/d3080c/d3080c/" class="img-circle"> Red #d3080c</td>
		
		<td>Border: Danger alert</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/f90/f90/" class="img-circle"> Yellow #f90</td>
		
		<td>Border: Warning alert</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/278400/278400/" class="img-circle"> Green #278400</td>
		
		<td>Border: Success alert</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/42x42/269abc/269abc" class="img-circle"> Blue #269abc</td>
		
		<td>Border: Info alert</td>
		<td>WET4</td>
	</tr>
	<tr>
		<td><img src="https://via.placeholder.com/40x40/ddd/ddd/" class="img-circle brdr-tp brdr-rght brdr-lft brdr-bttm"> Gray #ddd</td>
		
		<td>Shadow: Splash page language buttons</td>
		<td>WET4</td>
	</tr>
	</tbody>
	</table>

</div>
</div></div>

<section id="fip-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">FIP definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>
		<section id="wet4-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">WET4 definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>
		<section id="bootstrap-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">Bootstrap definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>
		<section id="canada-ca-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">Canada.ca definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>
		<section id="sib-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">SIB definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>
		<section id="covid19-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">COVID-19 definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>
		<section id="cra-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">CRA definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>
		<section id="hrb-def" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">HRB definition</h2>
			</header>
			<div class="modal-body">
				...
			</div>
		</section>

<!--


					<h2 id="h1">Text</h2>
			<div class="wb-eqht row">
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/333/333/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#333</span> <small>Dark gray</small></li>
							
							<li class="small">Default</li>
							</ul>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/000/000/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#000</span> <small>Black</small></li>
							
							<li class="small">Warning button</li>
							<li class="small text-right">Learn more: <a href="../components/buttons.html">Warning button</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/6f6f6f/6f6f6f/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#6f6f6f</span> <small>Gray</small></li>
							
							<li class="small">Muted</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Muted text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/fff/fff/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#fff</span> <small>White</small></li>
							
							<li class="small">Light text on dark backgrounds</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/D3080C/D3080C/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#D3080C</span> <small>Red</small></li>
							
							<li class="small">Feedback on input errors</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Form validation</a></li>
					 </div>
				  </div>
			   </div>


			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/335075/335075/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#335075</span> <small>Dark blue</small></li>
							
							<li class="small">Primary button link</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Primary buttons</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/2B4380/2B4380/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#2B4380</span> <small>Dark blue</small></li>
							
							<li class="small">Default link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/0535D2/0535D2/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#0535D2</span> <small>Royal blue</small></li>
							
							<li class="small">Active/hover link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/7834BC/7834BC/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#7834BC</span> <small>Purple</small></li>
							
							<li class="small">Visited link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/3c763d/3c763d/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#3c763d</span> <small>Green</small></li>
							
							<li class="small">Success</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Success text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/2b542c/2b542c/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#2b542c</span> <small>Green</small></li>
							
							<li class="small">Success link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Success text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/2572b4/2572b4/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#2572b4</span> <small>Blue</small></li>
							
							<li class="small">Primary</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Primary text</a></li>
					 </div>
				  </div>
			   </div>
			    <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/1c578a/1c578a/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#1c578a</span> <small>Blue</small></li>
							
							<li class="small">Primary link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Primary text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/8a6d3b/8a6d3b/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#8a6d3b</span> <small>Brown</small></li>
							
							<li class="small">Warning</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Warning text</a></li>
					 </div>
				  </div>
			   </div>
			    <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/66512c/66512c/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#66512c</span> <small>Brown</small></li>
							
							<li class="small">Warning link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Warning text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/a94442/a94442/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#a94442</span> <small>Red</small></li>
							
							<li class="small">Danger</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Danger text</a></li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/843534/843534/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#843534</span> <small>Red</small></li>
							
							<li class="small">Danger link focus/hover</li>
							<li class="small text-right">Learn more: <a href="../components/x.html">Danger text</a></li>
					 </div>
				  </div>
			   </div>
			   
			   
			</div>
		
			<h2 id="h2">Background</h2>
			<div class="row wb-eqht">
			<div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/fff/fff/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#fff</span> <small>White</small></li>
							
							<li class="small">Default</li>
					 </div>
				  </div>
			   </div> <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/f8f8f8/f8f8f8/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#f8f8f8</span> <small>Light gray</small></li>
							
							<li class="small">Footer</li>
							<li class="small">Splash page language box: Top band</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/f5f5f5/f5f5f5/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#f5f5f5</span> <small>Light gray</small></li>
							
							<li class="small">Seperate a section of content</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/eaebed/eaebed/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#eaebed</span> <small>Light gray</small></li>
							
							<li class="small">Default button</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/cfd1d5/cfd1d5/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#cfd1d5</span> <small>Light gray</small></li>
							
							<li class="small">Default button on hover/active</li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/ccc/ccc/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#ccc</span> <small>Gray</small></li>
							
							<li class="small">?</li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/E1E4E7/E1E4E7/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#E1E4E7</span> <small>Gray</small></li>
							
							<li class="small">Splash page language box: bottom band</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/555/555/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#555</span> <small>Gray</small></li>
							
							<li class="small">?</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/333/333/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#444</span> <small>Dark gray</small></li>
							
							<li class="small">Mega-menu fly-out</li>
					 </div>
				  </div>
			   </div>
			   
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/26374a/26374a/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#26374a</span> <small>Dark blue</small></li>
							
							<li class="small">Header navigation and footer</li>
					 </div>
				  </div>
			   </div>


			  
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/0535D2/0535D2/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#0535D2</span> <small>Royal blue</small></li>
							
							<li class="small">Selected link</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/7834BC/7834BC/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#7834BC</span> <small>Purple</small></li>
							
							<li class="small">Visited link</li>
					 </div>
				  </div>
			   </div>
			</div>
			<h2 id="h3">Borders</h2>
			<div class="row wb-eqht">
			 <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/AF3C43/AF3C43/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#AF3C43</span> <small>Red</small></li>
							
							<li class="small">H1 underline</li>
					 </div>
				  </div>
			   </div>
			<div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/e0e0e0/e0e0e0/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#e0e0e0</span> <small>Light gray</small></li>
							
							<li class="small">Site search</li>
					 </div>
				  </div>
			   </div>
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/D3080C/D3080C/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#D3080C</span> <small>Red</small></li>
							
							<li class="small">Danger alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts.html">Danger alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			   
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/F90/F90/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#F90</span> <small>Yellow</small></li>
							
							<li class="small">Warning alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts.html">Warning alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/278400/278400/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#278400</span> <small>Green</small></li>
							
							<li class="small">Success alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts.html">Success alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			   <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/269ABC/269ABC/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#269ABC</span> <small>Blue</small></li>
							
							<li class="small">Info alert</li>
							<li class="small text-right">Learn more: <a href="../components/alerts.html">Info alert</a></li>
					 </div>
				  </div>
			   </div>
			   
			</div>
			
			
		<h2 id="h4">Shadows</h2>
			<div class="row wb-eqht">
			 <div class="col-sm-4">
				  <div class="panel outset hght-inhrt">
					 <img src="https://via.placeholder.com/768x250/ddd/ddd/" class="img-responsive brdr-bttm">
					 <div class="panel-body">
						<ul class="list-unstyled mrgn-bttm-0">
							<li class="brdr-bttm"><span class="h3 mrgn-tp-0 mrgn-bttm-0">#ddd</span> <small>Light gray</small></li>
							
							<li class="small">Splash page language buttons</li>
					 </div>
				  </div>
			   </div>
			
			
			</div>
			-->
					
		
						
				
			<h2 id="h-4">Supporting research</h2>
         <p>Check out the research findings:</p>
         <ul class="lst-spcd">
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
            <li><a href="#">[name of research article]</a></li>
         </ul>
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
   </body>
</html>