<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Data inview – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../../gcau/index.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"},{title: "WET4 components",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Data inview – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Data inview – WET4</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to displays an overlay when a section moves out of the viewport. Data inview creates fixed position content panels that are conditionally displayed as the web page is scrolled and resized.</p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-2">How to implement</a></li>
		 <li><a href="#h-3">Examples</a></li>
		 <li><a href="#h-4">Configuration options and events</a></li>
	  
	   <li><a href="#h-5">Complementary components</a></li>
		</ul>

    </ul>
<h2 id="h-2" class="">How to implement</h2>

<ol>
	<li>Add the <code>wb-inview</code> class to an element.
<pre><code>&lt;section class="wb-inview"&gt;
   ...
&lt;/section&gt;
</code></pre>
	</li>
	<li>Handle the view state changes using one of the following approaches:
		<ul>
			<li><strong>Overlays:</strong> You can open and close overlays based upon an element's view state.
				<ol>
					<li>Add an overlay with a unique id. See <a href="overlay.html">overlay</a> for further details.</li>
					<li>Add the <code>data-inview</code> attribute to the element with the value being the unique id of the overlay added in the previous step.</li>
					<li><strong>Optional:</strong> Add the <code>show-none</code> class to the element to make the overlay only open when the element is fully out of view (default is partially out of view).</li>
				</ol>
			</li>
			<li><strong>Show/hide content:</strong> You can show/hide content with CSS transitions, based upon an element's view state.
				<ol>
					<li>Add an element with a unique id.</li>
					<li>Add a CSS transition class to the element added in the previous step:
					<ul class="colcount-md-2">
						<li><code>pop</code></li>
						<li><code>fade</code></li>
						<li><code>slide</code></li>
						<li><code>slidefade</code></li>
						<li><code>slidevert</code></li>
					</ul>
					</li>
					<li><strong>Optional:</strong> Reverse the transition by adding the <code>reverse</code> class with the CSS transition.</li>
					<li>Add the <code>data-inview</code> attribute to the element with the <code>wb-inview</code> class with the value being the unique id of the element with the CSS transition class.</li>
					<li><strong>Optional:</strong> Add the <code>show-none</code> class to the <code>wb-inview</code> element, the CSS transition only occur when the <code>wb-inview</code> element is:
						<ul>
							<li>located <strong>Before</strong> and <strong>fully out of view</strong> (default is partially out of view)</li>
							<li>located <strong>After</strong> and <strong>partially out of view</strong> (default is fully out of view)</li>
						</ul>
					</li>
				</ol>
			</li>
			<li><strong>Events:</strong> You can handle the view state change events through JavaScript.
				<ol>
					<li>Add an event handler to listen for each of the view state changes:
<pre><code>$( document ).trigger( "all.wb-inview partial.wb-inview none.wb-inview", function( event ) {
	if ( event.namespace === "wb-inview" ) {
		switch ( eventType ) {

		case "all":
			&lt;!-- event.target is a wb-inview element that has become completely visible --&gt;
			break;

		case "partial": {
			&lt;!-- event.target is a wb-inview element that has become partially hidden --&gt;
			break;

		case "none":
			&lt;!-- event.target is a wb-inview element that has become completely hidden --&gt;
		}
	}
});
</code></pre>
					</li>
				</ol>
			</li>
		</ul>
	</li>
</ol>
<h2 id="h-3">Examples</h2>
<ul>
<li><a href="data_inview_examples.html">Data inview examples</a></li>
</ul>
<h2 id="h-4">Configuration options and events</h2>
<p>For configuration options and events, refer to: <a href="https://wet-boew.github.io/v4.0-ci/docs/ref/data-inview/data-inview-en.html" rel="external">Data inview on GitHub</a>.</p>

<h2 id="h-5">Complementary components</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Buttons -->
	  <li class="col-md-4" id="buttons">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/buttons.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="buttons.html">Buttons</a></h3> 	 
	   </div></div></div></li>	
	<!-- popups -->
	  <li class="col-md-4" id="popups">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/popups.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="popups.html">popups</a></h3> 	 
	   </div></div></div></li>	 

</ul>
		<!--
		<table class="table wb-tables tbl-gridify table-hover" id="dataset-filter" data-wb-tables='{"paging":false, "ordering":true}'>
			<thead>
			   <tr class="wb-inv">
				  <th scope="col">Component</th>
			   </tr>
			</thead>
            <tbody class="wb-eqht mrgn-tp-md">
			   AAA 
               <tr class="col-xs-4 mrgn-bttm-lg outset mrgntr">
                  <td class="eqht-trgt brdr-0">				  
				  <img class="img-responsive full-width mrgn-bttm-md mrgn-tp-md hidden-xs" src="images/components/AAA.jpg">
				  <hr class="brdr-bttm hidden-xs">
				  <a class="stretched-link" href="AAA.html"><h3 class="mrgn-tp-md">AAA</h3></a>                  
                  </td>
               </tr>				   
            </tbody>
         </table>
		 -->
 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
	  <span class="wb-init" id="wb-rsz"></span>


   </body>
</html>