<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Navigation links with supporting descriptions  – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
	   <link rel="stylesheet" href="https://wet-boew.github.io/GCWeb/m%C3%A9li-m%C3%A9lo/2021-05-conjunction/and-or.css">
	   <style type="text/css">
	   html:lang(en) .cnjnctn-type-or [class*=cnjnctn-col]:not(:first-child):before {left:auto;}
	   </style>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../../gcau/index.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"},{title: "WET4 components",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
                   <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Navigation links with supporting descriptions – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Navigation links with supporting descriptions – WET4</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to showcase a set of links, along with the supporting descriptions (also known as doormats), on core navigation pages. This provides an accurate and concise description of what a user will find on the destination page. Together, these sets of links and descriptions provide clear and distinct choices for users trying to complete a task.</p>


  <h2 class="h3">On this page</h2>
    <ul>
      <li><a href="#h-1">When to use</a></li>
      <li><a href="#h-2">How to implement</a>
	  <ul>
	   <li><a href="#h-2-1">Create link text</a></li>
	  <li><a href="#h-2-2">Create a supporting description (doormat text)</a>
	 </li>
	  <li><a href="#h-2-3">Arrange the order of the items</a></li>
	 </ul></li>
	  <li><a href="#h-4">Complementary components</a></li>

    </ul>
<h2 id="h-1">When to use</h2>
<p>Each link with its doormat description provides an accurate and concise description of what a person will find on the destination page. Together, these sets of links and descriptions provide clear and distinct choices for people trying to complete their task.</p>
<p>A navigation link, bundled with a teaser description (known as a doormat), is an established pattern on certain templates and components. Typically, this would appear on the on:</p>
<table class="table">
 <caption class="wb-inv">Summary of the page types that use this pattern</caption>
 <thead>
 <tr>
 <th scope="col">Located on</th>
 <th scope="col">Appearance</th>

 </tr>
 </thead>
 <tbody>
 <tr>
 <td><a href="https://design.canada.ca/mandatory-templates/theme-topic.html">Topic pattern template </a></li>
</td>
 <td>Side-by-side on desktop (stacked on mobile) <br><img src="images/components/doormat-topics.jpg" alt=""  class="img-responsive" /></td>
 </tr>
 
 <tr>
 <td><a href="https://design.canada.ca/common-design-patterns/subway-navigation.html">GCsubway pattern template</a></td>
 <td>Stacked within the GCsubway on the main index page <br><img src="images/components/doormat-subway.jpg" alt=""  class="img-responsive" /></td>

 </tr>
 <tr>
 <td><a href="steps.html">Steps component</a></td>
<td>Stacked as steps <br><img src="images/components/doormat-steps.jpg" alt=""  class="img-responsive" /></td>

 </tr>
 </tbody>
</table>



		<div class="row">		  			  
		<div class="col-md-6">
		<h4 class="text-muted">Use when</h4>
		<ul class="fa-ul">
		<li><span class="fas fa-check fa-li text-success"></span> The page template or component requires you to use doormats</li>
		<li><span class="fas fa-check fa-li text-success"></span> 	Providing links to topics or destination content related to the page it is on</li>
		<li><span class="fas fa-check fa-li text-success"></span> The primary purpose of the page is to provide clear choices to navigate to tasks</li>
        
		</ul>
		</div>

		<div class="col-md-6">
		<h4 class="text-muted"><strong>Do not use when</strong> </h4>
		<ul class="fa-ul">
						<li><span class="fas fa-times fa-li text-danger"></span>The pattern not already part of an established template or component</li>
					</ul>
		</div>
		</div>
<h2 id="h-2">How to implement</h2>
<p>Doormat text should support descriptive link text by clarifying what someone can find or do at the link. A good doormat should help people correctly decide whether or not to click through.</p>
<ol class="lst-stps">
<li>
<h3 id="h-2-1">Create link text</h3>
<p>Link text must:</p>
<ul class="fa-ul">
		<li><span class="fas fa-check fa-li text-success"></span>Make sense within the context of the page
			<ul>
				<li>It does not need to exactly match the destination page title</li>
				<li>It does not need to be unique across Canada.ca</li>
				<li>It must be descriptive, unique within the page, and clearly distinguishable from the other links on the page</li>
				<li>Don’t end linked text with punctuation (for example, “How do you apply for funding?”)</li>
				<li>The linked text must speak to a person (for example, “Apply for funding”)</li>
			</ul>
		</li> 
		<li><span class="fas fa-check fa-li text-success"></span>Not exceed 75 characters (with spaces), although optimal character limit for links is 45 characters (with spaces) for both official languages</li>
		<li><span class="fas fa-check fa-li text-success"></span>Use only standard link styles as defined in the Web Experience Toolkit (WET)</li>
		<li><span class="fas fa-check fa-li text-success"></span>Be written for a grade 6-8 reading level</li>
		<li><span class="fas fa-check fa-li text-success"></span>Use popular keywords that the target audience will likely know and use; base choices on research and evidence</li>
		<li><span class="fas fa-check fa-li text-success"></span>Not use acronyms or abbreviations unless most people know these better than the long-form equivalent</li>
		</ul>
	
	
		
</li>
<li class="mrgn-bttm-md">
<h3 id="h-2-2">Create a supporting description (doormat text)</h3>
<dl class="dl-horizontal">
<p>Doormat text must:</p>
<ul class="fa-ul mrgn-bttm-md">
<li><span class="fas fa-check fa-li text-success"></span> 
Be descriptive</li>
<li><span class="fas fa-check fa-li text-success"></span>Not repeat the link text in its entirety, creating unnecessary redundancy</li>
<li><span class="fas fa-check fa-li text-success"></span>
Be unique from other doormats on the same page </li>
<li><span class="fas fa-check fa-li text-success"></span>
Suit the context of the page </li>
<li><span class="fas fa-check fa-li text-success"></span>
Be short, in plain language, and scannable (120 characters or less, including spaces)</li>

		<li><span class="fas fa-check fa-li text-success"></span>Be written for a grade 6-8 reading level</li>
		<li><span class="fas fa-check fa-li text-success"></span>Use popular keywords that the target audience will likely know and use; base choices on research and evidence</li>
		<li><span class="fas fa-check fa-li text-success"></span>Not use acronyms or abbreviations unless most people know these better than the long-form equivalent</li>
		
		<li><span class="fas fa-check fa-li text-success"></span>Complement the link it accompanies to provide greater detail and clarity about the scope of the link itself
			<ul>
				<li>Recommended style is to list keywords or keyword phrases separated by commas; full sentences are not required</li>
				<li>Don’t use introductory phrases such as “Includes…”, “Information on…” or “Learn more about…”</li>
				<li>Don’t include links</li>
				<li>Don’t include promotional messaging</li>
			</ul>
		</li>
		<li><span class="fas fa-check fa-li text-success"></span>Limit the characters to 120 (with spaces) in both official languages</li>
		
		<li><span class="fas fa-check fa-li text-success"></span>Use only standard presentation styles as defined in <abbr title="Web Experience Toolkit">WET</abbr></li>
	
</ul>
<p>Drop-down menus are permitted in place of a link description in specific circumstances:</p>
			<ul class="fa-ul mrgn-bttm-lg">
		<li><span class="fas fa-check fa-li text-success"></span>When used to provide access to a large number of items at the same level (for example, lists of countries or species)</li>
				<li><span class="fas fa-check fa-li text-success"></span>When the destination page consists primarily of a list of links, and so can be completely replaced by the drop-down menu</li>
			</ul>
<dt> Write the doormat text</dt>
<dd>
<ul class="list-unstyled">
<li><h5>Review the destination page</h5> 
<p>The content destination page helps you determine if the doormat text should be written in a task-oriented way, or in an informational way.</p>
<ul class="list-unstyled cnjnctn-type-or cnjnctn-xs">
  <li class="cnjnctn-col">
    <h6 class="mrgn-tp-sm text-muted h5">Focus on tasks<span class="wb-inv">: Option 1</span></h6>
    <p>Describe the main goal(s) the user can accomplish by following the link. </p>
	<details class="mrgn-bttm-md"><summary>Examples - Writing task-focused doormats</summary>
	
	<ul class="fa-ul">
	 <li class="mrgn-tp-md"><span class="fas fa-check text-success fa-li"></span> Helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Calculate your amount</a></h3>
                  <p>Use our online calculator to find out how much your GST/HST credit payments may be this year</p>
				  </li>
	<li class="mrgn-tp-md"><span class="fas fa-times text-danger fa-li"></span> Not as helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Calculate your amount</a></h3>
                  <p>A calculator for the GST/HST credit</p>
				  </li>
             </ul>
              <hr class="brdr-bttm"><ul class="fa-ul">
	 <li><span class="fas fa-check text-success fa-li"></span> Helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Wage and hiring support for businesses</a></h3>
                  <p>Find out if you are eligible, how to apply, and what happens after you have applied</p>
				  </li>
	<li class="mrgn-tp-md"><span class="fas fa-times text-danger fa-li"></span> Not as helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Wage and hiring support for businesses</a></h3>
                  <p>Subsidies for employers affected by the COVID-19 pandemic</p>
				  </li>
             </ul>






	</details>
  </li>
  <li class="cnjnctn-col">
     <h6 class="mrgn-tp-sm text-muted h5">Focus on information<span class="wb-inv">: Option 2</span></h6>
    <p>When the link offers information on topics rather than specific tasks, describe or list the most important things the user will be able to read or learn about.
</p>


<details class="mrgn-bttm-md"><summary>Example - Writing information-focused doormats</summary>
	
	<ul class="fa-ul">
	 <li class="mrgn-tp-md"><span class="fas fa-check text-success fa-li"></span> Helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Environment and natural resources</a></h3>
                  <p>Weather, climate, agriculture, wildlife, pollution, conservation, fisheries</p>
				  </li>
	<li class="mrgn-tp-md"><span class="fas fa-times text-danger fa-li"></span> Not as helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Environment and natural resources</a></h3>
                  <p>Read about topics related to the environment and natural resources</p>
				  </li>
             </ul>
			 </details>
  </li>
</ul></li>
<li><h4>Identify what’s unique</h4><p>When there are multiple links on a page with similar labels or functions, include information that will help users decide which link will have what they’re looking for. Depending on the context, this could mean including who the content is applicable to, the purpose of the content, or any other factor that helps differentiate the links.
</p>

<details class="mrgn-bttm-md"><summary>Examples - Differentiating doormats 
</summary>
	
	<ul class="fa-ul colcount-md-2 mrgn-tp-md">
	 <li><span class="fas fa-check text-success fa-li"></span> Helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Canada Worker Lockdown Benefit</a></h3>
                  <p>If you are an employed or self-employed person unable to work due to a COVID-19 lockdown, you can get up to $300 per week</p>
				  </li>
	<li class="mrgn-tp-md"><span class="fas fa-times text-danger fa-li"></span> Not as helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Canada Worker Lockdown Benefit</a></h3>
                  <p>How to get financial support if you were subject to a COVID-19 lockdown order</p>
				  </li>
             </ul>
              <hr class="brdr-bttm"><ul class="fa-ul colcount-md-2">
	 <li><span class="fas fa-check text-success fa-li"></span> Helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Local Lockdown Program </a></h3>
                  <p>If you are a business, charity, or non-profit subject to a COVID-19 lockdown, you may qualify for a subsidy to support your wages and rent</p>
				  </li>
	<li class="mrgn-tp-md"><span class="fas fa-times text-danger fa-li"></span> Not as helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Local Lockdown Program </a></h3>
                  <p>How to get financial support if you were subject to a COVID-19 lockdown order</p>
				  </li>
				  </ul>
				  
				  
				   <hr class="brdr-bttm"><ul class="fa-ul colcount-md-2">
	 <li><span class="fas fa-check text-success fa-li"></span> Helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Tax scams and you </a></h3>
                  <p>Understand tax scams and what to do if you suspect you’ve been a victim of a scam
</p>
				  </li>
	<li class="mrgn-tp-md"><span class="fas fa-times text-danger fa-li"></span> Not as helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Tax scams and you </a></h3>
                  <p>Common scams and how you can identify them</p>
				  </li>
				  
				  </ul>
				  
				  
				   <hr class="brdr-bttm"><ul class="fa-ul colcount-md-2">
	 <li><span class="fas fa-check text-success fa-li"></span> Helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Don’t get scammed</a></h3>
                  <p>Shareable infographics and tips about avoiding the most common tax scams</p>
				  </li>
	<li class="mrgn-tp-md"><span class="fas fa-times text-danger fa-li"></span> Not as helpful:
                  <h3 class="mrgn-tp-md"><a href="#">Don’t get scammed</a></h3>
                  <p>How to avoid common tax scams</p>
				  </li>
				  
             </ul>






	</details>


</li>
<li class="mrgn-tp-lg"><h4>Consider the context</h4><p>Approach the doormat text according to the user and the part of their journey they are on. The information you include in doormat text may change depending on the purpose of the page it will appear on, and how many contextual clues are nearby.</p>
<details><summary>Examples - Contextualizing the doormat</summary>
	
	<ul class="fa-ul colcount-md-2 mrgn-tp-md">
	<li><span class="fas fa-check text-success fa-li"></span> Context 1<br>(If the doormat is featured from <a href="#">Individual tax credits</a>)
                  <h3 class="mrgn-tp-lg"><a href="#">Canada Worker Lockdown Benefit</a></h3>
                  <p>Refundable credit for a caregiver of a spouse, common-law partner, or a child with a physical or mental impairment</p>
				  </li>
	<li><span class="fas fa-check text-success fa-li"></span> Context 2<br>(If the doormat is featured from <a href="">What’s new for caregivers in 2021</a>)
                  <h3 class="mrgn-tp-lg"><a href="#">Canada Worker Lockdown Benefit</a></h3>
                  <p>Find the new maximum amount and calculation for the caregiver tax credit on the individual tax return
</p>
				  </li>
             </ul>
            
				  
				  
				
            






	</details>
	<div class="mrgn-tp-lg"></div>
</li>
</ul></dd>
	

	<dt>Format doormat text</dt>
	<dd>
	

	
	<ul class="list-unstyled cnjnctn-type-or cnjnctn-xs">
  <li class="cnjnctn-col">
    <h4 class="mrgn-tp-sm text-muted">Use a single, descriptive  phrase<span class="wb-inv">: Option 1</span></h4>
    <p>Use a <strong>single, descriptive  phrase</strong> when there are <strong>one or two primary tasks or topics</strong> at the target page. Because of the 120-character limit for doormat text, the phrase does not need to be a grammatically complete sentence and should not have any punctuation at the end. </p>
	<details class="mrgn-bttm-md"><summary>Examples - Using a single, descriptive  phrase 
</summary>
	
	<ul class="fa-ul mrgn-tp-md">
	 <li><span class="fas fa-check text-success fa-li"></span> Task examples:
                  <h3 class="mrgn-tp-md"><a href="#">Trade Commissioner Service</a></h3>
                  <p>Find international contacts and get business advice for commercial success abroad</p>
				 
                  <h3 class="mrgn-tp-md"><a href="#">Budget Planner
</a></h3>
                  <p>Create your budget and receive personalized tips to improve your finances</p>
				  </li>
             </ul>
              <hr class="brdr-bttm"><ul class="fa-ul">
	<li><span class="fas fa-check text-success fa-li"></span> Information examples:
                  <h3 class="mrgn-tp-md"><a href="#">Supply chain management </a></h3>
                  <p>How an effective supply chain creates a seamless process from pre-production to consumption</p>
				 
                  <h3 class="mrgn-tp-md"><a href="#">Making a budget </a></h3>
                  <p>Tips to make and stick to a personal budget</p>
				  </li>
				  </ul>
				  </details>
  </li>
  <li class="cnjnctn-col">
    <h4 class="mrgn-tp-sm text-muted">Use lists of keywords or tasks<span class="wb-inv">: Option 2</span></h4>
    <p>Use <strong>lists</strong> of keywords or tasks when <strong>multiple equally important items</strong> can be found at the target page. The list should not have any punctuation at the end.
</p>
<details class="mrgn-bttm-md"><summary>Examples - Using lists of keywords or tasks
</summary>
	
	<ul class="fa-ul mrgn-tp-md">
	 <li><span class="fas fa-check text-success fa-li"></span> Task examples:
                  <h3 class="mrgn-tp-md"><a href="#">Disability tax credit</a></h3>
                  <p>Tax credit for people with severe impairments: who is eligible, how to apply, and how to claim it
</p>
				 
                 
				  </li>
             </ul>
              <hr class="brdr-bttm"><ul class="fa-ul">
	<li><span class="fas fa-check text-success fa-li"></span> Information examples:
                  <h3 class="mrgn-tp-md"><a href="#">Aquatic ecosystems and ocean science
</a></h3>
                  <p>Fish habitats, aquatic species, aquaculture, marine contaminants, aquatic biotechnology and biomonitoring</p>
				 
                  <h3 class="mrgn-tp-md"><a href="#">Life events and your money
</a></h3>
                  <p>Losing your job, living as a couple, buying a home, having children, getting divorced and more
</p>
				  </li>
				  </ul></dd></dl>
				  </details>
  



	</li></ul>
	<li><h3 id="h-2-3">Arrange the order of the items</h3>
	<ol class="list-unstyled">
	<li class="mrgn-bttm-lg">
	<h4>Determine the best approach</h4>
	<dl class="dl-horizontal brdr-bttm">
		<dt>Demand-based</dt>
			<dd><ul><li>Prioritization is based on demand (for example, based on web metrics), with higher demand links appearing ahead of lower demand ones</li>
			</dd>
		<dt>Sequential</dt>
		<dd>
			<ul>
				<li>Use sequential, numbered doormats when links must be followed in a step-by-step order (for example, confirming eligibility, registering and then charging for GST/HST)</li>
				<li>Use to allow people to skip over optional/non-applicable steps or steps they have previously completed</li>
			</ul>
		</dd>
		<dt>Subheadings</dt><dd>
			<ul>
				<li>Use to group links and descriptions that are very similar, in cases where it wouldn’t make sense to move the group into a sub-topic page</li>
				<li>Use to avoid information overload; ideally no more than 9 links with descriptions per subheading</li>
			</ul>
			</dd>
		
		<dt>Mixed</dt><dd><ul><li>Combinations of the above, as appropriate</li><li>Limit application to avoid overly complex sets of links and descriptions</li></ul></dd>
	</dl></li>
	<li>
	<h4>Consider the flow</h4>
	<p>In all cases, priority sequencing is as follows:</p>
	<ul>
		<li>In a single column layout, the priority sequencing is top to bottom</li>
		<li>In using across multiple columns, the priority sequencing is from left to right, then top to bottom</li>
	</ul>
	
	</li>
	</ol></li>
	</ol>






<h2 id="h-4">Complementary components</h2>

<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Headings -->
	  <li class="col-md-4" id="headings">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/headings.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/headings-en.html">Headings</a></h3> 	 
	   </div></div></div></li>	
	<!-- Links -->
	  <li class="col-md-4" id="links">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/links.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/links-en.html">Links</a></h3> 	 
	   </div></div></div></li>	 

   

</ul>
 </div> 
 <!-- CONTENT ENDS -->
 
        <div id="def-preFooter"></div>
         <!-- Write closure template --> 
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2021-01-30",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script> 
      </main>
      <div id="def-footer"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script> 
      <!-- Write closure template --> 
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script> 
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>