<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Components – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{        
             lang: "fr",
             href: "http://test.canada.ca/cra-arc/wsm/index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"
           }],           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Components – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Components – WET4</h1>
</div>

<ul class="wb-filter list-unstyled row wb-eqht-grd list-grid-hover" id="filtergroup">	

	<!-- Alerts -->
	  <li class="col-md-4 mrgn-tp-md" id="alerts">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img alt="Banner: Alerts" class="img-responsive hidden-xs" src="images/components/alerts.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/alerts-en.html">Alerts</a></h3> 
			<p>Use to provide contextual feedback messages for typical user actions. Choose from a handful of available and flexible alert messages.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Colour, Attention</p>	 
	   </div></div></li>	 	   
	   <!-- And/or -->
	   <li class="col-md-4 mrgn-tp-md" id="and_or">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: And/or design" class="img-responsive hidden-xs" src="images/components/and_or.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="and_or.html">And/or design</a></h3>                  
			<p>Use to clearly demonstrate that there are options or that there are content blocks that are complimentary/associated.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Links, Counter, Number</p>
	   </div></div></li>
	<!-- Archived content -->
	   <li class="col-md-4 mrgn-tp-md" id="archived">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">			  				 
		  <div class="panel-body p-0"> <img alt="Banner: Archived content" class="img-responsive hidden-xs" src="images/components/archived.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/archived/archived-en.html">Archived content</a></h3>   
			<p>Use to help users identify Web pages that have been archived online.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Overlay, Invisible, Visible, Show, Hidden, Close, Exit, Deleted</p>
	   </div></div></li>
	  	<!-- Badges -->
	   <li class="col-md-4 mrgn-tp-md" id="badges">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Badges" class="img-responsive hidden-xs" src="images/components/badges.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/badges-en.html">Badges</a></h3>                  
			<p>Use badges (numerical indicators) to highlight the number of updates, new or unread items associated with a link.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Links, Counter, Number</p>
	   </div></div></li> 
	<!-- Borders -->
	   <li class="col-md-4 mrgn-tp-md" id="borders">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">
		 <div class="panel-body p-0"><img alt="Banner: Borders" class="img-responsive hidden-xs" src="images/components/borders.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/borders-en.html">Borders</a></h3>                    
			<p>Use to add single or multiple borders to design elements in order to separate or call attention to content. Additionally, remove default borders or sharpen corners that appear in design components such as a "well".</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Horizontal rule, Rounded, Sharpened corners</p>
	   </div></div></li>
	<!-- Buttons -->
	   <li class="col-md-4 mrgn-tp-md" id="buttons">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Buttons" class="img-responsive hidden-xs" src="images/components/buttons.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/buttons-en.html">Buttons</a></h3>                   
			<p>Use buttons to create a call to action that entices the user to submit content from a form, or to take users to a webpage that provides additional information.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Colour, Links</p>
	   </div></div></li>
	<!-- Calendar -->
	   <li class="col-md-4 mrgn-tp-md" id="calendar">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Calendar" class="img-responsive hidden-xs" src="images/components/calendar.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/cal-events/cal-events-en.html">Calendar</a></h3>                   
			<p>Use the calendar of events interface to navigate a chronological list of events.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Tables, Dates</p>
	   </div></div></li>  
	<!-- Carousel -->
	   <li class="col-md-4 mrgn-tp-md" id="carousel">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Carousel" class="img-responsive hidden-xs" src="images/components/carousel.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/tabs/tabs-en.html">Carousel</a></h3>                    
			<p>Use a carousel to tab or cycle through content in a slide show format.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Tabs, Invisible, Slideshow, Show, Images, Slider, Details, Summary, Expand, Gallery</p>
	   </div></div></li>
	<!-- Charts and graphs -->
	   <li class="col-md-4 mrgn-tp-md" id="charts">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Charts and graphs" class="img-responsive hidden-xs" src="images/components/charts.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/charts/charts-en.html">Charts and graphs</a></h3>                    
			<p>Use a charts to tab or cycle through content in a slide show format.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Graphics, Pie, Bar, Values</p>
	   </div></div></li>
	<!-- checklists -->
	   <li class="col-md-4 mrgn-tp-md" id="checklists">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Checklists" class="img-responsive hidden-xs" src="images/components/checklists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="checklists.html">Checklists</a></h3>                   
			<p>Use when there is a list the user needs to go through and ensure every item is covered and accounted for.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Checkboxes, checkmarks, interactive, eligibility</p>
	   </div></div></li>	   
	<!-- Code -->
	   <li class="col-md-4 mrgn-tp-md" id="code">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Code" class="img-responsive hidden-xs" src="images/components/code.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/code-en.html">Code</a></h3>                   
			<p>Use to emulate source code and display it in monospace font.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Coding, Prettify</p>
	   </div></div></li>
	<!-- contact_us -->
	   <li class="col-md-4 mrgn-tp-md" id="contact_us">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Contact us" class="img-responsive hidden-xs" src="images/components/contact_us.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="contact_us.html">Contact us</a></h3>                   
			<p>Use to provide access to multiple contact options and present them consistently in a variety of contexts.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  interactive questions, my account, my business acount, online, phone, tty, call, telephone numbers, hours</p>
	   </div></div></li>
   <!-- Country identifier -->
	   <li class="col-md-4 mrgn-tp-md" id="country">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Country identifier" class="img-responsive hidden-xs" src="images/components/country.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/country-content/country-content-en.html">Country identifier</a></h3>                    
			<p>Use country identifier to load or replaces an element's content based upon the user's country.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Location</p>
	   </div></div></li>
	<!-- Data Ajax -->
	  <li class="col-md-4 mrgn-tp-md" id="ajax">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img alt="Banner: Data Ajax" class="img-responsive hidden-xs" src="images/components/ajax.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/data-ajax/data-ajax-en.html">Data Ajax</a></h3> 
			<p>Use to allow parts of one webpage to load or update within a second webpage (repurpose content).</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: insert, content, call, loader, wrapper</p>	 
	   </div></div></li>
	<!-- Data inview -->
	   <li class="col-md-4 mrgn-tp-md" id="data_inview">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Data inview" class="img-responsive hidden-xs" src="images/components/data_inview.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/data-inview/data-inview-en.html">Data inview</a></h3>                   
			<p>Use data inview to display an overlay when a section moves out of the viewport.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Overlay, Visible, Invisible, Show, Hidden, Close, Exit, Bar, Navigation</p>
	   </div></div></li>
	<!-- Data picture -->
	  <li class="col-md-4 mrgn-tp-md" id="data_picture">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img alt="Banner: Data picture" class="img-responsive hidden-xs" src="images/components/data_picture.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/data-picture/data-picture-en.html">Data picture</a></h3> 
			<p>Use to allow a webpage to specify different image sources to display, based on media queries.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: Images, Resolutions</p>	 
	   </div></div></li>
	<!-- Dismissable content -->
	   <li class="col-md-4 mrgn-tp-md" id="dismissable">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Dismissable content" class="img-responsive hidden-xs" src="images/components/dismissable.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/dismissable-content/dismissable-content-en.html">Dismissable content</a></h3>                    
			<p>Use a footnote to note a reference, citation, or comment that provides details about something on that page. It is non-critical content that relates to the main text, and is always at the bottom of the page.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  References, Links, Cites</p>
	   </div></div></li>
	<!-- Equal height (Equalize) -->
	   <li class="col-md-4 mrgn-tp-md" id="equalize">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Equal height (Equalize)" class="img-responsive hidden-xs" src="images/components/equalize.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/demos/equalheight/equalheight-en.html">Equal height (Equalize)</a></h3>                   
			<p>Use to make grid cells the same height. Make the inner elements (panels, wells and so forth) inherit the height from the parent grid.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Panels, Wells, Borders</p>
	   </div></div></li>
	<!-- Expand/hide -->
	   <li class="col-md-4 mrgn-tp-md" id="expand_hide">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Expand/hide" class="img-responsive hidden-xs" src="images/components/expand_hide.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/demos/details/details-en.html">Expand/hide</a></h3>                   
			<p>Use to create collapsible expand and hide widgets that a user can select to show or hide content.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Accordion, collapse, hidden, options</p>
	   </div></div></li>	   
	<!-- feedback -->
	   <li class="col-md-4 mrgn-tp-md" id="feedback">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Feedback" class="img-responsive hidden-xs" src="images/components/feedback.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/feedback/feedback-en.html">Feedback</a></h3>                    
			<p>Use to allow users to provide feedback or report any problems they experience with a specific Web page or the Web site in general.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Errors, validation, issues, comments, mistakes</p>
	   </div></div></li>
	   <!-- Footnotes -->
	   <li class="col-md-4 mrgn-tp-md" id="footnotes">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Footnotes" class="img-responsive hidden-xs" src="images/components/footnotes.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/demos/footnotes/footnotes-en.html">Footnotes</a></h3>                    
			<p>Use a footnote to note a reference, citation, or comment that provides details about something on that page. It is non-critical content that relates to the main text, and is always at the bottom of the page.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  References, Links, Cites</p>
	   </div></div></li>
	 	<!-- forms -->
	   <li class="col-md-4 mrgn-tp-md" id="forms">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Forms and form elements" class="img-responsive hidden-xs" src="images/components/forms.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/forms-en.html">Forms and form elements</a></h3>                    
			<p>Use forms to collect and transmit information from users in a pre-defined format.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  feedback, validation checkboxes, radio buttons, labels, input, selects, textarea, file, date picker, submit, clear, auto-complete</p>
	   </div></div></li>
	<!-- Grids -->
	   <li class="col-md-4 mrgn-tp-md" id="grids">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Grids" class="img-responsive hidden-xs" src="images/components/grids.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/grids-en.html">Grids</a></h3>                    
			<p>Use a grid system (a series of rows and columns that house content) to create page layouts.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Responsive, Viewports, Devices, Resolution</p>
	   </div></div></li>
	<!-- Headings -->
	   <li class="col-md-4 mrgn-tp-md" id="headings">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Headings" class="img-responsive hidden-xs" src="images/components/headings.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/headings-en.html">Headings</a></h3>
			<p>Use a heading to title a section of content that immediately follows it. Headings are large, bold, concise text that are hierarchical in nature.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Size, Text</p>
	   </div></div></li>	   
	<!-- Icons -->
	   <li class="col-md-4 mrgn-tp-md" id="icons">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Icons" class="img-responsive hidden-xs" src="images/components/icons.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/icons-en.html">Icons</a></h3>
			<p>Use one of the two icon sets, Glyphicons or Font Awesome for decorative purposes.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Colour, Images, Fonts</p>
	   </div></div></li>
	<!-- Images -->
	  <li class="col-md-4 mrgn-tp-md" id="Images">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img alt="Banner: Images" class="img-responsive hidden-xs" src="images/components/images.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/images-en.html">Images</a></h3> 
			<p>Use images to visually represent a noun (person, place, thing) or a verb (action).</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Thumbnais, Responsive, Photos, Visual, Decorative</p>	 
	   </div></div></li>
	   <!-- fieldflow -->
	   <li class="col-md-4 mrgn-tp-md" id="fieldflow">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Interactive questions (field flow)" class="img-responsive hidden-xs" src="images/components/fieldflow.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="fieldflow.html">Interactive questions (field flow)</a></h3>                    
			<p>Use to present people with a sequence of simple questions that leads to the specific answer they need to continue with or complete their task.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  decision tree</p>
	   </div></div></li>
	   <!-- Invisible and visible content -->
	   <li class="col-md-4 mrgn-tp-md" id="incisible_visible">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Invisible and visible content" class="img-responsive hidden-xs" src="images/components/invisible_visible.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/visible-en.html">Invisible and visible content</a></h3>
			<p>Use to show or hide content. There are styles specific to assistive technology (aid screen-reader users), responsive design, general usage and print.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Printing, Hidden, Devices, Viewports, Resolution</p>
	   </div></div></li>			   
	<!-- Keyboard keys -->
	   <li class="col-md-4 mrgn-tp-md" id="keyboard">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Keyboard keys" class="img-responsive hidden-xs" src="images/components/keyboard.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/keyboard-en.html">Keyboard keys</a></h3>
			<p>Use to mimic the keys of a computer keyboard.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: </p>
	   </div></div></li>			   
	<!-- Labels -->
	   <li class="col-md-4 mrgn-tp-md" id="labels">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Labels" class="img-responsive hidden-xs" src="images/components/labels.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/labels-en.html">Labels</a></h3>
			<p>Use labels to call attention to a section of content by adding short, text-based bits of supporting information.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: Colour, Attention </p>
	   </div></div></li>			   
	<!-- Links -->
	   <li class="col-md-4 mrgn-tp-md" id="links">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Links" class="img-responsive hidden-xs" src="images/components/links.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/links-en.html">Links</a></h3>
			<p>Use a link (text and/or image) to take a user to another webpage, jump to another location within the same webpage, or perform a user-control function determined by client-side scripting (JavaScript).</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Hyperlinks</p>
	   </div></div></li>
	<!-- Lists -->
	  <li class="col-md-4 mrgn-tp-md" id="Lists">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img alt="Banner: Lists" class="img-responsive hidden-xs" src="images/components/lists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/lists-en.html">Lists</a></h3> 
			<p>Use to display a number of connected items in a consecutive manner. Typically list items appear one below the other.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Ordered, Unordered, Icons, Definition, Alpha, Roman, Columns, Bullets, Steps</p>	 
	   </div></div></li>	
	<!-- Margin proximity -->
	   <li class="col-md-4 mrgn-tp-md" id="margin">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Margin proximity" class="img-responsive hidden-xs" src="images/components/margin.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/proximity-en.html">Margin proximity</a></h3>
			<p>Use to increase or decrease the proximity of one object to another. This adjusts the white space between two elements to suggest whether items are related or unrelated.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: Spacing, Margins, Left, Right, Top, Bottom</p>
	   </div></div></li>	   
	<!-- Mathematical equations -->
	   <li class="col-md-4 mrgn-tp-md" id="math">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Math calculations and equations" class="img-responsive hidden-xs" src="images/components/math.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/mathml/mathml-en.html">Math calculations and equations</a></h3>
			<p>Use to display mathematical formulas within a page.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: Variables, Calculations</p>
	   </div></div></li>	   
	   <!-- opacity -->
	   <li class="col-md-4 mrgn-tp-md" id="opacity">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Opacity" class="img-responsive hidden-xs" src="images/components/opacity.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/opacity-en.html">Opacity</a></h3>
			<p>Use to apply an opacity/transparency to a foreground item so the background becomes visible.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: invisible</p>
	   </div></div></li>
	   <!-- Pagination -->
	   <li class="col-md-4 mrgn-tp-md" id="pagination">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Pagination" class="img-responsive hidden-xs" src="images/components/pagination.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/pagination-en.html">Pagination</a></h3>
			<p>Use a pagination index for long documents that are best broken up over several pages. </p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Buttons, Links, Navigation</p>
	   </div></div></li>	   
	<!-- Panels -->
	   <li class="col-md-4 mrgn-tp-md" id="panels">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Panels" class="img-responsive hidden-xs" src="images/components/panels.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/panels-en.html">Panels</a></h3>
			<p>Use to create a visual grouping of content. Panels have colour themed options, as well as offer a distinct header and footer.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: Boxes, Menu, Navigation, Layout</p>
	   </div></div></li>		
	<!-- popups -->
	   <li class="col-md-4 mrgn-tp-md" id="popups">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Popups" class="img-responsive hidden-xs" src="images/components/popups.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/demos/lightbox/lightbox-en.html">Popups</a></h3>
			<p>Use to display images and other content in a dialog box, either individually or as part of a gallery.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: lightbox, overlay, modal, gallery</p>
	   </div></div></li>		
	<!-- Quotations -->
	   <li class="col-md-4 mrgn-tp-md" id="blockquote">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Quotations" class="img-responsive hidden-xs" src="images/components/blockquote.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/quotations-en.html">Quotations</a></h3>                    
			<p>Use to cite a group of words by someone other than the original author or speaker.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  blockquote</p>
	   </div></div></li>  
	   <!-- Session timeout -->
	   <li class="col-md-4 mrgn-tp-md" id="timeout">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Session timeout" class="img-responsive hidden-xs" src="images/components/timeout.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/session-timeout/session-timeout-en.html">Session timeout</a></h3>
			<p>Use to create a session inactivity timeout that warns users when their session is about to expire.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: exit, redirect, time out</p>
	   </div></div></li>		  	   	   
	   <!-- tabs -->
	   <li class="col-md-4 mrgn-tp-md" id="tabs">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">				 
		 <div class="panel-body p-0"><img alt="Banner: Tabbed interface" class="img-responsive hidden-xs" src="images/components/tabs.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/tabs/tabs-en.html">Tabbed interface</a></h3>
			<p>Use to separate related content into different panes that are viewable one at a time when the respective tab is clicked.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: expand, hide, tabs, invisible</p>
	   </div></div></li>	   
	   <!-- Table of contents -->
	   <li class="col-md-4 mrgn-tp-md" id="toc">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Table of contents" class="img-responsive hidden-xs" src="images/components/toc.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="toc.html">Table of contents</a></h3>
			<p>Use to provide an outline for the content of a single page that has multiple subsections.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  On this page</p>
	   </div></div></li>	
	   
	<!-- Tables -->
	   <li class="col-md-4 mrgn-tp-md" id="tables">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Tables" class="img-responsive hidden-xs" src="images/components/tables.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/tables-en.html">Tables</a></h3>
			<p>Use to organize data into rows and columns in order to create data cells.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Tabular, Zebra striping, Hover, Responsive, Colour, Table validator</p>
	   </div></div></li>			
	   <!-- Text editing -->
	   <li class="col-md-4 mrgn-tp-md" id="text_editing">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Text editing effects" class="img-responsive hidden-xs" src="images/components/text_editing.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="text_editing.html">Text editing effects</a></h3>
			<p>Use to indicate text edits on a page.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Edits, Versions, Documents</p>
	   </div></div></li>
	   	<!-- Text formatting -->
	   <li class="col-md-4 mrgn-tp-md" id="sizing">
		 <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"><img alt="Banner: Text formatting" class="img-responsive hidden-xs" src="images/components/text.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="text.html">Text formatting</a></h3>
			<p>Use to apply a style, size or alignment to any text.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  bold, italics, underline, align, left, right, center, wrap, truncate</p>
	   </div></div></li>
	   <!-- Toggle -->
	   <li class="col-md-4 mrgn-tp-md" id="toggle">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">				 
		 <div class="panel-body p-0"><img alt="Banner: Toggle" class="img-responsive hidden-xs" src="images/components/toggle.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/toggle/toggle-en.html">Toggle</a></h3>
			<p>Use to toggle elements between on and off states.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: expand hide collapse accordion </p>
	   </div></div></li>
	<!-- Variables -->
	   <li class="col-md-4 mrgn-tp-md" id="variables">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">				 
		 <div class="panel-body p-0"><img alt="Banner: Variables" class="img-responsive hidden-xs" src="images/components/variables.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/variables-en.html">Variables</a></h3>
			<p>Use when there is reference to a variable like “x.”, "n" or "y" within a sentence (a non-mathematical phrase).</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: Calculations</p>
	   </div></div></li>
	   	<!-- video_audio -->
	   <li class="col-md-4 mrgn-tp-md" id="video_audio">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">
		 <div class="panel-body p-0"><img alt="Banner: Video and audio" class="img-responsive hidden-xs" src="images/components/video_audio.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/v4.0-ci/docs/ref/multimedia/multimedia-en.html">Video and audio</a></h3>                    
			<p>Use video clips and audio recordings to complement or enhance text.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags:  Multimedia player, transcripts, closed captions, licensing</p>
	   </div></div></li>
	<!-- Wells -->
	   <li class="col-md-4 mrgn-tp-md" id="wells">
		  <div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">				 
		 <div class="panel-body p-0"><img alt="Banner: Wells" class="img-responsive hidden-xs" src="images/components/wells.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/wells-en.html">Wells</a></h3>
			<p>Use to spotlight content by placing it in a light grey box.</p>
		 </div> <p class="hidden"><span class="fa fa-tag"></span>Tags: Layout, Boxes</p>
	   </div></div></li>
</ul>
	 
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>

   </body>
</html>
