<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Invisible and visible content – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../index-f.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"},{title: "WET4 components",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
<h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Invisible and visible content – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Invisible and visible content – WET4</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to show or hide content for assistive technology, responsive design or print. </p>
<h2 class="h3 mrgn-tp-md">On this page</h2>
    <ul>
      <li><a href="#h-2">How to implement</a>
	  <ul>
		 <li><a href="#h-2-1">Responsive show and hide</a></li>		 
      <li><a href="#h-2-2">Screen reader invisible content</a></li>
	  <li><a href="#h-2-3">General showing and hiding</a></li>
	  <li><a href="#h-2-4">Print showing and hiding</a></li></ul></li>
	   <li><a href="#h-3">Complementary components</a></li>
		
		 
    </ul>

<p></p>

<h2 id="h-2" >How to implement</h2>
<p>There are styles specific to assistive technology (aid screen-reader users), responsive design (view from small to large devices), general usage (use of toggle tabs), and print (print only necessary info).</p>
<h3 id="h-2-1">Responsive show and hide</h3>
<p>Use to complement the presentation of content on each device. For faster mobile-friendly development, use these utility classes to show and hide content by device via media query. There are also utility classes to toggle content when it is printed.</p>
<p>Try to use these on a limited basis, and avoid creating entirely different versions of the same site.</p>

<h4>Available CSS classes</h4>
<p>Use a single or combination of the available CSS classes to toggle content across viewport (screen display area) breakpoints (point user needs to scroll).</p>
<table class="table table-bordered table-striped responsive-utilities">
	  <caption>
	  Show and hide content in different viewports with <abbr title="cascading style sheet">CSS</abbr> styles
	  </caption>
        <thead>
          <tr>
            <th>CSS class</th>
            <th>Extra small devices <br><small>Phones (&lt;768px)</small></th>
            <th>Small devices <br><small>Tablets (≥768px)</small></th>
            <th>Medium devices <br><small>Desktops (≥992px)</small></th>
            <th>Large devices <br><small>Desktops (≥1200px)</small></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th><code>.visible-xs</code></th>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
          </tr>
          <tr>
            <th><code>.visible-sm</code></th>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
          </tr>
          <tr>
            <th><code>.visible-md</code></th>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-hidden">Hidden</td>
          </tr>
          <tr>
            <th><code>.visible-lg</code></th>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
          </tr>
          <tr>
            <th><code>.hidden-xs</code></th>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
          </tr>
          <tr>
            <th><code>.hidden-sm</code></th>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
          </tr>
          <tr>
            <th><code>.hidden-md</code></th>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-hidden">Hidden</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
          </tr>
          <tr>
            <th><code>.hidden-lg</code></th>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-visible"><span class="fas fa-check text-success"></span> Visible</td>
            <td class="is-hidden">Hidden</td>
          </tr>
        </tbody>
      </table>
	  
<div class="row">
<div class="col-md-12">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance - visible content</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<section class="alert alert-info ">
<p>Resize your browser, or load on different devices to test the responsive utility classes.</p>   
</section> 
<section>
            <h4>Visible on...</h4>
            <p>Green check-marks and the text "Visible on" indicate the element <strong>is visible</strong> in your current viewport.</p>
            <div class="row responsive-utilities-test visible-on">
              <div class="col-xs-6 col-sm-3"> <span class="hidden-xs">Extra small<br>
                <code>hidden-xs</code></span> <span class="visible-xs"><span class="fas fa-check text-success"></span> Visible on x-small<br>
                <code>visible-xs</code></span> </div>
              <div class="col-xs-6 col-sm-3"> <span class="hidden-sm">Small<br>
                <code>hidden-sm</code></span> <span class="visible-sm"><span class="fas fa-check text-success"></span> Visible on small<br>
                <code>visible-sm</code></span> </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-3"> <span class="hidden-md">Medium<br>
                <code>hidden-md</code></span> <span class="visible-md"><span class="fas fa-check text-success"></span> Visible on medium<br>
                <code>visible-md</code></span> </div>
              <div class="col-xs-6 col-sm-3"> <span class="hidden-lg">Large<br>
                <code>hidden-lg</code></span> <span class="visible-lg"><span class="fas fa-check text-success"></span> Visible on large<br>
                <code>visible-lg</code></span> </div>
            </div>
            <div class="row responsive-utilities-test visible-on">
              <div class="col-xs-6 col-sm-6"> <span class="hidden-xs hidden-sm">Extra small and small<br>
                <code>hidden-xs hidden-sm</code></span> <span class="visible-xs visible-sm"><span class="fas fa-check text-success"></span> Visible on x-small and small<br>
                <code>visible-xs visible-sm</code></span> </div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-md hidden-lg">Medium and large<br>
                <code>hidden-md hidden-lg</code></span> <span class="visible-md visible-lg"><span class="fas fa-check text-success"></span> Visible on medium and large<br>
                <code>visible-md visible-lg</code></span> </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-xs hidden-md">Extra small and medium<br>
                <code>hidden-xs hidden-md</code></span> <span class="visible-xs visible-md"><span class="fas fa-check text-success"></span> Visible on x-small and medium<br>
                <code>visible-xs visible-md</code></span> </div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-sm hidden-lg">Small and large<br>
                <code>hidden-sm hidden-lg</code></span> <span class="visible-sm visible-lg"><span class="fas fa-check text-success"></span> Visible on small and large<br>
                <code>visible-sm visible-lg</code></span> </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-xs hidden-lg">Extra small and large<br>
                <code>hidden-xs hidden-lg</code></span> <span class="visible-xs visible-lg"><span class="fas fa-check text-success"></span> Visible on x-small and large<br>
                <code>visible-xs visible-lg</code></span> </div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-sm hidden-md">Small and medium<br>
                <code>hidden-sm hidden-md</code></span> <span class="visible-sm visible-md"><span class="fas fa-check text-success"></span> Visible on small and medium<br>
                <code>visible-sm visible-md</code></span> </div>
            </div>
          </section>
</div>
</details>
  
<details id="app2">
<summary>Appearance - hidden content</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<section class="alert alert-info ">
<p>Resize your browser, or load on different devices to test the responsive utility classes.</p>   
</section> 		   
		  <section>
            <h4>Hidden on...</h4>
            <p>Green check-marks and the text "Hidden on" indicate the element <strong>is hidden</strong> in your current viewport.</p>
            <div class="row responsive-utilities-test hidden-on">
              <div class="col-xs-6 col-sm-3"> <span class="hidden-xs">Extra small<br>
                <code>hidden-xs</code></span> <span class="visible-xs"><span class="fas fa-check text-success"></span> Hidden on x-small<br>
                <code>visible-xs</code></span> </div>
              <div class="col-xs-6 col-sm-3"> <span class="hidden-sm">Small<br>
                <code>hidden-sm</code></span> <span class="visible-sm"><span class="fas fa-check text-success"></span> Hidden on small<br>
                <code>visible-sm</code></span> </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-3"> <span class="hidden-md">Medium<br>
                <code>hidden-md</code></span> <span class="visible-md"><span class="fas fa-check text-success"></span> Hidden on medium<br>
                <code>visible-md</code></span> </div>
              <div class="col-xs-6 col-sm-3"> <span class="hidden-lg">Large<br>
                <code>hidden-lg</code></span> <span class="visible-lg"><span class="fas fa-check text-success"></span> Hidden on large<br>
                <code>visible-lg</code></span> </div>
            </div>
            <div class="row responsive-utilities-test hidden-on">
              <div class="col-xs-6 col-sm-6"> <span class="hidden-xs hidden-sm">Extra small and small<br>
                <code>hidden-xs hidden-sm</code></span> <span class="visible-xs visible-sm"><span class="fas fa-check text-success"></span> Hidden on x-small and small<br>
                <code>visible-xs visible-sm</code></span> </div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-md hidden-lg">Medium and large<br>
                <code>hidden-md hidden-lg</code></span> <span class="visible-md visible-lg"><span class="fas fa-check text-success"></span> Hidden on medium and large<br>
                <code>visible-md visible-lg</code></span> </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-xs hidden-md">Extra small and medium<br>
                <code>hidden-xs hidden-md</code></span> <span class="visible-xs visible-md"><span class="fas fa-check text-success"></span> Hidden on x-small and medium<br>
                <code>visible-xs visible-md</code></span> </div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-sm hidden-lg">Small and large<br>
                <code>hidden-sm hidden-lg</code></span> <span class="visible-sm visible-lg"><span class="fas fa-check text-success"></span> Hidden on small and large<br>
                <code>visible-sm visible-lg</code></span> </div>
              <div class="clearfix visible-xs"></div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-xs hidden-lg">Extra small and large<br>
                <code>hidden-xs hidden-lg</code></span> <span class="visible-xs visible-lg"><span class="fas fa-check text-success"></span> Hidden on x-small and large<br>
                <code>visible-xs visible-lg</code></span> </div>
              <div class="col-xs-6 col-sm-6"> <span class="hidden-sm hidden-md">Small and medium<br>
                <code>hidden-sm hidden-md</code></span> <span class="visible-sm visible-md"><span class="fas fa-check text-success"></span> Hidden on small and medium<br>
                <code>visible-sm visible-md</code></span> </div>
            </div>
          </section>
</div>
</details>	
</div>
</div>
</div>
</div>
</div>

<h3 id="h-2-2">Screen reader invisible content</h3>
<p>Use to clip content into a one pixel square. This creates links that are descriptive (and compliant), but don't visually clutter the page. It is common to use this technique to target assistive technology users. For example, screen-reader users hear the information, but the visual user does not hear or see it. The <abbr title="Cascading Style Sheet">CSS</abbr> attribute <code>display: none;</code> does not achieve the same effect, as screen readers ignore it entirely.</p>

<div class="row">
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<div class="panel panel-body brdr-0 brdr-rds-0">
<p><a class="btn btn-default" href="#">1</a></p>
<p>(<strong>Actual link text</strong>: 1: Page 1 of search results)</p>
</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code>&lt;a class="btn btn-default" href="#"&gt;1&lt;span class="<strong>wb-inv</strong>"&gt;: Page 1 of search results&lt;/span&gt;&lt;/a&gt;
</code></pre>
</details>
</details>
</div>
</div>
</div>
</div>
</div>

<h4 class="text-muted">Correct use</h4>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Use <code>.wb-inv</code> to hide content from visual users, and to create descriptive links for assistive technology users</li>
<li><span class="fas fa-check fa-li text-success"></span>Ensure the invisible text is concise, descriptive and unique</li>
      </ul>




<h3 id="h-2-3">General showing and hiding</h3>
<p>Use to force an element to  show or hide with the use of <code>.show</code> or <code>.hidden</code> classes. These classes use <code>!important</code>.</p>
<p>Use <code>.invisible</code>  to toggle <strong>only the visibility </strong>of an element; the <code>display</code> is not modified, and the element  still affects the flow of the document.</p>
<p>Use with custom JavaScript to affect the visibility of content on a page. These two classes are available for scripting solutions.</p>

<!-- Field flow code -->
<details id="app2">
<summary>Example - JavaScript showing and hiding</summary>
<pre><code>&lt;div class="show"&gt;...&lt;/div&gt;
&lt;div class="hidden"&gt;...&lt;/div&gt;

&lt;!-- Classes --&gt;
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}</code></pre>
</details>


<h3 id="h-2-4">Print showing and hiding</h3>
<p>Use to prevent unnecessary content from printing, such as menus and decorative graphics.</p>
<div class="row">
<div class="col-md-8">
<table class="table table-bordered responsive-utilities">
		<caption>Show and hide content for print with <abbr title="cascading style sheet">CSS</abbr> styles</caption>
          <thead>
            <tr>
              <th>Class</th>
              <th>Browser</th>
              <th>Print</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><code>.visible-print</code></th>
              <td class="is-hidden">Hidden</td>
              <td class="is-visible">Visible</td>
            </tr>
            <tr>
              <th><code>.hidden-print</code></th>
              <td class="is-visible">Visible</td>
              <td class="is-hidden">Hidden</td>
            </tr>
          </tbody>
        </table>
		</div>

</div>		
<h2 id="h-3">Complementary components</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- Expand_hide -->
	  <li class="col-md-4" id="Expand_hide">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/expand_hide.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="expand_hide.html">Expand and hide</a></h3> 	 
	   </div></div></div></li>	 
	<!-- Grids -->
	  <li class="col-md-4" id="Grids">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/grids.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="grids.html">Grids</a></h3> 	 
	   </div></div></div></li>
	<!-- Text formatting -->
	  <li class="col-md-4" id="Text_editing">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/text.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="text.html">Text formatting</a></h3> 	 
	   </div></div></div></li>	   
	<!-- Toggle -->
	  <li class="col-md-4" id="Toggle">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/toggle.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="toggle.html">Toggle</a></h3> 	 
	   </div></div></div></li>	
</ul>
 </div> 
 <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer"> </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  <script src="../../../js/components.js"></script>
   </body>
</html>