<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Popups – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../../gcau/index.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"},{title: "WET4 components",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
                   <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Popups – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Popups – WET4</h1>
</div>
<div class="all-pre wb-prettify">
<p>Use to display images and other content in a dialog box, either individually or as part of a gallery.</p>
   <h2 class="h3">On this page</h2>
    <ul>
      <li><a href="#h-1">Design options</a></li>		
		<li><a href="#h-2">Configuration options and events</a></li>
	  <li><a href="#h-3">Complementary components</a></li>
    </ul>
	

<h2 id="h-1">Design options</h2>
<div class="row">
<!-- Field flow options -->
<div class="col-md-4 ds-modifier">
<form>

<div class="radioselected">
<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":".cl-left-panel", "class": "hidden "}, { "action": "addClass", "source":"#gallery", "class": "hidden "}]}'>
<!--<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>-->
<p><span class="mrgn-tp-0 hidden">Modify the design</span></p>
<ul>
<li>Lightbox
<ul>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-inline_content", "live": true}]'>Default lightbox</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-inline_content_full_width", "live": true}]'>Full width lightbox</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-inline_content_modal", "live": true}]'>Modal popup lightbox</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-ajax", "live": true}]'>Ajaxed content lightbox</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-image", "live": true}]'>Image lightbox (thumbnail)</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-lbx, .cl-lbx-gal", "live": true}, {"action": "removeClass", "source": "#gallery", "class": "hidden lbx-hide-gal", "live": true}]'>Image gallery lightbox</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-lbx-hide-gal, .cl-lbx", "live": true}, {"action": "removeClass", "source": "#gallery", "class": "hidden", "live": true}, {"action": "addClass", "source": "#gallery", "class": "lbx-hide-gal", "live": true}]'>Image gallery lightbox (hidden)</li>
</ul>
</li>
<li>Overlay
<ul>
<li data-wb-fieldflow='[{"action": "toggle", "toggle": ".cl-left-panel", "live": true}]'>Left panel overlay</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-right-panel", "live": true}]'>Right panel overlay</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-top-bar", "live": true}]'>Top bar overlay</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-bottom-bar", "live": true}]'>Bottom bar overlay</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-mid-screen", "live": true}]'>Middle screen overlay</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-mid-screen-bg", "live": true}]'>Middle screen overlay (black background)</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-full-screen", "live": true}]'>Full screen overlay</li>
<li data-wb-fieldflow='[{"action": "addClass", "source": ".cl-left-panel", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-hidden-header", "live": true}]'>Full screen overlay (hidden header)</li>
</ul>
</li>

</ul>
</div>
</div>
</form>
</div>
<!-- Field flow appearance -->
<div class="col-md-8">
<div class="ds-example">
<div class="wb-tabs">
<div class="tabpanels">
<details id="app1">
<summary>Appearance</summary>
<!-- Field flow warnings -->
<div class="panel panel-body brdr-0 brdr-rds-0">
<a href="#left-panel" aria-controls="left-panel" class="cl-left-panel btn btn-default overlay-lnk" type="button">Open left panel overlay</a>
<a href="#right-panel" aria-controls="right-panel" class="cl-right-panel hidden btn btn-default overlay-lnk" type="button">Open right panel overlay</a>
<a href="#top-bar" aria-controls="top-bar" class="cl-top-bar hidden btn btn-default overlay-lnk" type="button">Open top bar overlay</a>
<a href="#bottom-bar" aria-controls="bottom-bar" class="cl-bottom-bar hidden btn btn-default overlay-lnk" type="button">Open bottom bar overlay</a>
<a href="#mid-screen" aria-controls="mid-screen" class="cl-mid-screen hidden btn btn-default overlay-lnk" type="button">Open middle screen popup</a>
<a href="#mid-screen-bg" aria-controls="mid-screen-bg" class="cl-mid-screen-bg hidden btn btn-default overlay-lnk" type="button">Open middle screen popup overlay (black background)</a>
<a href="#full-screen" aria-controls="full-screen" class="cl-full-screen hidden btn btn-default overlay-lnk" type="button">Open full screen popup overlay</a>
<a href="#hidden-header" aria-controls="hidden-header" class="cl-hidden-header hidden btn btn-default overlay-lnk" type="button">Open full screen popup overlay (hidden header)</a>

<a href="#inline_content" class="hidden wb-lbx cl-inline_content btn btn-default" title="Example of inline content" >Open default lightbox</a>
<a href="#inline_content_full_width" class="hidden wb-lbx cl-inline_content_full_width btn btn-default" title="Example of full width inline content" >Open full width lightbox</a>
<a href="#inline_content_modal" class="hidden wb-lbx lbx-modal cl-inline_content_modal btn btn-default" title="Example of a modal popup">Open modal lightbox</a>
<a href="popups_ajax.html" class="hidden wb-lbx cl-ajax btn btn-default" title="AJAX - Example 1 of AJAX content">Open ajaxed content lightbox</a>
<a href="images/canada_red.jpg" class="hidden wb-lbx cl-image"  title="Image 1"><img class="thumbnail" src="images/canada_red_th.jpg" alt="Image 1" /></a>

<section id="gallery" class="wb-lbx lbx-gal hidden">
	<h3 class="h4 mrgn-tp-0">Image gallery lightbox <span class="hidden cl-lbx-hide-gal">(hidden)</span></h3>
	<ul class="list-inline">
		<li>
			<a href="images/canada_blue.jpg" title="Image 1">
				<img src="images/canada_blue_th.jpg" alt="Image 1" />
			</a>
		</li>
		<li>
			<a href="images/canada_green.jpg" title="Image 2">
				<img src="images/canada_green_th.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" />
			</a>
		</li>
		<li>
			<a href="images/canada_red.jpg" title="Image 3">
				<img src="images/canada_red_th.jpg" alt="Image 3" />
			</a>
		</li>
	</ul>
</section>

</div>
</details>
<!-- Field flow code -->
<details id="app2">
<summary>HTML code</summary>
<pre><code><span class="cl-left-panel">&lt;p&gt;&lt;a href="#left-panel" aria-controls="left-panel" class="overlay-lnk" role="button"&gt;Left-panel&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>left-panel</strong>" class="wb-overlay modal-content overlay-def wb-panel-l"&gt;
	&lt;header class="modal-header"&gt;
		&lt;h2 class="modal-title"&gt;Left panel&lt;/h2&gt;
	&lt;/header&gt;
	&lt;div class="modal-body"&gt;
		...
	&lt;/div&gt;
&lt;/section&gt;</span><span class="hidden cl-right-panel">&lt;p&gt;&lt;a href="#right-panel" aria-controls="right-panel" class="overlay-lnk" role="button"&gt;right-panel&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>right-panel</strong>" class="wb-overlay modal-content overlay-def wb-panel-r"&gt;
	&lt;header class="modal-header"&gt;
		&lt;h2 class="modal-title"&gt;Right panel&lt;/h2&gt;
	&lt;/header&gt;
	&lt;div class="modal-body"&gt;
		...
	&lt;/div&gt;
&lt;/section&gt;</span><span class="hidden cl-top-bar">&lt;p&gt;&lt;a href="#top-bar" aria-controls="top-bar" class="overlay-lnk" role="button"&gt;top-bar&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>top-bar</strong>" class="wb-overlay modal-content overlay-def wb-bar-t"&gt;
	&lt;header&gt;
		&lt;h2 class="modal-title"&gt;Top bar&lt;/h2&gt;
	&lt;/header&gt;
	...
&lt;/section&gt;</span><span class="hidden cl-bottom-bar">&lt;p&gt;&lt;a href="#bottom-bar" aria-controls="bottom-bar" class="overlay-lnk" role="button"&gt;bottom-bar&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>bottom-bar</strong>" class="wb-overlay modal-content overlay-def wb-bar-b"&gt;
	&lt;header&gt;
		&lt;h2 class="modal-title"&gt;Bottom bar&lt;/h2&gt;
	&lt;/header&gt;
	...
&lt;/section&gt;</span><span class="hidden cl-mid-screen">&lt;p&gt;&lt;a href="#mid-screen" aria-controls="mid-screen" class="overlay-lnk" role="button"&gt;mid-screen&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>mid-screen</strong>" class="wb-overlay modal-content overlay-def wb-popup-mid"&gt;
	&lt;header class="modal-header"&gt;
		&lt;h2 class="modal-title"&gt;Middle screen overlay&lt;/h2&gt;
	&lt;/header&gt;
	&lt;div class="modal-body"&gt;
		...
	&lt;/div&gt;
&lt;/section&gt;</span><span class="hidden cl-mid-screen-bg">&lt;p&gt;&lt;a href="#mid-screen-bg" aria-controls="mid-screen-bg" class="overlay-lnk" role="button"&gt;mid-screen-bg&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>mid-screen-bg</strong>" class="wb-overlay modal-content overlay-def wb-popup-mid overlay-bg"&gt;
&lt;header class="modal-header"&gt;
	&lt;h2 class="modal-title"&gt;Middle screen overlay with background&lt;/h2&gt;
&lt;/header&gt;
&lt;div class="modal-body"&gt;
	...
&lt;/div&gt;
&lt;/section&gt;</span><span class="hidden cl-full-screen">&lt;p&gt;&lt;a href="#full-screen" aria-controls="full-screen" class="overlay-lnk" role="button"&gt;full-screen&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>full-screen</strong>" class="wb-overlay modal-content overlay-def wb-popup-full"&gt;
	&lt;header class="modal-header"&gt;
		&lt;h2 class="modal-title"&gt;Full-screen overlay&lt;/h2&gt;
	&lt;/header&gt;
	&lt;div class="modal-body"&gt;
		...
	&lt;/div&gt;
&lt;/section&gt;</span><span class="hidden cl-hidden-header">&lt;p&gt;&lt;a href="#hidden-header" aria-controls="hidden-header" class="overlay-lnk" role="button"&gt;hidden-header&lt;/a&gt;&lt;/p&gt;

&lt;section id="<strong>hidden-header</strong>" class="wb-overlay modal-content wb-popup-full hidden-hd"&gt;
	&lt;header&gt;
		&lt;h2 class="wb-inv"&gt;Full-screen overlay - Hidden header&lt;/h2&gt;
	&lt;/header&gt;
	&lt;div class="modal-body"&gt;
		...
	&lt;/div&gt;
&lt;/section&gt;</span><span class="hidden cl-inline_content">&lt;a class="<strong>wb-lbx</strong>" title="Example of inline content" href="#inline_content"&gt;Inline content&lt;/a&gt;

&lt;section id="<strong>inline_content</strong>" class="mfp-hide modal-dialog modal-content overlay-def"&gt;
			&lt;header class="modal-header"&gt;
				&lt;h2 class="modal-title"&gt;Inline content&lt;/h2&gt;
			&lt;/header&gt;
			&lt;div class="modal-body"&gt;
				...
			&lt;/div&gt;
		&lt;/section&gt;</span><span class="hidden cl-inline_content_full_width">&lt;a class="<strong>wb-lbx</strong>" title="Example of full width inline content" href="#inline_content_full_width"&gt;Full width inline content&lt;/a&gt;

 &lt;section id="<strong>inline_content_full_width</strong>" class="mfp-hide modal-content overlay-def"&gt;
			&lt;header class="modal-header"&gt;
				&lt;h2 class="modal-title"&gt;Full width inline content&lt;/h2&gt;
			&lt;/header&gt;
			&lt;div class="modal-body"&gt;
				...
			&lt;/div&gt;
		&lt;/section&gt;</span><span class="hidden cl-inline_content_modal">&lt;a class="<strong>wb-lbx lbx-modal</strong>" title="Example of a modal popup" href="#inline_content_modal"&gt;Modal popup&lt;/a&gt;

&lt;section id="<strong>inline_content_modal</strong>" class="mfp-hide modal-dialog modal-content overlay-def"&gt;
			&lt;header class="modal-header"&gt;
				&lt;h2 class="modal-title"&gt;Modal popup&lt;/h2&gt;
			&lt;/header&gt;
			&lt;div class="modal-body"&gt;
				...
			&lt;/div&gt;
		&lt;/section&gt;</span><span class="hidden cl-ajax">&lt;a class="<strong>wb-lbx</strong>" title="popup_title" href="popups_ajax.html"&gt;Ajaxed content&lt;/a&gt;</span><span class="hidden cl-image">&lt;a class="<strong>wb-lbx</strong>" href="image_source" title="image_title"&gt;&lt;img class="<strong>thumbnail</strong>" src="image_source" alt="Image description" /&gt;&lt;/a&gt;</span><span class="hidden cl-lbx">&lt;section class="<strong>wb-lbx<span class="cl-lbx-gal"> lbx-gal</span><span class="hidden cl-lbx-hide-gal"> lbx-hide-gal</span></strong>"&gt;
	&lt;h4&gt;Image gallery&lt;/h4&gt;
	&lt;ul class="list-inline"&gt;
		&lt;li&gt;
			&lt;a href="images/canada_blue.jpg" title="Image 1"&gt;
				&lt;img src="images/canada_blue_th.jpg" alt="Image 1" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="images/canada_green.jpg" title="Image 2"&gt;
				&lt;img src="images/canada_green_th.jpg" alt="Image 2" aria-describedby="image2-desc" longdesc="#image2-desc" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
		&lt;li&gt;
			&lt;a href="images/canada_red.jpg" title="Image 3"&gt;
				&lt;img src="images/canada_red_th.jpg" alt="Image 3" /&gt;
			&lt;/a&gt;
		&lt;/li&gt;
	&lt;/ul&gt;
&lt;/section&gt;</span></code></pre>

<p><strong>Coding considerations:</strong></p>
<ul class="fa-ul">
<li><span class="fas fa-check fa-li text-success"></span>Provide a way of opening the overlay:
<ul>
<li><strong>Link</strong>: Add a link to the page where the <code>href</code> and the <code>aria-controls</code> attribute match the <code>id</code> attribute on the <code>section</code> element of the overlay</li>
<li><strong>Event</strong>: Trigger the overlay with the following JavaScript code:
<pre><code>$( "#unique-id" ).trigger( "open.wb-overlay" );</code></pre></li>
</ul>
</details>
<details id="app3">
<summary>Prototyping libraries</summary>
<section class="alert alert-info">
<p>The following prototyping libraries are currently being developed and will be available to download once the CRA user-centred design guide is officially launched:</p>
<ul>
<li>Axure library</li>
<li>Figma UI kit</li>
</ul>
</section>
</details>
</div>
</div>
</div>
</div>
</div>

<h2 id="h-2">Configuration options and events</h2>
<p>For configuration options and events, refer to: 
<ul>
<li><a href="https://wet-boew.github.io/v4.0-ci/docs/ref/overlay/overlay-en.html" rel="external">Overlay on GitHub</a></li>
<li><a href="https://wet-boew.github.io/v4.0-ci/docs/ref/lightbox/lightbox-en.html" rel="external">Lightbox on GitHub</a></li>
</ul>




<h2 id="h-5">Complementary components</h2>

<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
	<!-- expand_hide -->
	  <li class="col-md-4" id="expand_hide">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/expand_hide.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="expand_hide.html">Expand/hide</a></h3> 	 
	   </div></div></div></li>	 
	   <!-- images -->
	  <li class="col-md-4" id="images">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/images.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="images.html">Images</a></h3> 	 
	   </div></div></div></li>	 
	<!-- links -->
	  <li class="col-md-4" id="links">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/links.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="links.html">Links</a></h3> 	 
	   </div></div></div></li>
  

</ul>
 </div> 
 
 <!-- Popup sections -->
<section id="left-panel" class="wb-overlay modal-content overlay-def wb-panel-l">
	<header class="modal-header">
		<h2 class="modal-title">Left panel</h2>
	</header>
	<div class="modal-body">
<ul class="list-unstyled">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
<li><a href="#">Link 5</a></li>
</ul>
	</div>
</section>
<section id="right-panel" class="wb-overlay modal-content overlay-def wb-panel-r">
	<header class="modal-header">
		<h2 class="modal-title">Right panel</h2>
	</header>
	<div class="modal-body">
<ul class="list-unstyled">
<li><a href="#">Link 1</a></li>
<li><a href="#">Link 2</a></li>
<li><a href="#">Link 3</a></li>
<li><a href="#">Link 4</a></li>
<li><a href="#">Link 5</a></li>
</ul>
	</div>
</section>
<section id="top-bar" class="wb-overlay modal-content overlay-def wb-bar-t">
	<header>
		<h2 class="modal-title">Top bar</h2>
	</header>
<ul class="list-inline">
<li><button class="btn btn-default" type="button">Button 1</button></li>
<li><button class="btn btn-default" type="button">Button 2</button></li>
<li><button class="btn btn-default" type="button">Button 3</button></li>
</ul>

</section>
<section id="bottom-bar" class="wb-overlay modal-content overlay-def wb-bar-b">
	<header>
		<h2 class="modal-title">Bottom bar</h2>
	</header>
<ul class="list-inline">
<li><button class="btn btn-default" type="button">Button 1</button></li>
<li><button class="btn btn-default" type="button">Button 2</button></li>
<li><button class="btn btn-default" type="button">Button 3</button></li>
</ul>
</section>

<section id="mid-screen" class="wb-overlay modal-content overlay-def wb-popup-mid">
	<header class="modal-header">
		<h2 class="modal-title">Middle screen overlay</h2>
	</header>
	<div class="modal-body">
		<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
		 </ul>
	</div>
</section>

<section id="full-screen" class="wb-overlay modal-content overlay-def wb-popup-full">
	<header class="modal-header">
		<h2 class="modal-title">Full-screen overlay</h2>
	</header>
	<div class="modal-body">
		<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
		 </ul>
	</div>
</section>

<section id="hidden-header" class="wb-overlay modal-content wb-popup-full hidden-hd">
	<header>
		<h2 class="wb-inv">Full-screen overlay - Hidden header</h2>
	</header>
	<div class="modal-body">
		<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
		 </ul>
	</div>
</section>

<section id="mid-screen-bg" class="wb-overlay modal-content overlay-def wb-popup-mid overlay-bg">
<header class="modal-header">
	<h2 class="modal-title">Middle screen overlay with background</h2>
</header>
<div class="modal-body">
	<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
		 </ul>
</div>
</section>

<section id="inline_content" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">Inline content</h2>
			</header>
			<div class="modal-body">
				<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
		 </ul>
			</div>
		</section>
 
 <section id="inline_content_full_width" class="mfp-hide modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">Full width inline content</h2>
			</header>
			<div class="modal-body">
				<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
		 </ul>
			</div>
		</section>
		
<section id="inline_content_modal" class="mfp-hide modal-dialog modal-content overlay-def">
			<header class="modal-header">
				<h2 class="modal-title">Modal popup</h2>
			</header>
			<div class="modal-body">
				<ul class="fa-ul">
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
			<li><span class="fas fa-check fa-li text-success"></span> text example</li>
		 </ul>
			</div>
		</section>

		
 
  <!-- CONTENT ENDS -->
 
		<div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	   <script src="../../../js/components.js"></script>
	   <script src="../../../js/popups.js"></script>
	   <script src="../../../js/overlay.js"></script>
   </body>
</html>