<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Steps – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">
      <div id="def-top"> </div>
      <!-- Write closure template --> 
      <script type="text/javascript">
         var defTop = document.getElementById("def-top");
         defTop.outerHTML = wet.builder.top({
           lngLinks: [{
         
             lang: "fr",
             href: "../../../../gcau/index.html",
             text: "Français"
           }],
           breadcrumbs: [{
             title: "CRA user-centred design guide",
             href: "../../../index.html"},{title: "Components and patterns",href: "../../index.html"},{title: "WET4 components and patterns",href: "../index.html"},{title: "WET4 components",href: "index.html"
           }],
           
           search: false,
           siteMenu: false,
           showPreContent: true
         });
      </script>
      <main role="main" property="mainContentOfPage" class="container">
         <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Steps – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Steps – WET4</h1>
</div>
<div class="all-pre wb-prettify">

<p>Use to display sequential steps.</p>

<h2 class="h3 mrgn-tp-md">On this page</h2>

<ul>

<li><a href="#h-2">Design options</a>

<ul>

<li><a href="#h-2-1">Basic ordered lists</a></li>

<li><a href="#h-2-2">Stylized steps</a></li>

</ul>

</li>

<li><a href="#h-3">Complementary components</a></li>

</ul>

<h2 id="h-2" >Design options</h2>

<h3 id="h-2-1">Basic ordered lists</h3>

<p>Use an ordered list to list of items when the order <strong>does</strong> explicitly matter.</p>

<div class="row">

<!-- Field flow options -->

<div class="col-md-4 ds-modifier">

<form>

<!--<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>-->

<div class="radioselected">

<div class="row">

<div class="col-xs-6">

<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#ol1", "class": " lst-lwr-alph lst-upr-alph lst-lwr-rmn lst-upr-rmn "} ]}'>

<p><span class="h4">Style</span></p>

<ul>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "", "live": true}, {"action": "toggle", "toggle": ".cl-", "live": true}]'>Default</li>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-lwr-alph", "live": true}, {"action": "toggle", "toggle": ".cl-lst-lwr-alph", "live": true}]'>Lower alpha</li>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-upr-alph", "live": true}, {"action": "toggle", "toggle": ".cl-lst-upr-alph", "live": true}]'>Upper alpha</li>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-lwr-rmn", "live": true}, {"action": "toggle", "toggle": ".cl-lst-lwr-rmn", "live": true}]'>Lower roman</li>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-upr-rmn", "live": true}, {"action": "toggle", "toggle": ".cl-lst-upr-rmn", "live": true}]'>Upper roman</li>

</ul>

</div>

</div>

<div class="col-xs-6">

<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#ol1", "class": " lst-spcd "} ]}'>

<p><span class="h4">Spacing</span></p>

<ul>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#ol1", "class": "lst-spcd", "live": true}, {"action": "toggle", "toggle": ".cl-ol-spcd", "live": true}]'>Added spacing</li>

</ul>

</div>

</div>

</div>

</div>

</form>

</div>

<!-- Field flow appearance -->

<div class="col-md-8">

<div class="ds-example">

<div class="wb-tabs">

<div class="tabpanels">

<details id="app4">

<summary>Appearance</summary>

<div class="panel panel-body brdr-0 brdr-rds-0">

<ol id="ol1">

<li>List item 1</li>

<li>List item 2</li>

<li>List item 3</li>

</ol>

</div>

</details>

<!-- Field flow code -->

<details id="app5">

<summary>HTML code</summary>

<pre><code>&lt;ol class="<strong><span class="hidden cl-lst-lwr-alph">lst-lwr-alph</span><span class="hidden cl-lst-upr-alph">lst-upr-alph</span><span class="hidden cl-lst-lwr-rmn">lst-lwr-rmn</span><span class="hidden cl-lst-upr-rmn">lst-upr-rmn</span><span class="hidden cl-ol-spcd"> lst-spcd</span></strong>"&gt;

&lt;li&gt;List item 1&lt;/li&gt;

&lt;li&gt;List item 2&lt;/li&gt;

&lt;li&gt;List item 3&lt;/li&gt;

&lt;/ol&gt;

</code></pre>

</details>

</details>

<details id="app6">

<summary>Prototyping libraries</summary>

<section class="alert alert-info">

<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>

<ul>

<li>Axure library</li>

<li>Figma UI kit</li>

</ul>

</section>

</details>

</div>

</div>

</div>

<!-- Field flow warnings -->

<div class="mrgn-tp-md ">

</div>

</div>

</div>

<!-- Correct use -->

<h4 class="mrgn-tp-0 text-muted">Correct use</h4>

<dl class="dl-horizontal">

<dt>Numbered lists</dt>

<dd>

<ul class="fa-ul">

<li><span class="fas fa-check fa-li text-success"></span>Use ordered lists to show:

<ul>

<li>ranking </li>

<li>order</li>

<li>priority </li>

<li>step-by-step instructions </li>

</ul>

</li>

</dd>

<dt>Alpha lists</dt>

<dd>

<ul class="fa-ul">

<li><span class="fas fa-check fa-li text-success"></span>Use to display letters instead of numbers

<ul>

<li>This applies only to immediate children list items</li>

<li>This means you also need to<strong> add the <abbr title="cascading style sheet">CSS</abbr> class for any nested lists</strong></li>

</ul>

</li>

<li><span class="fas fa-check fa-li text-success"></span>Use lower alpha mainly as a nested <strong>second</strong> level list</li>

<li><span class="fas fa-check fa-li text-success"></span>Use upper alpha mainly in legal documents</li>

</ul>

</dd>

<dt>Roman numeral</dt>

<dd>

<ul class="fa-ul">

<li><span class="fas fa-check fa-li text-success"></span>Use to display Roman (<abbr title="Roman numeral one two three four">I, II, III, IV</abbr> or <abbr title="Lower case Roman numeral one two three four">i, ii, iii, iv</abbr>…) instead of Arabic (1, 2, 3, 4…) numerals

<ul>

<li>This applies only to immediate children list items</li>

<li>This means you <strong>also need to add the <abbr title="cascading style sheet">CSS</abbr> class for any nested lists</strong></li>

</ul>

</li>

<li><span class="fas fa-check fa-li text-success"></span>Use lower roman mainly as a nested <strong>second</strong> level list</li>

<li><span class="fas fa-check fa-li text-success"></span>Use upper roman mainly in legal documents</li>

</ul>

</dd>

</dl>

<h3 id="h-2-2">Stylized steps</h3>

<p>Use to outline the process to complete a task that can be divided into steps and sub-steps.</p>

<div class="row">

<!-- Field flow options -->

<div class="col-md-4 ds-modifier">

<form>

<!--<p><span class="lead"><span class="fas fa-tools"></span> Modify the design</span></p>-->

<div class="radioselected">

<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#stepsol, #stepsdiv", "class": "hidden"} ]}'>

<p><span class="h4">Headings</span></p>

<ul>

<li>Using ordered list:

<ul>

<li data-wb-fieldflow='[{"action": "removeClass", "source": "#stepsol, #desch1, #desch2, #desch3", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-steps1", "live": true}]'>No headings</li>

<li data-wb-fieldflow='[{"action": "removeClass", "source": "#stepsolh, #stepsol", "class": "hidden", "live": true}, {"action": "addClass", "source": "#desch1, #desch2, #desch3", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-olh", "live": true}]'>With headings</li>

<li data-wb-fieldflow='[{"action": "removeClass", "source": "#stepsolh, #stepsol", "class": "hidden", "live": true}, {"action": "addClass", "source": "#desch1, #desch2, #desch3", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-olhlink", "live": true}]'>With linked headings and supporting descriptions (doormat/teaser text)</li>

</ul></li>

<li>Using section/div:

<ul>

<li data-wb-fieldflow='[{"action": "removeClass", "source": "#stepsdiv", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-div", "live": true}]'>With headings</li>

</ul></li></ul>

</div>

</div>

<div class="radioselected">

<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"radio", "isoptional": true, "noForm": true, "reset": [{ "action": "addClass", "source":"#subol1, #subol2, #subol3, #subdiv", "class": "hidden"}]}'>

<p><span class="h4">Nested list</span></p>

<ul>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#subol1, #subol2, #subol3, #subdiv", "class": "hidden", "live": true}]'>Default</li>

<li data-wb-fieldflow='[{"action": "removeClass", "source": "#subol1, #subol2, #subol3, #subdiv", "class": "hidden", "live": true}, {"action": "toggle", "toggle": ".cl-subol, .cl-subdiv", "live": true}]'>Add sub-steps</li>

<!--<li data-wb-fieldflow='[{"action": "removeClass", "source": "#subol, #subdiv", "class": "hidden", "live": true}, {"action": "addClass", "source": "#subol, #subdiv", "class": "stps-strpd", "live": true}, {"action": "toggle", "toggle": ".cl-subol, .cl-subdiv, .cl-subzebra", "live": true}]'>Add sub-steps with zebra striping</li>-->

</ul>

</div>

</div>

<div class="wb-fieldflow" data-wb-fieldflow='{"renderas":"checkbox", "isoptional": true, "noForm": true, "reset": [{ "action": "removeClass", "source":"#stepsol, #stepsdiv, #subol1, #subol2, #subol3, #subdiv", "class": "stps-strpd"} ]}'>

<p><span class="h4">Zebra striping</span></p>

<ul>

<li data-wb-fieldflow='[{"action": "addClass", "source": "#stepsol, #stepsdiv, #subol1, #subol2, #subol3, #subdiv", "class": "stps-strpd", "live": true}, {"action": "toggle", "toggle": ".cl-zebra, .cl-subzebra", "live": true}]'>Add zebra striping</li>

</ul>

</div>

</form>

</div>

<!-- Field flow appearance -->

<div class="col-md-8">

<div class="ds-example">

<div class="wb-tabs">

<div class="tabpanels">

<details id="app1">

<summary>Appearance</summary>

<!-- Field flow warnings -->

<div class="panel panel-body brdr-0 brdr-rds-0">

<ol class="lst-stps" id="stepsol">

<li id="desch1">Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</li>

<li class="cl-olh hidden"><h3>Heading goes here</h3><p>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p></li>

<li class="cl-olhlink hidden"><h3><a href="#">Heading goes here</a></h3><p>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem</p></li>

<li id="desch2">Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.

<ol id="subol1" class="hidden lst-stps-sub">

<li>List item 2 sub item 1</li>

<li>List item 2 sub item 2</li>

<li>List item 2 sub item 3</li>

</ol>

</li>

<li class="cl-olh hidden"><h3>Heading goes here</h3><p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>

<ol id="subol2" class="hidden lst-stps-sub">

<li>List item 2 sub item 1</li>

<li>List item 2 sub item 2</li>

<li>List item 2 sub item 3</li>

</ol>

</li>

<li class="cl-olhlink hidden"><h3><a href="#">Heading goes here</a></h3><p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei</p>

<ol id="subol3" class="hidden lst-stps-sub">

<li>List item 2 sub item 1</li>

<li>List item 2 sub item 2</li>

<li>List item 2 sub item 3</li>

</ol>

</li>

<li id="desch3"><p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem.</p><p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p></li>

<li class="cl-olh hidden"><h3>Heading goes here</h3><p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem.</p><p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p></li>

<li class="cl-olhlink hidden"><h3><a href="#">Heading goes here</a></h3><p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in</p></li>

</ol>

<section class="hidden lst-stps" id="stepsdiv">

<div class="lst-stps-itm">

<h3><span class="wb-inv">Step 1</span> Heading goes here</h3>

<p>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>

</div>

<div class="lst-stps-itm">

<h3><span class="wb-inv">Step 2</span> Heading goes here</h3>

<p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>

<section id="subdiv" class="lst-stps-sub hidden">

<div class="lst-stps-itm">

<h3><span class="wb-inv">Step 2a</span> Sub-heading goes here</h3>

<p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei.</p>

</div>

<div class="lst-stps-itm">

<h3><span class="wb-inv">Step 2b</span> Sub-heading goes here</h3>

<p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei.</p>

</div>

<div class="lst-stps-itm">

<h3><span class="wb-inv">Step 2c</span> Sub-heading goes here</h3>

<p>Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in. Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei.</p>

</div>

</section>

</div>

<div class="lst-stps-itm">

<h3><span class="wb-inv">Step 3</span> Heading goes here</h3>

<p>Lorem ipsum dolor sit amet, esse autem per ex, nec in magna lorem. Ea nec error scriptorem referrentur, patrioque torquatos conclusionemque pri in.</p>

<p>Sed sint debitis ad, mazim vitae temporibus qui ut, vel erat ponderum efficiendi ei. In idque euismod sed.</p>

</div>

</section>

</div>

</details>

<!-- Field flow code -->

<details id="app2">

<summary>HTML code</summary>

<pre><code><span id="stepsol" class="cl-steps1">&lt;ol class="<strong>lst-stps<span class="hidden cl-zebra"> stps-strpd</span></strong>"&gt;

&lt;li&gt;<span class="cl-olh hidden"><br> &lt;h3&gt;Heading goes here&lt;/h3&gt;<br> </span><span class="cl-olhlink hidden"><br> &lt;h3&gt;&lt;a href="#"&gt;Heading goes here&lt;/a&gt;&lt;/h3&gt;<br> </span>...<span class="cl-olh cl-olhlink hidden"><br> </span>&lt;/li&gt;

&lt;li&gt;<span class="cl-olh hidden"><br> &lt;h3&gt;Heading goes here&lt;/h3&gt;<br> </span><span class="cl-olhlink hidden"><br> &lt;h3&gt;&lt;a href="#"&gt;Heading goes here&lt;/a&gt;&lt;/h3&gt;<br> </span>...<span class="cl-olh cl-olhlink hidden"><br> </span><span class="hidden cl-subol"><br> &lt;ol class="<strong>lst-stps-sub<span class="hidden cl-subzebra"> stps-strpd</span></strong>"&gt;

&lt;li&gt;...&lt;/li&gt;

&lt;li&gt;...&lt;/li&gt;

&lt;li&gt;...&lt;/li&gt;

&lt;/ol&gt;<br></span>&lt;/li&gt;

&lt;li&gt;<span class="cl-olh hidden"><br> &lt;h3&gt;Heading goes here&lt;/h3&gt;<br> </span><span class="cl-olhlink hidden"><br> &lt;h3&gt;&lt;a href="#"&gt;Heading goes here&lt;/a&gt;&lt;/h3&gt;<br> </span>...<span class="cl-olh cl-olhlink hidden"><br> </span>&lt;/li&gt;

&lt;/ol&gt;</span><span class="hidden cl-div">&lt;section class="<strong>lst-stps<span class="hidden cl-zebra"> stps-strpd</span></strong>"&gt;

&lt;div class="<strong>lst-stps-itm</strong>"&gt;

&lt;h3&gt;&lt;span class="wb-inv"&gt;Step 1&lt;/span&gt; Heading&lt;/h3&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;/div&gt;

&lt;div class="<strong>lst-stps-itm</strong>"&gt;

&lt;h3&gt;&lt;span class="wb-inv"&gt;Step 2&lt;/span&gt; Heading&lt;/h3&gt;

&lt;p&gt;...&lt;/p&gt;<span class="hidden cl-subdiv"><br> &lt;section class="<strong>lst-stps-sub<span class="hidden cl-subzebra"> stps-strpd</span></strong>"&gt;

&lt;div class="<strong>lst-stps-itm</strong>"&gt;

&lt;h3&gt;&lt;span class="wb-inv"&gt;Step 2a&lt;/span&gt; Sub-heading&lt;/h3&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;/div&gt;

&lt;div class="<strong>lst-stps-itm</strong>"&gt;

&lt;h3&gt;&lt;span class="wb-inv"&gt;Step 2b&lt;/span&gt; Sub-heading&lt;/h3&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;/div&gt;

&lt;div class="<strong>lst-stps-itm</strong>"&gt;

&lt;h3&gt;&lt;span class="wb-inv"&gt;Step 2c&lt;/span&gt; Sub-heading&lt;/h3&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;/div&gt;

&lt;/section&gt;</span>

&lt;/div&gt;

&lt;div class="<strong>lst-stps-itm</strong>"&gt;

&lt;h3&gt;&lt;span class="wb-inv"&gt;Step 3&lt;/span&gt; Heading&lt;/h3&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;p&gt;...&lt;/p&gt;

&lt;/div&gt;

&lt;/section&gt;</span></code></pre>

</details>

<details id="app3">

<summary>Prototyping libraries</summary>

<section class="alert alert-info">

<p>The following prototyping libraries are currently being developed and will be available to download once the CRA web service manual is officially launched:</p>

<ul>

<li>Axure library</li>

<li>Figma UI kit</li>

</ul>

</section>

</details>

</div>

</div>

</div>

</div>

</div>

<div class="row">

<div class="col-sm-6">

<h4 class="text-muted">Correct use</h4>

<ul class="fa-ul">

<li><span class="fas fa-check fa-li text-success"></span>List items in the correct order for task completion</li>

<li><span class="fas fa-check fa-li text-success"></span>Start with an active verb (for example, open, complete, manage, know, close, send, keep, find, etc.)</li>

<li><span class="fas fa-check fa-li text-success"></span>If sub steps do not have to be in a specific order, bullet points are acceptable</li>

</ul>

</div>

<div class="col-sm-6">

<h4 class="text-muted">Incorrect use</h4>

<ul class="fa-ul">

<li><span class="fas fa-times fa-li text-danger"></span>Do not use if the order of the list items does not explicitly matter</li>

<li><span class="fas fa-times fa-li text-danger"></span>Do not exceed 4 levels of sub steps</li>

</ul>

</div>

</div>


<h2 id="h-3">Complementary components</h2>
<p>Additional add-on features and behaviours are available.</p>
<ul class="list-unstyled row wb-eqht-grd list-grid-hover">	
		<!-- Checklists -->
	  <li class="col-md-4" id="checklists">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/checklists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="checklists.html">Checklists</a></h3> 	 
	   </div></div></div></li>
	<!-- Icons -->
	  <li class="col-md-4" id="Lists">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/lists.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://wet-boew.github.io/wet-boew-styleguide/design/lists-en.html">Lists</a></h3> 	 
	   </div></div></div></li>	 
	   <!-- fieldflow -->
	  <li class="col-md-4" id="fieldflow">	
		<div class="panel panel-default brdr-rds-0 position-relative hght-inhrt outset">	
		 <div class="panel-body p-0"> <img class="img-responsive hidden-xs" src="images/components/fieldflow.jpg">
		  <div class="panel-body"><h3 class="mrgn-tp-md"><a class="stretched-link" href="https://design.canada.ca/common-design-patterns/interactive-questions.html">Interactive questions (field flow)</a></h3> 	 
	   </div></div></div></li>	

</ul>

</div>
         <div id="def-preFooter"></div>
         <!-- Write closure template -->
         <script type="text/javascript">
            var defPreFooter = document.getElementById("def-preFooter");
            defPreFooter.outerHTML = wet.builder.preFooter({
            dateModified: "2020-05-05",
            showPostContent: true,
            showFeedback: false,
            showShare: false
            });
         </script>
      </main>
      <div id="def-footer">
      </div>
      <!-- Write closure template -->
      <script type="text/javascript">
         var defFooter = document.getElementById("def-footer");
         defFooter.outerHTML = wet.builder.footer({
         showFooter: true,
         showFeatures: false
         });
      </script>
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refFooter({
         }));
      </script>
      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	  	  <script src="../../../js/components.js"></script>
   </body>
</html>