<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW) wet-boew.github.io/wet-boew/License-en.html / wet-boew.github.io/wet-boew/Licence-fr.html -->
      <title>Session timeout example – WET4 – CRA user-centred design guide – Canada.ca</title>
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta name=”robots” content=”noindex”>
      <!-- Meta data -->
      <!-- Meta data-->
      <!-- Load closure template scripts -->
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/soyutils.js"></script>
      <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/v4_0_39/cdts/compiled/wet-en.js"></script>
      <link href="https://test.canada.ca/covid-19-guidance/proto/css/alpha-beta-banner.css" rel="stylesheet">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
      <!-- Write closure template -->
      <script type="text/javascript">
         document.write(wet.builder.refTop({
         }));
      </script>
      <link rel="stylesheet" href="https://www.canada.ca/etc/designs/canada/wet-boew/css/theme.min.css"/>
      <link rel="stylesheet" href="../../../css/provisional-topic.css"/>
      <link rel="stylesheet" href="../../../css/wsm.css"/>
      <link rel="stylesheet" href="../../../css/step-list.css"/>
      <link rel="stylesheet" href="../../../css/stacked-header.css"/> 
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
   <body vocab="http://schema.org/" typeof="WebPage" class="cnt-wdth-lmtd">

      <!-- Write closure template --> 

      <main role="main" property="mainContentOfPage" class="container">
<!-- CONTENT STARTS -->
                   <h1 property="name" class="wb-inv" id="wb-cont" dir="ltr">Session timeout example – WET4 – CRA user-centred design guide</h1>
<div aria-hidden="true">
<p class="lead mrgn-tp-md mrgn-bttm-0 text-muted">CRA user-centred design guide</p>
<h1 class="gc-thickline mrgn-tp-0">Session timeout example</h1>
</div>

<div id="example">
<section class="alert alert-info">
<h2 class="h4">Session timeout example</h2>
<p>This page has an inactivity timeout of 5 seconds and a reaction time of 5 minutes.</p>

<span class="wb-sessto" data-wb-sessto='{
	"inactivity": 5000,
	"reactionTime": 300000,
	"logouturl": "timeout_example.html"
	}'></span>
 </div> 
 
  <!-- CONTENT ENDS -->
 
		
      <!-- Write closure template -->

      <script src="https://test.canada.ca/cra/js/alpha-banner.js"></script>
	   <script src="../../../js/components.js"></script>
	   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	   <script src="https://wet-boew.github.io/v4.0-ci/wet-boew/js/wet-boew.min.js"></script>
	  
   </body>
</html>